{%- for entry in entries -%}
{# Resets #}
{%- set titleClass = "" -%}
{%- set titleProperties = "" -%}
{%- set articleClass = "" -%}
{%- set defaultTitleProperties %} itemprop="name" property="name"{% endset -%}
{%- set articleScope = "Thing" -%}

{# Settings #}
{%- import "_macros/_color-switch" as colorswitch -%}
{%- set bg = ( block.bandStyle | length and block.bandStyle != "none" ? " -fill" ~ colorswitch._colorswitch(block.bandStyle) : "" ) -%}
{%- set entryIdNo = entry.title|lower|replace(" ", "-")|replace("'", "") -%}
{%- set entryId -%} id="{{entryIdNo}}" {%- endset -%}
{%- if entry.leadImage | length -%}
    {%- set imgClass = " +img" %}
    {%- set entryImage = ( entry.leadImage.nth(1) | length ? entry.leadImage.nth(1) : entry.leadImage.first() ) -%}
    {%- set selector = ".c-feature__poster#" ~ entryIdNo %}
    {%- set element = entryImage %}
    {%- import "_macros/_poster-insert" as posterInsert -%}
    {{ posterInsert._posterInsert(selector, element) }}
{%- endif -%}
{%- set heading = ( entry.indexHeading | length ? entry.indexHeading | smartypants : entry.title | smartypants) %}
{%- set brief = ( entry.posterContent ? entry.posterContent | smartypants : entry.brief | smartypants) -%}

{# Set SEO attributes #}
{%- if entry.type == "event" -%}
    {%- set articleClass = " vcard h-card" -%}
    {%- set articleScope = "Event" -%}
    {%- set titleClass = " summary" -%}
    {%- set titleProperties = defaultTitleProperties  %}
    {%- set subTitle -%}{% include "_includes/event/_friendly-fromdate-range" %}{%- endset -%}
{%- elseif entry.type == "places" -%}
    {%- set articleScope = "Place" -%}
    {%- set titleProperties = defaultTitleProperties  %}
    {%- set subTitle -%}{%- set address = entry -%}{% include "_includes/_address-field" with { "type" : "short" } %}{%- endset -%}
{%- elseif entry.type == "people" -%}
    {%- set titleProperties = defaultTitleProperties  %}
    {%- set subTitle = entry.subheading | striptags -%}
{%- elseif entry.type == "news" -%}
    {%- set articleScope = "NewsArticle" -%}
{%- elseif entry.type == "article" -%}
    {%- set titleProperties = defaultTitleProperties  %}
{%- endif -%}


{# Price set #}
{%- if entry.price | length and entry.price != 0 -%}
    {%- set teaserTitleExtra %}
        <span>&pound;{{ entry.price }}</span>
    {% endset -%}
{%- endif -%}

<div class="o-block-xsm c-feature__poster"{{ entryId }}>
    <div class="c-feature__content">
        <div class="c-feature__item{{ articleClass }}{{ imgClass }}" itemscope itemtype="http://schema.org/{{ articleScope }}" typeof="{{ articleScope }}">
            <h2><a href="{{ entry.url }}"><span class="fn"{{ titleProperties }}>{{ heading }} </span>{{ teaserTitleExtra }}</a></h2>
            {%- if subTitle | length -%}<p><strong>{{ subTitle }}</strong></p>{%- endif -%}
            {{ brief }}
            <p><b><a href="{{ entry.url }}"><span aria-hidden="true">{{ "Read more" | t }}</span><span class="-hide">{{ "Continue reading" | t }} "{{ heading }}"</span></a></b></p>
        </div>
    </div>
    <a href="{{ entry.url }}" class="c-feature__link"></a>
</div>
{%- endfor -%}