{%-if entry.type == "event" -%}
    {%-if entry.eventPlace | length -%}
        {%-set places = entry.eventPlace -%}
        {%-for place in places -%}
            {%-set infoTable = place.addressTable -%}
            <span class="p-location location -hide">{{ place.title }}</span>
            <span itemprop="location" property="location" itemscope itemtype="http://schema.org/Place"
                  typeof="Place">
                <meta itemprop="name" property="name" content="{{ place.title }}">
            {%-for row in infoTable -%}
                <span itemprop="address" property="address" itemscope
                      itemtype="http://schema.org/PostalAddress" typeof="PostalAddress"
                      class="adr h-adr">{%-include "_includes/_address" with { "type" : "meta" } -%}</span>
            {%-endfor -%}
            </span>
        {%-endfor -%}
    {%-elseif entry.addressTable | length -%}
        {%-set infoTable = entry.addressTable -%}
        <span class="p-location location -hide">{{ entry.eventLocation }}</span>
        <span itemprop="location" property="location" itemscope itemtype="http://schema.org/Place"
              typeof="Place">
            <meta itemprop="name" property="name" content="{{ entry.eventLocation }}">
        {%-for row in infoTable -%}
            <span itemprop="address" property="address" itemscope
                  itemtype="http://schema.org/PostalAddress" typeof="PostalAddress"
                  class="adr h-adr">{%-include "_includes/_address" with { "type" : "meta" } -%}</span>
        {%-endfor -%}
        </span>
    {%-elseif entry.location -%}
        <span class="p-location location -hide">{{ entry.eventLocation }}</span>
        <span itemprop="location" property="location" itemscope itemtype="http://schema.org/Place"
              typeof="Place">
            <meta itemprop="name" property="name" content="{{ entry.eventLocation }}">
            <meta itemprop="address" property="address" content="{{ entry.eventLocation }}">
            <abbr class="adr h-adr" title="{{ entry.eventLocation }}"></abbr>
         </span>
    {%-endif -%}
    {%-if entry.infoTable | length -%}
        {%-for row in entry.infoTable -%}
            {%-if row.label|lower starts with "cost" or row.label|lower starts with "price" -%}
                <span class="p-cost cost -hide" itemprop="offers" property="offers" itemscope
                      itemtype="http://schema.org/Offer" typeof="Offer" title="{{ row.detail }}">
                {%-set price = row.detail|replace('£', '')|replace('€', '')|replace('$', '') -%}
                <meta itemprop="price" property="price" content="{{ price }}"/>
                {%-if row.link | length -%}
                    <meta itemprop="url" property="url" content="{{ row.link }}"/>
                {%-else -%}
                    <meta itemprop="url" property="url" content="{{ entry.url }}"/>
                {%-endif -%}
                {%-if row.detail starts with '£' -%}
                    <meta itemprop="priceCurrency" property="priceCurrency" content="GBP"/>
                {%-elseif row.detail starts with '$' -%}
                    <meta itemprop="priceCurrency" property="priceCurrency" content="USD"/>
                {%-elseif row.detail starts with '€' -%}
                    <meta itemprop="priceCurrency" property="priceCurrency" content="EUR"/>
                {%-endif -%}
                </span>
            {%-endif -%}
        {%-endfor -%}
    {%-endif -%}
{%-elseif entry.type == "news" or entry.type == "article" -%}
    <link itemprop="mainEntityOfPage" property="mainEntityOfPage" href="{{ entry.url }}"/>
    {%-if entry.heading | length -%}
        <meta itemprop="headline" property="headline" content="{{ entry.heading }}"/>
    {%-else -%}
        <meta itemprop="headline" property="headline" content="{{ entry.title }}"/>
    {%-endif -%}
    <meta itemprop="dateCreated" property="dateCreated" content="{{ entry.dateCreated.format('c') }}"/>
    <meta itemprop="datePublished" property="datePublished" content="{{ entry.postDate.format('c') }}"/>
    <meta itemprop="dateModified" property="dateModified" content="{{ entry.dateUpdated.format('c') }}"/>
    {%-if entry.authors | length -%}
        {%-set authorParts = entry.authors | split("|") -%}
        {%-set authorNames = authorParts[0] -%}
        {%-if entry.type == "news" -%}
            <meta itemprop="author" property="author"
                  content="{{ authorNames }}"/>
            <span class="-hide" itemprop="publisher" property="publisher" itemscope
                  itemtype="http://schema.org/Organization" typeof="Organization">
                <meta itemprop="name" property="name" content="{{ authorNames }}"/>
            {%-include "_includes/article/_publisher-logo" -%}
            </span>
        {%-endif -%}
    {%-else -%}
        <meta itemprop="author" property="author"
              content="{{ entry.author.firstName }} {{ entry.author.lastName }}"/>
        {%-if entry.type == "news" -%}
            <span class="-hide" itemprop="publisher" property="publisher" itemscope
                  itemtype="http://schema.org/Organization" typeof="Organization">
                <meta itemprop="name" property="name" content="{{ siteName }}"/>
            {%-include "_includes/article/_publisher-logo" -%}
            </span>
        {%-endif -%}
    {%-endif -%}
{%-endif -%}
