{% extends "_includes/support/_shared" %}
{% block preview %}

    {# Teaser Variations #}
    {%- set teaserRollClass = (block.teaserVar.contains("rollover") ? " +rollover") -%}
    {%- set teaserRollClass = (block.teaserVar.contains("rolloverRev") ? " +rollover +rev") -%}

    {# Set SEO attributes #}
    {%- if entry.type == "news" and entry.postDate >= now | date_modify('-7 days') -%}
        {%- set tagName = "New!" -%}
        {%- set tagColor = "Secondary" -%}
    {%- endif -%}


    {# Markup Teaser Title #}
    {%- set teaserTitleMarkUp -%}
        <b>{{ teaserTitle }}{{ colon }}</b>
    {%- endset -%}

    {# If there is an external redirect #}
    {%- if entry.externalRedirect | length -%}
        {%- set tagName -%}
            {{ entry.subheading | striptags }} <svg class="c-svgicon c-svgicon--right" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-right"></use></svg>
        {%- endset -%}
        {%- set target -%} target="_blank" rel="noopener"{%- endset -%}
        {%- set entryUrl = entry.externalRedirect -%}
        {%- set linkTitle -%}{{ "Continue reading" | t }} {{ teaserTitle }} {{ "on" | t }} {{ entry.subheading | striptags }}{%- endset -%}
    {% else %}
        {%- set entryUrl = entry.url ~ theme -%}
        {%- set linkTitle -%}{{ "Continue reading" | t }} {{ teaserTitle }}{%- endset -%}
    {%- endif -%}

    {# If it is to link #}
    {%- if entry.noLink != 1 -%}
        {%- set linkClass = " +linked" -%}
        {%- set teaseLink -%}
            <a href="{{ entryUrl }}"{{ target }} class="c-tease__link" aria-hidden="true" tabindex="-1" title="{{ linkTitle }}">{% if entry.indexHeading | length %}{{ entry.indexHeading | smartypants }}{% else %}{{ entry.title | smartypants }}{% endif %}</a>
        {%- endset -%}
        {%- set teaserTitleMarkUp -%}
            <a href="{{ entryUrl }}"{{ target }} class="c-tease__title-link" title="{{ linkTitle }}">{{ teaserTitle }}</a>{{ colon }}
        {%- endset -%}
    {%- endif -%}

    {# Tag Types #}
    {%- switch entry.articleCategory -%}
    {%- case "emergency" -%}
    {%- set tagName = "Emergency" -%}
    {%- set tagColor = "Tertiary" -%}
    {%- case "project" -%}
    {%- set tagName = "Project" -%}
    {%- set tagColor = "Secondary" -%}
    {%- case "current" -%}
    {%- set tagName = "Current" -%}
    {%- set tagColor = "Senary" -%}
    {%- case "annual" -%}
    {%- set tagName = "Annual" -%}
    {%- set tagColor = "Quinary" -%}
    {%- endswitch -%}

    {# Set Tag #}
    {%- if tagName -%}
        {%- set tagColor = (tagColor is defined ? tagColor : "Primary") -%}
        {%- set teaserTag -%}
            {%- import "_macros/_color-switch" as colorswitch -%}
            <span class="c-tease__tag -fill{{ colorswitch._colorswitch(tagColor) }}">{{ tagName }}</span>
        {%- endset -%}
    {%- endif -%}

    {%- set bodyText = (subTitle | length ? subTitle : bodyText) -%}

    {% block teaser %}
    {% endblock %}
{% endblock %}