{# Resets #}
{%- set subTitleText = "" -%}

{%- set briefLength = (entry.brief | length ? entry.brief | length : 0) -%}
{%- set bodyText = (briefLength > 0 ? entry.brief | striptags : "") -%}
{%- set bodyText = (briefLength > 130 ? bodyText | slice(0,130) ~ "…" : bodyText) -%}

{# Set SEO attributes #}
    {# Event #}
    {%- if entry.type == "event" -%}
        {%- set colon = ":"  %}
        {%- if entry.customDate | length -%}
            {%- set teaserTitleExtra %}
                <span>{{ entry.customDate }}</span>
            {% endset -%}
        {%- else -%}
            {%- set teaserTitleExtra %}
                <span>{% include "_includes/event/_friendly-fromdate-range" %}</span>
            {% endset -%}
            {%- if date(entry.startDate) < date(now) -%}
                {%- set fadeClass = ' -fade' -%}
            {%- endif -%}
        {%- endif -%}

    {# Places #}
    {%- elseif entry.type == "places" -%}
        {%- set subTitleText -%}{%- set address = entry -%}{% include "_includes/_address-field" with { "type" : "short" } %}{%- endset -%}

    {# People #}
    {%- elseif entry.type == "people" -%}
        {%- set subTitleText -%}{{ entry.subheading | striptags }}{%- endset -%}

        {# News #}
    {%- elseif entry.type == "news" -%}

        {# Article #}
    {%- elseif entry.type == "article" -%}

    {%- endif -%}

{# Price set #}
{%- if entry.price | length and entry.price != 0 -%}
    {%- set teaserTitleExtra %}
        <span>&pound;{{ entry.price }}</span>
    {% endset -%}
{%- endif -%}

{# Set Teaser Title #}
{%- set teaserTitle = (entry.indexHeading ? entry.indexHeading : entry.title) | smartypants -%}

{% block preview %}
{% endblock %}