{%- extends "_includes/support/_support-container" -%}

{% block supportContent %}
{%- set theme = (block.theme | length ? "?thm=" ~ block.theme) -%}
{%- set gutterClass = (block.teaserVar.contains("withGutter") or block.listStyle == "emblem-list" ? " +gutters") -%}
{%- set greyClass = (block.teaserVar.contains("greyscale") ? " +grey") -%}
{%- set printClass = (block.listStyle != "article-full" ? " -noprint") -%}
{%- set thumb = (block.teaserVar.contains("noThumb") ? "no" : "yes") -%}
{%- set supportHeight = (block.bandHeight.value == "fill" ? " +full" ) -%}
{%- set contentPosV = (block.bandHeight == "fill" ? " +middle") -%}


    {# Set the body width #}
{%- if block.listStyle == "article-list" -%}
    {%- set supportBodyWidth = " +u-2" -%}

{%- elseif block.listStyle == "article-full" -%}
    {%- set supportBodyWidth = " +u-3" -%}

{%- elseif block.listStyle == "article-grid"
    or block.listStyle == "article-matrix"
    or block.listStyle == "mini-list"
    or block.bandOptions.contains("indexWidth") -%}
    {%- set supportBodyWidth = " +u-4" -%}
{%- endif -%}

{%- set articleItemImg = (block.listStyle == "article-matrix" ? "1" : "") -%}

{# Set the support list variation #}
{%- if block.listStyle == "cards-list"
or block.listStyle == "cards-stacked"
or block.listStyle == "emblem-list"
or block.listStyle == "grid-list"
or block.listStyle == "mini-list"
or block.listStyle == "roundel-list"
or block.listStyle == "teaser-list" -%}
    {%- set supportListVar = " +blocks" -%}
{%- elseif block.listStyle == "article-grid" -%}
    {%- set supportListVar = " +cols" -%}
{%- elseif block.listStyle == "article-matrix" -%}
    {%- set supportListVar = " +matrix" -%}
{%- endif -%}

{# Set tightness class #}
{%- if block.listStyle == "article-grid"
or block.listStyle == "article-matrix"
or block.listStyle == "article-list" -%}
    {%- set tightClass = " +tight-x" -%}
{%- endif -%}

    {# Set the support list type #}
{%- if block.listStyle == "cards-list" -%}
    {%- set supportListType = " c-card-list" -%}
{%- elseif block.listStyle == "cards-stacked" -%}
    {%- set supportListType = " c-card-list" -%}
{%- elseif block.listStyle == "emblem-list" -%}
    {%- set supportListType = " c-emblem-list" -%}
{%- elseif block.listStyle == "mini-list" -%}
    {%- set supportListType = " c-anchor-list" -%}
{%- elseif block.listStyle == "grid-list" -%}
    {%- set supportListType = " c-square-list" -%}
{%- elseif block.listStyle == "roundel-list" -%}
    {%- set supportListType = " c-roundel-list" -%}
{%- elseif block.listStyle == "teaser-list" -%}
    {%- set supportListType = " c-tease-list" -%}
{%- endif -%}

{%- if block.bandOptions.contains("makeTab") %}
    {%- set bodyRole %} role="tabpanel"{%- endset -%}
{%- endif %}

{%- if supportEntries | length or tabClass | length -%}
{%- set supportEntryCount = supportEntries | length -%}
{%- set supportCount = (supportEntryCount > 2 ? "mt2" : "") -%}
{%- set supportListTypeVar = (supportEntryCount > 2 and block.listStyle == "teaser-list" ? " +square" : "") -%}
{%- set supportListDispVar = (block.listVar == "var2" or block.listVar == "var3" ? " +big-square" : "") -%}

{%- set supportEntryList -%}
    <ul class="c-support-list{{ supportListVar }}{{ supportListType }}{{ supportListTypeVar }}{{ supportListDispVar }}{{ gutterClass }}{{ greyClass }} js-anim"{{ bodyRole }}>
        {% for entry in supportEntries %}
            <li>
                {# Set support items #}
                {%- if block.listStyle == "article-full" -%}
                    {% include "_includes/support/items/_preview-full" %}
                {%- elseif block.listStyle == "article-content" -%}
                    {% include "_includes/support/items/_preview-content" %}
                {%- elseif block.listStyle == "article-list"
                or block.listStyle == "article-grid"
                or block.listStyle == "article-matrix" -%}
                    {% include "_includes/support/items/_preview" %}
                {%- elseif block.listStyle == "emblem-list" -%}
                    {% include "_includes/support/items/_emblem" %}
                {%- elseif block.listStyle == "cards-list" -%}
                    {% include "_includes/support/items/_card-dbl" %}
                {%- elseif block.listStyle == "cards-stacked" -%}
                    {% include "_includes/support/items/_card" %}
                {%- elseif block.listStyle == "grid-list" -%}
                    {% include "_includes/support/items/_square" %}
                {%- elseif block.listStyle == "mini-list" -%}
                    {% include "_includes/support/items/_anchor" %}
                {%- elseif block.listStyle == "roundel-list" -%}
                    {% include "_includes/support/items/_roundel" %}
                {%- elseif block.listStyle == "teaser-list" -%}
                    {% include "_includes/support/items/_tease" %}
                {%- endif -%}
            </li>
        {% endfor %}
    </ul>
{%- endset -%}

<section class="o-block c-support{{ supportBg }}{{ tightClass }}{{ imgClass }}{{ fixedClass }}{{ topBorderClass }}{{ printClass }}{{ tabClass }}{{ supportHeight }}{{ contentPosV }}{{ blockIdClass }}"{{ sectionId }}>
    <div class="c-support__body{{ supportBodyWidth }} js-anim">
    {{ supportHeader }}

    {%- if perPage > 0 -%}
        {%- paginate supportEntries.limit(perPage) as supportEntries -%}
    {%- endif -%}

    {%- if block.bandOptions.contains("cache") -%}
        {%- cache -%}
        {{ supportEntryList }}
        {%- endcache -%}
    {%- else -%}
        {{ supportEntryList }}
    {%- endif -%}

    {%- if perPage > 0 -%}
        {%- include "_includes/insert/_pagination" -%}
    {%- endif -%}

    </div>
    {%- if block.bandOptions.contains("makeTab") and block.sectionLink | length -%}
        {%- set moreTitle = (block.sectionTitle | length ? block.sectionTitle | smartypants) -%}
        <p class="c-support__more"><a href="{{ sectionLink.url }}">{{ "More" | t }} {{ moreTitle }}</a></p>
    {%- endif -%}
</section>

{%- endif -%}

{% endblock %}