{# Basic settings #}
{%- import "_macros/_color-switch" as colorswitch -%}
{%- set theme = "" -%}
{%- set teaserClass = "" -%}
{%- set gutterClass = "" -%}
{%- set supportBg = (block.bandStyle != "none" ? " -fill" ~ colorswitch._colorswitch(block.bandStyle) ) -%}
{%- set supportPosterEffect = (block.bandOptions.contains('posterDim') ? " +dim" ) -%}
{%- set supportPosterType = (block.bandOptions.contains('patternBg') ? " +patterned" ) -%}
{%- set topBorderClass = (block.bandOptions.contains("topBorder") ? " +top-border" : "") -%}

{%- set supportLinked = (block.sectionLink | length ? " +linked" ) -%}

{%- if block.bandOptions.contains('shade-fill') -%}
    {%- set supportBodyFill = " +dim +padded" -%}
{%- elseif block.bandOptions.contains('posterColorFill') -%}
    {%- set supportBodyFill = supportBg ~ " +padded" -%}
{%- endif -%}

{# Set the supportHeader #}
{%- set supportHeader = (block.sectionTitle | length ? block.sectionTitle | smartypants) -%}
{%- if block.sectionLink.first() -%}
    {%- set sectionLink = block.sectionLink.first() -%}
    {%- set supportHeader -%}
        <a href="{{ sectionLink.url }}">{{ supportHeader }}</a>
    {%- endset -%}
{%- else -%}
    {%- set supportHeader -%}
        {{ supportHeader }}
    {%- endset -%}
{%- endif -%}
{%- if supportHeader | length -%}
    {%- set supportHeader -%}
    <header>
		{%- if block.bandOptions.contains("makeTab") -%}
            <!--[if lt IE 9]>
            <div class="c-support__header">
                <h2>{{ supportHeader }}</h2>
            </div>
            <![endif]-->
            <!--[if gte IE 9]><!-->
            <div class="c-support__header +tabs">
                <div class="c-support__tabs" role="tablist">{{ tabLabels }}</div>
                <h2 class="-hide">{{ supportHeader }}</h2>
            </div>
            <!--<![endif]-->
		{%- else -%}
		<div class="c-support__header">
            <h2>{{ supportHeader }}</h2>
        </div>
		{%- endif -%}
    </header>
    {%- endset -%}
{%- endif -%}

{# Set the sectionId #}
{%- set sectionIdNo = ( block.sectionTitle | length ? block.sectionTitle | kebab : "i" ~ block.id) -%}
{%- set sectionId %} id="{{ sectionIdNo }}"{% endset -%}
{%- if block.image | length -%}
    {%- set entryImage = block.image[0] -%}
    {%- set selector = ".c-support#" ~ sectionIdNo %}
    {%- if block.bandOptions.contains('graphicImage') and block.image[1] == '' -%}
    {%- else -%}
        {%- set imgClass = " +img" %}
        {%- set fixedClass = (block.bandOptions.contains('posterFixed') ? " +fixed") -%}
        {%- set element = entryImage %}
        {%- import "_macros/_poster-insert" as posterInsert -%}
        {%- if block.bandOptions.contains('patternBg') -%}
            <style>
                {{ selector }} {
                    background-image:url("{{ element.getUrl() }}");
                }
            </style>
        {%- else -%}
            {{ posterInsert._posterInsert(selector, element) }}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}

{%- if block.bandOptions.contains("makeTab") -%}
	<input type="radio" name="support-tabs" id="t{{ block.id }}" class="-hide"{{checked}}>
	{%- set tabClass = " +tab" -%}
{%- endif -%}

{% block supportContent %}
{% endblock %}