<div class="o-block p-categories -bb -noprint">
{% set locations = entry.location %}
{% if locations | length %}

<div class="p-category">
    <details>
    <summary class="p-category__title">Locations</summary>
    <ul class="p-category__list">
        {% nav location in locations %}
            <li><a href="{{ location.url }}">{{ location.title }}</a>
            {% ifchildren %}
                <ul>
                    {% children %}
                </ul>
            {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
    </details>
</div>
{% endif %}

{% set ministries = entry.ministry %}
{% if ministries | length %}
<div class="p-category">
    <details>
    <summary class="p-category__title">Ministries</summary>
    <ul class="p-category__list">
        {% nav ministry in ministries %}
            <li><a href="{{ ministry.url }}">{{ ministry.title }}</a>
            {% ifchildren %}
                <ul>
                {% children %}
                </ul>
            {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
    </details>
</div>
{% endif %}

{% set organisations = entry.organisation %}
{% if organisations | length %}
<div class="p-category">
    <details>
    <summary class="p-category__title">Organisations</summary>
    <ul class="p-category__list">
        {% nav organisation in organisations %}
            <li><a href="{{ organisation.url }}">{{ organisation.title }}</a>
            {% ifchildren %}
                <ul>
                    {% children %}
                </ul>
            {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
    </details>
</div>
{% endif %}

{% set properties = entry.property %}
{% if properties | length %}
<div class="p-category">
    <section>
    <summary class="p-category__title">Type</summary>
    <ul class="p-category__list">
        {% nav property in properties %}
        <li><a href="{{ property.url }}">{{ property.title }}</a>
            {% ifchildren %}
            <ul>
                {% children %}
            </ul>
            {% endifchildren %}
        </li>
        {% endnav %}
    </ul>
    </section>
</div>
{% endif %}

{% set productCategories = entry.productCategory %}
{% if productCategories | length %}
<div class="p-category">
    <details>
    <summary class="p-category__title">Product Categories</summary>
    <ul class="p-category__list">
        {% nav productCategory in productCategories %}
        <li><a href="{{ productCategory.url }}">{{ productCategory.title }}</a>
            {% ifchildren %}
                <ul>
                    {% children %}
                </ul>
            {% endifchildren %}
        </li>
        {% endnav %}
    </ul>
</div>
{% endif %}

{% set roles = entry.role %}
{% if roles | length %}
<div class="p-category">
    <details>
    <summary class="p-category__title">Roles</summary>
    <ul class="p-category__list">
        {% nav role in roles %}
        <li><a href="{{ role.url }}">{{ role.title }}</a>
            {% ifchildren %}
            <ul>
                {% children %}
            </ul>
            {% endifchildren %}
        </li>
        {% endnav %}
    </ul>
    </details>
</div>
{% endif %}

{% set subjects = entry.subject %}
{% if subjects | length %}
<div class="p-category">
    <details>
    <summary class="p-category__title">Subjects</summary>
    <ul class="p-category__list">
        {% nav subject in subjects %}
            <li><a href="{{ subject.url }}">{{ subject.title }}</a>
            {% ifchildren %}
                <ul>
                    {% children %}
                </ul>
            {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
    </details>
</div>
{% endif %}

{% set tags = entry.tags %}
{% if tags | length and entry.pageOptions.contains("showTags") %}
<div class="p-category">
    <details>
    <summary class="p-category__title">Tags</summary>
    <ul class="p-category__list">
        {% for tag in tags %}
        <li><a href="{{ url('/tag/'~tag) }}">{{ tag.title }}</a></li>
        {% endfor %}
    </ul>
    </details>
</div>
{% endif %}

</div>