<section class="webmentions container">
	{% set mentions = craft.webmention.getAllWebmentionsForEntry(url) %}
	{% set nummentions = mentions|length %}
	{% set likescounter = 0 %}
	{% set repostscounter = 0 %}
	{% if nummentions == 0 %}
	{% else %}
	<ul class="c-comments">
		<li class="-m-b"><b>{{nummentions}} Webmention{% if nummentions != 1 %}s{% endif %}</b></li>
	{% for block in mentions %}
		<li class="c-comment">

			<div class="c-comment__container">
				<figure class="c-comment__avatar p-author h-card">
					{% if block.author_photo %}
					<a href="{{block.author_url}}" title="{{block.author_name}}">
						<img class="u-photo" src="{{block.author_photo}}" alt="Photo of {{block.author_name}}">
					</a>
					{% endif %}
					<figcaption class="-off-canvas p-name"><a href="{{block.author_url}}">{{block.author_name}}</a><a href="{{block.url}}" class="u-url"><time datetime="{{block.published|date('Y-m-d H:i:s') }}" class="dt-published">{{block.published.format('j F Y | H:i')}}</time></a></figcaption>
				</figure>
				<div class="c-comment__text">
					<span class="c-comment__author">
						<span>
							<a href="{{block.url}}" class="u-url">
								{{block.name}}
							</a>
						</span>
						<a class="meta" href="{{block.source}}">
							{% if block.type == "repost" %}
							{{ "Reposted on" | t }}&nbsp;
							{% elseif block.type == "mention" %}
							{{ "Mentioned on" | t }}&nbsp;
							{% endif %}}
							<time datetime="{{block.published|date('Y-m-d H:i:s') }}">
								{{block.published|date('M jS, Y H:i') }}
							</time>
						</a>
					</span>

					<div class="c-comment__body">
						{% if block.type == "like" %}
						{{ "Liked" | t}}
						{% else %}
						{{block.text}}
						{% endif %}
					</div>
				</div>
			</div>
		</li>
  {% endfor %}
	</ul>
	{% endif %}
</section>