<form class="webmention-form c-form c-form--alt" method="post" action="/{{ craft.webmention.settings.endpointSlug }}">
	<label for="webmention-source" class="c-label">Have you published a response to this? Send me a <a href="http://indiewebcamp.com/webmention">webmention</a> by letting me know the <abbr title="Uniform Resource Locator">URL</abbr>.</label>
	<div class="c-form__set +tight">
		<div class="c-form__item">
			<input type="url" name="source" id="webmention-source" placeholder="URL / permalink of your article">
			<input type="hidden" name="target" value="{{url}}">
		</div>
		<div class="c-form__actions">
			<button type="submit" class="c-button">Ping!</button>
		</div>
	</div>
</form>