{%- set fieldId = (fieldId is defined ? fieldId : (id is defined ? id~'-field' : null)) %}
{%- set label = (label is defined and label != '__blank__' ? label : null) %}
{%- set locale = ((craft.isLocalized() and locale is defined) ? locale : null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set warning = (warning is defined ? warning : null) %}
{%- set orientation = craft.i18n.getLocaleData(locale ?: craft.locale).getOrientation() %}
{%- set errors = (errors is defined ? errors : null) -%}
{%- set formItemClass = [
	'c-form__item',
	(first is defined and first ? 'first' : null),
	(errors ? 'has-error' : null),
	(formItemClass is defined and formItemClass ? formItemClass : null)
]|filter|join(' ') -%}
{%- set fieldClass = (fieldClass is defined ? fieldClass : "c-field") -%}
{%- set labelWidth = (labelWidth is defined ? labelWidth : "") -%}

<div class="{{ formItemClass }}{% if required is defined and required %} is-required{% endif %}"{% if fieldId %} id="{{ fieldId }}"{% endif %}>

	{% if label or instructions %}
		{% if label %}
			<label class="c-label{{ labelWidth }}"{% if id is defined and id %} for="{{ id }}"{% endif %}>
				{{- label|raw -}}
				{%- if locale -%}
					<span class="locale">{{ locale }}</span>
				{%- endif -%}
			</label>
		{% endif %}
		{% if instructions %}
			<span class="c-field__help">{{ instructions|md }}</span>
		{% endif %}
	{% endif %}

	<div class="{{ fieldClass }}">
	{{ input|raw }}
	{% if warning %}
		<span class="c-field__warning">{{ warning }}</span>
	{% endif %}
	{% include "_includes/insert/charge/_includes/macros/forms/errorList" with { errors: errors } %}
	</div>
</div>