{%- set value = (value is defined ? value : '1') -%}

<label>
	<input type="radio" value="{{ value }}"
		{%- if id is defined %} id="{{ id }}"{% endif %}
		{%- if class is defined %} class="{{ class }}"{% endif %}
		{%- if name is defined %} name="{{ name }}"{% endif %}
		{%- if checked is defined and checked %} checked="checked"{% endif %}
		{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
		{%- if disabled is defined and disabled %} disabled{% endif %}>
	{% if label is defined %}<span class="c-radio-item__inner">{{ label|raw }}</span>{% endif %}
</label>
