{% extends "_entry" %}

{#  ------------------------------------
#   Attributes and Classes for Microdata #}

{%- if seomaticMainEntityOfPage is defined -%}
    {%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'photo' : { 'type' : 'ImageObject' , 'url' : seomaticMeta.seoImage, 'width' : '1200', 'height' : '630' }}) -%}

    {# Set location and address #}
    {%- if entry.streetAddress | length or place.country | length -%}
        {%- set address = {
        'type' : 'PostalAddress',
        'streetAddress' : entry.streetAddress,
        'addressLocality' : entry.locality,
        'addressRegion' : entry.region,
        'postalCode' : entry.postalCode,
        'addressCountry' : entry.country,
        } -%}
        {%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'address' : address }) -%}
    {%- endif -%}

    {# Set contact details #}
    {%- if entry.contactTable | length -%}
        {%- for row in entry.contactTable -%}

            {%- set labelExplode = row.label | split("|") -%}
            {%- set detailExplode = row.detail | split("|") -%}
            {%- set label = labelExplode[0] -%}
            {%- set labelProperty = labelExplode[1] -%}
            {%- set content = ( detailExplode[1] | length ? detailExplode[1] : detailExplode[0]) -%}

            {%- if label | lower starts with "tel" or label | lower starts with "phone" -%}
                {%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'telephone' : content}) -%}
            {%- elseif label | lower starts with "email" -%}
                {%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'email' : content}) -%}
            {%- elseif labelProperty | length -%}
                {%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({labelProperty : content }) -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}

    {# Set info details #}
    {%- if entry.infoTable | length -%}
        {%- for row in entry.infoTable -%}

            {%- set labelExplode = row.label | split("|") -%}
            {%- set detailExplode = row.detail | split("|") -%}
            {%- set label = labelExplode[0] -%}
            {%- set labelProperty = labelExplode[1] -%}
            {%- set content = ( detailExplode[1] | length ? detailExplode[1] : detailExplode[0]) -%}

            {%- if label | lower starts with "manager" -%}
                {%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'employee' : { 'type' : 'Person', 'name' : content}}) -%}
            {%- elseif labelProperty | length -%}
                {%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({labelProperty : content }) -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}

    {# Set Opening Hours #}

    {#{%- if entry.openingHours | length -%}#}
        {#{%- set metaDays = ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'] -%}#}
        {#{%- set openingArray = [] -%}#}
        {#{%- for dayHours in entry.openingHours -%}#}
            {#{%- set arrayItem = metaDays[loop.index0] ~ " " ~ dayHours.open|date('H:i') ~ "-" ~ dayHours.close|date('H:i') -%}#}
            {#{%- set openingArray = (dayHours.open is empty ? openingArray | merge([arrayItem]) ) -%}#}
        {#{%- endfor -%}#}
        {#{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({openingHours : openingArray }) -%}#}
    {#{%- endif -%}#}


{%- endif -%}

{#  ------------------------------------ #}


{% block articleBody %}

{% if entry.posterType != "map" %}

    <div class="c-article__map">
        <figure role="figure" class="c-asset +outset +map js-anim">
            <div class="c-embed-box +map c-map">
                {%- if entry.placeMap | length -%}
                    {%- import "_macros/_placemap" as placemap -%}
                    {{ placemap._placemap(entry.placeMap, pageGlobals.mapApiKey) }}
                {%- endif -%}
            </div>
        </figure>
    </div>

{% endif %}
{{ parent() }}

{% endblock %}
