{#
# Place index template
# -------------------
#
# This template is loaded whenever http://example.com/place is
# requested, because it is located at article/index.html in your
# craft/templates/ folder.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_entry" %}

{% if craft.request.segment(2) | length %}
{% set catSlug = craft.request.getSegment(2) %}
{% set indexCategory = craft.categories.slug(catSlug).first() %}
{% set entries = craft.entries.section('places').order('title').relatedTo(indexCategory.id) %}
{% set title = indexCategory.title ~ " Places" %}
{% else %}
{% set entries = craft.entries.section('places').order('title') %}
{% set title = "Places" %}
{% endif %}

{% block articleExtras %}
{% set thumb = 'yes' %}
<div class="o-block c-support">
    <div class="c-support__body">
        {% paginate entries.limit(16) as entriesOnPage %}
        <ul class="c-support-list +blocks c-tease-list +square">
            {% for entry in entriesOnPage %}
            <li>
                {% include "_includes/support/items/_tease" with { "format" : "square" } %}
            </li>
            {% endfor %}
        </ul>
        {% include "_includes/insert/_pagination" %}
    </div>
</div>
{% endblock %}
