{% set productImage = entry.leadImage.first() %}
{% set formTitle %}<h1 class="c-form__title c-form__title--nofloat">Buy this?</h1>{% endset %}

{% if entry.product_name | length %}
    {% set product_name = entry.product_name %}
{% else %}
    {% set product_name = title %}
{% endif %}

{% if entry.pageOptions.contains("buyable") %}
{% if entry.type == "event" %}
<div class="-fill-shade">
    {% set formTitle %}{% endset %}
    {% endif %}
    {% if entry.productTable | length %}

        <div id="addtocart" class="c-form c-form--table -pv2 js-anim">
            {{ formTitle }}

            {% for row in  entry.productTable %}
                {% set counter = ( counter | default(0) ) + 1 %}
                {% set product_name = row.productName %}
                {% set product_code = entry.product_code ~ counter %}
                {% set product_description = row.productDescription %}
                {% set price = row.price %}
                <form id="addtocart{{ counter }}" action="https://{{ craft.foxyCart.storedomain }}/cart" method="post"
                      accept-charset="utf-8">
                    <input type="hidden" name="name" value="{{ product_name }}"/>
                    <input type="hidden" name="price" value="{{ price }}"/>
                    <input type="hidden" name="code" value="{{ product_code }}"/>
                    <input type="hidden" name="category" value="{{ entry.foxycart_category }}"/>
                    {% if image %}
                        <input type="hidden" name="image" value="{{ productImage.getUrl('thumb') }}"/>
                        <img src="{{ productImage.getUrl('thumb') }}" alt="-hide photo u-photo" alt="{{ product_name }}">
                    {% endif %}
                    <div class="c-form__row hproduct h-product">
                        <div class="c-form__line">
                            <div>
                                <span class="c-form__line-title fn p-name">{{ product_name }}</span>
                                &nbsp; <b class="c-line__price">&pound; <span class="price p-price">{{ price }}</span></b>
                            {% if product_description %}
                                <br><span class="description e-description -fs1/2 -fade">{{ product_description }}</span>
                            {% endif %}
                            </div>
                        </div>
                        {{ quantityBlock }}
                        <div class="c-form__actions">
                            {% if quantityBlock | length %}
                            {% else %}
                                <input type="hidden" id="quantity" name="quantity" required="required" value="1"/>
                            {% endif %}
                            <input type="submit" value="Buy" class="c-button +1"/>
                        </div>
                    </div>
                </form>
            {% endfor %}

        </div>

    {% else %}

        {% if entry.product_name | length %}
            {% set product_name = entry.product_name %}
        {% else %}
            {% set product_name = title %}
        {% endif %}
        <form id="addtocart" action="https://{{ craft.foxyCart.storedomain }}/cart" method="post" accept-charset="utf-8"
              class="o-band -pv2 js-anim">
            <input type="hidden" name="name" value="{{ product_name }}"/>
            <input type="hidden" name="price" value="{{ entry.price }}"/>
            <input type="hidden" name="code" value="{{ entry.product_code }}"/>
            <input type="hidden" name="category" value="{{ entry.foxycart_category }}"/>
            {% if image %}
                <input type="hidden" name="image" value="{{ productImage.getUrl('thumb') }}"/>
                <img src="{{ productImage.getUrl('thumb') }}" alt="-hide photo u-photo" alt="{{ product_name }}">
            {% endif %}
            <section>
                <fieldset class="c-form -pv2">
                    {{ formTitle }}
                    <div class="c-form__row c-lines hproduct h-product">
                        <div class="c-form__col c-form__col +1@s c-line">
                            <div>
                                <span class="fn p-name c-form__line-title">{{ product_name }}</span>
                                <abbr class="description e-description" title="{{ entry.brief }}"></abbr>
                                &nbsp; <b class="c-line__price">&pound; <span class="price p-price">{{ entry.price }}</span></b>
                            </div>
                        </div>
                        {{ quantityBlock }}
                        <div class="c-form__actions c-form__col +1@m- -tr">
                            {% if quantityBlock | length %}
                            {% else %}
                            <input type="hidden" id="quantity" name="quantity" required="required" value="1"/>
                            {% endif %}
                            <input type="submit" value="Buy" class="c-button +1"/>
                        </div>
                    </div>
                </fieldset>
            </section>
        </form>

    {% endif %}
    {% if entry.type == "event" %}
</div>
{% endif %}

{% include "_includes/product/_product-json" %}
{% endif %}