{%- set donate = (craft.request.getParam('donate') | length ? craft.request.getParam('donate')) -%}
{%- set currency = (craft.request.getParam('currency') | length ? craft.request.getParam('currency') : 'gbp' ) -%}
{%- set formAction = ( entry.formAction | length ? entry.formAction : globals.formActionDefault ) -%}
{%- set fundVar = ( entry.fund | length ? entry.fund : globals.fundDefault ) -%}

{%- set GBPSelect -%}<a href="{{ entry.url }}#donate">GBP</a>{%- endset -%}
{%- set EURSelect -%}<a href="{{ entry.url }}?currency=eur#donate">EUR</a>{%- endset -%}
{%- set USDSelect -%}<a href="{{ entry.url }}?currency=usd#donate">USD</a>{%- endset -%}
{%- set CADSelect -%}<a href="{{ entry.url }}?currency=cad#donate">CAD</a>{%- endset -%}

{%- switch currency -%}
    {%- case "eur" -%}
    {%- set currencySymbol = "€" -%}
    {%- set actionAddOn = "-eur" -%}
    {%- set EURSelect -%}<span>EUR</span>{%- endset -%}
    {%- case "usd" -%}
    {%- set currencySymbol = "$" -%}
    {%- set actionAddOn = "-usd" -%}
    {%- set USDSelect -%}<span>USD</span>{%- endset -%}
    {%- case "cad" -%}
    {%- set currencySymbol = "C$" -%}
    {%- set actionAddOn = "-cad" -%}
    {%- set CADSelect -%}<span>CAD</span>{%- endset -%}
    {%- default -%}
    {%- set currencySymbol = "£" -%}
    {%- set actionAddOn = "-gbp" -%}
    {%- set GBPSelect -%}<span>GBP</span>{%- endset -%}
{%- endswitch -%}

<form id="donate" action="{{ formAction }}{{actionAddOn}}/" method="get" accept-charset="utf-8" class="o-band">
    <section>
        <fieldset class="c-form js-anim">
            {%- if entry.formOptions.contains("currencySwitcher") %}
            <h2 class="c-form__title +switcher">
                <strong>{{ "Donation" | t }}</strong>
                <span class="c-form__switcher">
                    {{ GBPSelect }}
                    {{ EURSelect }}
                    {{ USDSelect }}
                    {{ CADSelect }}
                </span>
            </h2>
            {%- else -%}
            <h2 class="c-form__title">{{ "Donation" | t }}</h2>
            {% endif -%}
            {%- if entry.formOptions.contains("amountSelector") and globals.fundAmounts | length and not donate | length %}
            {%- set fundAmounts = globals.fundAmounts | split(",") -%}
            <div class="c-form__item c-button-group">
                {%- for amount in fundAmounts -%}
                <a href="{{ formAction }}{{actionAddOn}}/?amount={{amount}}&fund={{fundVar}}&name=Donation" class="c-button +hollow">{{currencySymbol}}{{amount}}</a>
                {%- endfor -%}
            </div>
            {%- endif -%}
            <div class="c-form__item is-required">
                <div class="c-field">
                    <label class="c-label -hide" for="amount-input">Amount {{currencySymbol}}</label>
                    <div class="c-form__row">
                        <div class="c-form__col">
                            <span class="c-input +big +tight-end">{{currencySymbol}}</span>
                        </div>
                        <div class="c-form__col +1">
                            <input class="c-field-input +big" id="amount-input" size="3" step="0.01" type="number" name="amount" value="{{ donate }}" placeholder="Amount">
                            <input class="fund-input" id="fund-input" type="hidden" name="fund" value="{{fundVar}}">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="name" value="Donation">
            <div class="c-form__actions -pt">
                <input type="submit" value="Donate" class="c-button +pos +big +fill">
            </div>
        </fieldset>
    </section>
</form>