{% if pageGlobals.mcUsernameId | length %}
{% set mcUsernameId = pageGlobals.mcUsernameId %}
{% else %}
{% set mcUsernameId = "5e3ba4e329cb671d935c8b579" %}
{% endif %}

{% if pageGlobals.mcNewsletterId | length %}
{% set mcNewsletterId = pageGlobals.mcNewsletterId %}
{% else %}
{% set mcNewsletterId = "9f2cbc85c1" %}
{% endif %}

<!-- Begin Mailchimp Signup Form -->
<div id="subscribe" class="o-band js-anim">
    <form action="https://dropinn.us13.list-manage.com/subscribe/post?u=5e3ba4e329cb671d935c8b579&amp;id=9f2cbc85c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="c-form js-anim has-required-fields">
            <h2 class="c-form__title">Subscribe to our mailing list</h2>
            <div class="c-form__item is-required">
                <label for="mce-EMAIL" class="c-label">Email Address</label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mergeRow-gdpr" class="c-form__item">
                <div class="content__gdpr">
                    <label class="c-label">Marketing Permissions</label>
                    <p class="c-label c-label--help">Please select all the ways you would like to hear from Drop Inn:</p>
                    <fieldset class="mc_fieldset gdprRequired mc-field-group -mb" name="interestgroup_field">
                        <label class="c-label c-label--check" for="gdpr_23033"><input type="checkbox" id="gdpr_23033" name="gdpr[23033]" value="Y" class="av-checkbox "><span>Email</span> </label>
                        <label class="c-label c-label--check" for="gdpr_23037"><input type="checkbox" id="gdpr_23037" name="gdpr[23037]" value="Y" class="av-checkbox "><span>Direct Mail</span> </label>
                        {#<label class="c-label c-label&#45;&#45;check" for="gdpr_23041"><input type="checkbox" id="gdpr_23041" name="gdpr[23041]" value="Y" class="av-checkbox "><span>Customized Online Advertising</span></label>#}
                    </fieldset>
                </div>
            </div>
            <div class="c-form__item +flow-out +notes">
                <p class="c-label c-label--help">You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our
                    <a href="/info/privacy-policy" class="-b">Privacy Policy page.</a></p>
                <p class="c-label c-label--help">We use Mailchimp as our marketing platform. By clicking the subscribe button, you acknowledge that your information will be transferred to Mailchimp for processing.</p>
                <p class="c-label c-label--help"><a href="https://mailchimp.com/legal/" target="_blank" class="-b">Learn more about Mailchimp's privacy practices here.</a></p>
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5e3ba4e329cb671d935c8b579_9f2cbc85c1" tabindex="-1" value=""></div>
            <div class="c-form__actions"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="c-button +pos"></div>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->