{% if paginate.nextUrl | length or paginate.prevUrl | length %}
<ul class="c-pager">
    {% if paginate.prevUrl %}
    <li class="c-pager__prev"><a href="{{ paginate.prevUrl }}?q={{ query }}"><svg class="c-svgicon c-svgicon--navleft"><title>{{ "Previous page" | t }}</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navleft"></use></svg> {{ 'Previous' | t }} </a></li>
    {% else %}
    <li class="c-pager__prev"><span><svg class="c-svgicon c-svgicon--navleft -dn"><title>{{ "Previous page" | t }}</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navleft"></use></svg></span></li>
    {% endif %}
    {% for page, url in paginate.getPrevUrls(5) %}
    <li class="c-pager__page"><a href="{{ url }}?q={{ query }}">{{ page }}</a></li>
    {% endfor %}

    <li class="c-pager__page"><span>{{ paginate.currentPage }}</span></li>

    {% for page, url in paginate.getNextUrls(5) %}
    <li class="c-pager__page"><a href="{{ url }}?q={{ query }}">{{ page }}</a></li>
    {% endfor %}

    {% if paginate.nextUrl %}
    <li class="c-pager__next"><a href="{{ paginate.nextUrl }}?q={{ query }}">{{ 'Next' | t }} <svg class="c-svgicon c-svgicon--navright"><title>{{ "Next page" | t }}</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navright"></use></svg></a></li>
    {% else %}
    <li class="c-pager__next"><span><svg class="c-svgicon c-svgicon--navright -dn"><title>{{ "Next page" | t }}</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navright"></use></svg></span></li>
    {% endif %}
</ul>
{% endif %}
