{#{% set regularGiving = "regularGiving" %}#}
{% include "_includes/insert/charge/donation" %}

{#<form id="addtocart" action="https://{{ craft.foxyCart.storedomain }}/cart" method="post" accept-charset="utf-8" class="o-band c-Band">#}
    {#<section>#}
    {#<fieldset class="c-form js-anim has-required-fields">#}
        {#<h1 class="c-form__title">Give Regularly</h1>#}
        {#<div class="c-form__item">#}
            {#<div class="c-field">#}
                {#<select id="sub_frequency" name="sub_frequency" required="required">#}
                    {#<option value="1m{p:5}">£5 Monthly (£5/mo)</option>#}
                    {#<option value="1m{p:10}">£10 Monthly (£10/mo)</option>#}
                    {#<option value="1m{p:20}">£20 Monthly (£20/mo)</option>#}
                    {#<option value="1m{p:50}">£50 Monthly (£50/mo)</option>#}
                    {#<option value="1y{p:60}">£60 Yearly (£60/yr)</option>#}
                    {#<option value="1y{p:120}">£120 Yearly (£120/yr)</option>#}
                    {#<option value="1y{p:240}">£240 Yearly (£240/yr)</option>#}
                    {#<option value="1y{p:600}">£600 Yearly (£600/yr)</option>#}
                {#</select>#}
            {#</div>#}
        {#</div>#}
        {#<input id="price" type="hidden" name="price" value="25">#}
        {#<input id="name" type="hidden" name="name" value="Regular Giving">#}
        {#<input id="name" type="hidden" name="code" value="regular_giving">#}
        {#<div class="c-form__actions">#}
            {#<input type="submit" value="Give" class="c-button +pos">#}
        {#</div>#}
    {#</fieldset>#}
    {#</section>#}
{#</form>#}