{%- if entry.supportingLink | length -%}
    {%- if entry.supportingLink starts with "http://www.facebook" or entry.supportingLink starts with "https://www.facebook" -%}
        <a href="{{ entry.supportingLink }}" class="c-button +1 -mt1/2">Respond on Facebook</a>
    {%- else -%}
        {%- set linkParts = entry.supportingLink | split("|") -%}
        {%- set linkName = linkParts[0] -%}
        {%- set linkUrl = linkParts[1] -%}
        <a href="{{ linkUrl }}" class="c-button +1 -mt1/2">{{ linkName }}</a>
    {%- endif -%}
{%- else -%}
    <a href="/contact?subject=RE {{ title }}#contact-form" class="c-button +1 -mt1/2">Interested? Contact us</a>
{%- endif -%}