{# The dd #}
    {% macro _dd(
        dataLabel,
        dataLink,
        detail,
        dataJson,
        extraMeta,
        property,
        dataDescExtra,
        dataDescClasses,
        icon
    ) %}
        {%- import "_macros/_class-attr" as descClasses -%}
        {%- if dataLabel | length %}{% set dataLabel %} data-label="{{ dataLabel }}"{% endset %}{% endif -%}
        {%- if property | length and noSeo is not defined %}{% set property %} property="{{ property }}" itemprop="{{ property }}"{% endset %}{% endif -%}
        {%- if dataDescExtra | length %}{% set dataDescExtra = dataDescExtra %}{%- endif -%}
        {%- if dataDescClasses | length %}{% set dataDescClasses = descClasses._classAttr(dataDescClasses) %}{% endif -%}
        <dd{{ dataLabel }}{{ property }}{{ dataDescClasses }}{{ dataDescExtra }}>
        {%- if icon | length -%}
            <svg class="c-svgicon c-svgicon--{{ icon }}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-{{ icon }}"></use></svg>
        {%- endif -%}
        {%- if property | length and content | length -%}
            <meta itemprop="{{ property }}" property="{{ property }}" content="{{ content }}">
        {%- endif -%}
            {# Description and Link #}
            {%- if dataLink | length %}<a href="{{ dataLink }}">{% endif -%}
                {{ detail }}
            {%- if dataLink | length %}</a>{% endif -%}
            {# JSon #}
            {%- if dataJson | length -%}
                {% spaceless %}
                <script type="application/ld+json">{{ dataJson }}</script>
                {% endspaceless %}
            {%- endif -%}
            {# Extra Data #}
            {%- if extraData | length -%}
                {{ extraData }}
            {%- endif -%}
            {# Extra Meta #}
            {%- if extraMeta | length and noSeo is not defined -%}
                {{ extraMeta }}
            {%- endif -%}
        </dd>
    {% endmacro %}

{# The dt #}
    {% macro _dt(label, labelHide) %}
        {%- if labelHide | length -%}{%- else -%}
        <dt>{{ label }}</dt>
        {%- endif -%}
    {% endmacro %}

<dl{{ tableExtra }}>
    {% for row in infoTable %}
        {# Reset #}
        {%- set content = "" -%}
        {%- set dataDescExtra = "" -%}
        {%- set dataLabel = "" -%}
        {%- set dataJson = "" -%}
        {%- set detail = "" -%}
        {%- set extra = "" -%}
        {%- set extraMeta = "" -%}
        {%- set icon = "" -%}
        {%- set label = "" -%}
        {%- set labelHide = "" -%}
        {%- set property = "" -%}
        {%- set dataDescClasses = "" -%}

        {# Prep data-list items #}
        {%- if row.label | length -%}
            {%- set labelExplode = row.label | split("|") -%}
            {%- set label = labelExplode[0] -%}
            {%- set property = (labelExplode[1] | length ? labelExplode[1] : "") -%}
        {%- endif -%}
        {%- if row.detail | length -%}
            {%- set detailExplode = row.detail | split("|") %}
            {%- set detail = (detailExplode[0] | length ? detailExplode[0] : "") -%}
            {%- set content = (detailExplode[1] | length ? detailExplode[1] : "") -%}
        {%- endif -%}


        {# The overall settings #}
        {%- set dataLabel = (label | length ? label : "") -%}
        {%- set dataLink = (row.link | length ? row.link : "") -%}
        {%- set icon = (row.icon | length ? row.icon : "") -%}

        {%- if row.label ends with "+" -%}
            {%- set hide = true -%}
        {%- endif -%}

        {%- if row.detail ends with "hide" -%}
            {%- set dataDescClasses = [
            '-hide'
            ] -%}
        {%- endif -%}

        {%- if row.detail starts with "img" -%}
        {%- set labelHide = "hide" -%}
        {%- set detail -%}
        <img src="{{ row.link }}" alt="{% if label | length %}{{ label }}{% else %}Open image{% endif %}">
        {%- endset -%}
            {%- if row.label | lower starts with "logo" -%}
                {%- set dataDescClasses = [
                '+img',
                '+logo'
                ] -%}
            {%- else -%}
                {%- set dataDescClasses = [
                '+img'
                ] -%}
            {%- endif -%}
        {%- endif -%}

        {# Links #}
        {%- if label | lower starts with "web" or label | lower starts with "url" or "blog" in label | lower or property == "url" -%}
            {%- set icon = (icon | length ? icon : "globe" )-%}
            {%- set property = "url " -%}
            {%- set content = row.link -%}
            {%- set offerUrl = row.link -%}
        {%- endif -%}

        {# Contacts #}
        {%- if row.label|lower starts with "contact" -%}

            {%- set icon = (icon | length ? icon : "user" )-%}
            {%- set property = (property is defined ? property : "organizer" )-%}
            {%- set dataDescClasses = [
            'p-organizer',
            'organizer',
            '-ws-normal'
            ] -%}
        {%- endif -%}

        {# Opening Hours #}
        {%- if row.label|lower starts with "open" -%}
            {%- set dataDescClasses = [
            '-ws-normal'
            ] -%}
            {%- set dataDesc -%}
            {% include "_includes/_opening-hours" %}
            {%- endset -%}
        {%- endif -%}

        {# Cost #}
        {%- if row.label|lower starts with "cost" or row.label|lower starts with "price" -%}
            {%- set icon = (icon | length ? icon : "cost" )-%}
            {%- set property = (property is defined ? property : "offers" )-%}
            {%- set dataDescClasses = [
            'p-cost',
            'cost',
            '-ws-normal'
            ] -%}
            {%- set price = row.detail | replace('£', '') | replace('€', '') | replace('$', '') -%}
            {%- set extraMeta -%}
                {%- if row.detail starts with "£" -%}
                    {%- set thisPrice = price -%}
                    {%- set thisCurrency = "GBP" -%}
                {%- elseif row.detail starts with "€" -%}
                    {%- set thisPrice = price -%}
                    {%- set thisCurrency = "EUR" -%}
                {%- elseif row.detail starts with "$" -%}
                    {%- set thisPrice = price -%}
                    {%- set thisCurrency = "USD" -%}
                {%- else -%}
                    {%- set thisPrice = "0" -%}
                    {%- set thisCurrency = siteCurrency -%}
                {%- endif -%}
                <meta itemprop="price" property="price" content="{{ thisPrice }}"/>
                <meta itemprop="url" property="url" content="{{ thisUrl }}"/>
                <meta itemprop="priceCurrency" property="priceCurrency" content="{{ thisCurrency }}"/>
            {%- endset -%}
        {%- endif -%}

        {# Tel #}
        {%- if row.label | lower starts with "tel" or row.label | lower starts with "mobile" or row.label ends with "phone" -%}
            {%- set labelExplode = row.label|split(':') -%}
            {%- set contactType = (labelExplode[1] | length ? labelExplode[1] : "Organisation") -%}
            {%- set organisationType = (entry.organisationType | length ? entry.organisationType : "Organisation") -%}
            {%- set icon = (row.label | lower starts with "mobile" ? "mobile" : "phone" )-%}
            {%- if content is defined -%}
                {%- set telNo = content -%}
            {%- else -%}
                {%- set telNo = row.detail | replace(' ', '') | replace('(', '') | replace(')', '') -%}
            {%- endif -%}
            {%- set property = (property | length ? property : "contactPoint" )-%}
            {%- if dataLink is not defined -%}
                {%- set dataLink = (row.label | lower starts with "mobile" ? "sms:" ~ telNo : "tel:" ~ telNo)  %}
            {%- endif -%}
            {%- set dataJson -%}
                {%- if property == "" -%}
                    { "@context" : "http://schema.org",
                    "@type" : "{{ organisationType }}",
                    "url" : "{{ pageGlobals.brandUrl }}",
                    "contactPoint" : [
                    { "@type" : "ContactPoint",
                    "telephone" : "{{ telNo }}",
                    "contactType" : "{{ contactType }}"
                    } ] }
                {%- endif -%}
            {%- endset -%}
        {%- endif -%}

        {# Skype #}
        {%- if label | lower == "skype" -%}
            {%- set icon = (icon | length ? icon : "phone" )-%}
            {%- if dataLink | length -%}
                {%- set dataLink = detail|replace(' ', '')|replace('(', '')|replace(')', '') -%}
                {%- set dataDesc = "Call now"  %}
            {%- endif -%}
        {%- endif -%}

        {# Social Media #}
        {%- if label | lower == "facebook" -%}
            {%- set icon = (icon | length ? icon : "facebook" )-%}
        {%- endif -%}

        {%- if label | lower == "twitter" -%}
            {%- set icon = (icon | length ? icon : "twitter" )-%}
            {%- if dataLink != '' -%}
                {%- set dataLink = detail | replace("@", "") -%}
                {%- set dataLink = "https://twitter.com/" ~ dataLink -%}
            {%- endif -%}
        {%- endif -%}

        {# Email #}
        {%- if label | lower == "email" -%}
            {%- set icon = (icon | length ? icon : "email" )-%}
            {%- set property = (property is defined ? property : "email" )-%}
            {%- if dataLink is not defined -%}
                {%- set dataLink = "mailto:" ~ dataLink -%}
            {%- endif -%}
        {%- endif -%}

        {%- if summaryFormat != "icons" %}
            {% set icon = "" %}
        {%- endif -%}
        {%- import _self as self -%}
        {{ self._dt(label, labelHide) }}
        {{ self._dd(dataLabel, dataLink, detail, dataJson, extraMeta, property, dataDescExtra, dataDescClasses, icon) }}
    {% endfor %}

</dl>