{%- set withParam  = [] -%}
{%- set baseWithParam = ['indexHeading'] -%}
{%- set metaWithParam = baseWithParam|merge(['addressTable', 'eventPlace', 'location', 'infoTable', 'authors']) -%}
{%- set teaserWithParam = metaWithParam|merge(['articleCategory', 'brief', 'externalRedirect', 'indexHeading', 'leadImage', 'noLink', 'posterColor', 'price', 'type']) -%}
{%- set articleItemWithParam = metaWithParam|merge(['noLink', 'leadImage', 'indexHeading', 'price', 'type', 'addressTable', 'brief']) -%}

{%- if entry.index | length %}
{%- cache %}

{%- for block in entry.index %}

{%- set bandCss = '' -%}
{%- set bandContentFill = '' -%}
{%- set bandPanelClass = '' -%}
{%- set bandLinkClass = '' -%}
{%- set bg = '' -%}
{%- set contentPadding = '' -%}
{%- set posterClass = '' -%}
{%- set sectionClass = '' -%}
{%- set sectionPos = '' -%}
{%- set posterHeight = '' -%}
{%- set bandPosterEffect = '' -%}
{%- set textSize = '' -%}

{% if notEntries | length %}
    {% set notEntriesString = notEntries | join(', not ') %}
    {% set notValue = 'and, not ' ~ entry.id ~ ', not ' ~ notEntriesString %}
{% else %}
    {% set notValue = 'not ' ~ entry.id %}
{% endif %}

{% switch block.type %}

{% case "embedBlock" %}
    {% if block.bandStyle | length and block.bandStyle != "none" %}
        {% set bg = ' u-fill' ~ block.bandStyle %}
    {% endif %}
    {% if block.bandHeight.value == "fill" %}
        {% set posterClass = " c-Poster c-Poster-fill" %}
    {% endif %}
    {% if block.bandPadding == "1" %}
        {% set bandClass = "c-Band-panel js-anim" %}
    {% endif %}
    {% if block.sectionTitle | length %}
        {% set sectionIdNo = block.sectionTitle|lower|replace(' ', '-') %}
        {% set sectionId %} id="{{sectionIdNo}}" {% endset %}
    {% else %}
      {% set sectionIdNo = "i" ~ block.id %}
      {% set sectionId %} id="{{ sectionIdNo }}"{% endset %}
    {% endif %}
   <div class="di-band c-Band{{ bg }}{{ posterClass }}"{{ sectionId }}>
        <section>
        <div class="{{ bandClass }}">
            {% if block.sectionTitle | length %}
            <header>
                <div class="c-Panel-header">
                    {% if block.sectionLink.first() | length %}
                    {% set sectionLink = block.sectionLink.first() %}
                    <h1><a href="{{ sectionLink.url }}">{{ block.sectionTitle | smartypants }}</a>&nbsp;<svg class="c-svgicon c-svgicon--navright"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navright"></use></svg></h1>
                    {% else %}
                    <h1>{{ block.sectionTitle | smartypants }}</h1>
                    {% endif %}
                </div>
            </header>
            {% endif %}
            {% if block.embedType == 'tweets' %}
                {% set bandClass = "c-Band-panel" %}
                {% set uri = block.embed %}
                {% set tweets = craft.twitter.get(uri) %}
                {% if tweets %}
                <div class="c-Panel-index">
                <ul class="c-TweetItem-list">
                    {% for tweet in tweets %}
                    {% set tweetUser = tweet.user %}
                    {% set tweetUrl = 'https://twitter.com/' ~ tweetUser.screen_name ~ '/status/' ~ tweet.id %}
                    {% set tweetAuthor = tweetUser.name %}
                    {% set tweetAuthorUrl = 'https://twitter.com/' ~ tweetUser.screen_name %}
                    {% set quote = tweet.text|autoLinkTweet({
                        noFollow: false,
                        target: "_blank"
                    }) %}
                    {% if quote | length %}
                    <li class="c-TweetItem">
                    <a href="{{ tweetUrl }}" target="_blank"><svg class="c-svgicon c-svgicon--twitter"><title>Twitter</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-twitter"></use></svg></a>
                    <b><a href="{{ tweetAuthorUrl }}" target="_blank">{{ tweetAuthor }}</a></b>
                    &nbsp;
                    <span class="c-TweetItem-text">{{ quote }}</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                </div>
                {% else %}
                <div class="c-Panel-index">{{ "Latest tweets will appear here" | t }}</div>
                {% endif %}
            {% else %}
                {% if block.embedType == 'video' %}
                {% set video = craft.embedder.url(block.embed) %}
                <meta itemprop="associatedMedia" property="associatedMedia" content="{{ block.embed | raw }}">
                <meta itemprop="video" property="video" content="{{ block.embed | raw }}">
                <div class="c-Panel-index"><div class="c-EmbedBox c-EmbedBox--video {{ fillClass }}{{ paddingClass }}">{{ video.embed_code }}</div></div>
                {% elseif block.embedType == 'iframe' %}
                <div class="c-Panel-index"><div class="c-EmbedBox c-EmbedBox--iframe{{ aspectRatio }} {{ fillClass }}{{ paddingClass }}">{{ block.embed | raw }}</div></div>
                {% else %}
                <div class="c-EmbedBox {{ fillClass }}{{ paddingClass }}">{{ block.embed | raw }}</div>
                {% endif %}
            {% endif %}
         </div>
        </section>
    </div>


{% case "entryRelated" %}

    {% if block.listStyle == "teaser" %}
        {% set withParam = teaserWithParam %}
    {% elseif block.listStyle == "teaser" %}
        {% set withParam = articleItemWithParam %}
    {% else %}
        {% set withParam = baseParam %}
    {% endif %}

    {% set relatedTo = [block.join] %}

    {% if entry.location %}
        {% set locationIds = craft.categories(entry.location).ids() %}
        {% for id in locationIds %}
            {% set relatedTo = relatedTo|merge([id]) %}
        {% endfor %}
    {% endif %}
    {% if entry.ministry %}
        {% set ministrynIds = craft.categories(entry.ministry).ids() %}
        {% for id in ministryIds %}
            {% set relatedTo = relatedTo|merge([id]) %}
        {% endfor %}
    {% endif %}
    {% if entry.organisation %}
        {% set organisationIds = craft.categories(entry.organisation).ids() %}
        {% for id in organisationIds %}
            {% set relatedTo = relatedTo|merge([id]) %}
        {% endfor %}
    {% endif %}
    {% if entry.property %}
        {% set propertyIds = craft.categories(entry.property).ids() %}
        {% for id in propertyIds %}
            {% set relatedTo = relatedTo|merge([id]) %}
        {% endfor %}
    {% endif %}
   {% if entry.productCategory %}
        {% set productIds = craft.categories(entry.productCategory).ids() %}
        {% for id in productIds %}
            {% set relatedTo = relatedTo|merge([id]) %}
        {% endfor %}
    {% endif %}
   {% if entry.role %}
        {% set roleIds = craft.categories(entry.role).ids() %}
        {% for id in roleIds %}
            {% set relatedTo = relatedTo|merge([id]) %}
        {% endfor %}
    {% endif %}
   {% if entry.subject %}
        {% set subjectIds = craft.categories(entry.subject).ids() %}
        {% for id in subjectIds %}
            {% set relatedTo = relatedTo|merge([id]) %}
        {% endfor %}
    {% endif %}


    {% if block.order | length %}
        {% set order = "'" ~ block.order.value ~ "'" %}
    {% else %}
        {% set order = 'postDate desc ' %}
    {% endif %}


    {% set entries = craft.entries({
        section: block.entrySection,
        relatedTo: relatedTo,
        id: notValue,
        order: block.order,
        with: withParam
    }) %}


    {% if block.bandOptions.contains("makeFeatured") %}
        {% set notEntries = entries.ids() %}
    {% endif %}

    {% include "_includes/support/_support-list" %}

{% case "entrySelection" %}

    {% if block.listStyle == "big-feature" %}
        {% set entry = shuffle(block.entries)[0] %}
        {% if block.bandOptions.contains("makeFeatured") %}
            {% set notEntries = entry.id %}
        {% endif %}
        {% include "_includes/support/_feature" %}
    {% else %}

        {% set entries = block.entries %}
        {% if block.bandOptions.contains("makeFeatured") %}
            {% set notEntries = entries.ids() %}
        {% endif %}
        {% include "_includes/support/_support-list" %}

    {% endif %}

{% case "entryList" %}

    {% set limit = block.limit %}
    {% set perPage = block.perPage %}
    {% if block.listStyle == "teaser" %}
        {% set withParam = teaserWithParam %}
    {% elseif block.listStyle == "teaser" %}
        {% set withParam = articleItemWithParam %}
    {% else %}
        {% set withParam = baseParam %}
    {% endif %}

    {% if craft.categories(block.location).ids()
        or craft.categories(block.ministry).ids()
        or craft.categories(block.organisation).ids()
        or craft.categories(block.property).ids()
        or craft.categories(block.productCategory).ids()
        or craft.categories(block.role).ids()
        or craft.categories(block.subject).ids() %}

        {% set relatedTo = [block.join] %}

        {% if block.location %}
            {% set locationIds = craft.categories(block.location).ids() %}
            {% for id in locationIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
            {% endfor %}
        {% endif %}
        {% if block.ministry %}
            {% set ministryIds = craft.categories(block.ministry).ids() %}
            {% for id in ministryIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
            {% endfor %}
        {% endif %}
        {% if block.organisation %}
            {% set organisationIds = craft.categories(block.organisation).ids() %}
            {% for id in organisationIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
            {% endfor %}
        {% endif %}
        {% if block.property %}
            {% set propertyIds = craft.categories(block.property).ids() %}
            {% for id in propertyIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
            {% endfor %}
        {% endif %}
        {% if block.productCategory %}
        {% set productIds = craft.categories(block.productCategory).ids() %}
            {% for id in productIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
            {% endfor %}
        {% endif %}
        {% if block.role %}
        {% set roleIds = craft.categories(block.role).ids() %}
            {% for id in roleIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
            {% endfor %}
        {% endif %}
        {% if block.subject %}
        {% set subjectIds = craft.categories(block.subject).ids() %}
            {% for id in subjectIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
            {% endfor %}
        {% endif %}

        {% if block.until | length %}
            {% if block.entryTypes.contains("news") or block.entryTypes.contains("campaigns") or block.entryTypes.contains("articles") %}

                {% set entries = craft.entries({
                    section: block.entryTypes,
                    relatedTo: relatedTo,
                    limit: limit,
                    id: notValue,
                    order: block.order,
                    postDate: ">= " ~ now|date_modify(block.until),
                    with: withParam
                }) %}

                {#{% set entries = craft.entries.section(block.entryTypes).relatedTo(relatedTo).limit(limit).id(notValue).order(block.order).postDate('>= ' ~ now|date_modify(block.until)) %}#}
            {% elseif block.entryTypes.contains("events") %}

                {% set entries = craft.entries({
                    section: block.entryTypes,
                    relatedTo: relatedTo,
                    limit: limit,
                    id: notValue,
                    order: block.order,
                    endDate: "> " ~ now,
                    startDate: "<= " ~ now|date_modify(block.until),
                    with: withParam
                }) %}

                {#{% set entries = craft.entries.section(block.entryTypes).relatedTo(relatedTo).limit(limit).id(notValue).order(block.order).endDate('> ' ~ now).startDate('<= ' ~ now|date_modify(block.until)) %}#}
            {% endif %}
        {% else %}

            {% set entries = craft.entries({
                section: block.entryTypes,
                relatedTo: relatedTo,
                limit: limit,
                id: notValue,
                order: block.order,
                with: withParam
            }) %}

            {#{% set entries = craft.entries.section(block.entryTypes).relatedTo(relatedTo).limit(limit).id(notValue).order(block.order) %}#}
        {% endif %}

    {% else %}

        {% set entries = craft.entries({
            section: block.entryTypes,
            limit: limit,
            id: notValue,
            order: block.order,
            with: withParam
        }) %}

        {#{% set entries = craft.entries.section(block.entryTypes).limit(limit).id(notValue).order(block.order) %}#}
    {% endif %}

    {% if block.bandOptions.contains("makeFeatured") %}
        {% set notEntries = entries.ids() %}
    {% endif %}

    {% include "_includes/support/_support-list" %}

{% case "contentBlock" %}
    {% if block.bandStyle | length and block.bandStyle != "none" %}
        {% set bg = ' u-fill' ~ block.bandStyle %}
    {% endif %}
    {% if block.bandHeight.value == "fill" %}
        {% set posterHeight = " c-Index c-Poster--fill" %}
    {% endif %}
    {% if block.bandOptions.contains('posterDim') %}
        {% set bandPosterEffect = " c-Poster--dim" %}
    {% endif %}
    {% if block.bandOptions.contains('shade-fill') %}
        {% set bandContentFill = " u-fillShader" %}
        {% set contentPadding = " -pa" %}
    {% elseif block.bandOptions.contains('posterColorFill') %}
        {% set bandContentFill = bg %}
        {% set contentPadding = " -pa" %}
    {% endif %}
    {% if block.bandOptions.contains('sectionLeft') or block.bandOptions.contains('sectionRight') %}
        {% set sectionClass = " c-Index--sectioned" %}
        {% set contentPadding = "" %}
        {% if block.bandOptions.contains('sectionLeft') %}
            {% set sectionPos = " c-Band-content--posStart" %}
        {% elseif block.bandOptions.contains('sectionRight') %}
            {% set sectionPos = " c-Band-content--posEnd" %}
        {% endif %}
    {% endif %}
    {% if block.bandOptions.contains('patternBg') %}
        {% set posterPatternBg = " c-Poster--patterned" %}
    {% endif %}
    {% if block.bandOptions.contains('patternBg') %}
        {% set posterPatternBg = " c-Poster--patterned" %}
    {% endif %}
    {% if block.bandOptions.contains('largeText') %}
        {% set textSize = "c-Band-content-inner--large" %}
    {% elseif block.bandOptions.contains('largerText') %}
        {% set textSize = "c-Band-content-inner--larger" %}
    {% endif %}
    {% if block.bandOptions.contains('largeTitle') %}
        {% set contentClass = "" %}
        {% set titleClass = " c-Panel-header--big" %}
    {% else %}
        {% set contentClass = " c-Panel-content" %}
    {% endif %}
    {% if block.sectionLink | length %}
        {% set bandLinkClass = " is-linked" %}
    {% endif %}
    {% if block.sectionTitle | length %}
        {% set sectionIdNo = block.sectionTitle|lower|replace(' ', '-') %}
        {% set sectionId %} id="{{sectionIdNo}}" {% endset %}
    {% else %}
      {% set sectionIdNo = "i" ~ block.id %}
      {% set sectionId %} id="{{ sectionIdNo }}"{% endset %}
    {% endif %}
    

    {% if block.image | length %}
        {% set posterClass = " c-Poster" %}
        {% set bgImage = block.image.first %}
        {% if block.bandOptions.contains('posterFixed') %}
            {% set posterFixed = ';background-attachment:fixed;' %}
        {% endif %}
        {% if posterPatternBg | length %}
            {% set bandCss %}
                <style>.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl }}"){{ posterFixed }}}</style>
            {% endset %}
        {% else %}
            {% set bandCss %}
                <style>.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterDesktop') }}")}@media only screen and (-webkit-min-device-pixel-ratio:1.3),only screen and (min--moz-device-pixel-ratio:1.3),only screen and (-o-min-device-pixel-ratio:1.3/1),only screen and (min-resolution:124.8dpi),only screen and (min-resolution:1.3dppx){.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterDesktop2x') }}")}}@media only screen and (max-width:30em){.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterMobile') }}")}}@media only screen and (max-width:30em) and (-webkit-min-device-pixel-ratio:1.3),only screen and (max-width:30em) and (min--moz-device-pixel-ratio:1.3),only screen and (max-width:30em) and (-o-min-device-pixel-ratio:1.3/1),only screen and (max-width:30em) and (min-resolution:124.8dpi),only screen and (max-width:30em) and (min-resolution:1.3dppx){.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterMobile2x') }}")}}@media only screen and (min-width:80em){.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterDesktop2x') }}"){{ posterFixed }}}}</style>
            {% endset %}
        {% endif %}
    {% endif %}
    {{ bandCss }}
    <div class="di-band c-Band{{ bg }}{{ posterClass }}{{ posterHeight }}{{ bandPosterEffect }}{{ sectionClass }}{{ posterPatternBg }}{{ bandLinkClass }}"{{ sectionId }}>
        <div class="c-Band-panel js-anim">
            <div class="c-Band-content{{ sectionPos }}{{ bandContentFill }}">
            {% if block.sectionTitle | length %}
            <section>
            {% endif %}
                <div class="c-Panel-article{{ contentClass }}{{ contentPadding }}">
               {% if block.sectionTitle | length %}
                <header>
                    <div class="c-Panel-header{{ titleClass }}">
                        {% if block.sectionLink.first() | length %}
                        {% set sectionLink = block.sectionLink.first() %}
                        <h2 class="c-Header"><a href="{{ sectionLink.url }}">{{ block.sectionTitle | smartypants }}</a>&nbsp;<svg class="c-svgicon c-svgicon--navright"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navright"></use></svg></h2>
                        {% else %}
                        <h2 class="c-Header">{{ block.sectionTitle | smartypants }}</h2>
                        {% endif %}
                    </div>
                </header>
                {% endif %}

                <div class="c-Band-content-inner">
                    <div class="c-Article-doc {{ textSize }}">
                    {{ block.text | smartypants }}
                    </div>
                </div>
                </div>
            {% if block.sectionTitle | length %}
            </section>
            {% endif %}
            </div>
        </div>
        {% if block.image | length and block.sectionLink | length %}

        <a href="{{ sectionLink.url }}" class="c-Band__link"></a>
        {% endif %}
    </div>

{% case "mediaBlock" %}
    {% if block.bandStyle | length and block.bandStyle != "none" %}
        {% set bg = ' u-fill' ~ block.bandStyle %}
    {% endif %}
    {% if block.sectionTitle | length %}
        {% set sectionIdNo = block.sectionTitle|lower|replace(' ', '-') %}
        {% set sectionId %} id="{{sectionIdNo}}" {% endset %}
    {% else %}
      {% set sectionIdNo = "i" ~ block.id %}
      {% set sectionId %} id="{{ sectionIdNo }}"{% endset %}
    {% endif %}

    <div class="di-band c-Band{{ bg }}{{ posterClass }}"{{ sectionId }}>
        <div class="c-Band-panel js-anim">
            {% if block.sectionTitle | length %}
            <section>
            {% endif %}
            {% if block.sectionTitle | length %}
            <header>
                <div class="c-Panel-header">
                    <h2 class="c-Header">{{ block.sectionTitle | smartypants }}</h2>
                </div>
            </header>
            {% endif %}

            {% if block.mediaTable | length %}
                <ul class="c-MediaItems">
                {% for row in block.mediaTable %}
                    <li>
                        {% include "_includes/index/_item-media" %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if block.sectionTitle | length %}
            </section>
            {% endif %}
        </div>
    </div>

{% case "formBlock" %}
    {% if block.bandStyle | length and block.bandStyle != "none" %}
        {% set bg = ' u-fill' ~ block.bandStyle %}
    {% endif %}
    {% if block.bandHeight.value == "fill" %}
        {% set posterClass = " c-Index c-Poster--fill" %}
    {% endif %}
    <div class="di-band c-Band{{ bg }}{{ posterClass }} -noprint">
        <div class="c-Band-panel js-anim">
            {% if block.sectionTitle | length %}
            <section>
                <header>
                    <div class="c-Panel-header">
                        {% if block.sectionLink.first() | length %}
                        {% set sectionLink = block.sectionLink.first() %}
                        <h2><a href="{{ sectionLink.url }}">{{ block.sectionTitle | smartypants }}</a>&nbsp;<svg class="c-svgicon c-svgicon--navright"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navright"></use></svg></h2>
                        {% else %}
                        <h2>{{ block.sectionTitle | smartypants }}</h2>
                        {% endif %}
                    </div>
                </header>
                {% endif %}
                <div class="c-Panel-content">
                    {% set htmlInsert = "_includes/insert/_" ~ block.form.value %}
                    {% include htmlInsert %}
                </div>
            {% if block.sectionTitle | length %}
            </section>
            {% endif %}
        </div>
    </div>

{% case "imageBlock" %}

    {% set noImages = block.image|length %}
    {% set firstImage = block.image.first() %}
    {% set assets = block.image %}

    {% if block.bandStyle | length and block.bandStyle != "none" %}
        {% set bg = ' u-fill' ~ block.bandStyle %}
    {% endif %}
    {% if block.bandHeight.value == "fill" %}
       {% set posterClass = " c-Index c-Poster--fill" %}
       {% set bandPanelClass = "" %}
    {% endif %}
    {% if block.assetPlacement == 'fill' %}
        {% set figureClass = " class=c-Panel-fill" %}
        {% set imgSrcMob = firstImage.getUrl('articleMobile') %}
        {% set imgSrcMobSize = firstImage.getWidth('articleMobile') ~ 'w' %}
        {% set imgSrc = firstImage.getUrl('posterDesktop') %}
        {% set imgSrcWidth = firstImage.getWidth('posterDesktop') %}
        {% set imgSrcHeight = firstImage.getHeight('posterDesktop') %}
        {% set imgSrcSize = firstImage.getWidth('posterDesktop') ~ 'w' %}
        {% set imgSrc2x = firstImage.getUrl('posterDesktop2x') %}
        {% set imgSrc2xSize = firstImage.getWidth('posterDesktop2x') ~ 'w' %}

    {% else %}
        {% set imgSrcMob = firstImage.getUrl('articleMobile') %}
        {% set imgSrcMobSize = firstImage.getWidth('articleMobile') ~ 'w' %}
        {% set imgSrc = firstImage.getUrl('article') %}
        {% set imgSrcWidth = firstImage.getWidth('article') %}
        {% set imgSrcHeight = firstImage.getHeight('article') %}
        {% set imgSrcSize = firstImage.getWidth('article') ~ 'w' %}
        {% set imgSrc2x = firstImage.getUrl('article2x') %}
        {% set imgSrc2xSize = firstImage.getWidth('article2x') ~ 'w' %}
        {% set panelHeader %}
            {% if block.sectionTitle | length %}
            <section>
                <header>
                    <div class="c-Panel-header">
                        {% if block.sectionLink.first() | length %}
                        {% set sectionLink = block.sectionLink.first() %}
                        <h2><a href="{{ sectionLink.url }}">{{ block.sectionTitle | smartypants }}</a>&nbsp;<svg class="c-svgicon c-svgicon--navright"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navright"></use></svg></h2>
                        {% else %}
                        <h2>{{ block.sectionTitle | smartypants }}</h2>
                        {% endif %}
                    </div>
                </header>
            {% endif %}
        {% endset %}
        {% set bandPanelClass = "c-Band-panel js-anim" %}
        {% if block.assetPlacement == 'content' %}
            {% set figureClass = "class=c-Panel-content" %}
        {% else %}
            {% set figureClass = "class=c-Panel-index" %}
        {% endif %}
    {% endif %}

    <div class="di-band c-Band{{ bg }}{{ posterClass }}">
        <div class="{{ bandPanelClass }}">
            {{panelHeader}}
            <figure {{ figureClass }}>
                {% include "_includes/assets/_image" %}
            </figure>
            {% if block.sectionTitle | length %}
            </section>
            {% endif %}
        </div>
    </div>

{% endswitch %}
{% endfor %}
{% endcache %}
{% endif %}