<footer>
    <div class="c-article__footer">
        <meta itemprop="dateCreated" property="dateCreated" content="{{ entry.dateCreated.format('c') }}" />
        <meta itemprop="datePublished" property="datePublished" content="{{ entry.postDate.format('c') }}" />
        <meta itemprop="dateModified" property="dateModified" content="{{ entry.dateUpdated.format('c') }}" />
        <abbr class="published dt-published" title="{{ entry.postDate.format('c') }}"></abbr>
        <abbr class="updated dt-updated" title="{{ entry.dateUpdated.format('c') }}"></abbr>
        {% if entry.authors | length %}
        {% set authorParts = entry.authors | split("|") %}
        {% set authorNames = authorParts[0] %}
        {% set twitterCreator = authorParts[2] %}
        {% set webPage = authorParts[3] %}
        <address itemprop="author" property="author" class="p-author author h-card vcard">{% if webPage | length %}<a href="{{twitterCreator}}" class="fn">{{ authorNames }}</a>{% elseif twitterCreator | length %}<a href="http://twitter.com/{{twitterCreator}}" class="fn">{{ authorNames }}</a>{% else %}<span class="fn">{{ authorNames }}</span>{% endif %}</address>
            {% if entry.type == "news" %}
                <span itemprop="publisher" property="publisher" itemscope itemtype="http://schema.org/Organization" typeof="Organization">
                    <meta itemprop="name" property="name" content="{{ authorNames }}"/>
                    {% include "_includes/article/_publisher-logo" %}
                </span>
            {% endif %}
        {% else %}
        <address itemprop="author" property="author" class="p-author author h-card vcard"><span class="fn">{{ entry.author.firstName }} {{ entry.author.lastName }}</span></address>
            {% if entry.type == "news" %}
                <span itemprop="publisher" property="publisher" itemscope itemtype="http://schema.org/Organization" typeof="Organization">
                    <meta itemprop="name" property="name" content="{{ siteName }}"/>
                    {% include "_includes/article/_publisher-logo" %}
                </span>
            {% endif %}
        {% endif %}
    </div>
</footer>