{% for block in entry.panels %}

    {% set bg = '' %}
    {% set bgImage = '' %}
    {% set image = '' %}

    {% switch block.type %}

        {% case "entryList" %}

            {% if block.bandStyle | length and block.bandStyle != "none" %}
                {% set bg = ' u-fill' ~ block.bandStyle %}
            {% endif %}

            <div class="c-Band-panel{{bg}}">
            <article>
                {% if block.sectionLink | length %}
                    {% if block.sectionTitle | length %}
                        <h2 class="c-Panel-title"><a href="{{ block.sectionLink }}">{{ block.sectionTitle }}</a></h2>
                    {% endif %}
                {% else %}
                    {% if block.sectionTitle | length %}
                        <h2 class="c-Panel-title">{{ block.sectionTitle }}</h2>
                    {% endif %}
                {% endif %}

                {% if craft.categories(block.location).ids()
                or craft.categories(block.ministry).ids()
                or craft.categories(block.organisation).ids()
                or craft.categories(block.property).ids()
                or craft.categories(block.productCategory).ids()
                or craft.categories(block.role).ids()
                or craft.categories(block.subject).ids() %}

                {% set relatedTo = [block.join] %}

                {% if block.location %}
                {% set locationIds = craft.categories(block.location).ids() %}
                {% for id in locationIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
                {% endif %}
                {% if block.ministry %}
                {% set ministryIds = craft.categories(block.ministry).ids() %}
                {% for id in ministryIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
                {% endif %}
                {% if block.organisation %}
                {% set organisationIds = craft.categories(block.organisation).ids() %}
                {% for id in organisationIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
                {% endif %}
                {% if block.property %}
                {% set propertyIds = craft.categories(block.property).ids() %}
                {% for id in propertyIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
                {% endif %}
                {% if block.productCategory %}
                {% set productIds = craft.categories(block.productCategory).ids() %}
                {% for id in productIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
                {% endif %}
                {% if block.role %}
                {% set roleIds = craft.categories(block.role).ids() %}
                {% for id in roleIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
                {% endif %}
                {% if block.subject %}
                {% set subjectIds = craft.categories(block.subject).ids() %}
                {% for id in subjectIds %}
                {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
                {% endif %}

                {% set entries = craft.entries.section(block.entryTypes).relatedTo(relatedTo).limit(block.limit).id('not ' ~ entry.id).order(block.order) %}

                {% else %}
                {% set entries = craft.entries.section(block.entryTypes).limit(block.limit).id('not ' ~ entry.id).order(block.order) %}
                {% endif %}

                {% set noPages = entries|length %}
                <div class="-pa">
                    <div class="c-Panel-indexHalf">
                        <ul class="c-preview-list">
                            {% for entry in entries %}
                            <li>
                                {% include "_includes/support/items/_preview" %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </article>
            </div>

        {% case "generalContent" %}

            {% if block.image | length %}
            {% set image = block.image.first() %}
            {% endif %}

            {% if block.bandStyle | length and block.bandStyle != "none" %}
                {% set bg = ' u-fill' ~ block.bandStyle %}
            {% endif %}
            {% if block.panelOptions.contains("imageFill") %}
                {% if block.image | length %}
                    {% set bgImage %} style="background-image:url({{ image.getUrl('articleSquare') }})"{% endset %}
                {% endif %}
            {% endif %}

            <div class="c-Band-panel{{bg}}"{{ bgImage }}>
            <article>
                {% if block.icon | length %}
                    {% set icon = block.icon.first() %}
                    <div class="c-Panel-icon"><img src="{{ icon.getUrl() }}" alt="{{ icon.title }}"></div>
                {% endif %}
                {% if block.sectionLink | length %}
                    {% if block.sectionTitle | length %}
                        <h2 class="c-Panel-title"><a href="{{ block.sectionLink }}">{{ block.sectionTitle }}</a></h2>
                    {% endif %}
                {% else %}
                    {% if block.sectionTitle | length %}
                        <h2 class="c-Panel-title">{{ block.sectionTitle }}</h2>
                    {% endif %}
                {% endif %}

                {% if block.panelOptions.contains("imageFill") %}
                {% elseif block.image | length %}
                <figure class="c-Panel-asset" itemscope itemtype="http://schema.org/ImageObject">
                {% if block.sectionLink | length %}
                    <a href="{{ block.sectionLink }}"><img itemprop="contentUrl" src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x" alt="{{ image.title }}"></a>
                {% else %}
                    <img itemprop="contentUrl" src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x" alt="{{ image.title }}">
                {% endif %}
                </figure>
                {% endif %}

                {% if block.embed | length %}
                    {% if block.embedType == 'video' %}
                        {% set video = craft.embedder.url(block.embed) %}
                        <meta itemprop="associatedMedia" property="associatedMedia" content="{{ block.embed | raw }}">
                        <meta itemprop="video" property="video" content="{{ block.embed | raw }}">
                        <div class="c-EmbedBox c-EmbedBox--video">{{ video.embed_code }}</div>
                    {% elseif block.embedType == 'iframe' %}
                        <div class="c-EmbedBox c-EmbedBox--iframe">{{ block.embed | raw }}</div>
                    {% else %}
                        <div class="c-EmbedBox -pa2">{{ block.embed | raw }}</div>
                    {% endif %}
                {% endif %}

                {% if block.body | length %}
                <div class="c-Panel-body c-Article-doc">{{ block.body | smartypants }}</div>
                {% endif %}
            </article>
            </div>

        {% case "tabularContent" %}

            {% if block.bandStyle | length and block.bandStyle != "none" %}
                {% set bg = ' u-fill' ~ block.bandStyle %}
            {% endif %}

            <div class="c-Band-panel{{bg}}">
            <article>
                {% if block.sectionLink | length %}
                    {% if block.sectionTitle | length %}
                        <h2 class="c-Panel-title"><a href="{{ block.sectionLink }}">{{ block.sectionTitle }}</a></h2>
                    {% endif %}
                {% else %}
                    {% if block.sectionTitle | length %}
                        <h2 class="c-Panel-title">{{ block.sectionTitle }}</h2>
                    {% endif %}
                {% endif %}

                {% if block.image | length %}
                {% set image = block.image.first() %}
                <figure class="c-Article-asset" itemscope itemtype="http://schema.org/ImageObject">
                    {% if block.sectionLink | length %}
                    <a href="{{ block.sectionLink }}"><img itemprop="contentUrl" src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x" alt="{{ image.title }}"></a>
                    {% else %}
                    <img itemprop="contentUrl" src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x" alt="{{ image.title }}">
                    {% endif %}
                </figure>
                {% endif %}
                <div class="c-Panel-body">
                <table class="Table--lined">
                    {% for row in block.table %}
                    <tr>
                        <td class="-fs2">{{ row.firstColumn }}</td>
                        {% if row.secondColumn | length %}
                            <td class="-fade lose-medium">{{ row.secondColumn }}</td>
                        {% else %}
                            <td class="lose-medium">&nbsp;</td>
                        {% endif %}
                        {% if row.lastColumn | length %}
                            <td class="+numeric -fs2 lose-small">{{ row.lastColumn }}</td>
                        {% else %}
                            <td class="lose-small">&nbsp;</td>
                        {% endif %}
                        {% if row.yes | length %}
                        <td class="+tight -fs2"><span class="icon -c-pos">✓</span></td>
                        {% endif %}
                        {% if row.no | length %}
                        <td class="+tight -fs2"><span class="icon -c-neg">␡</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                </div>

            </article>
            </div>

        {% case "htmlInsertContent" %}

            {% if block.bandStyle | length and block.bandStyle != "none" %}
                {% set bg = ' u-fill' ~ block.bandStyle %}
            {% endif %}

            <div class="c-Band-panel{{bg}}">
                {% if block.sectionLink | length %}
                    {% if block.sectionTitle | length %}
                        <h2 class="c-Panel-title"><a href="{{ block.sectionLink }}">{{ block.sectionTitle }}</a></h2>
                    {% endif %}
                {% else %}
                    {% if block.sectionTitle | length %}
                        <h2 class="c-Panel-title">{{ block.sectionTitle }}</h2>
                    {% endif %}
                {% endif %}

                    {% if block.htmlInsert | length %}
                        {% set htmlInsert = "_includes/insert/_" ~ block.htmlInsert.value %}
                        <div class="c-Panel-body">{% include htmlInsert %}</div>
                    {% endif %}

            </div>


    {% endswitch %}

{% endfor %}