<footer>
        <meta itemprop="dateCreated" property="dateCreated" content="{{ entry.dateCreated.format('c') }}" />
        <meta itemprop="datePublished" property="datePublished" content="{{ entry.postDate.format('c') }}" />
        <meta itemprop="dateModified" property="dateModified" content="{{ entry.dateUpdated.format('c') }}" />
        <abbr class="published dt-published" title="{{ entry.postDate.format('c') }}"></abbr>
        <abbr class="updated dt-updated" title="{{ entry.dateUpdated.format('c') }}"></abbr>
        {% if entry.authors | length %}
        {% set authorParts = entry.authors | split("|") %}
        {% set authorNames = authorParts[0] %}
        {% set twitterCreator = authorParts[2] %}
        {% set webPage = authorParts[3] %}
        <span itemprop="author" property="author" class="p-author author h-card vcard">
            {% if webPage | length %}
            <abbr href="{{twitterCreator}}" class="fn" title="{{ authorNames }}"></abbr>
            {% elseif twitterCreator | length %}
            <abbr href="http://twitter.com/{{twitterCreator}}" class="fn" title="{{ authorNames }}"></abbr>
            {% else %}
            <abbr class="fn" title="{{ authorNames }}"></abbr>
            {% endif %}
        </span>
        {% else %}
        <span class="p-author author h-card vcard"><abbr class="fn name" title="{{ entry.author.firstName }} {{ entry.author.lastName }}"></abbr></span>
        <meta itemprop="author" property="author" content="{{ entry.author.firstName }} {{ entry.author.lastName }}"/>
        {% endif %}

</footer>