{% set publishedDateText %}{{ entry.postDate.format('j F Y') }}{% endset %}
{% set updatedDateText %}{{ entry.dateUpdated.format('j F Y') }}{% endset %}
<footer>
    <div class="c-Article-footer">
        <meta itemprop="dateCreated" property="dateCreated" content="{{ entry.dateCreated.format('c') }}"/>
        <p>
            <time itemprop="datePublished" property="datePublished" datetime="{{ entry.postDate.format('c') }}"><abbr class="published dt-published" title="{{ entry.postDate.format('c') }}"></abbr>{{ publishedDateText }}</time>
            <time itemprop="dateModified" property="dateModified" datetime="{{ entry.dateUpdated.format('c') }}"><abbr class="updated dt-updated" title="{{ entry.dateUpdated.format('c') }}"></abbr>{% if entry.dateUpdated.format('j F Y') != entry.postDate.format('j F Y') %} &ndash; Updated {{ updatedDateText }}{% endif %}</time>
        </p>
        {% if entry.authors | length %}
            {% set authorParts = entry.authors | split("|") %}
            {% set authorNames = authorParts[0] %}
            {% set twitterCreator = authorParts[2] %}
            {% set webPage = authorParts[3] %}
            <span itemprop="author" property="author" class="p-author author h-card vcard">
                {% if webPage | length %}
                    <abbr href="{{ twitterCreator }}" class="fn" title="{{ authorNames }}"></abbr>
                {% elseif twitterCreator | length %}
                    <abbr href="http://twitter.com/{{ twitterCreator }}" class="fn" title="{{ authorNames }}"></abbr>
                {% else %}
                    <abbr class="fn" title="{{ authorNames }}"></abbr>
                {% endif %}
            </span>
            {% if entry.type == "news" %}
                <span itemprop="publisher" property="publisher" itemscope itemtype="http://schema.org/Organization" typeof="Organization">
                    <meta itemprop="name" property="name" content="{{ authorNames }}"/>
                    {% include "_includes/article/_publisher-logo" %}
                </span>
            {% endif %}
        {% else %}
            <meta itemprop="author" property="author"
                  content="{{ entry.author.firstName }} {{ entry.author.lastName }}"/>
            <span class="p-author author h-card vcard"><abbr class="fn name" title="{{ siteName }}"></abbr></span>
            {% if entry.type == "news" %}
                <span itemprop="publisher" property="publisher" itemscope itemtype="http://schema.org/Organization" typeof="Organization">
                    <meta itemprop="name" property="name" content="{{ siteName }}"/>
                    {% include "_includes/article/_publisher-logo" %}
               </span>
            {% endif %}
        {% endif %}
    </div>
</footer>