{% set theme = "" %}
{% set teaserClass = "" %}
{% set gutterClass = "" %}

{% if block.theme | length %}
    {% set theme = "?thm=" ~ block.theme %}
{% endif %}

{% if block.bandStyle | length and block.bandStyle != "none" %}
    {% set bg = ' u-fill' ~ block.bandStyle %}
{% endif %}
{% set noPages = entries|length %}

{% if block.listStyle == "cards-stacked" %}
    {% set listClass = "c-TeaserItems--cards-stacked" %}
    {% set imageShape = "dbl" %}
{% elseif block.listStyle == "cards-list" %}
    {% set listClass = "c-TeaserItems--cards" %}
    {% set teaserWidth = " +dbl" %}
{% endif %}

{% if block.listStyle == "article-list" %}
    {% set panelWidth = 'c-Panel-indexHalf' %}
{% elseif block.bandOptions.contains("indexWidth") %}
    {% set panelWidth = 'c-Panel-index' %}
{% elseif block.listStyle == "teaser-list" or block.listStyle == "roundel-list" or block.listStyle == "cards-list" or block.listStyle == "cards-stacked" %}
    {% set panelWidth = 'c-Panel-indexDouble' %}
{% else %}
    {% set panelWidth = 'c-Panel-index' %}
{% endif %}

{% if block.listStyle == "grid-list" %}
    {% set bandClass = "c-Grid-panel js-anim" %}
    {% set panelWidth = 'c-Panel-fill' %}
{% else %}
    {% set bandClass = "c-Band-panel js-anim" %}
{% endif %}

{% if block.teaserVar.contains("greyscale") and block.listStyle == "emblem-list" %}
    {% set teaserVarClass = ' c-EmblemItem--gs' %}
{% elseif block.teaserVar.contains("greyscale")  %}
    {% set teaserVarClass = ' +grey' %}
{% endif %}
{% if block.teaserVar.contains("withGutter") %}
    {% set gutterClass = " with-gutters" %}
{% endif %}


{% set thumb = 'yes' %}
{% if block.teaserVar.contains("noThumb") %}
    {% set thumb = 'no' %}
{% endif %}

{% if block.listStyle != "article-full" %}
    {% set printClass = ' -noprint' %}
{% endif %}


{% if block.sectionTitle | length %}
    {% set sectionIdNo = block.sectionTitle|lower|replace(' ', '-') %}
    {% set sectionId %} id="{{ sectionIdNo }}" {% endset %}
{% else %}
    {% set sectionIdNo = "i" ~ block.id %}
    {% set sectionId %} id="{{ sectionIdNo }}"{% endset %}
{% endif %}

{% if block.image | length %}
    {% set posterClass = " c-Poster" %}
    {% set bgImage = block.image.first %}
    {% if block.bandOptions.contains('posterFixed') %}
        {% set posterFixed = ';background-attachment:fixed;' %}
    {% endif %}
    {% set bandCss %}
        <style>.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterDesktop') }}")}@media only screen and (-webkit-min-device-pixel-ratio:1.3),only screen and (min--moz-device-pixel-ratio:1.3),only screen and (-o-min-device-pixel-ratio:1.3/1),only screen and (min-resolution:124.8dpi),only screen and (min-resolution:1.3dppx){.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterDesktop2x') }}")}}@media only screen and (max-width:30em){.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterMobile') }}")}}@media only screen and (max-width:30em) and (-webkit-min-device-pixel-ratio:1.3),only screen and (max-width:30em) and (min--moz-device-pixel-ratio:1.3),only screen and (max-width:30em) and (-o-min-device-pixel-ratio:1.3/1),only screen and (max-width:30em) and (min-resolution:124.8dpi),only screen and (max-width:30em) and (min-resolution:1.3dppx){.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterMobile2x') }}")}}@media only screen and (min-width:80em){.c-Poster#{{ sectionIdNo }}{background-image:url("{{ bgImage.getUrl('posterDesktop2x') }}"){{ posterFixed }}}}</style>
    {% endset %}
{% endif %}

{% if entries | length %}
{{ bandCss }}
<div class="di-band c-Band {{ bg }}{{ posterClass }}{{ printClass }}"{{ sectionId }}>
    <section>
    <div class="{{ bandClass }}">
        <div class="{{panelWidth}}">
        {% if block.sectionTitle | length %}
            <header>
                <div class="c-Panel-header">
                    {% if block.sectionLink.first() | length %}
                    {% set sectionLink = block.sectionLink.first() %}
                    <h2><a href="{{ sectionLink.url }}">{{ block.sectionTitle | smartypants }}</a>&nbsp;<svg class="c-svgicon c-svgicon--navright"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navright"></use></svg></h2>
                    {% else %}
                    <h2>{{ block.sectionTitle | smartypants }}</h2>
                    {% endif %}
                </div>
            </header>
        {% endif %}
        {% if block.listStyle | length %}

            {% if block.listStyle == "article-full" %}

            <ul class="c-ArticleItems--full">
                {% for entry in entries %}
                <li>
                    {% include "_includes/support/items/_preview-full" %}
                </li>
                {% endfor %}
            </ul>

            {% elseif block.listStyle == "teaser-list" or block.listStyle == "grid-list" %}


                {% if perPage > 0 %}

                    {% paginate entries.limit(perPage) as entriesOnPage %}


                    <ul class="c-support-list +blocks c-teaser-list{{ gutterClass }}">
                        {% for entry in entriesOnPage %}
                        <li>
                            {% include "_includes/support/items/_tease" %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% include "_includes/insert/_pagination" %}

                {% else %}

                    <ul class="c-TeaserItems {{listClass}}{{ gutterClass }}">
                        {% for entry in entries %}
                            <li>
                                {% include "_includes/support/items/_tease" %}
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}


            {% elseif block.listStyle == "cards-list" or block.listStyle == "cards-stacked" %}



                {% if perPage > 0 %}

                    {% paginate entries.limit(perPage) as entriesOnPage %}


                    <ul class="c-TeaserItems {{listClass}}{{ gutterClass }}">
                        {% for entry in entriesOnPage %}
                            <li>
                                {% include "_includes/support/_card" %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% include "_includes/insert/_pagination" %}

                {% else %}

                    <ul class="c-TeaserItems {{listClass}}{{ gutterClass }}">
                        {% for entry in entries %}
                            <li>
                                {% include "_includes/support/_card" %}
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}


            {% elseif block.listStyle == "roundel-list" %}

            <ul class="c-Roundels">
                {% for entry in entries %}
                <li>
                    {% include "_includes/support/_roundel" %}
                </li>
                {% endfor %}
            </ul>

            {% elseif block.listStyle == "emblem-list" %}

            <ul class="c-EmblemItems">
                {% for entry in entries %}
                <li>
                    {% include "_includes/support/_emblem" %}
                </li>
                {% endfor %}
            </ul>

            {% elseif block.listStyle == "mini-list" %}

            <ul class="c-MiniItems">
                {% for entry in entries %}
                <li>
                    {% include "_includes/support/items/_anchor" %}
                </li>
                {% endfor %}
            </ul>

            {% elseif block.listStyle == "article-grid" %}

                {% if perPage > 0 %}

                    {% paginate entries.limit(perPage) as entriesOnPage %}

                    <ul class="c-ArticleItems--grid">
                        {% for entry in entriesOnPage %}
                            <li>
                                {% include "_includes/support/items/_preview" %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% include "_includes/insert/_pagination" %}

                {% else %}

                    <ul class="c-ArticleItems--grid">
                        {% for entry in entries %}
                            <li>
                                {% include "_includes/support/items/_preview" %}
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}

           {% else %}

                {% if perPage > 0 %}

                    {% paginate entries.limit(perPage) as entriesOnPage %}

                    <ul class="c-ArticleItems">
                        {% for entry in entriesOnPage %}
                            <li>
                                {% include "_includes/support/items/_preview" %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% include "_includes/insert/_pagination" %}

                {% else %}

                    <ul class="c-ArticleItems">
                        {% for entry in entries %}
                            <li>
                                {% include "_includes/support/items/_preview" %}
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}

            {% endif %}

        {% endif %}
        </div>
    </div>
    </section>
</div>
{% endif %}