
{% if entry.pageOptions.contains("poster") %}

    {% if entry.pageOptions.contains('hidePosterImage') %}
    {% else %}
        {% if entry.leadImage | length %}
            {% if entry.pageOptions.contains('altTitle') %}
                {% set altTitle = posterImage.title %}
            {% endif %}
            {% if entry.posterType == "panorama" %}
            {% else %}
                {% include "_includes/article/_article-poster" %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if entry.pageOptions.contains('tapeTitle') %}
        {% set tapeClass= ' c-Poster--tape-title' %}
    {% endif %}

    {% if entry.posterColor != "none" %}
        {%- import "_macros/_color-switch" as colorswitch -%}
        {% set bgClass = ' -fill' ~ colorswitch._colorswitch(entry.posterColor) %}
    {% else %}
        {% set bgClass = ' -fill1' %}
    {% endif %}

    {% set posterClass = ' c-Poster c-Poster--thin' %}

    {% if entry.posterHeight == 'posterHalf' %}
        {% set posterClass = ' c-Poster c-Poster--half' %}
    {% elseif entry.posterHeight == 'posterThird' %}
        {% set posterClass = ' c-Poster c-Poster--third' %}
    {% elseif entry.posterHeight == 'posterTwoThirds' %}
        {% set posterClass = ' c-Poster c-Poster--twoThirds' %}
    {% elseif entry.posterHeight == 'posterFill' %}
        {% set posterClass = ' c-Poster c-Poster--fill' %}
        {% if entry.pageOptions.contains("scrollSnap") %}
            {% set scrollTo %}
                <span class="c-article__scroll js-scroll" title="Scroll down for more"><svg class="c-svgicon c-svgicon--navdown"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navdown"></use></svg><span class="-hide">Scroll down for more</span></span>
            {% endset %}
        {% else %}
            {% set scrollTo %}
                <a id="article-content" href="#article-content" class="c-article__scroll js-scroll"><svg class="c-svgicon c-svgicon--navdown"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navdown"></use></svg><span class="-hide">Scroll down for more</span></a>
            {% endset %}
        {% endif %}
    {% endif %}

    {% if entry.pageOptions.contains("posterFixed") %}
        {% set attachmentClass = ' c-Poster--fixed' %}
    {% elseif entry.pageOptions.contains("posterParallax") %}
        {% set attachmentClass = ' c-Poster--parallax' %}
        {% set parallax %}
            var top_header = '';
            $(document).ready(function(){
                top_header = $('.c-Poster--parallax');
            });
            $(window).scroll(function () {
                var st = $(window).scrollTop();
                top_header.css({'background-position':"center "+(st*.5)+"px"});
            });
        {% endset %}
        {% includeJs parallax %}
    {% endif %}

    {% if entry.pageOptions.contains("posterFilter") %}
        {% if entry.posterFilter | length %}
            {% set posterFilter = entry.posterFilter | split("|") %}
            {% set filterClass = ' ' ~ posterFilter[0] %}
            {% set posterFilter = ' ' ~ filterClass ~ ' c-Poster--filter' %}
            {% if entry.leadVideo | length %}
                {% set videoFilter = ' u-Poster--video-filter' %}
            {% else %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if entry.pageOptions.contains("posterDim") %}
        {% set dimClass = ' c-Poster--dim' %}
    {% elseif entry.pageOptions.contains("posterTint") %}
        {% set dimClass = ' c-Poster--tint' %}
    {% endif %}

    {% if entry.posterType == "map" and entry.map | length %}
        {% set options = {
            id: 'map',
            width: '800px',
            height: '450px',
            mapTypeId: 'google.maps.MapTypeId.HYBRID',
            options: {
                maxZoom: 18
            }
        } %}


        <div class="o-band c-Band{{bgClass}} c-Band--map c-Poster is-header">
            <div class="c-Map-inner">
                {{ craft.googleMaps.map(options) }}
                {{ craft.googleMaps.data('map', entry.map, 10) }}
            </div>
            <div class="c-Map-static">
                {% for marker in entry.map.getMarkers() %}
                <a href="https://www.google.com/maps/place/{{ marker.address }}" target="_blank">{{ craft.googleMaps.staticMap(entry.map, {width: 800, height: 450}) }}</a>
                <a class="c-Map-static-link c-Map-static-link-a" href="http://maps.apple.com/?q={{ marker.address }}">Apple Maps</a>
                <a class="c-Map-static-link c-Map-static-link-b" href="https://www.google.com/maps/place/{{ marker.address }}">Google Maps</a>
                {% endfor %}
            </div>
        </div>

    {% elseif entry.posterType == "video" and entry.leadVideo | length %}
        {% set videoSrcs = entry.leadVideo | split("|") %}
        {% set videoSrc = videoSrcs[0] %}
        {% if videoSrc starts with "http" %}
            {% set video = craft.embedder.url(videoSrc) %}
            {% set embedCode %}<div class="c-EmbedBox c-EmbedBox--video">{{ video.embed_code }}</div>{% endset %}
            {% set posterClass = '' %}
        {% elseif videoSrc starts with "<iframe" %}
            {% set video = videoSrc %}
            {% set embedCode %}<div class="c-EmbedBox c-EmbedBox--iframe">{{ video | raw }}</div>{% endset %}
        {% else %}
            {% set video = videoSrc | raw %}
            {% set embedCode %}<div class="c-EmbedBox c-EmbedBox--iframe">{{ video | raw }}</div>{% endset %}
        {% endif %}
        <div class="o-band c-Band{{ bgClass }}{{ posterClass }} c-Band--video is-header">{{ embedCode }}</div>

    {% elseif entry.posterType == "panorama" %}
        {% includeJsFile "https://cdn.pannellum.org/2.2/pannellum.js" %}
        {% includeCssFile "https://cdn.pannellum.org/2.2/pannellum.css" %}
        {% if entry.leadVideo | length %}
            {% set posterImage = entry.leadVideo %}
        {% endif %}
        <div class="di-band c-Band{{ bandClass }}{{ posterClass }} c-Poster--panorama{{ bgClass }}{{ posterFilter }} is-header">
            <iframe width="600" height="400" allowfullscreen style="border-style:none;" src="https://cdn.pannellum.org/2.2/pannellum.htm?panorama={{ posterImage }}"></iframe>
        </div>

    {% elseif entry.posterType == "poster" or entry.posterType == "poster-title" or entry.posterType == "poster-emblem" %}

        {% if entry.leadVideo | length %}
            {% set videoPoster %}
            {% set videoSrcs = entry.leadVideo | split("|") %}
            {% if videoSrcs[0] starts with "[" and videoSrcs[0] ends with "]" %}
                {% set posterSrc = videoSrcs[0] | replace("[","") | replace("]","") %}
            {% else %}
                {% set posterSrc = posterImage.getUrl('posterDesktop') %}
            {% endif %}
            {% if entry.posterType == "poster" %}
                {% set controls = " controls" %}
            {% endif %}
            <div class="c-Poster-video-container{{ videoFilter }}">
                <video autoplay loop{{ controls }} poster="{{ posterSrc }}" webkit-playsinline playsinline ad-outlet="video">
                {% for videoSrc in videoSrcs %}
                    {% if videoSrc ends with "mp4" %}
                        {% set type = "mp4" %}
                        {% set codecs = "avc1.42E01E, mp4a.40.2" %}
                        {% set videoSrcPreload = videoSrc %}
                    {% elseif videoSrc ends with "webm" %}
                        {% set type = "webm" %}
                        {% set codecs = "vp8, vorbis" %}
                    {% elseif videoSrc ends with "m4v" %}
                        {% set type = "m4v" %}
                        {% set codecs = "m4v" %}
                        {% set videoSrcPreload = videoSrc %}
                    {% endif %}
                    {% if videoSrc starts with "[" and videoSrcs[0] ends with "]" %}
                    {% else %}
                        <source src="{{ videoSrc }}" type="video/{{ type }}" />
                    {% endif %}
                {% endfor %}
                Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
                {% if entry.posterType == "poster" and videoSrcPreload | length %}
                    <script>
                        var video = document.createElement('video');
                        video.setAttribute('webkit-playsinline', true); // must be set before src is set or it will be ignored
                        video.setAttribute('src', '{{ videoSrcMP4 }}');
                        document.body.appendChild(video); // append video to DOM

                        video.addEventListener('canplaythrough', function(){
                            video.play(); // wait until enough of the video has been downloaded to play it through without hiccups
                        }, false);

                        video.load();  // must be called after the canplaythrough event listener is set
                        video.play();  // required for pre-iOS 4.3 devices
                        video.pause(); // required for pre-iOS 4.3 devices
                    </script>
                {% endif %}
            </div>
            {% endset %}
            {% set videoClass = " c-Poster-video" %}
        {% endif %}

        {% if entry.posterType == "poster-title" %}
            {% if entry.pageOptions.contains("largeTitle") %}
                {% set titleClass = " c-Header--big" %}
            {% endif %}
            {% set bandClass = ' c-article__header' %}
            {% set articleHeader %}{% block articleHeader %}{% include "_includes/article/_article-header" %}{% endblock %}{% endset %}
            {% if entry.posterContent | length %}
            <div class="di-band c-Band{{bandClass}}{{posterClass}}{{videoClass}}{{attachmentClass}}{{dimClass}}{{imageClass}}{{bgClass}}{{ tapeClass }}{{posterFilter}} is-header">
                {{ videoPoster }}
                <div class="c-Band-panel c-article__header-inner{{ titleClass }}">
                    <header>
                    {{ articleHeader }}
                    </header>
                </div>
                <div class="c-Band-panel--ew">
                    <div class="c-article__content">
                        <div class="c-Article-main">{{ entry.posterContent }}</div>
                    </div>
                </div>
                {{ scrollTo }}
            </div>
            {% else %}
            <header>
            <div class="di-band c-Band{{bandClass}}{{posterClass}}{{videoClass}}{{attachmentClass}}{{dimClass}}{{imageClass}}{{bgClass}}{{ tapeClass }}{{posterFilter}} is-header has-title-only">
                {{ videoPoster }}
                <div class="c-Band-panel c-article__header-inner{{ titleClass }}">
                    {{ articleHeader }}
                </div>
                {{ scrollTo }}
            </div>
            </header>
            {% endif %}

        {% elseif entry.posterType == "poster-emblem" %}

            <div class="di-band c-Band{{ bandClass }}{{ posterClass }}{{ videoClass }}{{ attachmentClass }}{{ dimClass }}{{ imageClass }}{{ bgClass }}{{ posterFilter }} is-header">
                {{ videoPoster }}
                {% include "_includes/article/_article-emblem" %}
                {% if entry.heading | length %}
                    {% set posterHeading = entry.heading %}
                    {% set posterHeading = posterHeading | split('|') %}
                    {% if posterHeading | length > 1 %}
                        {% set posterHeadingText = posterHeading[0] %}
                        {% set posterHeadingStyle = posterHeading[1] %}
                        {% if posterHeadingStyle | length %}
                            {% set posterHeadingStyle = posterHeadingStyle %}
                            {% set posterHeading %}
                            <span style="{{posterHeadingStyle}}" itemprop="name" property="name">{{ posterHeadingText }}</span>
                            {% endset %}
                        {% endif %}
                    {% else %}
                    {% set posterHeading %}{{ entry.heading }}{% endset %}
                    {% endif %}
                    <h1 class="c-Poster-subTitle">{{ posterHeading }}</h1>
                {% endif %}
                {{ scrollTo }}
            </div>

        {% else %}

            <div class="di-band c-Band{{ bandClass }}{{ posterClass }}{{ videoClass }}{{ attachmentClass }}{{ dimClass }}{{ imageClass }}{{ bgClass }}{{ posterFilter }} is-empty is-header">
                {{ videoPoster }}
                {{ scrollTo }}
            </div>

        {% endif %}

    {% elseif entry.posterType == "lead-image" %}

        {% set leadImage = entry.leadImage.first() %}

        {% set imgSrcMob = leadImage.getUrl('articleSquareMobile') %}
        {% set imgSrcMobSize = leadImage.getWidth('articleMobile') ~ 'w' %}
        {% set imgSrc = leadImage.getUrl('article') %}
        {% set imgSrcSize = leadImage.getWidth('article') ~ 'w' %}
        {% set imgSrcWidth = leadImage.getWidth('article2x') %}
        {% set imgSrcHeight = leadImage.getHeight('article2x') %}
        {% set imgSrc2x = leadImage.getUrl('article2x') %}
        {% set imgSrc2xSize = leadImage.getWidth('article2x') ~ 'w' %}

        <div class="di-band c-Band{{bgClass}} c-Band--lead">
            <img src="{{ leadImage.getUrl('article') }}" width="{{ imgSrcWidth }}" height="{{ imgSrcHeight }}"  srcset="{{ imgSrc2x }} {{ imgSrc2xSize }}, {{ imgSrc }} {{ imgSrcSize }}, {{ imgSrcMob }} {{ imgSrcMobSize }}" sizes="100vw" alt="{{ leadImage.title }}" title="{{ leadImage.title }}">
        </div>

    {% elseif entry.posterType == "round-image" %}


        {% set leadImage = entry.leadImage.first() %}

        {% set imgSrcMob = leadImage.getUrl('articleSquareMobile') %}
        {% set imgSrcMobSize = leadImage.getWidth('articleSquareMobile') ~ 'w' %}
        {% set imgSrc = leadImage.getUrl('articleSquare') %}
        {% set imgSrcSize = leadImage.getWidth('articleSquare') ~ 'w' %}
        {% set imgSrcWidth = leadImage.getWidth('articleSquare2x') %}
        {% set imgSrcHeight = leadImage.getHeight('articleSquare2x') %}
        {% set imgSrc2x = leadImage.getUrl('articleSquare2x') %}
        {% set imgSrc2xSize = leadImage.getWidth('articleSquare2x') ~ 'w' %}

        <div class="di-band c-Band{{bgClass}} c-Band--round">
            <img src="{{ leadImage.getUrl('articleSquare') }}" width="{{ imgSrcWidth }}" height="{{ imgSrcHeight }}"  srcset="{{ imgSrc2x }} {{ imgSrc2xSize }}, {{ imgSrc }} {{ imgSrcSize }}, {{ imgSrcMob }} {{ imgSrcMobSize }}" sizes="100vw" alt="{{ leadImage.title }}" title="{{ leadImage.title }}">
        </div>

    {% else %}

        <div class="di-band c-Band{{bandClass}}{{posterClass}}{{attachmentClass}}{{imageClass}}{{bgClass}}{{posterFilter}} is-header">
            {{ scrollTo }}
        </div>

    {% endif %}

{% endif %}