{%- set startDate = entry.startDate.format('ymd') -%}
{%- set endDate = entry.endDate.format('ymd') -%}
{%- if entry.allDay | length -%}

    {%- if entry.endDate | length -%}
        {%- if endDate != startDate -%}
            {%- if entry.startDate.format('F Y') == entry.endDate.format('F Y') -%}
                {%- set startDateText = entry.startDate.format('j') -%}
            {%- elseif entry.startDate.format('Y') == entry.endDate.format('Y') -%}
                {%- set startDateText = entry.startDate.format('j F') -%}
            {%- else -%}
                {%- set startDateText = entry.startDate.format('j F Y') -%}
            {%- endif -%}
            {%- set endDateText = entry.endDate.format('j F Y') -%}

        {%- else -%}
            {%- set startDateText = entry.startDate.format('j F Y') -%}

        {%- endif -%}

        <time property="startDate" itemprop="startDate" content="{{ entry.startDate.format('c') }}" datetime="{{ entry.startDate.format('c') }}">{{ startDateText }}</time>
        {%- if entry.startDate.format('c') != entry.endDate.format('c') %} &ndash; <time datetime="{{ entry.endDate.format('c') }}">{{ endDateText }}</time>{%- endif -%}
    {%- else -%}

        {%- set startDateText = entry.startDate.format('j F Y') -%}

        <time property="startDate" itemprop="startDate" content="{{ entry.startDate.format('c') }}" datetime="{{ entry.startDate.format('c') }}">{{ startDateText }}</time>

    {%- endif -%}

{%- else -%}

    {%- set startAm = entry.startDate.format('a') -%}
    {%- set endAm = entry.endDate.format('a') -%}

    {%- if entry.endDate | length -%}
        {%- if endDate == startDate -%}
            {%- if startAm == endAm -%}
                {%- set startDateText = entry.startDate.format('j F Y, g.i')  -%}
                {%- set endDateText = entry.endDate.format('g.ia')  -%}
            {%- else -%}
                {%- set startDateText = entry.startDate.format('j F Y, g.ia')  -%}
                {%- set endDateText = entry.endDate.format('g.ia')  -%}
            {%- endif -%}

        {%- else -%}
            {%- if entry.startDate.format('Y') == entry.endDate.format('Y') -%}
                {%- set startDateText = entry.startDate.format('j F, g.i') -%}

            {%- else -%}
                {%- set startDateText = entry.startDate.format('j F Y, g.i') -%}

            {%- endif -%}

            {%- set endDateText = entry.endDate.format('j F Y, g.ia') -%}

        {%- endif -%}

        <time property="startDate" itemprop="startDate" content="{{ entry.startDate.format('c') }}" datetime="{{ entry.startDate.format('c') }}">{{ startDateText }}</time> &ndash;
        <time property="endDate" itemprop="endDate" content="{{ entry.endDate.format('c') }}" datetime="{{ entry.endDate.format('c') }}">{{ endDateText }}</time>

    {%- else -%}

        <time property="startDate" itemprop="startDate" content="{{ entry.startDate.format('c') }}" datetime="{{ entry.startDate.format('c') }}">{{ entry.startDate.format('j F Y, g.ia') }}</time>

    {%- endif -%}

{%- endif -%}