{% set startDate = entry.startDate.format('ymd') %}
{% set endDate = entry.endDate.format('ymd') %}

{% if entry.allDay | length %}

    {% set tomorrow = now|date_modify('+1 day') %}
    {% set tomorrow = tomorrow|date('j F Y') %}

    {% if endDate | length %}
        {% set endDate = entry.endDate|date_modify('+1 day') %}
    {% else %}
        {% set endDate = entry.startDate|date_modify('+1 day') %}
    {% endif %}
    {% set endDate = endDate.format('Y-M-D') ~  'T00:00:00+00:00'%}

    {% if endDate < now %}

        {% set dateText %}Finished {{ entry.endDate.format('jS F') }}{% endset %}

    {% elseif endDate > now and entry.startDate < now %}

        {% set dateText %}Occurring{% endset %}

    {% elseif entry.startDate.format('j F Y') == now.format('j F Y') %}

        {% set dateText %}Today{% endset %}

    {% elseif entry.startDate.format('j F Y') == tomorrow %}

        {% set dateText %}Tomorrow{% endset %}

    {% elseif entry.startDate.format('W Y') == now.format('W Y') %}

        {% set dateText %}{{ entry.startDate.format('l') }}{% endset %}

    {% elseif entry.startDate.format('F Y') == now.format('F Y') %}

        {% set dateText %}{{ entry.startDate.format('l jS') }}{% endset %}

    {% elseif entry.startDate.format('Y') == now.format('Y') %}

        {% set dateText %}{{ entry.startDate.format('jS F') }}{% endset %}

    {% else %}

        {% set dateText %}{{ entry.startDate.format('jS F Y') }}{% endset %}

    {% endif %}

    <time datetime="{{ entry.startDate.format('c') }}">{{ dateText }}</time>

{% else %}

    {% set tomorrow = now|date_modify('+1 day') %}
    {% set tomorrow = tomorrow|date('j F Y') %}

    {% if entry.endDate < now %}

        {% if entry.endDate.format('j F Y') == now.format('j F Y') %}
            {% set dateText %}Finished {{ entry.endDate.format('g.ia') }}{% endset %}
        {% else %}
            {% set dateText %}Finished {{ entry.endDate.format('jS F') }}{% endset %}
        {% endif %}

    {% elseif entry.endDate > now and entry.startDate < now %}

        {% if entry.startDate.format('j F Y') == now.format('j F Y') %}
            {% set dateText %}Started {{ entry.startDate.format('g.ia') }}{% endset %}
        {% elseif entry.startDate.format('W Y') == now.format('W Y') %}
            {% set dateText %}Started {{ entry.startDate.format('l') }}{% endset %}
        {% else %}
            {% set dateText %}Started {{ entry.startDate.format('jS F') }}{% endset %}
        {% endif %}

    {% elseif entry.startDate.format('j F Y') == now.format('j F Y') %}

        {% set dateText %}Today, {{ entry.startDate.format('g.ia') }}{% endset %}

    {% elseif entry.startDate.format('j F Y') == tomorrow %}

        {% set dateText %}Tomorrow, {{ entry.startDate.format('g.ia') }}{% endset %}

    {% elseif entry.startDate.format('W Y') == now.format('W Y') %}

        {% set dateText %}{{ entry.startDate.format('l g.ia') }}{% endset %}

    {% elseif entry.startDate.format('F Y') == now.format('F Y') %}

        {% set dateText %}{{ entry.startDate.format('l jS g.ia') }}{% endset %}

    {% elseif entry.startDate.format('Y') == now.format('Y') %}

        {% set dateText %}{{ entry.startDate.format('jS F g.ia') }}{% endset %}

    {% else %}

        {% set dateText %}{{ entry.startDate.format('jS F Y g.ia') }}{% endset %}

    {% endif %}

    <time datetime="{{ entry.startDate.format('c') }}">{{ dateText }}</time>
    <time datetime="{{ entry.endDate.format('c') }}"></time>

{% endif %}