// Article List

%article-list {
    ul, ol, dd {
        @include margin(n n n $unit*2);
    }
    ul, ol {
        li + li {
            @include margin($unit/2 n n n);
        }
    }
    ul {
        list-style: disc;
    }
    ol {
        list-style: decimal;
    }
    @include rtl {
        ul, ol, dd {
            @include margin(n $unit*2 n 0);
        }
    }
}

%article-list-lg {

}