// Articles
// ==========================================================================

$allTextEls : p, ol, ul, dl, table, code;

// Article content elements, eg. paragraphs, headings, tables etc

@mixin article-content($margin:"lower") {
    @if $articleMainLH != default {
        line-height: $articleMainLH;
    }
    @if $margin == "upper" {
        * + * {
            @include margin($unit n n n);
        }
    } @else {
        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
        h1, h2, h3 {
            @include margin(n n $articleHeadingSpacing n, false, $articleHeadingSpacingUnit);
        }
        p, ol, ul, dl,
        table, code, pre {
            @include margin(n n $articleMainSpacing n, false, $articleMainSpacingUnit);
        }
    }
    h1, h2, h3 {
        break-after: avoid;
    }
    ul, ol, dd {
        @include margin(n n n $unit*2);
    }
    ul, ol {
        li + li {
            @include margin($unit/2 n n n);
        }
    }
    ul {
        list-style: disc;
    }
    ol {
        list-style: decimal;
    }
    p {
        // Hyphens!
        @if $hyphenate == true {
            @include hyphenate(
                $hyphenateLimitChars,
                $hyphenateLimitLines,
                $hyphenateLimitLast,
                $hyphenateLimitZone,
                $hyphenPrefixes
            );
        }
    }
    @include rtl {
        ul, ol, dd {
            @include margin(n $unit*2 n 0);
        }
    }
}

%article-content {
    @include article-content;
}

// Large version
@mixin article-content-lg($margin:"lower") {
    @include screen-size(sw-mh) {
        font-size: $articleMainLgFontRatio * 1em;
    }
    @if $margin == "upper" {
        @include screen-size(sw-mh) {
            * + * {
                @include margin($unit*1.5 n n n);
            }
        }
    } @else {
        @include screen-size(lw) {
            :last-child {
                margin-bottom: 0;
            }
            p, ol, ul, dl,
            table, code {
                @if $articleMainSpacingLg != $articleMainSpacing {
                    @include margin(n n $articleMainSpacingLg n);
                }
            }
        }
    }
    @include screen-size(lw) {
        p, ol, ul, dl, code {
            line-height: 1.6;
        }
        ul, ol, dd {
            @include margin(n n n $unit*3);
        }
        ul, ol {
            li + li {
                @include margin($unit/1.5 n n n);
            }
        }
        @include rtl {
            ul, ol, dd {
                @include margin(n $unit*3 n 0);
            }
        }
    }
}

%article-content-lg {
    @include article-content-lg;
}

@mixin article-content-lgr {
    @if $articleMainLgrFontRatio != 1 {
        @include screen-size(xlw-mh) {
            font-size: $articleMainLgrFontRatio * 1em;
        }
    }
}

%article-content-lgr {
    @include article-content-lgr;
}

// Extra large version
@mixin article-content-xlg($elements: $allTextEls) {
    font-size: 1.2em;
    @include screen-size(mw-mh) {
        @include font-size(font-size(beta));
        #{$elements} {
            line-height: 1.5;
        }
    }
}

%article-content-xlg {
    @include article-content-xlg;
}


// Article main. Adds consistent padding

@mixin article-main {
    @include screen {
        @include padding($unit);
        @include screen-size(lw) {
            @include padding($unit*2);
        }
        @if $articleContentPadXMob != default {
            @include padding(n $articleContentPadXMob);
            @include screen-size(mw) {
                @include padding(n $unit);
            }
        }
    }
}

%article-main {
    @include article-main;
}