// Asset positioning
// ==========================================================================


@mixin asset-pos-inset-end {
	clear: right;
	@include rtl {
		clear: left;
	}
	@include screen-size(sw) {
		@include margin(n n n $unit*2, dir);
		float:right;
		overflow: visible;
		&:first-child {
			margin-top:0;
		}
		figcaption {
			text-align: start;
		}
	}
	@include screen-size(lw) {
		@include margin(n (-($block + $unit*2)) n $unit*2, dir);
	}
}

@mixin article-pos-inset-start {
	clear:$mainEnd;
	@include screen-size(mw) {
		@include margin(n $unit*2 n n, dir);
		float:left;
		&:first-child {
			margin-top:0;
		}
		@include rtl {
			float:right;
		}
		figcaption {
			text-align: end;
		}
	}
	body:not(.#{$classInsideNav}) & {
		@include screen-size(lw) {
			@include margin(n $unit*2 n (-($block + $unit*2)), dir);
		}
	}
	body.#{$classInsideNav} & {
		@include screen-size(xlw) {
			@include margin(n $unit*2 n (-($block + $unit*2)), dir);
		}
	}
}

@mixin article-pos-wide {
	@include screen-size(lw) {
		@include margin(n (-($block + $unit*2)));
	}
}

@mixin article-pos-outset {
	@include screen-size(lw) {
		@include margin(n (-($block + $unit*2)) n n, dir);
		clear:none;
	}
}
