@mixin caption {
    @if $captionOpacity != 1 {
        opacity: $captionOpacity;
    }
    @if $captionWeight != false {
        font-weight: $captionWeight;
    }
    @if $captionFontStyle != false {
        font-style: $captionFontStyle;
    }
    display:block;
}