// Flag
// ==========================================================================

// Flag container 

@mixin flag($include: extend) {
    display:table;
    width:100%;
}


// Flag image 

@mixin flag-image($include: extend) {
    display: table-cell;
    white-space: nowrap;
    width: 1px;
    img {
        max-width: none;
    }
}

// Flag body 

@mixin flag-body($include: extend) {
    @if $include != "extend" {
        display:table-cell;
    }
    @else {
        @extend %flag-body;
    }
}

%flag-body {
    @include flag-body(include);
}
