/* Big Header
   ========================================================================== */

@mixin big-header($size: 16, $small: epsilon, $medium: epsilon, $fallback: zeta, $lineheight: 1) {
    @include font-size(font-size($small));
    @include is-old-ie {
        @include font-size(font-size($fallback));
    }
    @if $medium != $small {
        @include screen-size(sw) {
            @include font-size(font-size($medium));
        }
    }
    @include screen-size(mw-mh) {
        font-size: #{$size}vw;
        line-height: $lineheight;
    }
}

@mixin section-header {
    @if $supportHColor != inherit {
        color: $supportHColor;
    }
    @if $supportHTitleSize != default {
        @include screen-size(mw-mh) {
            font-size: font-size($supportHTitleSize);
        }
    }
    @if $supportHFontFamily != inherit {
        font-family: $supportHFontFamily;
    }
    @if $supportHLineHeight != 1 {
        line-height: $supportHLineHeight;
    }
    @if $supportHTitlePadding != none {
        @include padding($supportHTitlePadding);
    }
    @if $supportHTitleDisplay != default {
        display: $supportHTitleDisplay;
    }
    @if $supportHTitleBorder != none {
        border-bottom: $supportHTitleBorder;
    }
}