/* Info box
   ========================================================================== */

@mixin info-box-sbs {
    dl {
        @include clear;
    }
    dt, dd {
        @include rem(margin-bottom, $unit/2);
        &:last-of-type {
            margin-bottom:0;
        }
    }
    dt {
        @include margin(n n n $unit/2, dir);
        float: right;
        margin-top:0;
        @include screen-size(sw) {
            @include margin(n n n 0, dir);
            float: left;
            text-align: end;
            clear:both;
            width:30%;
        }
    }
    dd {
        @include margin(n n n 0, dir);
        @include screen-size(sw) {
            clear: right;
            float: right;
            width:65%;
        }
        &.\+img {
            padding-top:0;
        }
    }
    @include rtl {
        dt {
            float: left;
            @include screen-size(sw) {
                float: right;
            }
        }
        dd {
            @include screen-size(sw) {
                clear: left;
                float: left;
            }
        }
    }
}
