{%- if type == "commas" -%}
    {%- if address.streetAddress | length -%}
        , {%- if hasMicrodata == "true" -%}<span property="streetAddress" itemprop="streetAddress">{%- endif -%}{{ address.streetAddress }}{%- if hasMicrodata == "true" -%}</span>{%- endif -%}
    {%- endif -%}
    {%- if address.locality | length -%}
        , {%- if hasMicrodata == "true" -%}<span property="addressLocality" itemprop="addressLocality">{%- endif -%}{{ address.locality }}{%- if hasMicrodata == "true" -%}</span>{%- endif -%}
    {%- endif -%}
    {%- if address.region | length -%}
        , {%- if hasMicrodata == "true" -%}<span property="addressRegion" itemprop="addressRegion">{%- endif -%}{{ address.region }}{%- if hasMicrodata == "true" -%}</span>{%- endif -%}
    {%- endif -%}
    {%- if address.postalCode | length -%}
        , {%- if hasMicrodata == "true" -%}<span property="postalCode" itemprop="postalCode">{%- endif -%}{{ address.postalCode }}{%- if hasMicrodata == "true" -%}</span>{%- endif -%}
    {%- endif -%}
    {%- if address.country | length -%}
        , {%- if hasMicrodata == "true" -%}<span property="addressCountry" itemprop="addressCountry">{%- endif -%}{{ address.country }}{%- if hasMicrodata == "true" -%}</span>{%- endif -%}
    {%- endif -%}
{%- else -%}
    {%- if address.streetAddress | length -%}
        {%- if hasMicrodata == "true" -%}<span property="streetAddress" itemprop="streetAddress">{%- endif -%}{{ address.streetAddress }}{%- if hasMicrodata == "true" -%}</span>{%- endif -%},
    {%- endif %}
    {% if address.locality | length and type != "short" -%}
        <span class="c-address__part"{%- if hasMicrodata == "true" -%} property="addressLocality" itemprop="addressLocality"{%- endif -%}>{{ address.locality }}</span>
    {%- endif %}
    {% if address.region | length and type != "short" -%}
        {%- if type == 'bareBones' %}<br>{% endif %}<span class="c-address__part"{%- if hasMicrodata == "true" -%} property="addressRegion" itemprop="addressRegion"{%- endif -%}>{{ address.region }}</span>
    {%- endif %}
    {% if address.postalCode | length -%}
        <span class="c-address__part"{%- if hasMicrodata == "true" -%} property="postalCode" itemprop="postalCode"{%- endif -%}>{{ address.postalCode }}</span>
    {%- endif %}
    {% if address.country | length and type != "short" -%}
        {%- if type == 'bareBones' %}<br>{% endif %}<span class="c-address__part"{%- if hasMicrodata == "true" -%} property="addressCountry" itemprop="addressCountry"{%- endif -%}>{{ address.country }}</span>
    {%- endif -%}
{%- endif -%}