{%- if type == "commas" -%}
    {%- if row.streetAddress | length -%}
        , {{ row.streetAddress }}
    {%- endif -%}
    {%- if row.locality | length -%}
        , {{ row.locality }}
    {%- endif -%}
    {%- if row.region | length -%}
        , {{ row.region }}
    {%- endif -%}
    {%- if row.postCode | length -%}
        , {{ row.postCode }}
    {%- endif -%}
    {%- if row.country | length -%}
        , {{ row.country }}
    {%- endif -%}
{%- else -%}
    {%- if row.streetAddress | length -%}
        {{ row.streetAddress }},
    {%- endif -%}
    {%- if row.locality | length and type != "short" -%}
        <span class="c-address__part">{{ row.locality }}</span>
    {%- endif -%}
    {%- if row.region | length and type != "short" -%}
        {%- if type == 'bareBones' %}<br>{% endif %}<span class="c-address__part">{{ row.region }}</span>
    {%- endif -%}
    {%- if row.postCode | length -%}
        <span class="c-address__part">{{ row.postCode }}</span>
    {%- endif -%}
    {%- if row.country | length and type != "short" -%}
        {%- if type == 'bareBones' %}<br>{% endif %}<span class="c-address__part">{{ row.country }}</span>
    {%- endif -%}
{%- endif -%}