{% for block in entry.body %}

{% switch block.type %}

        {% case "heading" %}

            <{{ block.headingType }}>{{ block.heading }}</{{ block.headingType }}>

        {% case "text" %}
            {{ block.text }}

        {% case "image" %}

            <figure>
                {% set assets = block.image %}
                {% for asset in assets %}
                <img src="{{ asset.getUrl('article') }}" alt="{{ asset.title }}">
                {% endfor %}
                {% if block.imageCaption %}
                <figcaption>{{ block.imageCaption }}</figcaption>
                {% endif %}
            </figure>

        {% case "ibox" %}

        {% case "quote" %}

            <blockquote>
                {{ block.quote }}
                <cite>
                    {{ block.cite }}
                </cite>
            </blockquote>

        {% case "embed" %}

            <figure>
                {% if block.embed starts with "https://www.youtube"
                or block.embed starts with "http://youtube"
                or block.embed starts with "http://vimeo"
                or block.embedType == 'youtubeVideo'
                or block.embedType == 'vimeoVideo'
                or block.embedType == 'video' %}
                {% set video = craft.embedder.url(block.embed) %}
                {{ video.embed_code }}
                {% else %}
                {{ block.embed | raw }}
                {% endif %}
                {% if block.assetCaption %}
                <figcaption>{{ block.assetCaption }}</figcaption>
                {% endif %}
            </figure>

        {% case "map" %}

        {% case "entry" %}

        {% case "externalLink" %}

        {% case "table" %}

            <table>
              <thead>
                <tr>
                {% for col in block.table.columns %}
                  <th>{{ col.heading }}</th>
                {% endfor %}
                </tr>
              </thead>

              <tbody>
                {% for row in block.table.rows %}
                <tr>
                {% for cell in row %}
                    {% if cell starts with "http" %}
                    <td><a href="{{ cell }}" target="_blank">Link</a></td>
                    {% else %}
                    <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
              {% endfor %}
              </tbody>

            </table>

    {% endswitch %}

{% endfor %}