{% for block in entry.body %}

{% switch block.type %}

        {% case "heading" %}

        {% set headingType = block.headingType %}
        {% if headingType == 'h3' or headingType == 'h4' or headingType == 'h5' %}
        {% set headingType = 'h2' %}
        {% endif %}

            <{{ headingType }}>{{ block.heading }}</{{ headingType }}>

        {% case "text" %}
            {{ block.text }}

        {% case "image" %}

            <figure>
                {% set assets = block.image %}
                {% for asset in assets %}
                <img src="{{ asset.getUrl('article') }}" alt="{{ asset.title }}">
                {% endfor %}
                {% if block.imageCaption %}
                <figcaption>{{ block.imageCaption }}</figcaption>
                {% endif %}
            </figure>

        {% case "ibox" %}

        {% case "quote" %}

            <blockquote>
                {{ block.quote }}
                {% if block.cite | length %}
                <footer>
                    — {{ block.cite }}
                </footer>
                {% endif %}
            </blockquote>

        {% case "embed" %}

            <figure class="op-interactive">
                {% if block.embedAsset | length %}
                    {%- for asset in block.embedAsset -%}
                    {%- set embed = craft.embeddedAssets.fromAsset(asset) -%}
                    {%- if embed -%}
                    {{ embed.safeHtml|raw }}
                    {%- endif -%}
                    {%- endfor -%}
                {% elseif block.embed starts with "<iframe" %}
                    {{ block.embed | replace('iframe width="100%"', 'iframe width="560"') | raw }}
                {% else %}
                    <a href="{{ entry.url }}}">Visit the site to view this</a>
                {% endif %}
                {% if block.assetCaption %}
                    <figcaption>{{ block.assetCaption }}</figcaption>
                {% endif %}
            </figure>

        {% case "map" %}

        {% case "entry" %}

        {% case "externalLink" %}

        {% case "table" %}

            <table>
              <thead>
                <tr>
                {% for col in block.table.columns %}
                  <th>{{ col.heading }}</th>
                {% endfor %}
                </tr>
              </thead>

              <tbody>
                {% for row in block.table.rows %}
                <tr>
                {% for cell in row %}
                    {% if cell starts with "http" %}
                    <td><a href="{{ cell }}" target="_blank">Link</a></td>
                    {% else %}
                    <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
              {% endfor %}
              </tbody>

            </table>

    {% endswitch %}

{% endfor %}