{% for block in entry.body %}

{% switch block.type %}

        {% case "heading" %}

            <div class="Band Heading"><{{ block.headingType }}>{{ block.heading }}</{{ block.headingType }}></div>

        {% case "text" %}
            {% set bandClass = '' %}
            {% if block.style.contains('largeText') %}
            {% set bandClass = ' Intro' %}
            {% endif %}
            <div class="Band{{ bandClass }}">{{ block.text }}</div>

        {% case "image" %}
			{% if block.image | length %}

            <figure>

                {% if block.display == 'slides' or block.display == 'grid' %}
                    {% set sliderClass = ' c-Slides c-Slides' ~ noImages %}
                    <amp-carousel width="400" height="225" layout="responsive" type="slides">
                    {% set assets = block.image %}
                    {% for asset in assets %}
                        {% set assetSrc = asset.getUrl('articleSlide') %}
                        {% set assetSrcWidth = asset.getWidth('articleSlide') %}
                        {% set assetSrcHeight = asset.getHeight('articleSlide') %}

                         <amp-img src="{{ assetSrc }}"
                        alt="{{ asset.title }}"
                        width="{{ assetSrcWidth }}"
                        height="{{ assetSrcHeight }}"
                        layout="responsive"></amp-img>

                    {% endfor %}
                    </amp-carousel>
                {% else %}
                    {% set firstImage = block.image.first() %}
                    {% set imgSrcMob = firstImage.getUrl('articleMobile') %}
                    {% set imgSrcMobSize = firstImage.getWidth('articleMobile') ~ 'w' %}
                    {% set imgSrc = firstImage.getUrl('article') %}
                    {% set imgSrcSize = firstImage.getWidth('article') ~ 'w' %}
                    {% set imgSrcWidth = firstImage.getWidth('article') %}
                    {% set imgSrcHeight = firstImage.getHeight('article') %}
                    {% set imgSrc2x = firstImage.getUrl('article2x') %}
                    {% set imgSrc2xSize = firstImage.getWidth('article2x') ~ 'w' %}
                    <amp-img src="{{ imgSrc }}"
                        srcset="{{ imgSrcMob }} {{ imgSrcMobSize }},
                        {{ imgSrc }} {{ imgSrcSize }},
                        {{ imgSrc2x }} {{ imgSrc2xSize }}"
                        alt="{{ firstImage.title }}"
                        width="{{ imgSrcWidth }}"
                        height="{{ imgSrcHeight }}"
                        layout="responsive"></amp-img>
                {% endif %}
                {% if block.imageCaption %}
                <figcaption>{{ block.imageCaption }}</figcaption>
                {% endif %}
            </figure>
			{% endif %}

        {% case "ibox" %}

        {% case "quote" %}

            <blockquote>
                {{ block.quote }}
                <cite>
                    {{ block.cite }}
                </cite>
            </blockquote>

        {% case "embed" %}

            <figure>
                {% if block.embedType == "video" %}
                    {% if block.embedUrl starts with "https://www.youtube" %}
                    {% set video_id = block.embed | replace("https://www.youtube.com/watch?v=", "")%}
                    {% set video_id = video_id | split("&") %}
                    {% set video_id = video_id[0] %}
                    <amp-youtube width="480" height="270" layout="responsive" data-videoid="{{ video_id }}"></amp-youtube>
                    {% elseif block.embedUrl starts with "https://www.vimeo" %}
                    {% set video_id = block.embed | replace("http://vimeo.com/", "")%}
                    <amp-vimeo width="16" height="9" layout="responsive" data-videoid="{{ video_id }}"></amp-vimeo>
                    {% endif %}
                {% elseif block.embedType == "youtubeVideo" %}
                    {% if block.embedAsset | length %}
                        {%- for asset in block.embedAsset -%}
                            {%- set embed = craft.embeddedAssets.fromAsset(asset) -%}
                            {%- set video_id = embed.requestUrl | replace("https://www.youtube.com/watch?v=", "") -%}
                            <amp-youtube width="480" height="270" layout="responsive" data-videoid="{{ video_id }}"></amp-youtube>
                        {%- endfor -%}
                    {% else %}
                    {% set video_id = block.embedUrl | replace("https://www.youtube.com/watch?v=", "")%}
                        <amp-youtube width="480" height="270" layout="responsive" data-videoid="{{ video_id }}"></amp-youtube>
                    {% endif %}
                {% elseif block.embedType == "vimeoVideo" %}
                    {% set video_id = block.embedUrl | replace("http://vimeo.com/", "")%}
                    <amp-vimeo width="16" height="9" layout="responsive" data-videoid="{{ video_id }}"></amp-vimeo>
                {% elseif block.embedType == "facebookVideo" %}
                    <amp-facebook width="552" height="310" layout="responsive" data-embed-as="video" data-href="{{ block.embedUrl }}"></amp-facebook>
                {% elseif block.embedType == "facebookPost" %}
                    <amp-facebook width="552" height="303" layout="responsive" data-href="{{ block.embedUrl }}"></amp-facebook>
                {% elseif block.embedType == "instagram" %}
                    <amp-instagram width="1" height="1" layout="responsive" data-shortcode="{{ block.embedUrl }}"></amp-instagram>
                {% elseif block.embedType == "twitter" %}
                    <amp-twitter width="375" height="472" layout="responsive" data-tweetid="{{ block.embedUrl }}"></amp-twitter>
                {% elseif block.embedType == "iframe" %}
                    <amp-iframe width="500"
                      height="281"
                      layout="responsive"
                      sandbox="allow-scripts allow-same-origin allow-popups"
                      allowfullscreen
                      frameborder="0"
                      src="{{ block.embedUrl }}">
                    </amp-iframe>
                {% else %}
                {% endif %}
                {% if block.assetCaption | length %}
                    <figcaption>{{ block.assetCaption }}</figcaption>
                {% endif %}
            </figure>

        {% case "map" %}

        {% case "entry" %}

        {% case "externalLink" %}

        {% case "table" %}

            <table>
              <thead>
                <tr>
                {% for col in block.table.columns %}
                  <th>{{ col.heading }}</th>
                {% endfor %}
                </tr>
              </thead>

              <tbody>
                {% for row in block.table.rows %}
                <tr>
                {% for cell in row %}
                    {% if cell starts with "http" %}
                    <td><a href="{{ cell }}" target="_blank">Link</a></td>
                    {% else %}
                    <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
              {% endfor %}
              </tbody>

            </table>

    {% endswitch %}

{% endfor %}