{% if entry.leadImage | length %}
    {% set leadImage = entry.leadImage.first() %}
    {% set pinterestImage = "&media=" ~ leadImage.getUrl('article') %}
    {% set vkImage = "&image=" ~ leadImage.getUrl('article') %}
{% endif %}
{% if entry.brief | length %}
    {% set description = entry.brief | striptags %}
{% else %}
    {% set description = pageGlobals.siteDescription %}
{% endif %}
<div class="c-article__main c-article__bookmark -pa0">
    <div class="c-share c-share--bookmark -noprint" id="page-bookmark" title="{{ 'Bookmark this' | t }}">
        <a target="_blank" rel="noopener" href="http://www.instapaper.com/edit?url={{ url(craft.request.path) }}&title={{ title }}&description={{ description }}" aria-label="{{ 'Bookmark with' | t }} Instapaper" title="{{ 'Bookmark with' | t }} Instapaper" class="c-share__link instapaper">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--instapaper"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-instapaper"></use></svg>
        </a>
        <a target="_blank" rel="noopener" href="https://getpocket.com/edit?url={{ url(craft.request.path) }}" aria-label="{{ 'Bookmark with' | t }} Pocket" title="{{ 'Bookmark with' | t }} Pocket" class="c-share__link pocket">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--pocket"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-pocket"></use></svg>
        </a>
        {#<a target="_blank" rel="noopener" href="https://www.google.com/bookmarks/mark?op=edit&bkmk={{ url(craft.request.path) }}&title={{ title }}&annotation={{ description }}" aria-label="{{ 'Bookmark with' | t }} Google" title="{{ 'Bookmark with' | t }} Google" class="c-share__link google">#}
            {#<svg aria-hidden="true" class="c-svgicon c-svgicon--google"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-google"></use></svg>#}
        {#</a>#}
    </div>
</div>