<dialog id="di-modal" class="o-dialog c-modal +fixed">
    <div class="c-modal__inner">
        <div class="c-modal__header">
            <h1 class="c-modal__title">New Dialog Element</h1>
            <button class="c-modal__close" id="close">
                <svg class="c-modal__close-icon c-svgicon c-svgicon--close" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="c-modal__body">
            Hit the button below to OK.<br>
            Hit the close button or the surrounding area to Cancel.
        </div>
        <div class="c-modal__ctrls">
            <button class="c-modal__ctrl c-button +hover +pos" id="ok" autofocus>Accept</button>
            <button class="c-modal__ctrl c-button +text +hover" id="cancel">Ignore</button>
        </div>
    </div>
</dialog>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.9/dialog-polyfill.min.js"></script>
<script>
    var modal = document.getElementById('di-modal');
    var open = document.getElementById('open-modal');
    var close = document.getElementById('close');
    var ok = document.getElementById('ok');
    var cancel = document.getElementById('cancel');
    var returnSpan = document.getElementById('return-value');

    dialogPolyfill.registerDialog(modal);
    open.addEventListener('click', function () {
        modal.showModal();
        document.body.classList.add("-showdialog");
    });

    ok.addEventListener('click', function () {
        modal.close('OK');
        document.body.classList.remove("-showdialog");
    });

    cancel.addEventListener('click', function () {
        modal.close('cancelled');
        document.body.classList.remove("-showdialog");
    });

    close.addEventListener('click', function () {
        modal.close('cancelled');
        document.body.classList.remove("-showdialog");
    });

    modal.addEventListener('cancel', function () {
        modal.close('cancelled');
        document.body.classList.remove("-showdialog");
    });
    // close when clicking on backdrop
    modal.addEventListener('click', function (event) {
        if (event.target === modal) {
            modal.close('cancelled');
            document.body.classList.remove("-showdialog");
        }
    });

    // display returnValue
    modal.addEventListener('close', function () {
        returnSpan.innerHTML = modal.returnValue;
    });
</script>