{%- set largeEmblemClass = (entry.pageOptions.contains("largeEmblem") ? " +large" : "") -%}
<div class="c-emblem{{largeEmblemClass}}">

{%- if entry.emblemSvg | length -%}
    {%- set emblemImage = ( entry.emblemSvg | length > 2 ? shuffle(entry.emblemSvg)[0] : ( entry.emblemSvg | length == 2 ? entry.emblemSvg[1] : entry.emblemSvg[0] ) )-%}
    <img src="{{ emblemImage.getUrl() }}" alt="{{ title }}">

{%- else -%}
    {%- set emblemImage = ( entry.emblemImage | length > 2 ? shuffle(entry.emblemImage)[0] : ( entry.emblemImage | length == 2 ? entry.emblemImage[1] : entry.emblemImage[0] ) )-%}

    {%- if entry.pageOptions.contains("largeEmblem") -%}
        {%- set img -%}
            <img src="{{ emblemImage.getUrl('emblem2x') }}" srcset="{{ emblemImage.getUrl('emblem3x') }}" alt="{{ title }}">
        {%- endset -%}
    {%- else -%}
        {%- set img -%}
            <img src="{{ emblemImage.getUrl('emblem') }}" srcset="{{ emblemImage.getUrl('emblem2x') }}" alt="{{ title }}">
        {%- endset -%}
    {%- endif -%}
    <picture>
        <source media="(max-width:30em)" srcset="{{ emblemImage.getUrl('emblemSmall') }}, {{ emblemImage.getUrl('emblem') }}  2x">
        {{ img }}
    </picture>
{%- endif -%}
</div>