<link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}brand/{{ brandFolder }}/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ siteUrl }}brand/{{ brandFolder }}/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ siteUrl }}brand/{{ brandFolder }}/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ siteUrl }}brand/{{ brandFolder }}/favicons/manifest.json">
<link rel="mask-icon" href="{{ siteUrl }}brand/{{ brandFolder }}/icon.svg" color="{{ themeColor }}">
<link rel="shortcut icon" href="{{ siteUrl }}brand/{{ brandFolder }}/favicons/favicon.ico">
<meta name="msapplication-config" content="{{ siteUrl }}brand/{{ brandFolder }}/favicons/browserconfig.xml">
<meta name="theme-color" content="{{ themeColor }}">