{%- if entry.pageOptions.contains("poster") -%}
    {%- import "_macros/_class-attr" as heroClasses -%}
    {%- set heroClassList = ["c-hero"] %}
    {%- set headingClass = (
    entry.posterTitleSize == "xxLarge" ? " +large-xx-title"
        : (entry.posterTitleSize == "xLarge" ? " +large-x-title"
            : ( entry.posterTitleSize == "large" ? " +large-title" : "")
        )
    ) -%}
    {%- set contentClass = ( entry.posterContent | length ? " +content" : "" ) -%}

    {#Set up Poster image#}
    {%- if entry.pageOptions.contains("hidePosterImage") -%}
    {%- else -%}

        {% if entry.leadImage | length %}
            {% if entry.pageOptions.contains('altTitle') %}
                {% set altTitle = posterImage.title %}
            {% endif %}
            {%- set selector = ".\\+bgImg" %}
            {%- set element = posterImage %}
            {%- include "_includes/_poster" -%}
        {% endif %}
    {%- endif %}

    {#Pattern Image#}
    {% if entry.pattern | length %}
        {%- set selector = ".\\+pattern:before" %}
        {%- set element = entry.pattern[0] %}
        {%- include "_includes/_pattern" -%}
    {% endif %}

    {#Settings#}
    {%- import "_macros/_color-switch" as colorswitch -%}
    {%- set bgClass = ( entry.posterColor != "none" ? ' -fill' ~ colorswitch._colorswitch(entry.posterColor) : "-fill1" ) -%}
    {%- set heroClassList = heroClassList | merge([bgClass]) -%}

    {# Video #}
    {%- if entry.posterType == "video" -%}
        {%- set heroClassList = heroClassList | merge(["+video"]) -%}

        {%- if entry.embedPoster | length -%}
            {%- set asset = entry.embedPoster[0] -%}
            {%- set embed = craft.embeddedAssets.fromAsset(asset) -%}
            {%- set inner -%}<div class="c-embed-box +iframe">{{ embed.safeHtml|raw }}</div>{%- endset -%}
        {%- elseif entry.leadVideo | length -%}
            {%- if entry.leadVideo starts with "<iframe" -%}
                {%- set inner -%}<div class="c-embed-box +iframe">{{ entry.leadVideo | raw }}</div>{%- endset -%}
            {%- else -%}
                {%- set inner -%}<div class="c-embed-box">{{ entry.leadVideo | raw }}</div>{%- endset -%}
            {%- endif -%}
        {%- endif -%}

    {# Special Embed (facebook video link for example) #}
    {%- elseif entry.posterType == "smart-link" -%}
        {%- set heroClassList = heroClassList | merge(["+video"]) -%}
        {%- if entry.leadVideo starts with "https://www.facebook" -%}
            {%- set splitUrl = entry.leadVideo | split("/") -%}
            {%- set fbPage = splitUrl[4] -%}
            {%- set fbVideoId = splitUrl[5] -%}
            {%- set fbAppId = pageGlobals.facebookAppId -%}
            {%- set inner -%}
                <div class="c-embed-box +iframe">
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F{{fbPage}}%2Fvideos%2F{{fbVideoId}}%2F&show_text=false&appId={{fbAppId}}" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true" loading="auto"></iframe>
                </div>
            {%- endset -%}
        {%- elseif entry.leadVideo starts with "https://www.youtube.com" -%}
            {%- set splitUrl = entry.leadVideo | split("&") -%}
            {%- set vidUrl = splitUrl[0] -%}
            {%- set vidUrl = vidUrl | replace("https://www.youtube.com/watch?v=", "") -%}
            {%- set inner -%}
                <div class="c-embed-box +iframe">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ vidUrl }}?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="auto"></iframe>
                </div>
            {%- endset -%}
        {%- endif -%}

    {# Map #}
    {%- elseif entry.posterType == "map" and entry.placeMap | length -%}
        {%- set heroClassList = heroClassList | merge(["+map"]) -%}
        {%- if entry.placeMap | length -%}
            {%- import "_macros/_placemap" as placemap -%}
            {%- set inner = placemap._placemap(entry.placeMap) -%}
        {%- endif -%}
    {%- else -%}

        {# Hero sizes #}
        {%- if entry.posterType != "lead-image" and entry.posterType != "round-image" -%}
            {%- if entry.posterHeight == "posterThird" -%}
                {%- set heroClassList = heroClassList | merge(["+shallow"]) -%}
            {%- elseif entry.posterHeight == "posterHalf" -%}
                {%- set heroClassList = heroClassList | merge(["+half"]) -%}
            {%- elseif entry.posterHeight == "posterTwoThirds" -%}
                {%- set heroClassList = heroClassList | merge(["+deep"]) -%}
            {%- elseif entry.posterHeight == "posterFill" -%}
                {%- set heroClassList = heroClassList | merge(["+full"]) -%}
                {%- if entry.pageOptions.contains("scrollSnap") -%}
                    {%- set scrollTo -%}
                        <span class="c-article__scroll js-scroll" title="Scroll down for more" aria-hidden="true"><svg class="c-svgicon c-svgicon--caretdown"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-caretdown"></use></svg><span class="-hide">Scroll down for more</span></span>
                    {%- endset -%}
                {%- else -%}
                    {%- set scrollTo -%}
                        <a id="article-content" href="#article-content" class="c-article__scroll js-scroll" title="Tap or scroll for more" aria-hidden="true"><svg class="c-svgicon c-svgicon--caretdown"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-caretdown"></use></svg><span class="-hide">Scroll down for more</span></a>
                    {%- endset -%}
                {%- endif -%}
            {%- endif -%}
        {%- elseif entry.posterType == "lead-image" -%}
            {%- if entry.posterHeight == "posterFill" -%}
                {%- set heroClassList = heroClassList | merge(["+full"]) -%}
                {%- if entry.pageOptions.contains("scrollSnap") -%}
                    {%- set scrollTo -%}
                        <span class="c-article__scroll js-scroll" title="Scroll down for more" aria-hidden="true"><svg class="c-svgicon c-svgicon--caretdown"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-caretdown"></use></svg><span class="-hide">Scroll down for more</span></span>
                    {%- endset -%}
                {%- else -%}
                    {%- set scrollTo -%}
                        <a id="article-content" href="#article-content" class="c-article__scroll js-scroll" title="Tap or scroll for more" aria-hidden="true"><svg class="c-svgicon c-svgicon--caretdown"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-caretdown"></use></svg><span class="-hide">Scroll down for more</span></a>
                    {%- endset -%}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}

        {# Hero image treatment #}
        {%- if entry.pageOptions.contains("posterFixed") -%}
            {%- set heroClassList = heroClassList | merge(["+fixed"]) -%}
        {%- endif -%}

        {# Hero image adjustment #}
        {%- if entry.pageOptions.contains("posterDim") -%}
            {%- set heroClassList = heroClassList | merge(["+dim"]) -%}
        {%- elseif entry.pageOptions.contains("posterTint") -%}
            {%- set heroClassList = heroClassList | merge(["+tint"]) -%}
        {%- endif %}
        {%- if entry.pattern | length -%}
            {%- set heroClassList = heroClassList | merge(["+pattern"]) -%}
        {%- endif %}

    {%- endif -%}

    {# Panorama Hero #}
    {%- if entry.posterType == "panorama" -%}
        {%- includeJsFile "https://cdn.pannellum.org/2.2/pannellum.js" -%}
        {%- includeCssFile "https://cdn.pannellum.org/2.2/pannellum.css" -%}
        {%- set heroClassList = heroClassList | merge(["+panorama"]) -%}
        {%- set inner -%}
            <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" width="600" height="400" allowfullscreen style="border-style:none;" src="https://cdn.pannellum.org/2.2/pannellum.htm?panorama={{ entry.leadVideo }}" loading="auto"></iframe>
        {%- endset -%}
    {%- endif -%}

    {# Standard Hero #}
    {%- if entry.posterType == "poster" -%}
        {%- set heroClassList = heroClassList | merge(["+bgImg"]) -%}
        {%- set heroBg = heroBg -%}
    {%- endif -%}

    {# HTML5 Video #}
    {%- if entry.posterType == "poster" or entry.posterType == "poster-title" or entry.posterType == "poster-emblem" -%}
        {%- if entry.pageOptions.contains("noVideo") or
            entry.leadVideo | lower ends with "mp3" or
            entry.leadVideo | lower ends with "m4a" -%}
        {%- elseif
            entry.leadVideo | lower ends with "jpg" or
            entry.leadVideo | lower ends with "jpeg" or
            entry.leadVideo | lower ends with "png" or
            entry.leadVideo | lower ends with "gif" or
            entry.leadVideo | lower starts with "data:image"
            -%}
            {%- if entry.leadImage | length == 0 -%}
                {%- if entry.pageOptions.contains("hidePosterImage") -%}
                {%- else -%}
                    {%- set styleBlock %} style="background-image: url('{{ entry.leadVideo }}')"{% endset -%}
                {%- endif -%}
            {%- endif -%}
        {%- elseif entry.leadVideo | length -%}
            {%- set controls = (entry.posterType == "poster" or entry.pageOptions.contains("videoControls") ? " controls" : "")-%}
            {%- set muted = (entry.pageOptions.contains("videoMuted") ? " muted" : "")-%}
            {%- set videoSrcs = entry.leadVideo | split("|") -%}
            {%- set posterSrc = (videoPoster | length ? " poster=" ~ posterImage.getUrl("posterDesktop") : "")-%}
            {%- set video -%}
            <div class="c-video">
                <video autoplay loop{{ controls }}{{ muted }}{{ posterSrc }} webkit-playsinline playsinline ad-outlet="video">
                {%- for videoSrc in videoSrcs -%}
                    {%- set videoSrcExplode = videoSrc | split("{") -%}
                    {%- set videoSrc = videoSrcExplode[0] -%}
                    {%- set videoMQ = videoSrcExplode[1] | replace("}", "") -%}
                    {%- if videoMQ | length -%}
                        {%- set videoMQ %} media="{{ videoMQ }}"{%- endset -%}
                    {%- endif -%}
                    {%- if videoSrc ends with "webm" -%}
                        {%- set type = "webm" %}
                        {%- set codecs = "vp8, vorbis" -%}
                    {%- elseif videoSrc ends with "m4v" -%}
                        {%- set type = "m4v" -%}
                        {%- set codecs = "m4v" -%}
                        {%- set videoSrcPreload = videoSrc -%}
                    {%- else -%}
                        {%- set type = "mp4" %}
                        {%- set codecs = "avc1.42E01E, mp4a.40.2" -%}
                        {%- set videoSrcPreload = videoSrc %}
                    {%- endif -%}
                    <source src="{{ videoSrc }}" type="video/{{ type }}"{{ videoMQ }} />
                    {%- endfor -%}
                </video>
            </div>
            {%- endset -%}
            {%- if entry.posterType == "poster" and videoSrcPreload | length -%}
            <script>
                var video = document.createElement('video');
                video.setAttribute('webkit-playsinline', true); // must be set before src is set or it will be ignored
                video.setAttribute('src', '{{ videoSrcMP4 }}');
                document.body.appendChild(video); // append video to DOM

                video.addEventListener('canplaythrough', function(){
                    video.play(); // wait until enough of the video has been downloaded to play it through without hiccups
                }, false);

                video.load();  // must be called after the canplaythrough event listener is set
                video.play();  // required for pre-iOS 4.3 devices
                video.pause(); // required for pre-iOS 4.3 devices
            </script>
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}

    {# Hero Content #}
    {%- if entry.posterType == "poster-title" -%}
        {%- set heroClassList = heroClassList | merge(["+bgImg", "+content"]) -%}
        {%- set heroBg = heroBg -%}
        {%- if entry.pageOptions.contains("anchoredTitle") -%}
            {%- set headingAnchorClass = " +anchor-bottom" -%}
            {%- set scrollTo = "" -%}
        {%- endif -%}
        {%- if entry.pageOptions.contains("tapeTitle") -%}
            {%- set headingBgClass = ( entry.posterColor != "none" ? " +fill -fill" ~ colorswitch._colorswitch(entry.posterColor) : " +fill -fill-shade" ) -%}
        {%- endif -%}
        {%- set inner -%}
            <header class="o-block c-hero__content{{ headingClass }}{{ headingAnchorClass }}{{ headingBgClass }}{{ contentClass }}">
                {%- include "_includes/article/_article-header" -%}
                {%- if entry.posterContent | length -%}
                <div class="c-article">
                    {{ entry.posterContent }}
                </div>
                {%- endif -%}
            </header>
        {%- endset -%}

    {# Hero Emblem #}
    {%- elseif entry.posterType == "poster-emblem" -%}
        {%- set heroClassList = heroClassList | merge(["+bgImg", "+emblem"]) -%}
        {%- set heroBg = heroBg -%}
        {%- set inner -%}
            {% include "_includes/_emblem" %}
            {% if entry.heading | length %}
                <h1 class="c-hero__subtitle">{{ entry.heading }}</h1>
            {% else %}
                <h1 class="-hide">{{ entry.title }}</h1>
            {% endif %}
        {%- endset -%}

    {# Grid Hero Setup #}
    {%- elseif entry.posterType == "poster-grid" -%}
        {%- set heroClassList = heroClassList | merge(["+grid"]) -%}
        {%- set inner -%}
        <div class="c-hero__panel +content">
            <header class="o-block c-hero__content{{ headingClass }}{{ contentClass }}">
                {%- include "_includes/article/_article-header" -%}
                {%- if entry.posterContent | length -%}
                <div class="c-article">
                    {{ entry.posterContent }}
                </div>
                {%- endif -%}
            </header>
        </div>
        <div class="c-hero__panel +image +bgImg"></div>
        {%- endset -%}

    {# Hero Lead Image #}
    {%- elseif entry.posterType == "lead-image" or entry.posterType == "round-image" -%}
        {%- set leadImage = entry.leadImage[0] -%}
        {%- if entry.leadImage.nth(1) | length -%}
            {%- set heroClassList = heroClassList | merge(["+bgImg"]) -%}
        {%- endif -%}

        {%- if entry.posterType == "round-image" -%}
            {%- set heroClassList = heroClassList | merge(["+roundel"]) -%}
            {%- set imgSrcMob = leadImage.getUrl('articleSquareMobile') -%}
            {%- set imgSrcMobSize = leadImage.getWidth('articleSquareMobile') ~ 'w' -%}
            {%- set imgSrc = leadImage.getUrl('articleSquare') -%}
            {%- set imgSrcSize = leadImage.getWidth('articleSquare') ~ 'w' -%}
            {%- set imgSrcWidth = leadImage.getWidth('articleSquare2x') -%}
            {%- set imgSrcHeight = leadImage.getHeight('articleSquare2x') -%}
            {%- set imgSrc2x = leadImage.getUrl('articleSquare2x') -%}
            {%- set imgSrc2xSize = leadImage.getWidth('articleSquare2x') ~ 'w' -%}
        {%- else -%}
            {%- set imgSrcMob = leadImage.getUrl('articleSquareMobile') -%}
            {%- set imgSrcMobSize = leadImage.getWidth('articleMobile') ~ 'w' -%}
            {%- set imgSrc = leadImage.getUrl('article') -%}
            {%- set imgSrcSize = leadImage.getWidth('article') ~ 'w' -%}
            {%- set imgSrcWidth = leadImage.getWidth('article2x') -%}
            {%- set imgSrcHeight = leadImage.getHeight('article2x') -%}
            {%- set imgSrc2x = leadImage.getUrl('article2x') -%}
            {%- set imgSrc2xSize = leadImage.getWidth('article2x') ~ 'w' -%}
        {%- endif -%}

        {%- set inner -%}
			{%- if entry.leadVideo | length -%}
				<img src="{{ entry.leadVideo }}" alt="{{ title }}">
			{%- else -%}
				<img
					src="{{ imgSrc }}"
					width="{{ imgSrcWidth }}"
					height="{{ imgSrcHeight }}"
					intrinsicsize="{{ imgSrcWidth }}x{{ imgSrcHeight }}"
					srcset="{{ imgSrc2x }} {{ imgSrc2xSize }}, {{ imgSrc }} {{ imgSrcSize }}, {{ imgSrcMob }} {{ imgSrcMobSize }}"
					sizes="100vw"
					loading="auto"
					alt="{{ leadImage.title }}"
					title="{{ leadImage.title }}">
			{%- endif -%}
        {%- endset -%}
    {%- endif -%}

    {%- set heroClassList = heroClasses._classAttr(heroClassList) -%}

    <div {{ heroClassList }}{{ styleBlock }}>{{ video }}{{ inner }}{{ scrollTo }}</div>

{%- endif -%}