{# The dd #}
    {% macro _dd(
    dataLabel,
    dataLink,
    dataLinkAttrs,
    detail,
    extraData,
    dataDescClasses,
    icon
    ) %}
        {%- import "_macros/_class-attr" as descClasses -%}
        {%- if dataLabel | length %}{% set dataLabel %} data-label="{{ dataLabel }}"{% endset %}{% endif -%}
        {%- if dataDescClasses | length %}{% set dataDescClasses = descClasses._classAttr(dataDescClasses) %}{% endif -%}
		{%- if dataLink starts with "http" and type == "barebones" -%}
		{%- else -%}
			<dd{{ dataLabel }} {{ dataDescClasses }}>
				{%- if icon | length -%}
					<svg class="c-svgicon c-svgicon--{{ icon }}" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/symbol-defs.svg#icon-{{ icon }}"></use></svg>
				{%- endif -%}
				{# Description and Link #}
				{%- if dataLink | length %}<a {{ dataLinkAttrs }} href="{{ dataLink }}">{% endif -%}
					{{ detail }}
					{%- if dataLink | length %}</a>{% endif -%}
				{# Extra Data #}
				{%- if extraData | length -%}
					{{ extraData }}
				{%- endif -%}
			</dd>
    	{%- endif -%}
    {% endmacro %}

{# The dt #}
    {% macro _dt(label, labelHide) %}
        {%- if labelHide | length -%}
        {%- elseif dataLink | length and dataLink starts with "http" and type == "barebones" -%}
        {%- else -%}
            <dt>{{ label }}</dt>
        {%- endif -%}
    {% endmacro %}

<dl{{ tableExtra }}>
    {% for row in infoTable %}
        {# Reset #}
        {%- set content = "" -%}
        {%- set dataLabel = "" -%}
        {%- set detail = "" -%}
        {%- set extra = "" -%}
        {%- set extraData = "" -%}
        {%- set icon = "" -%}
        {%- set label = "" -%}
        {%- set labelHide = "" -%}
        {%- set dataDescClasses = "" -%}

        {# Prep data-list items #}
        {%- if row.label | length -%}
            {%- set labelExplode = row.label | split("|") -%}
            {%- set label = labelExplode[0] -%}
        {%- endif -%}
        {%- if row.detail | length -%}
            {%- set detailExplode = row.detail | split("|") %}
            {%- set detail = (detailExplode[0] | length ? detailExplode[0] : "") -%}
            {%- set content = (detailExplode[1] | length ? detailExplode[1] : "") -%}
        {%- endif -%}


        {# The overall settings #}
        {%- set dataLabel = (label | length ? label : "") -%}
        {%- set dataLink = (row.link | length ? row.link : "") -%}
        {%- set icon = (row.icon | length ? row.icon : "") -%}

        {%- if row.label ends with "+" -%}
            {%- set labelHide = true -%}
        {%- endif -%}

        {%- if row.detail ends with "hide" -%}
            {%- set dataDescClasses = [
            '-hide'
            ] -%}
        {%- endif -%}

        {%- if row.detail starts with "img" -%}
            {%- set labelHide = "hide" -%}
            {%- set imgClass = row.detail | split(".") -%}
            {%- set imgClass %} class={{ imgClass[1] }}{%- endset -%}
            {%- set detail -%}
                <img src="{{ row.link }}" alt="{% if label | length %}{{ label }}{% else %}Open image{% endif %}"{{ imgClass }}>
            {%- endset -%}
            {%- if row.label | lower starts with "logo" -%}
                {%- set dataDescClasses = [
                '+img',
                '+logo'
                ] -%}
            {%- else -%}
                {%- set dataDescClasses = [
                '+img'
                ] -%}
            {%- endif -%}
        {%- endif -%}

        {# Links #}
        {%- if label | lower starts with "web" or label | lower starts with "url" or "blog" in label | lower -%}
            {%- set icon = (icon | length ? icon : "globe" )-%}
            {%- set dataLinkAttrs -%} class="c-info-box__link" target="_blank" rel="noopener noreferrer"{%- endset -%}
            {%- set content = row.link -%}
            {%- set offerUrl = row.link -%}
        {%- endif -%}

        {# Contacts #}
        {%- if row.label|lower starts with "contact" -%}
            {%- if dataLink == "" -%}
                {%- if entry.person | length -%}
                    {%- set contact = entry.person[0] -%}
                    {%- set dataLink = contact.url -%}
                {%- endif -%}
            {%- endif -%}
            {%- set icon = (icon | length ? icon : "user" )-%}
            {%- set dataDescClasses = [
            '-ws-normal'
            ] -%}
        {%- endif -%}

        {# Opening Hours #}
        {%- if row.label|lower starts with "open" -%}
            {%- set dataDescClasses = [
            '-ws-normal'
            ] -%}
            {%- set detail -%}
                {%- set oh = row.detail -%}
                {%- include "_includes/_opening-hours" -%}
            {%- endset -%}
        {%- endif -%}

        {# Cost #}
        {%- if row.label|lower starts with "cost" or row.label|lower starts with "price" -%}
            {%- set icon = (icon | length ? icon : "cost" )-%}
            {%- set dataDescClasses = [
            '-ws-normal'
            ] -%}
            {%- set price = row.detail | replace('£', '') | replace('€', '') | replace('$', '') -%}
        {%- endif -%}

        {# Tel #}
        {%- if row.label | lower starts with "tel" or row.label | lower starts with "mobile" or row.label ends with "phone" -%}
            {%- set labelExplode = row.label|split(':') -%}
            {%- set contactType = (labelExplode[1] | length ? labelExplode[1] : "Organisation") -%}
            {%- set organisationType = (entry.organisationType | length ? entry.organisationType : "Organisation") -%}
            {%- set icon = (row.label | lower starts with "mobile" ? "mobile" : "phone" )-%}
            {%- if content | length -%}
                {%- set telNo = content -%}
            {%- else -%}
                {%- set telNo = row.detail | replace(' ', '') | replace('(', '') | replace(')', '') -%}
            {%- endif -%}
            {%- if dataLink == "" -%}
                {%- set dataLink = (row.label | lower starts with "mobile" ? "sms:" ~ telNo : "tel:" ~ telNo)  %}
            {%- endif -%}
        {%- endif -%}

        {# Currency #}
        {%- if label | lower == "currency" -%}
            {%- set icon = (icon | length ? icon : "cost" )-%}
            {%- if detail ends with ")" -%}
                {%- set detailExplode = detail | split("(") -%}
                {%- set detail = detailExplode[0] -%}
                {%- set toCurrency = detailExplode[1] | replace(")", "") -%}
                {%- set fromCurrency = siteCurrency -%}
                {%- set extraData -%}
                    {%- include "_includes/_currency" -%}
                {%- endset -%}
            {%- endif -%}
        {%- endif -%}

        {# Time #}
        {%- if label | lower starts with "time in" -%}
            {%- set icon = (icon | length ? icon : "time" )-%}
            {%- set detail = date()|date("H:i", row.detail) -%}
        {%- endif -%}

        {# Skype #}
        {%- if label | lower == "skype" -%}
            {%- set icon = (icon | length ? icon : "phone" )-%}
            {%- if dataLink | length -%}
                {%- set dataLink = detail|replace(' ', '')|replace('(', '')|replace(')', '') -%}
                {%- set dataDesc = "Call now"  %}
            {%- endif -%}
        {%- endif -%}

        {# Social Media #}
        {%- if label | lower == "facebook" -%}
            {%- set icon = (icon | length ? icon : "facebook" )-%}
        {%- endif -%}

        {%- if label | lower == "twitter" -%}
            {%- set icon = (icon | length ? icon : "twitter" )-%}
            {%- if dataLink == '' -%}
                {%- set dataLink = detail | replace("@", "") -%}
                {%- set dataLink = "https://twitter.com/" ~ dataLink -%}
            {%- endif -%}
        {%- endif -%}

        {# Email #}
        {%- if label | lower == "email" -%}
            {%- set icon = (icon | length ? icon : "email" )-%}
            {%- if dataLink == '' -%}
                {%- set dataLink = "mailto:" ~ detail -%}
            {%- endif -%}
        {%- endif -%}

        {%- if summaryFormat != "icons" %}
            {% set icon = "" %}
        {%- endif -%}

        {%- if bareBones == "true" -%}
            {%- set content = "" -%}
            {%- set dataLabel = "" -%}
            {%- set extra = "" -%}
            {%- set icon = "" -%}
            {%- set dataDescClasses = "" -%}
        {%- endif -%}
        {%- import _self as self -%}
        {{ self._dt(label, labelHide) }}
        {{ self._dd(dataLabel, dataLink, dataLinkAttrs, detail, extraData, dataDescClasses, icon) }}
    {% endfor %}

</dl>