{% set openingHoursJson = [] %}
{% set ohSets = oh|split(';') %}
{% for ohSet in ohSets %}
	{% set ohSetParts = ohSet|split(':') %}
	{% set ohSetPartDays = ohSetParts[0] %}
	{% set ohSetPartTimes = ohSetParts[1] %}

	{% if '–' in ohSetPartDays or '-' in ohSetPartDays %}
		{% set ohSetPartDays = ohSetPartDays|replace(' - ', '–')|replace(' – ', '–')|replace('-', '–') %}
		{% set ohSetPartDaysParts = ohSetPartDays|split('–') %}
		{% set days = [] %}
		{% for ohSetPartDaysPart in ohSetPartDaysParts %}
			{% set days = days|merge([ohSetPartDaysPart|trim[:2]]) %}
		{% endfor %}
		{% set days = days|join('-') %}
	{% elseif ', ' in ohSetPartDays %}
		{% set ohSetPartDays = ohSetPartDays|replace(', ', ',') %}
		{% set ohSetPartDaysParts = ohSetPartDays|split(',') %}
		{% set days = [] %}
		{% for ohSetPartDaysPart in ohSetPartDaysParts %}
			{% set days = days|merge([ohSetPartDaysPart|trim[:2]]) %}
		{% endfor %}
		{% set days = days|join(',') %}
	{% else %}
		{% set days = ohSetPartDays|trim[:2] %}
	{% endif %}

	{% set ohSetPartTimesParts = ohSetPartTimes|split(' – ') %}
	{% set times = [] %}
	{% for ohSetPartTimesPart in ohSetPartTimesParts %}
		{% set times = times|merge([ohSetPartTimesPart|replace('.',':')]) %}
	{% endfor %}
	{% set times = times|join('-') %}
	{%- if type == "json"  %}
		{% set openingHours = days|trim ~ times %}
		{% set openingHoursJson = openingHoursJson | merge([openingHours]) %}
	{%- else  %}
		<time datetime="{{ days|trim }}{{ times }}"><b>{{ ohSetPartDays|replace('–',' – ')|replace(',',', ')|trim }} </b>{{ ohSetPartTimes|replace('.',':')|replace('-','–')|trim }}</time>
	{%- endif  %}
{% endfor %}