{%- if entry.pageOptions.contains("sharable") -%}
    <a href="#page-share" class="c-article__share-anchor">
        <svg aria-hidden="true" class="c-svgicon c-svgicon--share"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-share"></use></svg>
    </a>
{%- endif -%}