{%- includeJsFile "https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js" -%}
{%- set clipboardJs -%}
new ClipboardJS('.copy-button', {
    target: function(trigger) {
        return trigger.nextElementSibling;
    }
});
function copyLink() {
    alert("Link copied to clipboard");
}
{%- endset -%}
{%- includeJs clipboardJs -%}

{% if entry.leadImage | length %}
    {% set leadImage = entry.leadImage.first() %}
    {% set pinterestImage = "&media=" ~ leadImage.getUrl('article') %}
    {% set vkImage = "&image=" ~ leadImage.getUrl('article') %}
{% endif %}
{% if entry.brief | length %}
    {% set description = entry.brief | striptags %}
{% else %}
    {% set description = pageGlobals.siteDescription %}
{% endif %}
<p class="c-share -noprint" id="page-share" title="{{ 'Share this' | t }}">
    <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ url(craft.request.path) }}" aria-label="{{ 'Share on' | t }} Facebook" title="{{ 'Share on' | t }} Facebook" class="c-share__link facebook">
        <svg aria-hidden="true" class="c-svgicon c-svgicon--facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-facebook"></use></svg>
    </a>
    <a target="_blank" href="https://twitter.com/intent/tweet?text={{ title }}&amp;url={{ url(craft.request.path) }}" aria-label="{{ 'Share on' | t }} Twitter" title="{{ 'Share on' | t }} Twitter" class="c-share__link twitter">
        <svg aria-hidden="true" class="c-svgicon c-svgicon--twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-twitter"></use></svg>
    </a>
    <a title="Email a friend" aria-label="Email a friend" href="mailto:?subject={{ title }}&amp;body={{ "Check this out" | t }}: {{ url(craft.request.path) }}" class="c-share__link">
        <svg aria-hidden="true" class="c-svgicon c-svgicon--email"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-email"></use></svg>
    </a>
    <input type="checkbox" id="reveal-social-plus" class="-hide">
    <label for="reveal-social-plus" title="More options" aria-label="More options" class="c-share__link">
        <svg aria-hidden="true" class="c-svgicon c-svgicon--plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-plus"></use></svg>
    </label>
    <span class="c-share__plus">
        <button onclick="copyLink()" data-clipboard-text="{{ url(craft.request.path) }}" aria-label="{{ 'Copy link to clipboard' | t }}" title="{{ 'Copy link to clipboard' | t }}" class="c-share__link copy copy-button">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--link"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-link"></use></svg>
        </button>
        <a href="sms:&body={{ "Check this out" | t }}: {{ url(craft.request.path) }}" aria-label="{{ 'Share via' | t }} SMS" title="{{ 'Share via' | t }} SMS" class="c-share__link sms">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--mobile"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-mobile"></use></svg>
        </a>
        <a target="_blank" href="https://www.linkedin.com/shareArticle?url={{ url(craft.request.path) }}&amp;title={{ title }}" aria-label="{{ 'Share on' | t }} LinkedIn" title="{{ 'Share on' | t }} LinkedIn" class="c-share__link linkedin">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--linkedin"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-linkedin"></use></svg>
        </a>
        <a target="_blank" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ url(craft.request.path) }}&title={{ title }}&caption={{ description }}" aria-label="{{ 'Share on' | t }} Tumblr" title="{{ 'Share on' | t }} Tumblr" class="c-share__link tumblr">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--tumblr"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-tumblr"></use></svg>
        </a>
        <a target="_blank" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl={{ url(craft.request.path) }}&title={{ title }}" aria-label="{{ 'Share on' | t }} Odnoklassniki" title="{{ 'Share on' | t }} Odnoklassniki" class="c-share__link ok">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--ok"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-ok"></use></svg>
        </a>
        <a target="_blank" href="fb-messenger://share/?link={{ url(craft.request.path) }}" aria-label="{{ 'Share on' | t }} LinkedIn" title="{{ 'Share on' | t }} Facebook Messenger" class="c-share__link messenger">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--messenger"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-messenger"></use></svg>
        </a>
        <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ url(craft.request.path) }}{{ pinterestImage }}&amp;description={{ description }}" aria-label="{{ 'Share on' | t }} Pinterest" title="{{ 'Share on' | t }} Pinterest" class="c-share__link pinterest">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--pinterest"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-pinterest"></use></svg>
        </a>
        <a target="_blank" href="http://reddit.com/submit?url={{ url(craft.request.path) }}&title={{ title }}" aria-label="{{ 'Share on' | t }} Reddit" title="{{ 'Share on' | t }} Reddit" class="c-share__link reddit">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--reddit"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-reddit"></use></svg>
        </a>
        <!--<a target="_blank" href="http://www.stumbleupon.com/submit?url={{ url(craft.request.path) }}&title={{ title }}" aria-label="{{ 'Share on' | t }} StumbleUpon" title="{{ 'Share on' | t }} StumbleUpon" class="c-share__link stumbleupon">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--stumbleupon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-stumbleupon"></use></svg>
        </a>
        -->
        <a target="_blank" href="https://mix.com/mixit?url={{ url(craft.request.path) }}" aria-label="{{ 'Share on' | t }} Mix" title="{{ 'Share on' | t }} Mix" class="c-share__link mixit">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--mixit"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-mix"></use></svg>
        </a>
        <a target="_blank" href="http://vk.com/share.php?url={{ url(craft.request.path) }}&title={{ title }}&description={{ description }}{{ vkImage }}" aria-label="{{ 'Share on' | t }} VK" title="{{ 'Share on' | t }} VK" class="c-share__link vk">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--vk"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-vk"></use></svg>
        </a>
         <a target="_blank" href="https://news.ycombinator.com/submitlink?u={{ url(craft.request.path) }}" aria-label="{{ 'Share on' | t }} Hacker News" title="{{ 'Share on' | t }} Hacker News" class="c-share__link hackernews">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--hackernews"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-hackernews"></use></svg>
        </a>
        <a target="_blank" href="https://share.flipboard.com/bookmarklet/popout?v=2&title={{ title }}&url={{ url(craft.request.path) }}" aria-label="{{ 'Share on' | t }} Flipboard" title="{{ 'Share on' | t }} Flipboard" class="c-share__link flipboard">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--flipboard"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-flipboard"></use></svg>
        </a>
        <a target="_blank" href="whatsapp://send?text=%22{{ title }}%22 {{ url(craft.request.path) | url_encode }}" data-action="share/whatsapp/share" aria-label="{{ 'Share on' | t }} Whatsapp" title="{{ 'Share on' | t }} Whatsapp" class="c-share__link whatsapp">
            <svg aria-hidden="true" class="c-svgicon c-svgicon--whatsapp"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-whatsapp"></use></svg>
        </a>
        <!--<a target="_blank" href="https://plus.google.com/share?url={{ url(craft.request.path) }}" aria-label="{{ 'Share on' | t }} Google Plus" title="{{ 'Share on' | t }} Google Plus" class="c-share__link googleplus -dn">-->
            <!--<svg aria-hidden="true" class="c-svgicon c-svgicon&#45;&#45;googleplus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-googleplus"></use></svg>-->
        <!--</a>-->
    </span>
</p>