{%- set overviewVar = (entry.leadImage | length ? " +image") -%}
<div class="o-band o-block -fill-shade">
    <div class="o-grid o-grid--6 c-explorer">
        <h1 class="c-explorer__title">
            {{ entry.title }}
        </h1>
        <div class="c-explorer__progress">
            {%- if entry.target > 0 -%}
            {%- set reached = (entry.reached > entry.target ? entry.target : entry.reached) -%}
            {%- set reachedPercent = reached / entry.target * 100 | round(1, 'floor') -%}
            {%- set reachedPercent = (reachedPercent > 100 ? 100 : reachedPercent) -%}
            <progress max="100" value="{{ reachedPercent }}" class="c-progress">
                <div class="c-progress--fallback">
                    <span style="width: {{ reachedPercent }}%">{{ reachedPercent }}%</span>
                </div>
            </progress>
            {%- set projectVerb = (entry.articleType == "sponsorship" ? "sponsored" | t : "reached" | t ) -%}
            <ul class="c-explorer__reached">
                <li class="-c-pos"><b>
                    {%- if entry.articleType == "fundraiser" -%}
                        {{ entry.reached|currency(siteCurrency, true) }}
                    {%- else -%}
                        {{ entry.reached }}
                    {%- endif -%}
                </b> {{ projectVerb }}</li>
                <li>{{ "Target" | t }}: <b>
                {%- if entry.articleType == "fundraiser" -%}
                    {{ entry.target|currency(siteCurrency, true) }}
                {%- else -%}
                    {{ entry.target }}
                {%- endif -%}</b></li>
            </ul>
            {%- endif -%}
        </div>
        <div class="c-explorer__content">
            {{ entry.brief }}
        </div>
        <div class="c-explorer__media">
            {%- if entry.leadVideo | length -%}
            {%- set controls = " controls" -%}
            {%- set muted = "" -%}
            {%- include "_includes/_video" with { "videoUrl" : entry.leadVideo, "videoPoster" : posterImage, "controls" : controls, "muted" : muted } -%}
            <script>
                var video = document.createElement('video');
                video.setAttribute('webkit-playsinline', true); // must be set before src is set or it will be ignored
                video.setAttribute('src', '{{ videoSrcMP4 }}');
                document.body.appendChild(video); // append video to DOM

                video.addEventListener('canplaythrough', function(){
                    video.play(); // wait until enough of the video has been downloaded to play it through without hiccups
                }, false);

                video.load();  // must be called after the canplaythrough event listener is set
                video.play();  // required for pre-iOS 4.3 devices
                video.pause(); // required for pre-iOS 4.3 devices
            </script>
            {%- elseif entry.embedPoster | length -%}
            {%- set asset = entry.embedPoster[0] -%}
            {%- set embed = craft.embeddedAssets.fromAsset(asset) -%}
            <div class="c-embed-box +iframe">{{ embed.safeHtml|raw }}</div>
            {%- elseif entry.leadImage | length -%}
            {%- set overviewImg = entry.leadImage[0] -%}
            <img src="{{ overviewImg.getUrl('articleSlide') }}" alt="{{ overviewImg.title }}">
            {%- endif -%}
        </div>
        <div class="c-explorer__action">
            {%- if entry.actions | length -%}
            <div class="c-explorer__action-text">
                <h2>{{ "Get involved" | t }}</h2>
            </div>
            <ul class="c-explorer__action-buttons">
                {%- set tableLength = entry.actions | length -%}
                {%- for row in entry.actions -%}
                {%- set link = row.link -%}
                {%- set name = row.type -%}
                {%- set classList = " " ~ row.classes -%}
                {%- set primaryClass = (loop.index == "1" ? " +1" : " +quiet") -%}
                {%- set bigClass = (tableLength == "1" ? " +big") -%}
                {%- if row.activate | length -%}
                <li>
                    <a href="{{ link }}" class="c-button +fill{{ primaryClass }}{{ bigClass }}">{{ name }}</a>
                </li>
                {%- endif -%}
                {%- endfor -%}
            </ul>
            {%- endif -%}
        </div>
    </div>
</div>
