{%- set videoSrcs = videoUrl | split("|") -%}
{%- set posterSrc = (videoPoster | length ? " poster=" ~ videoPoster.getUrl("posterDesktop") : "")-%}
{%- set video -%}
<div class="c-video">
    <video autoplay loop{{ controls }}{{ muted }}{{ posterSrc }} webkit-playsinline playsinline ad-outlet="video">
        {%- for videoSrc in videoSrcs -%}
        {%- set videoSrcExplode = videoSrc | split("{") -%}
        {%- set videoSrc = videoSrcExplode[0] -%}
        {%- set videoMQ = videoSrcExplode[1] | replace("}", "") -%}
        {%- if videoMQ | length -%}
        {%- set videoMQ %} media="{{ videoMQ }}"{%- endset -%}
        {%- endif -%}
        {%- if videoSrc ends with "webm" -%}
        {%- set type = "webm" %}
        {%- set codecs = "vp8, vorbis" -%}
        {%- elseif videoSrc ends with "m4v" -%}
        {%- set type = "m4v" -%}
        {%- set codecs = "m4v" -%}
        {%- set videoSrcPreload = videoSrc -%}
        {%- else -%}
        {%- set type = "mp4" %}
        {%- set codecs = "avc1.42E01E, mp4a.40.2" -%}
        {%- set videoSrcPreload = videoSrc %}
        {%- endif -%}
        <source src="{{ videoSrc }}" type="video/{{ type }}"{{ videoMQ }} />
        {%- endfor -%}
    </video>
</div>
{%- endset -%}