/* general */

.analytics_explorer {
    padding: 0;

    h2 {
        display: none;
    }

    .analytics-widget {
        border-top: 1px solid #fff;
        min-height: 71px;
    }

    .analytics-error {
        padding: 36px 24px;

        background: url("../images/error.png") no-repeat center 36px;
        padding-top: 96px;
        text-align: center;
    }

    .spinner { position: absolute; top: 21px; right: 1px; }

    .icon-chart {
        width: 17px;
        height: 17px;
        position: relative;
        bottom: -2px;
        display: block;
        background: center center no-repeat;
    }

    .icon-chart-geo { background-image: url("../images/chart-geo.png"); }
    .icon-chart-counter { background-image: url("../images/chart-counter.png"); }
    .icon-chart-area { background-image: url("../images/chart-area.png"); }
    .icon-chart-table { background-image: url("../images/chart-table.png"); }
    .icon-chart-pie { background-image: url("../images/chart-pie.png"); }
}


/* actions */

.analytics-actions {
    // display: none;
    position: absolute;
    z-index: 1;
    right: 24px;
    top: 23px;

    .analytics-open {
        width: 16px;
        height: 21px;
        margin: 0 6px;
        background: url("../images/open.png") no-repeat center center;
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }

    .analytics-pin {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        text-indent: -3000px;
        display: inline-block;
        margin: 0 6px;
        background: #fff;
        border: 1px solid #aaa;
        position: relative;
        top: 1px;

        &:hover {
            cursor: pointer;
        }

        .analytics-pin-in {
            width: 16px;
            height: 16px;
            background: #fff;
            border-radius: 100%;
            position: absolute;
            top: -1px;
            left: -1px;
            border: 1px solid #666;

            -webkit-border-radius:100%;
            -moz-border-radius:100%;
            transform:scale(0.5);
            transition-property:background-color,transform,-moz-transform,-webkit-transform,background,background-image;
            transition-duration:200ms;
            transition-timing-function:ease-out;
            -webkit-transform:scale(0.5);
            -webkit-transition-property:background-color,transform,-moz-transform,-webkit-transform,background,background-image;
            -webkit-transition-duration:200ms;
            -webkit-transition-timing-function:ease-out;
            -moz-transform:scale(0.5);
            -moz-transition-property:background-color,transform,-moz-transform,-webkit-transform,background,background-image;
            -moz-transition-duration:200ms;
            -moz-transition-timing-function:ease-out;
        }

        &.active .analytics-pin-in {
            width: 16px;
            height: 16px;
            background: #fff;
            border-color: #aaa;
            -webkit-border-radius:100%;
            -moz-border-radius:100%;
            transform:scale(1);
            transition-property:background-color,transform,-moz-transform,-webkit-transform,background,background-image;
            transition-duration:200ms;
            transition-timing-function:ease-out;
            -webkit-transform:scale(1);
            -webkit-transition-property:background-color,transform,-moz-transform,-webkit-transform,background,background-image;
            -webkit-transition-duration:200ms;
            -webkit-transition-timing-function:ease-out;
            -moz-transform:scale(1);
            -moz-transition-property:background-color,transform,-moz-transform,-webkit-transform,background,background-image;
            -moz-transition-duration:200ms;
            -moz-transition-timing-function:ease-out;
        }
    }
}

.rtl {
    .analytics-actions {
        left: 18px;
        top: 23px;
        right: auto;
        text-align: left;
    }

    .field {
        text-align: right;
    }
}


/* menu */

.analytics-menu {
    padding: 20px 24px;

    .select {
        box-shadow: none;
        border: 1px solid #ddd;
    }
}

.analytics-collapsible {

    overflow: hidden;
    visibility: hidden;

    // -webkit-transition: max-height 500ms ease-out;
    // -moz-transition: max-height 500ms ease-out;
    // -ms-transition: max-height 500ms ease-out;
    // -o-transition: max-height 500ms ease-out;
    // transition: max-height 500ms ease-out;

    // max-height: 200px;

    // &.analytics-collapsed {
    //     max-height: 0;
    // }
}

/* toolbar */

.analytics-toolbar {

    .analytics-settings {
        margin: 0;
        clear: both;

        .analytics-settings-in {

            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            background: #fefefe;

            .analytics-settings-in-in {
                padding: 16px 24px 18px 24px;

                label {
                    color: #aaa;
                    font-size: 0.8em;
                }

                .analytics-fields {
                    text-align: left;

                    .analytics-field {
                        display: inline-block;
                        text-align: left;
                    }

                    .analytics-metric {

                        box-shadow: none;
                        background: #E7F3F8;
                        border: 1px solid #89BAD9;

                        select {
                            color: #318EC4;
                        }
                    }

                    .analytics-dimension {

                        box-shadow: none;
                        background: #F2F6EB;
                        border: 1px solid #AEC683;

                        select {
                            color: #6CAB34;
                        }
                    }
                }

                .analytics-chart-picker {
                    float: left;
                    margin-right: 6px;
                    margin-bottom: 0;

                    .analytics-tabletypes {
                        padding-top: 1px;

                        .btn {
                            height: 29px;
                            padding: 5px 10px;
                        }

                        .analytics-disabled-tabletype {
                            display: none;
                        }
                    }
                }


                .analytics-period {
                    float: left;

                    .select {

                        box-shadow: none;
                        border: 1px solid #ddd;

                        select {

                        }
                    }
                }
            }
        }
    }
}


.analytics-small {
    .analytics-toolbar {
        .analytics-settings {
            .analytics-settings-in {
                .analytics-settings-in-in {

                    .analytics-fields {
                        float: none;
                        .analytics-field {
                            display: block;
                        }
                    }

                    .right {
                        float: none;

                        .analytics-chart-picker {
                            float: none;
                            display: block;
                            margin-right: 0;
                        }

                        .analytics-period {
                            float: none;
                            display: block;
                        }
                    }
                }
            }
        }

        .field {
            position: relative;
            margin-bottom: 14px !important;
            padding-left: 95px;

            label {
                position: absolute;
                top: 6px;
                left: 0;
                width: 80px;
                text-align: right;
                color: #555;
            }
        }
    }
}

.rtl {
    .analytics-small {
        .analytics-toolbar {
            .field {
                position: relative;
                margin-bottom: 14px !important;
                padding-left: inherit;
                padding-right: 95px;

                label {
                    position: absolute;
                    top: 6px;
                    left: auto;
                    right: 0;
                    width: 80px;
                    text-align: left;
                    color: #555;
                }
            }
        }
    }

    .google-visualization-table-div-page {
        direction: ltr;
    }
}

/* realtime visitors */

@blue:         #058DC7;
@green:         #50B431;

.analytics-realtime-visitors {
    padding: 48px 24px;

    .active-visitors {
        text-align: center;
        margin-bottom: 1em;

        .currently {
            font-size: 1.5em;
        }
        .count {
            display: block;
            font-size: 10em;
            line-height: 1.2em;
        }
    }

    .progress {
        color:#fff;
        margin: 2em 0;
        text-align: center;

        .progress-bar {
            float: left;

            span {
                display: block;
                padding:0 0.5em;
                line-height: 1.5em;
            }

            &.blue {
                background: #058DC7;
            }

            &.green {
                background: #50B431;
            }
        }
    }

    .legend {
        text-align: center;

        li {
            clear: left;
            display: inline-block;
            margin-right: 1em;

            strong {
                margin-top:2px;
                background: #eee;
                width: 12px;
                height: 12px;
                border-radius: 12px;
                display: block;
                float: left;
                margin-right: 0.3em;
                text-indent: -3000px;
            }

            &.blue {
                strong {
                    background: @blue;
                }
            }

            &.green {
                strong {
                    background: @green;
                }
            }
        }
    }
}

/* browser */


    .analytics-no-data {
        // border-top: 1px dotted #eee;
        text-align: center;
        padding: 48px;
    }

.analytics-browser-content {

    padding: 24px;

    .btngroup {
        .btn { padding:4px 10px; height: 28px; font-size: 11px; }
    }

    .select { box-shadow: none; border: 1px solid #ddd; }

    .btngroup {

        &.btngroup { box-shadow: none; border: 1px solid #eee; }

        .btn {
            background: #fff;
            box-shadow: none;
            color: #555;

            &.active { background: #fcfcfc; color: #aaa; }
        }
    }


    .analytics-infos {
        margin-bottom: 12px;

        .analytics-infos-count {
            font-size: 1.5em;
            display: block;
            margin-bottom: 4px;
        }

        .analytics-infos-dimension {
            font-weight: bold;
            font-size: 15px;
            display: block;
            margin-bottom: 4px;
        }
        .analytics-infos-metric {
            color: #318EC4;
            opacity: .7;
            font-size: 0.9em;
        }
        .analytics-infos-period {
            font-size: 0.9em;
            color: #666;
            opacity: .7;
        }
    }

    .analytics-total {
        display: none;
        font-size: 1.1em;
        text-align: center;
        line-height: 1.8em;

        strong {
            font-weight: normal;
        }

        em {
            font-size: 0.9em;
            font-style: normal;
            color: #ccc;
        }
    }


    /* counter */

    .analytics-counter {
        padding: 12px 0;
        text-align: center;

        .analytics-counter-value {
            font-size: 5em;
            line-height: 1em;
            margin-bottom: 0.1em;
        }

        .analytics-counter-label, .analytics-counter-period {
            display: inline;
            font-size: 1.2em;
            opacity: .7;
        }

        .analytics-counter-label {
            color: #318EC4;
        }

        .analytics-counter-period {
            color: #666;
        }
    }


    /* charts */

    .analytics-chart-area {
        .analytics-chart {
            background: #fafafa; height: 140px;
        }
    }
    .analytics-chart-pie {

    }

    .analytics-chart-table {

        margin: 0;
        margin-bottom: 20px;
        position: relative;
        min-height: 30px;
        border-top:1px dotted #e3e5e8;
        min-height: 60px;

        & > div {
            position: inherit;
        }

        .google-visualization-table-table {
            width: 100%;
        }
        .google-visualization-table-th {
            background: none !important;
            padding-left: 0;
            padding-right: 0;
            border:0;
            border-bottom: 1px dotted #e3e5e8;
            color: rgba(0, 0, 0, 0.298039);
            font-size: 0.8em;
            white-space:nowrap;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }

            span {
                display: none;
            }
        }

        td.google-visualization-table-td {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: #fff;
            border-left: 0;
            border-right: 0;
            border-top:0;
            border-bottom: 1px dotted #e3e5e8;

            &:hover {
                background: #fff;
            }

            &.google-visualization-table-td-number {
                text-align: right;
            }
        }

        td {
            width: 100px;

            strong {
                white-space:nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 200px;
                display: block;
                overflow: hidden;
                font-weight: normal;
            }
        }

        .google-visualization-table-tr-sel,
        .google-visualization-table-tr-over {
            td {
                background-color: #fff;
            }

            &.google-visualization-table-tr-odd {
                td {
                    background-color: #fff;
                }
            }
        }

        .google-visualization-table-div-page {
            margin-top: 10px;
            text-align: center;
            position: absolute;
            bottom: -35px;
            left: 0;
            width: 100%;

            .charts-custom-button-inner-box {
                padding: 2px 10px;
            }

            .charts-custom-button {
                background: #fff;
                margin: 0 3px;


                .charts-custom-button-outer-box {

                    border-color:#ccc;

                    .charts-custom-button-inner-box {
                        border-color:#ccc;
                    }
                }
            }

            .charts-custom-button:hover,
            .charts-custom-button-hover {
                background: #fff;


                .charts-custom-button-outer-box {

                    border-color:#bbb !important;

                    .charts-custom-button-inner-box {
                        border-color:#bbb !important;
                    }
                }
            }

            .charts-custom-button-disabled {
                opacity: .1;
            }

            .page-number {
                padding: 10px;
            }
        }

        .google-visualization-table-page-numbers {
            display: none;
        }
    }

}

