{%- set anchorText -%}
    {%- if entry.indexHeading | length -%}
        {{ entry.indexHeading | smartypants }}
    {%- else -%}
        {{ entry.title | smartypants }}
    {%- endif -%}
{%- endset -%}

{%- if entry.noLink != 1 -%}
    {%- if entry.externalRedirect | length -%}
        {%- set entryUrl = entry.externalRedirect -%}
        {%- if entry.externalRedirect starts with "https://www.facebook." -%}
            {%- set anchorTag -%}<svg class="c-svgicon c-svgicon--facebook" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/symbol-defs.svg#icon-facebook"></use></svg>{%- endset -%}
        {%- else -%}
            {%- set anchorTag -%}<svg class="c-svgicon c-svgicon--right" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/symbol-defs.svg#icon-right"></use></svg>{%- endset -%}
        {%- endif -%}
        {%- set qualText = 'Go to' | t -%}
        {%- set anchorAddClass = ' +external' -%}
        {%- set anchorTarget %} target="_blank"{%- endset -%}
    {%- else -%}
        {%- set entryUrl = entry.url -%}
        {%- set qualText = 'Continue reading' | t -%}
    {%- endif -%}
    <a href="{{ entryUrl }}" class="c-anchor -fill-shade +linked{{ anchorAddClass }}"{{ anchorTarget }} title="{{ qualText }} '{{ anchorText }}'">{{ anchorTag }}{{ anchorText }}</a>
{%- else -%}
    <span class="c-anchor -fill-shade" title="'{{ anchorText }}' ({{ 'Not available' | t }})">{{ anchorText }}</span>
{%- endif -%}