
{% extends "_includes/support/_shared-tease" %}

{% block teaser %}

{# Check for Thumb#}
{%- if entry.leadImage | length and thumb == "yes" -%}
    {%- set thumbClass = " +thumb" -%}
    {%- set image = entry.leadImage[0] -%}
    {# Set up image #}
    {%- set teaserThumb -%}
        <div class="c-card__thumb thumb"><img src="{{ image.getUrl('thumb') }}" srcset="{{ image.getUrl('thumb2x') }} 2x" alt="{{ entry.title }}" height="266" width="266" loading="auto"></div>
    {%- endset -%}
{%- elseif
(
    entry.leadVideo | lower starts with "https://" and
    (
        entry.leadVideo | lower ends with "jpg" or
        entry.leadVideo | lower ends with "jpeg" or
        entry.leadVideo | lower ends with "png" or
        entry.leadVideo | lower ends with "gif"
    )
)
or
entry.leadVideo | lower starts with "data:image"
-%}
    {%- set thumbClass = " +thumb" -%}
    {%- set teaserThumb -%}
        <div class="c-card__thumb thumb"><img src="{{ entry.leadVideo }}" alt="{{ entry.title }}" height="266" width="266" loading="auto"></div>
    {%- endset -%}
{%- endif -%}
{%- import "_macros/_color-switch" as colorswitch -%}
{%- set teaserColor = (block.teaserVar.contains("teaserColor") and entry.posterColor != "none" ? " -fill" ~ colorswitch._colorswitch(entry.posterColor) : "") -%}
<div class="c-card +dbl{{ linkClass }}{{ thumbClass }}{{ teaserColor }}{{ fadeClass }}">
    {{ teaserThumb }}
    {{ teaserTag }}
    <div class="c-card__content{{ articleClass }}">
        <h3 class="c-card__title">{{ teaserTitleMarkUp }}{{ teaserTitleExtra }}</h3>
        {%- if bodyText -%}
            <p{{ bodyProperties }}>{{ bodyText }}</p>
        {%- endif -%}
    </div>
    {{ teaseLink }}
</div>
{% endblock %}