{%- set teaserTitle = (entry.indexHeading ? entry.indexHeading : entry.title) -%}
{%- if entry.emblemSvg | length -%}
    {%- set emblem = entry.emblemSvg.first() -%}
    {%- set emblemUrl = emblem.getUrl() -%}
{%- elseif entry.emblemImage | length -%}
    {%- set emblem = entry.emblemImage.first() -%}
    {%- set emblemUrl = emblem.getUrl() -%}
{%- endif %}
<span class="c-emblem-link__outer">
    {%- if entry.noLink != 1 -%}
    <a href="{{ entry.url }}" class="c-emblem-link{{ teaserVarClass }}">
    {%- else -%}
    <span class="c-emblem-link{{ teaserVarClass }}">
    {%- endif -%}
        <span class="c-emblem-link__inner">
        {%- if emblemUrl | length -%}
            <img src="{{ emblemUrl }}" alt="{{ teaserTitle }}" title="{{ teaserTitle }}" loading="auto">
        {%- else -%}
            <span class="c-emblem-link__text">{{ teaserTitle | smartypants }}</span>
        {%- endif -%}
        </span>
        {%- if block.teaserVar.contains("hasLabel") -%}
            <span class="c-emblem-link__label">{{ teaserTitle }}</span>
        {%- endif -%}
    {%- if entry.noLink != 1 -%}
    </a>
    {%- else -%}
    </span>
    {%- endif -%}
</span>