{%- if row.imageUrl | length -%}
    {%- set bgImage %} style="background-image:url('{{ row.imageUrl }}')"{% endset -%}
{%- endif -%}

<div class="c-media-item{{ autoHeight }}"{{ bgImage }}>
    {%- if row.url | length -%}
        <a href="{{ row.url }}" class="c-media-item__text">{{ row.name }}</a>
    {%- else -%}
        <span class="c-media-item__text">{{ row.name }}</span>
    {%- endif -%}
    {%- if row.code | length -%}
        {{ row.code | raw }}
    {%- endif -%}
</div>