{% extends "_includes/support/_shared" %}
{% block preview %}

{%- if articleItemImg == 1 and entry.leadImage | length -%}
    {%- set image = entry.leadImage[0] ?? null -%}
    {%- set thumbImg -%}<span class="c-preview__img"><img src="{{ image.getUrl('thumbSmall') }}" srcset="{{ image.getUrl('thumb') }} 2x" alt="{{ entry.title }}" height="96" width="96"> loading="auto"</span>{%- endset -%}
{%- elseif articleItemImg == 1 and (
    (
        entry.leadVideo | lower starts with "https://" and
        (
            entry.leadVideo | lower ends with "jpg" or
            entry.leadVideo | lower ends with "jpeg" or
            entry.leadVideo | lower ends with "png" or
            entry.leadVideo | lower ends with "gif"
        )
    )
    or
    entry.leadVideo | lower starts with "data:image")
    -%}
    {%- set thumbImg -%}
        <span class="c-preview__img"><img src="{{ entry.leadVideo }}" alt="{{ entry.title }}" height="96" width="96" loading="auto"></span>
    {%- endset -%}
{%- endif -%}


    {# Price set #}
{%- if entry.type == "profile" -%}
    {%- set teaserTitleExtra %}<span>: Profile</span>{% endset -%}
{%- else -%}
    {%- set teaserTitleExtra = teaserTitleExtra %}
{%- endif -%}

{%- if entry.externalRedirect | length -%}
    {%- set previewUrl -%}
        <span class="c-preview__url">
            {{ entry.subheading | striptags }} <svg class="c-svgicon c-svgicon--right" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-right"></use></svg>
        </span>
    {%- endset -%}
    {%- set linkTarget %} target="_blank"{% endset -%}
{%- endif -%}

{%- set previewInner -%}
    {{ thumbImg }}
    <span class="inner">
    <b><strong>{{ teaserTitle }}</strong>{{ teaserTitleExtra }}</b>

    <span class="c-preview__desc">
    {%- if subTitle | length -%}
        <strong>{{ subTitle }}</strong>
    {% endif %}
    {{ previewUrl }}
    {{ bodyText }}
    </span>
    </span>
{%- endset -%}

{%- if entry.noLink != 1 -%}
    <a href="{{ entry.url }}" class="c-preview"{{ linkTarget }}>{{ previewInner }}</a>
{%- else -%}
    <span class="c-preview">{{ previewInner }}</span>
{%- endif -%}

{% endblock %}