{%- if entry.indexHeading | length -%}
    {%- set heading = entry.indexHeading -%}
{%- elseif entry.heading | length -%}
    {%- set heading = entry.heading -%}
{%- else -%}
    {%- set heading = entry.title -%}
{%- endif -%}

{%- set previewAlignment = ( block.teaserVar.contains("alignArticles") ? " +align") -%}

<div class="c-preview__full{{ previewAlignment }}{{ supportFormatClass }}">
    <article>
        <h1 class="c-preview__title"><a href="{{ entry.url }}">{{ heading }}</a></h1>
        {%- if entry.subheading | length -%}
            <p class="c-preview__subtitle">{{ entry.subheading | striptags }}</p>
        {%- endif -%}
        {% if entry.leadImage | length %}
            {% set previewImage = entry.leadImage.first() %}
            <a href="{{ entry.url }}">
                <img
                     src="{{ previewImage.getUrl('article') }}"
                     width="{{ previewImage.getWidth('article') }}"
                     height="{{ previewImage.getHeight('article') }}"
                     srcset="{{ previewImage.getUrl('article2x') }} {{ previewImage.getWidth('article2x') ~ 'w' }},
                    {{ previewImage.getUrl('article') }} {{ previewImage.getWidth('article') ~ 'w' }},
                    {{ previewImage.getUrl('articleMobile') }} {{ previewImage.getWidth('articleMobile') ~ 'w' }}"
                     sizes="100vw"
                     loading="auto" alt="{{ previewImage.title }}" class="c-preview__img"></a>
        {% endif %}
        {% if entry.posterContent %}
            {{ block.posterContent | typogrify }}
            <hr>
        {% endif %}
        {% if entry.pageOptions.contains("noBody") %}
        {% else %}
            {% if entry.body | length %}
                {% if entry.keepBrief | length %}
                    {{ entry.brief }}
                {% endif %}
                {% for block in entry.body %}

                    {% switch block.type %}

                    {% case "heading" %}

                    {% include "_includes/assets/_heading" %}

                    {% case "text" %}
                    {{ block.text | typogrify }}

                    {% endswitch %}

                {% endfor %}
            {% else %}
                {{ entry.brief | typogrify }}
            {% endif %}
        {% endif %}
    </article>
    {%- if block.listVar == "var2" -%}
    <div class="c-preview__read -pv">
        <a href="{{ entry.url }}" class="c-button">{{ "Read more" | t }}</a>
    </div>
    {%- endif -%}
</div>
