<div class="c-preview__content">
    <article>
        {% if entry.pageOptions.contains("noBody") %}
        {% else %}
            {% if entry.body | length %}
                {% if entry.keepBrief | length %}
                    {{ entry.brief }}
                {% endif %}
                {% for block in entry.body %}

                    {% switch block.type %}

                    {% case "text" %}
                    {{ block.text | typogrify }}

                    {% endswitch %}

                {% endfor %}
            {% else %}
                {{ entry.brief | typogrify }}
            {% endif %}
        {% endif %}
    </article>
</div>
