{%- set imgThumb = "" -%}
{%- set teaserTitle = (entry.indexHeading ? entry.indexHeading : entry.title) | smartypants -%}
{%- set imgAlt = (noAlt == true ? '' : entry.title) -%}
{%- import "_macros/_color-switch" as colorswitch -%}
{%- set teaserColor = (entry.posterColor | length and entry.posterColor != "none" ? " -fill" ~ colorswitch._colorswitch(entry.posterColor) : " -fill1") -%}
{%- if entry.leadImage | length and thumb == "yes" -%}
    {% set image = entry.leadImage.first() %}
    {%- set imgThumb -%}
    <img src="{{ image.getUrl('thumb') }}" alt="{{ imgAlt }}" srcset="{{ image.getUrl('thumb2x') }} 2x" height="266" width="266" loading="auto">
    {%- endset -%}
{%- elseif
(
    entry.leadVideo | lower starts with "https://" and
    (
        entry.leadVideo | lower ends with "jpg" or
        entry.leadVideo | lower ends with "jpeg" or
        entry.leadVideo | lower ends with "png" or
        entry.leadVideo | lower ends with "gif"
    )
)
or
entry.leadVideo | lower starts with "data:image"
-%}
    {%- set imgThumb -%}
        <img src="{{ entry.leadVideo }}" alt="{{ imgAlt }}" class="u-photo" height="266" width="266" loading="auto">
    {%- endset -%}
{%- else -%}
    {%- set noImageClass = " +noImg" -%}
{%- endif -%}
{%- set roundelTitle = teaserTitle -%}
{%- if entry.noLink != 1 -%}
    {%- set teaserTitle -%}
        <a href="{{ entry.url }}{{ theme }}">{{ teaserTitle }}</a>
    {%- endset -%}
    {%- set roundelLink -%}
        <a class="c-roundel__link" href="{{ entry.url }}{{ theme }}" title="{{ entry.subheading | striptags }}"></a>
    {%- endset -%}
{%- endif -%}

<div class="c-roundel__container">
    <div class="c-roundel">
        <div class="c-roundel__inner{{ teaserColor }}{{ teaserVarClass }}">
            {{ imgThumb }}
            {%- if block.teaserVar.contains("hasLabel") -%}
            {%- else -%}
            <div class="c-roundel__article{{ noImageClass }}" title="{{ roundelTitle }}{% if entry.brief | length %} | {{ entry.brief | striptags }}{% endif %}">
                <article>
                    <h3 class="c-roundel__title">
                        {{ teaserTitle }}
                    </h3>
                </article>
            </div>
            {%- endif -%}
        </div>
        {{ roundelLink }}
    </div>
    {%- if block.teaserVar.contains("hasLabel") -%}
        <h3 class="c-roundel__label">{{ teaserTitle }}</h3>
    {%- endif -%}
</div>