{% extends "_includes/support/_shared-tease" %}

{% block teaser %}

{# Check for Thumb#}
{%- if block.listVar == "var2" -%}
    {%- set teaserAddVarClass = " +big-square" -%}
{%- elseif block.listVar == "var3" -%}
    {%- set teaserAddVarClass = " +big-square +dbl" -%}
{%- endif -%}
{%- if entry.leadImage | length and thumb == "yes" -%}
    {%- if block.teaserVar.contains("rollover") -%}
        {%- import "_macros/_color-switch" as colorswitch -%}
        {%- set teaserColor = (block.teaserVar.contains("teaserColor") and entry.posterColor != "none" ? " -fill" ~ colorswitch._colorswitch(entry.posterColor) : "") -%}
    {%- else -%}
        {%- set thumbClass = " +thumb" -%}
    {%- endif -%}
    {%- set image = entry.leadImage[0] -%}
    {# Set up image #}
    {%- set teaserThumb -%}
        {%- if block.listVar == "var2" -%}
            <img src="{{ image.getUrl('articleSquare') }}" srcset="{{ image.getUrl('articleSquare2x') }} 2x" alt="{{ entry.title }}" height="600" width="600" loading="auto">
        {%- elseif block.listVar == "var3" -%}
            <img src="{{ image.getUrl('articleSquareHalf') }}" srcset="{{ image.getUrl('articleSquareHalf2x') }} 2x" alt="{{ entry.title }}" height="300" width="600" loading="auto">
        {%- else -%}
            <img src="{{ image.getUrl('thumb') }}" srcset="{{ image.getUrl('thumb2x') }} 2x" alt="{{ entry.title }}" height="266" width="266" loading="auto">
        {%- endif -%}
    {%- endset -%}
{%- elseif
(
    entry.leadVideo | lower starts with "https://" and
    (
        entry.leadVideo | lower ends with "jpg" or
        entry.leadVideo | lower ends with "jpeg" or
        entry.leadVideo | lower ends with "png" or
        entry.leadVideo | lower ends with "gif"
    )
)
or
entry.leadVideo | lower starts with "data:image"
-%}
    {%- set thumbClass = " +thumb" -%}
    {%- set teaserThumb -%}
        <img src="{{ entry.leadVideo }}" alt="{{ entry.title }}" height="266" width="266" loading="auto">
    {%- endset -%}
{%- else -%}
    {%- set teaserColor = (block.teaserVar.contains("teaserColor") and entry.posterColor != "none" ? " -fill" ~ colorswitch._colorswitch(entry.posterColor) : "") -%}
{%- endif -%}

<div class="c-square{{ teaserAddVarClass }}{{ linkClass }}{{ thumbClass }}{{ teaserVarClass }}{{ teaserRollClass }}{{ teaserColor }}{{ fadeClass }}">
    {{ teaserThumb }}
    {{ teaserTag }}
    <div class="c-square__content{{ articleClass }}">
        <h3 class="c-square__title">{{ teaserTitleMarkUp }}{{ teaserTitleExtra }}</h3>
    </div>
    {{ teaseLink }}
</div>
{% endblock %}
