{% extends "_includes/support/_shared-tease" %}

{% block teaser %}
{%- import "_macros/_color-switch" as colorswitch -%}

{%- set teaserVarClass = (supportCount == "mt2" or format == "square" ? " +square" : "") -%}

{# Check for Thumb#}
{%- if entry.leadImage | length and thumb == "yes" -%}
    {%- if block.teaserVar.contains("rollover") -%}
        {%- set teaserColor = (block.teaserVar.contains("teaserColor") and entry.posterColor != "none" ? " -fill" ~ colorswitch._colorswitch(entry.posterColor) : "") -%}
    {%- else -%}
        {%- set thumbClass = " +thumb" -%}
    {%- endif -%}
    {%- set image = entry.leadImage[0] -%}
    {# Set up image #}
    {%- set teaserThumb -%}
        {%- if supportCount == "mt2" or format == "square" -%}
            <picture>
                <source media="(max-width:25em)"
                        srcset="{{ image.getUrl('thumbHalfSmall2x') }}, {{ image.getUrl('thumbHalf') }}  2x">
                <img src="{{ image.getUrl('thumb') }}" srcset="{{ image.getUrl('thumb2x') }} 2x" alt="{{ entry.title }}" height="266" width="266" loading="auto">
            </picture>
        {%- else -%}
            <img src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x" alt="{{ entry.title }}" height="266" width="532" loading="auto">
        {%- endif -%}
    {%- endset -%}
{%- elseif
    (
    entry.leadVideo | lower starts with "https://" and
    (
        entry.leadVideo | lower ends with "jpg" or
        entry.leadVideo | lower ends with "jpeg" or
        entry.leadVideo | lower ends with "png" or
        entry.leadVideo | lower ends with "gif"
    )
)
or
entry.leadVideo | lower starts with "data:image"
-%}
    {%- if block.teaserVar.contains("rollover") -%}
        {%- set teaserColor = (block.teaserVar.contains("teaserColor") and entry.posterColor != "none" ? " -fill" ~ colorswitch._colorswitch(entry.posterColor) : "") -%}
    {%- else -%}
        {%- set thumbClass = " +thumb" -%}
    {%- endif -%}
    {%- set teaserThumb -%}
        {%- if supportCount == "mt2" or format == "square" -%}
            <img src="{{ entry.leadVideo }}" alt="{{ entry.title }}" height="266" width="266" loading="auto">
        {%- else -%}
            <img src="{{ entry.leadVideo }}" alt="{{ entry.title }}" height="266" width="532" loading="auto">
        {%- endif -%}
    {%- endset -%}
{%- else -%}
    {%- set teaserColor = (block.teaserVar.contains("teaserColor") and entry.posterColor != "none" ? " -fill" ~ colorswitch._colorswitch(entry.posterColor) : "") -%}
{%- endif -%}

<div class="c-tease{{ linkClass }}{{ thumbClass }}{{ teaserVarClass }}{{ teaserRollClass }}{{ teaserColor }}{{ fadeClass }}">
    {{ teaserThumb }}
    {{ teaserTag }}
    <div class="c-tease__content{{ articleClass }}">
        <h3 class="c-tease__title">{{ teaserTitleMarkUp }}{{ teaserTitleExtra }}</h3>
        {%- if bodyText -%}
            <p{{ subTitleProperties }}>{{ bodyText }}</p>
        {%- endif -%}
    </div>
    {{ teaseLink }}
</div>
{% endblock %}
