{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% block content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="calendars/calendars/saveCalendar">
		<input type="hidden" name="redirect" value="calendars">
		{% if calendar.id %}<input type="hidden" name="calendarId" value="{{ calendar.id }}">{% endif %}

		{{ forms.textField({
			first: true,
			label: "Name"|t,
			instructions: "What this calendar will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: calendar.name,
			errors: calendar.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this calendar in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: calendar.handle,
			errors: calendar.getErrors('handle'),
			required: true
		}) }}

		<hr>

		{#

		 # TODO: Conditionally display the FieldLayout editor if this Calendar has elements. }

		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout: calendar.getFieldLayout()
		} only %}

		<hr>

		#}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}


{% set js %}
	{% if not calendar.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endset %}
{% includeJs js %}
