{% if entry.product_code | length %}
    {% set product_code = entry.product_code %}
    {% set image = entry.leadImage.first() %}
    {% if entry.product_name | length %}
        {% set product_name = entry.product_name %}
    {% else %}
        {% set product_name = title %}
    {% endif %}
    {% if entry.price == 0 or entry.productTable | length %}
    {% else %}
        <p><b>&pound;{{ entry.price }}</b></p>
    {% endif %}
{% endif %}
