{% macro _embedder(code, showMeta, videoSettings) %}
    {%- set videoMeta = craft.embedder.url(code) -%}
    {%- set video = craft.videoEmbed.getEmbedUrl(code) -%}
    {%- if code starts with "http://vimeo" -%}
        {%- set videoSettings = ( videoSettings | length ? '&' ~ videoSettings : '') -%}
    {%- else -%}
        {%- set videoSettings = ( videoSettings | length ? '?' ~ videoSettings : '') -%}
    {%- endif -%}
    {%- if showMeta != "" -%}
    <meta itemprop="associatedMedia" property="associatedMedia" content="{{ code | raw }}">
    <abbr itemprop="video" property="video" itemscope itemtype="http://schema.org/VideoObject" typeof="VideoObject">
        <meta itemprop="name" property="name" content="{{ videoMeta.video_title }}">
        {% if videoMeta.video_description | length %}
            <meta itemprop="description" property="description" content="{{ videoMeta.video_description }}">
        {% else %}
            <meta itemprop="description" property="description" content="{{ videoMeta.video_title }}">
        {% endif %}
        <meta itemprop="thumbnailUrl" property="thumbnailUrl" content="{{ videoMeta.video_thumbnail }}">
        <meta itemprop="uploadDate" property="uploadDate" content="{{ entry.dateCreated.format('c') }}">
    </abbr>
    {%- endif -%}
    <div class="c-embed-box +video -o-warn"><iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="{{ video }}{{ videoSettings }}" frameborder="0" loading="auto"></iframe></div>
{% endmacro %}