{% macro _map(mapObject) %}

    {%- set options = {
    id: 'map',
    alt: 'Map',
    width: '800px',
    height: '450px',
    options: {
    maxZoom: 18
    }
    } -%}

    {%- spaceless %}
        {% set marker = mapObject.getMarkers() %}
        {% set addressData = marker.address %}
        {{ addressData }}
        <div class="c-map__inner -ba-warn">
            {{ craft.googleMaps.map(options) }}
            {{ craft.googleMaps.data('map', mapObject, 10) }}
        </div>
        {#<div class="c-map__static">#}
            {#{% for marker in mapObject.getMarkers() %}#}
                {#<a href="https://www.google.com/maps/place/{{ marker.address }}" target="_blank" rel="noopener">{{ craft.googleMaps.staticMap(mapObject, {width: 800, height: 450}) }}</a>#}
                {#<a class="c-map__static-link c-map__static-link-a" href="http://maps.apple.com/?q={{ marker.address }}">Apple Maps</a>#}
                {#<a class="c-map__static-link c-map__static-link-b" href="https://www.google.com/maps/place/{{ marker.address }}">Google Maps</a>#}
            {#{% endfor %}#}
        {#</div>#}

    {% endspaceless -%}

{% endmacro %}