{% macro _placemap(mapObject, mapBoxApi) %}
    {%- if mapBoxApi | length -%}
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

        <div id='map' class="c-map__inner"></div>
        <script>
            mapboxgl.accessToken = '{{mapBoxApi}}';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v10',
                center: [{{ mapObject.lng }}, {{ mapObject.lat }}],
                zoom: 14
            });
            var marker = new mapboxgl.Marker()
                .setLngLat([{{ mapObject.lng }}, {{ mapObject.lat }}])
                .addTo(map);
        </script>
    {%- else -%}
        <div id="map" class="c-map__inner"></div>
        <script>
            var map;
            function initMap() {
                // Display the map
                map = new google.maps.Map(document.getElementById("map"), {
                    center: {
                        lat: {{ mapObject.lat }},
                lng: {{ mapObject.lng }}
            },
                zoom: {{ mapObject.zoom }}
            });

                // Display the marker
                var marker = new google.maps.Marker({
                    position: {
                        lat: {{ mapObject.lat }},
                lng: {{ mapObject.lng }}
            },
                // A custom icon can be defined here, if desired
                // icon: '/path/to/custom/icon.png',
                map: map
            });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ craft.simpleMap.apiKey }}&callback=initMap" async defer></script>
    {%- endif -%}

{% endmacro %}