*[style] {
    border: 5px solid red; 
}

a:not([href])
a[href="#"],
a[href=""],
a[href*="javascript:void(0)"] {
    border: 5px solid orangered;
}

img:not([alt]) {
    border: 5px solid orange; 
}

img[alt=""] {
    border: 5px solid gold;
}

html:not([lang]),
html[lang=""] {
    border: 5px solid yellow;
}

meta[charset]:not([charset="UTF-8"]) { border: 5px solid limegreen; }

meta[charset="UTF-8"]:not(:first-child) { border: 5px solid green; }

meta[name="viewport"][content*="user-scalable=no"],
meta[name="viewport"][content*="maximum-scale"],
meta[name="viewport"][content*="minimum-scale"] { border: 5px solid aquamarine; }

input:not([id]),
select:not([id]),
textarea:not([id]) { border: 5px solid darkturquoise; }

label:not([for]) { border: 5px solid cornflowerblue; }

input:not([name]),
select:not([name]),
textarea:not([name]) { border: 5px solid blue; }

form:not([name]):not([id]) { border: 5px solid indigo; }

button:empty,
a:empty { border: 5px solid violet; }

script[type="text/javascript"],
link[rel="stylesheet"][type="text/css"] { border: 5px solid pink; }