{%- extends "_includes/support/_support-container" -%}

{% block supportContent %}
    {%- set supportHeight = (block.bandHeight.value == "fill" ? " +full" ) -%}
    {%- set contentPosV = (block.bandHeight == "fill" ? " +middle") -%}
    {%- set linkedClass = (block.image | length and block.sectionLink | length ? " +linked" : "") -%}
    {%- set halves = (block.bandOptions.contains('halves') ? " +halves") -%}
    {%- set textSize = (block.bandOptions.contains('largeText') ? " +text-lg") -%}
    {%- set headingSize = (block.bandOptions.contains('largeTitle') ? " +title-lg") -%}
    {%- set origImage = (block.bandOptions.contains('origImage') ? " +orig-image") -%}
    {%- set bodyTabClass = (block.bandOptions.contains('makeTab') ? " +tabs") -%}

    {% switch block.sectionPosition %}
        {% case 'left' %}
            {%- set contentPosH = " +inside" -%}
            {%- set supportPadding = " +tight" -%}
        {% case 'right' %}
            {%- set contentPosH = " +outside" -%}
            {%- set supportPadding = " +tight" -%}
    {% endswitch %}

    {%- set contentWidthClass = (block.bandOptions.contains('contentWidth') ? " +content-width") -%}
    {%- if block.bandOptions.contains('contentWidth') -%}
        {%- set uWidthClass = ' +u-2' -%}
    {%- elseif block.bandOptions.contains('autoWidth') -%}
        {%- set uWidthClass = '' -%}
    {%- else -%}
        {%- set uWidthClass = ' +u-3' -%}
    {%- endif -%}


    <div class="o-block c-support{{ supportPadding }}{{ supportBg }}{{ supportHeight }}{{ linkedClass }}{{ imgClass }}{{ fixedClass }}{{ supportPosterType }}{{ printClass }}{{ contentPosV }}{{ contentPosH }}{{ halves }}{{ contentWidthClass }}{{ topBorderClass }}{{ tabClass }}{{ blockIdClass }}"{{ sectionId }}>
        <div class="c-support__body {{ uWidthClass }}{{ supportBodyFill }} js-anim">
            <article class="c-support__content{{ textSize }}{{ headingSize }}{{ bodyTabClass }}">
            {%- if block.bandOptions.contains('hideHeader') -%}
            {%- elseif block.sectionTitle | length -%}
                {{ supportHeader }}
            {%- endif -%}
            {%- if block.text | length -%}
                <div class="c-support__article">
                {{ block.text | smartypants }}
                </div>
            {%- endif -%}
            </article>
        </div>
        {%- if block.bandOptions.contains('graphicImage') -%}
            {%- set asset = (block.image[1] != '' ? block.image[1] : block.image[0]) -%}
            {%- set assetSrcMob = asset.getUrl('articleMobile') -%}
            {%- set assetSrcMobSize = asset.getWidth('articleMobile') ~ 'w' -%}
            {%- set assetSrc = asset.getUrl('article') -%}
            {%- set assetSrcSize = asset.getWidth('article') ~ 'w' -%}
            {%- set assetSrcWidth = asset.getWidth('article') -%}
            {%- set assetSrcHeight = asset.getHeight('article') -%}
            {%- set assetSrc2x = asset.getUrl('article2x') -%}
            {%- set assetSrc2xSize = asset.getWidth('article2x') ~ 'w' -%}
            {%- set paddedGraphicClass = (block.bandOptions.contains('paddedGraphicImage') ? ' +padded') -%}
            <div class="c-support__graphic{{ origImage }}">
                <figure role="figure" class="c-support__graphic-inner{{ paddedGraphicClass }}">
                {%- if block.sectionLink | length -%}ƒhl
                    <a href="{{ sectionLink.url }}">
                {%- endif -%}
                    <img itemprop="contentUrl"
                         property="contentUrl"
                         {%- if block.bandOptions.contains('origImage') -%}
                             src="{{ asset.getUrl() }}"
                         {%- else -%}
                         src="{{ assetSrc }}"
                         srcset="{{ assetSrc2x }} {{ assetSrc2xSize }},
                            {{ assetSrc }} {{ assetSrcSize }},
                            {{ assetSrcMob }} {{ assetSrcMobSize }}"
                         {%- endif -%}
                         width="{{ assetSrcWidth }}"
                         height="{{ assetSrcHeight }}"
                         alt="{{ asset.title }}"
                         loading="auto"
                            {{ basefilters }}>
                {%- if block.sectionLink | length -%}
                    </a>
                {%- endif -%}
                </figure>
            </div>
        {%- elseif block.image | length and block.sectionLink | length %}
            <a href="{{ sectionLink.url }}" class="c-support__link" aria-hidden="true"></a>
        {% endif %}
    </div>
{% endblock %}