{%- extends "_includes/support/_support-container" -%}

{% block supportContent %}
{% if block.bandHeight.value == "fill" %}
    {% set posterClass = " +full" %}
{% endif %}
{% if block.bandPadding != "1" %}
    {% set tightClass = " +tight" %}
{% endif %}
{% if block.sectionTitle | length %}
    {% set sectionIdNo = block.sectionTitle|lower|replace(' ', '-') %}
    {% set sectionId %} id="{{sectionIdNo}}" {% endset %}
{% else %}
    {% set sectionIdNo = "i" ~ block.id %}
    {% set sectionId %} id="{{ sectionIdNo }}"{% endset %}
{% endif %}
<section class="o-block c-support +embed{{ supportBg }}{{ tightClass }}{{ posterClass }}{{ tabClass }}{{ blockIdClass }}"{{ sectionId }}>
    <div class="c-support__body js-anim">
        {{ supportHeader }}
        {% if block.embedType == 'tweets' %}
            {% set bandClass = "c-Band-panel" %}
            {% set uri = block.embed %}
            {% set tweets = craft.twitter.get(uri) %}
            {% if tweets %}
                <div class="c-support__body +u-4">
                    <ul class="c-tweet-item__list">
                        {% for tweet in tweets %}
                            {% set tweetUser = tweet.user %}
                            {% set tweetUrl = 'https://twitter.com/' ~ tweetUser.screen_name ~ '/status/' ~ tweet.id %}
                            {% set tweetAuthor = tweetUser.name %}
                            {% set tweetAuthorUrl = 'https://twitter.com/' ~ tweetUser.screen_name %}
                            {% set quote = tweet.text|autoLinkTweet({
                            noFollow: false,
                            target: "_blank"
                            }) %}
                            {% if quote | length %}
                                <li class="c-tweet-item">
                                    <a href="{{ tweetUrl }}" target="_blank" rel="noopener"><svg class="c-svgicon c-svgicon--twitter"><title>Twitter</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-twitter"></use></svg></a>
                                    <b><a href="{{ tweetAuthorUrl }}" target="_blank" rel="noopener">{{ tweetAuthor }}</a></b>
                                    &nbsp;
                                    <span class="c-tweet-item__text">{{ quote }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="c-support__body +u-4">{{ "Latest tweets will appear here" | t }}</div>
            {% endif %}
        {% else %}
            {% if block.embedType == 'video' %}
                {% set video = craft.embedder.url(block.embed) %}
                <meta itemprop="associatedMedia" property="associatedMedia" content="{{ block.embed | raw }}">
                <meta itemprop="video" property="video" content="{{ block.embed | raw }}">
                <div class="c-support__body +u-4"><div class="c-embed-box +video {{ fillClass }}{{ paddingClass }}">{{ video.embed_code }}</div></div>
            {% elseif block.embedType == 'iframe' %}
                <div class="c-support__body +u-4"><div class="c-embed-box +iframe{{ aspectRatio }} {{ fillClass }}{{ paddingClass }}">{{ block.embed | raw }}</div></div>
            {% else %}
                <div class="c-embed-box {{ fillClass }}{{ paddingClass }}">{{ block.embed | raw }}</div>
            {% endif %}
        {% endif %}
    </div>
</section>
{% endblock %}