{% if block.bandStyle | length and block.bandStyle != "none" %}
    {%- import "_macros/_color-switch" as colorswitch -%}
    {%- set bg = ' -fill' ~ colorswitch._colorswitch(block.bandStyle) -%}
{% endif %}
    {% if block.bandHeight.value == "fill" %}
        {% set posterClass = " c-Index c-Poster--fill" %}
    {% endif %}
<div class="o-block c-support{{ bg }}{{ posterClass }}{{ tabClass }} -noprint{{ blockIdClass }}">
    <div class="c-support__body +u-3 js-anim">
        {% if block.sectionTitle | length %}
        <section>
            <header>
                <div class="c-support__header">
                    {% if block.sectionLink.first() | length %}
                        {% set sectionLink = block.sectionLink.first() %}
                        <h2><a href="{{ sectionLink.url }}">{{ block.sectionTitle | smartypants }}</a>&nbsp;<svg aria-hidden="true" class="c-svgicon c-svgicon--navright"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-navright"></use></svg></h2>
                    {% else %}
                        <h2>{{ block.sectionTitle | smartypants }}</h2>
                    {% endif %}
                </div>
            </header>
            {% endif %}
            {% set htmlInsert = "_includes/insert/_" ~ block.form.value %}
            {% include htmlInsert %}
            {% if block.sectionTitle | length %}
        </section>
        {% endif %}
    </div>
</div>