{# Basic settings #}
{%- import "_macros/_color-switch" as colorswitch -%}
{%- set supportBg = (block.bandStyle != "none" ? " -fill" ~ colorswitch._colorswitch(block.bandStyle) ) -%}
{%- set supportLinked = (block.sectionLink | length ? " +linked" ) -%}

{# Set the supportHeader #}
{%- set supportHeader = (block.sectionTitle | length ? block.sectionTitle | smartypants) -%}
{%- if block.sectionLink.first() -%}
    {%- set sectionLink = block.sectionLink.first() -%}
    {%- set supportHeader -%}
        <a href="{{ sectionLink.url }}">{{ supportHeader }}</a>
    {%- endset -%}
{%- else -%}
    {%- set supportHeader -%}
        {{ supportHeader }}
    {%- endset -%}
{%- endif -%}
{%- if supportHeader | length -%}
    {%- set supportHeader -%}
    <header>
        <div class="c-support__header">
            <h2>{{ supportHeader }}</h2>
        </div>
    </header>
    {%- endset -%}
{%- endif -%}

{# Set the sectionId #}
{%- set sectionIdNo = ( block.sectionTitle | length ? block.sectionTitle|lower|replace(" ", "-") : "i" ~ block.id) -%}
{%- set sectionId %} id="{{ sectionIdNo }}"{% endset -%}

    {%- set supportHeight = (block.bandHeight.value == "fill" ? " +full" ) -%}
    {%- set supportContainerWidth = (block.assetPlacement == "content" ? " +u-3" : "") -%}
    {%- set imageBoxTight = (block.assetPlacement != "content" ? " +tight" : "") -%}
    {%- set noImages = block.image|length -%}
    {%- set assets = block.image -%}

    {%- if noImages > 1 -%}

        {%- if block.bandOptions.contains("slides") -%}
            {%- set displayClass = " +slides" -%}
            {%- set noImagesClass = " x" ~ noImages -%}
        {%- else -%}
            {%- set displayType = "thumbs" -%}
            {%- set displayClass = " +thumbs" -%}
            {%- set noImagesClass = (noImages == 2 or noImages == 4 ? " x2" : " x3") -%}
        {%- endif -%}

    {%- endif -%}


    <div class="o-block c-support{{ supportBg }}{{ supportHeight }}{{ printClass }} c-image-box{{ imageBoxTight }}{{ tabClass }}{{ blockIdClass }}"{{ sectionId }}>
        {{ supportHeader }}
        <figure role="figure" class="c-image-box__inner{{ displayClass }}{{ supportContainerWidth }} js-anim" {{ figureClass }}>
            <div class="c-image{{ displayClass }}{{ noImagesClass }}">
            {%- if block.bandOptions.contains("slides") -%}
                {%- for asset in assets -%}
                    <a></a>
                {%- endfor -%}
            {%- endif -%}
            {%- for asset in assets -%}

                {%- if noImages > 1 -%}
                    {%- set assetOrigWidth = asset.getWidth -%}
                    {%- set assetOrigHeight = asset.getHeight -%}
                    {%- if block.assetPlacement == "content" -%}
                        {% if displayType == "thumbs" %}
                            {%- set assetSrcMob = asset.getUrl('thumb') -%}
                            {%- set assetSrcMobSize = asset.getWidth('thumb') ~ 'w' -%}
                            {%- set assetSrc = asset.getUrl('thumb') -%}
                            {%- set assetSrcSize = asset.getWidth('thumb') ~ 'w' -%}
                            {%- set assetSrcWidth = asset.getWidth('thumb') -%}
                            {%- set assetSrcHeight = asset.getHeight('thumb') -%}
                            {%- set assetSrc2x = asset.getUrl('thumb2x') -%}
                            {%- set assetSrc2xSize = asset.getWidth('thumb2x') ~ 'w' -%}
                        {%- else -%}
                            {%- set assetSrcMob = asset.getUrl('articleSlideMobile') -%}
                            {%- set assetSrcMobSize = asset.getWidth('articleSlideMobile') ~ 'w' -%}
                            {%- set assetSrc = asset.getUrl('articleSlide') -%}
                            {%- set assetSrcSize = asset.getWidth('articleSlide') ~ 'w' -%}
                            {%- set assetSrcWidth = asset.getWidth('articleSlide') -%}
                            {%- set assetSrcHeight = asset.getHeight('articleSlide') -%}
                            {%- set assetSrc2x = asset.getUrl('articleSlide2x') -%}
                            {%- set assetSrc2xSize = asset.getWidth('articleSlide2x') ~ 'w' -%}
                        {%- endif -%}
                    {%- else -%}
                        {%- set assetSrcMob = asset.getUrl('articleSlideWideMobile') -%}
                        {%- set assetSrcMobSize = asset.getWidth('articleSlideWideMobile') ~ 'w' -%}
                        {%- set assetSrc = asset.getUrl('articleSlideWide') -%}
                        {%- set assetSrcSize = asset.getWidth('articleSlideWide') ~ 'w' -%}
                        {%- set assetSrcWidth = asset.getWidth('articleSlideWide') -%}
                        {%- set assetSrcHeight = asset.getHeight('articleSlideWide') -%}
                        {%- set assetSrc2x = asset.getUrl('articleSlideWide2x') -%}
                        {%- set assetSrc2xSize = asset.getWidth('articleSlideWide2x') ~ 'w' -%}
                    {%- endif -%}

                {%- else -%}

                    {%- set assetOrig = asset.getUrl -%}
                    {%- set assetOrigWidth = asset.getWidth -%}
                    {%- set assetOrigHeight = asset.getHeight -%}
                    {%- if block.assetPlacement == "content" -%}
                        {%- set assetSrcMob = asset.getUrl('articleMobile') -%}
                        {%- set assetSrcMobSize = asset.getWidth('articleMobile') ~ 'w' -%}
                        {%- set assetSrc = asset.getUrl('article') -%}
                        {%- set assetSrcSize = asset.getWidth('article') ~ 'w' -%}
                        {%- set assetSrcWidth = asset.getWidth('article') -%}
                        {%- set assetSrcHeight = asset.getHeight('article') -%}
                        {%- set assetSrc2x = asset.getUrl('article2x') -%}
                        {%- set assetSrc2xSize = asset.getWidth('article2x') ~ 'w' -%}
                    {%- else -%}
                        {%- set assetSrcMob = asset.getUrl('articleMobile') -%}
                        {%- set assetSrcMobSize = asset.getWidth('articleMobile') ~ 'w' -%}
                        {%- set assetSrc = asset.getUrl('posterDesktop') -%}
                        {%- set assetSrcSize = asset.getWidth('posterDesktop') ~ 'w' -%}
                        {%- set assetSrcWidth = asset.getWidth('posterDesktop') -%}
                        {%- set assetSrcHeight = asset.getHeight('posterDesktop') -%}
                        {%- set assetSrc2x = asset.getUrl('posterDesktop2x') -%}
                        {%- set assetSrc2xSize = asset.getWidth('posterDesktop2x') ~ 'w' -%}
                    {%- endif -%}
                {%- endif -%}

                {%- set imgTag -%}
                    {%- if block.bandOptions.contains("noResize") -%}
                    <img itemprop="contentUrl"
                         property="contentUrl"
                         src="{{ assetOrig }}"
                         width="{{ assetOrigWidth }}"
                         height="{{ assetOrigHeight }}"
                         alt="{{ asset.title }}"
                         loading="auto"
                        {{ basefilters }}>
                    {%- else -%}
                    <img itemprop="contentUrl"
                         property="contentUrl"
                         src="{{ assetSrc }}"
                         width="{{ assetSrcWidth }}"
                         height="{{ assetSrcHeight }}"
                         srcset="{{ assetSrc2x }} {{ assetSrc2xSize }},
                            {{ assetSrc }} {{ assetSrcSize }},
                            {{ assetSrcMob }} {{ assetSrcMobSize }}"
                         sizes="100vw"
                         alt="{{ asset.title }}"
                         loading="auto"
                         {{ basefilters }}>
                    {%- endif -%}
                {%- endset -%}
                {%- if displayType == "thumbs" -%}
                    <a href="{{ asset.url }}" data-fancybox="gallery" data-width="{{ assetOrigWidth }}" data-height="{{ assetHeightOrig }}" data-type="image" data-caption="{{ asset.title }}" class="c-image__thumb{{ filterClass }}" title="{{ asset.title }}">{{ imgTag }}</a>
                {%- else -%}
                    {{ imgTag }}
                {%- endif -%}
            {%- endfor -%}
            </div>
        </figure>
    </div>