{%- extends "_includes/support/_support-container" -%}

{% block supportContent %}

{%- set autoHeight = (block.bandOptions.contains("autoHeight") ? " +auto-height" : " +fixed-height") -%}

<div class="o-block c-support{{ supportBg }}{{ tabClass }}{{ blockIdClass }}"{{ sectionId }}>
    <div class="c-support__body js-anim">
        {{ supportHeader }}

        {% if block.mediaTable | length %}
            <ul class="c-support-list c-media-list">
                {% for row in block.mediaTable %}
                    <li>
                        {% include "_includes/support/items/_media" %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
