{%- set assetPlacementClass = (block.assetPlacement != "full" ? " +" ~ block.assetPlacement : "")-%}

{%- if block.tweet | length -%}
    {%- set quoteType = "tweet" -%}
    {%- set tweet = block.tweet -%}
    {%- set user = tweet.user -%}
    {%- set url = 'https://twitter.com/' ~ user.screen_name ~ '/status/' ~ tweet.id -%}
    {%- set author = user.name ~ ' @' ~ user.screen_name -%}
    {% set authorUrl = 'https://twitter.com/' ~ user.screen_name -%}
    {%- set quote = tweet.text|autoLinkTweet({
    noFollow: false,
    target: "_blank",
    external: false
    }) -%}
    {%- set quoteIcon -%}
    <a href="{{ url }}"><svg class="c-svgicon c-svgicon--twitter"><title>Twitter</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-twitter"></use></svg></a><br>
    {%- endset -%}
    {%- set quoteCite -%}<a href="{{ authorUrl }}" target="_blank">{{ author }}</a>{%- endset -%}
{%- else -%}
    {%- set quoteType = "quote" -%}
    {%- set quote = block.quote -%}
    {%- set quoteIcon -%}
    <svg class="c-svgicon c-svgicon--quote" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-quote"></use></svg>
    {%- endset -%}
    {%- if block.citeLink | length -%}
        {%- set quoteCite -%}<a href="{{ block.citeLink }}" target="_blank">{{ block.cite }}</a>{%- endset -%}
    {%- else -%}
        {%- set quoteCite = block.cite -%}
    {%- endif -%}
{%- endif -%}

{%- if quoteType == "verse" -%}
    <figure role="figure" aria-label="{{ quoteCite | striptags }}" class="c-asset{{ assetPlacementClass }} js-anim">
        {{ quoteIcon }}
        {{ quote }}
        <figcaption><cite>
            {{ quoteCite }}
        </cite></figcaption>
    </figure>
{%- else -%}
    <blockquote class="c-asset{{ assetPlacementClass }} js-anim">
        {{ quoteIcon }}
        {{ quote }}
        <cite>
            {{ quoteCite }}
        </cite>
    </blockquote>
{%- endif -%}