{#
    Options
    -   cardStacked
    -   showMap
    -   showMedical
    -   showEmail
    -   showPhone
#}

{%- for entry in supportEntries -%}

    {%- set generalInfo = ( entry.infoTable | length ? entry.infoTable : "" ) -%}
    {%- set contactInfo = ( entry.contactTable | length ? entry.contactTable : "" ) -%}
    {%- set addressTable = ( entry.addressTable | length ? entry.addressTable : "" ) -%}
    {%- set thumbWidth = ( cardStacked is defined ? "266" : "532" ) -%}
    {%- set dblClass = ( cardStacked is defined ? "" : " +dbl" ) -%}

    {%- if entry.leadImage | length -%}
        {%- set thumbClass = " +thumb" -%}
        {%- set image = entry.leadImage[0] -%}
        {%- set thumbSrc = ( cardStacked is defined ? image.getUrl('thumbHalf') : image.getUrl('thumb') ) -%}
        {%- set thumbSrc2x = ( cardStacked is defined ? image.getUrl('thumbHalf2x') : image.getUrl('thumb2x') ) -%}
        {# Set up image #}
        {%- set cardThumb -%}
            <a href="{{ entry.url }}" class="c-card__thumb"><img src="{{ thumbSrc }}" srcset="{{ thumbSrc2x }} 2x" alt="{{ entry.title }}" height="266" width="{{ thumbWidth }}"></a>
        {%- endset -%}
    {%- elseif
    entry.leadVideo | lower ends with "jpg" or
    entry.leadVideo | lower ends with "jpeg" or
    entry.leadVideo | lower ends with "png" or
    entry.leadVideo | lower ends with "gif"
    -%}
        {%- set thumbClass = " +thumb" -%}
        {%- set cardThumb -%}
            <a href="{{ entry.url }}" class="c-card__thumb"><img src="{{ entry.leadVideo }}" alt="{{ entry.title }}" height="266" width="{{ thumbWidth }}"></a>
        {%- endset -%}
    {%- else -%}
        {%- set cardThumb = "" -%}
        {%- set thumbClass = "" -%}
    {%- endif -%}

    {%- if generalInfo | length -%}
        {%- for row in generalInfo -%}
            {%- if showMap is defined and row.label | lower == "map" -%}
                {%- set thumbClass = " +thumb" -%}
                {%- set cardThumb -%}
                    <a href="{{ entry.url }}" class="c-card__thumb"><img src="{{ row.link }}" alt="{{ "Map" | t }}" height="266" width="{{ thumbWidth }}"></a>
                {%- endset -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if cardThumb == "" -%}
        {%- set dblClass = " +dbl" -%}
    {%- endif-%}

    {%- if entry.indexHeading | length -%}
        {%- set cardTitle = entry.indexHeading | striptags -%}
    {%- elseif entry.heading | length -%}
        {%- set cardTitle = entry.heading | striptags -%}
    {%- else -%}
        {%- set cardTitle = entry.title | striptags -%}
    {%- endif -%}

    {%- set cardStats -%}

        {%- for row in contactInfo -%}
            {%- set labelExplode = row.label | split("|") -%}
            {%- set label = labelExplode[0] -%}
            {%- set detailExplode = row.detail | split("|") -%}
            {%- set detail = detailExplode[0] -%}
            {%- set link = "" -%}
            {%- if showEmail is defined and label | lower starts with "email" -%}
                {%- set link = (row.link | length ? row.link : "mailto:" ~ detail) -%}
                <b>{{ label }}:</b>
                <a href="{{ link }}">{{ detail }}</a><br>
            {%- endif -%}
            {%- if showPhone is defined and ( label | lower starts with "tel" or label | lower starts with "phone" or label | lower starts with "mob" ) -%}
                {%- set telNo = row.detail | replace(' ', '') | replace('(', '') | replace(')', '') -%}
                {%- set link = (row.link | length ? row.link : "tel:" ~ telNo ) -%}
                <b>{{ label }}:</b>
                <a href="{{ link }}">{{ detail }}</a><br>
            {%- endif -%}
        {%- endfor -%}
        {%- for row in generalInfo -%}
            {%- set labelExplode = row.label | split("|") -%}
            {%- set label = labelExplode[0] -%}
            {%- set detailExplode = row.detail | split("|") -%}
            {%- set detail = detailExplode[0] -%}
            {%- if showMedical is defined and row.label | lower ends with "protection" -%}
                <b>{{ label }}:</b>
                {{ detail }}<br>
            {%- endif -%}
            {%- if showCurrency is defined and row.label | lower ends with "currency" -%}
                <b>{{ label }}:</b>
                {% if detail ends with ")" -%}
                    {%- set detailExplode = detail | split("(") -%}
                    {%- set detail = detailExplode[0] -%}
                    {%- set toCurrency = detailExplode[1] | replace(")", "") -%}
                    {%- set fromCurrency = siteCurrency -%}
                    {{ detail }}
                    {% include "_includes/_currency" %}<br>
                {%- else -%}
                    {{ detail }}<br>
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}

    {%- endset -%}
    {%- if entry.streetAddress | length or entry.country | length -%}
        {%- set address = entry -%}
        {%- set addressField -%}
            <p>{% include "_includes/_address-field" with { "bareBones" : "true" } %}</p>
        {%- endset -%}
    {%- endif -%}

    <div class="c-card +entry{{ dblClass }}{{ thumbClass }}">
        <article>
            {{ cardThumb }}
            <div class="c-card__content">
                <h3 class="c-card__title"><a href="{{ entry.url }}">{{ cardTitle }}</a></h3>
                {%- if cardStats != "" -%}
                    <p class="c-card__stats">{{ cardStats }}</p>
                {%- elseif addressField -%}
                    {{ addressField }}
                {%- else -%}
                    <p>{{ entry.brief | striptags }}</p>
                {%- endif -%}
            </div>
        </article>
    </div>
{%- endfor -%}