{%- set assetPlacementClass = (block.assetPlacement != "full" ? " +" ~ block.assetPlacement : "")-%}
{%- import "_macros/_color-switch" as colorswitchFull -%}
{%- set fillClass = (block.fill != "none" ? " " ~ colorswitchFull._colorswitchFull(block.fill) : "") -%}
{%- set paddingClass = (block.padding != 0 ? " +padded"  : "")-%}
{%- set aspectRatio = (block.aspectRatio | length ? " +" ~ block.aspectRatio  : "")-%}
{%- set audioClass = (block.embed starts with "<audio" ? " +audio") -%}

<figure role="figure" aria-label="{{ block.assetCaption | striptags }}" class="c-asset{{ assetPlacementClass }}{{ fillClass }}{{ paddingClass }}{{ audioClass }} +embed js-anim">
    {%- if block.embedAsset | length -%}
        {%- for asset in block.embedAsset -%}
            {%- set embed = craft.embeddedAssets.fromAsset(asset) -%}
            {%- if embed -%}
                <div class="c-embed-box +iframe{{ aspectRatio }}">{{ embed.safeHtml|raw }}</div>
            {%- endif -%}
        {%- endfor -%}
    {%- else -%}
        {%- if block.embedType == "twitter" -%}
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {{ twitterTweet(block.embedUrl) }}
        {%- elseif block.embedType == "twitter-grid" -%}
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {{ twitterGrid(block.embedUrl) }}
        {%- elseif block.embedType == "twitter-timeline" -%}
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {{ twitterTimeline(block.embedUrl) }}
        {%- elseif block.embedType == "twitter-video" -%}
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {{ twitterVideo(block.embedUrl) }}
        {%- elseif block.embedType == "iframe" -%}
            <div class="c-embed-box +iframe{{ aspectRatio }}">{{ block.embed | raw }}</div>
        {%- else -%}
            <div class="c-embed-box">{{ block.embed | raw }}</div>
        {%- endif %}
    {%- endif -%}
    {%- if block.assetCaption -%}
        <figcaption class="c-asset__caption">{{ block.assetCaption }}</figcaption>
    {%- endif -%}
</figure>