{%- set assetPlacementClass = (block.assetPlacement != "full" ? " +" ~ block.assetPlacement : "")-%}

{%- if block.entry | length or block.document | length or block.externalLink | length -%}
<aside class="c-asset{{ assetPlacementClass }} js-anim" role="complementary">

    {%- if block.document | length %}

    {%- set documents = block.document -%}
        <ul class="c-entries-list">
            {%- for document in documents -%}
            {%- set icon = "text"  -%}
            <li>
                <div class="c-square +linked +doc">
                    <div class="c-square__content">
                        <h3 class="c-square__title">
                            <a href="{{ document.url }}" target="_blank" rel="noopener" class="c-tease__title-link">
                                <svg class="c-svgicon c-svgicon--{{ icon }}" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-{{ icon }}"></use></svg><br>
                                {{ document.title }}
                            </a>
                        </h3>
                    </div>
                    <a href="{{ document.url }}" target="_blank" rel="noopener" class="c-tease__link" tabindex="-1"></a>
                </div>
            </li>
            {%- endfor -%}
        </ul>

    {%- elseif block.externalLink | length -%}

    {%- set links = block.externalLink -%}
        <ul class="c-entries-list">
        {%- for link in links -%}
            {%- set linkColor = (link.color | length ? " style=background-color:" ~ link.color : "")  -%}
            {%- set icon = (link.icon | length ? link.icon : "link" )  -%}
            <li>
                <div class="c-square +linked +link"{{ linkColor }}>
                    <div class="c-square__content">
                        <h3 class="c-square__title">
                            <a href="{{ link.url }}" target="_blank" rel="noopener" class="c-tease__title-link">
                                <svg class="c-svgicon c-svgicon--{{ icon }}" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-{{ icon }}"></use></svg><br>
                                {{ link.title }}
                            </a>
                        </h3>
                    </div>
                    <a href="{{ link.url }}" target="_blank" rel="noopener" class="c-tease__link" tabindex="-1"></a>
                </div>
            </li>
        {%- endfor -%}
        </ul>

    {%- elseif block.entry | length -%}

    {%- set entries = block.entry -%}
        <ul class="c-entries-list">
            {%- for entry in entries -%}
                {%- set icon = "plus"  -%}
                <li>
                    <div class="c-square +linked +entry">
                        <div class="c-square__content">
                            <h3 class="c-square__title">
                                <a href="{{ entry.url }}" target="_blank" rel="noopener" class="c-tease__title-link">
                                    <svg class="c-svgicon c-svgicon--{{ icon }}" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-{{ icon }}"></use></svg><br>
                                    {{ entry.title }}
                                </a>
                            </h3>
                        </div>
                        <a href="{{ entry.url }}" target="_blank" rel="noopener" class="c-tease__link" tabindex="-1"></a>
                    </div>
                </li>
            {%- endfor -%}
        </ul>

    {%- endif -%}
    {%- if block.assetCaption -%}
    <p class="-caption">{{ block.assetCaption }}</p>
    {%- endif -%}

</aside>

{%- endif -%}