{% if block.linkTable | length %}
<ul class="c-Article-links">
{% for row in block.linkTable %}
    <li>
        {% if row.linkImage | length %}
        <a href="{{ row.linkUrl }}" class="Teaser Teaser--thumb" style="background-image:url('{{ row.linkImage }}')">
        {% else %}
        <a href="{{ row.linkUrl }}" class="Teaser Teaser--bg -fill-shade">
        {% endif %}
        <article class="Teaser-article">
            <h1 class="Teaser-title" onClick="location.href='{{ row.linkUrl }}'">{{ row.linkName }}</h1>
            {% if row.linkDescription | length %}
            <p>{{ row.linkDescription }}</p>
            {% endif %}
        </article>
        </a>
    </li>
{% endfor %}
</ul>
{% endif %}