{%- import "_macros/_color-switch" as colorswitchFull -%}
{%- set assetPlacementClass = (block.assetPlacement != "full" ? " +" ~ block.assetPlacement : "")-%}
{%- set noImages = block.image|length -%}
{%- set assets = block.image -%}
{%- set fillClass = (block.fill != "none" ? " " ~ colorswitchFull._colorswitchFull(block.fill) : "") -%}
{%- set paddingClass = (block.padding != 0 ? " +padded" : "") -%}
{%- set filterClass = (block.filter != "none" ? " " ~ block.filter : "") -%}

{%- switch block.display -%}
    {%- case "slides" -%}
        {%- set displayClass = " +slides" -%}
        {%- set noImagesClass = " x" ~ noImages -%}
    {%- case "grid" -%}
        {%- set displayClass = " +thumbs" -%}
        {%- set noImagesClass = (noImages == 2 or noImages == 4 ? " x2" : " x3") -%}
{%- endswitch -%}

<figure role="figure" aria-label="{{ block.imageCaption | striptags }}" class="c-asset{{ assetPlacementClass }}{{ paddingClass }}{{ fillClass }} js-anim">

{%- if assets | length -%}

    <div class="c-image{{ displayClass }}{{ noImagesClass }}">

        {%- if block.display == "slides" -%}
            {%- for asset in assets -%}
                <a></a>
            {%- endfor -%}
        {%- endif -%}

        {%- for asset in assets -%}

            {%- if block.display == "slides" -%}
                {# Set sizes #}
                {%- set assetSrcWidthOrig = asset.getWidth -%}
                {%- set assetSrcHeightOrig = asset.getHeight -%}
                {%- set assetSrcSizeOrig = asset.getWidth ~ 'w' -%}
                {%- if block.assetPlacement == 'poster' -%}
                    {%- set assetSrcMob = asset.getUrl('articleSlideWideMobile') -%}
                    {%- set assetSrcMobSize = asset.getWidth('articleSlideWideMobile') ~ 'w' -%}
                    {%- set assetSrc = asset.getUrl('articleSlideWide') -%}
                    {%- set assetSrcWidth = asset.getWidth('articleSlideWide') -%}
                    {%- set assetSrcHeight = asset.getHeight('articleSlideWide') -%}
                    {%- set assetSrcSize = asset.getWidth('articleSlideWide') ~ 'w' -%}
                    {%- set assetSrc2x = asset.getUrl('articleSlideWide2x') -%}
                    {%- set assetSrc2xSize = asset.getWidth('articleSlideWide2x') ~ 'w' -%}
                {%- elseif block.assetPlacement == 'wide' -%}
                    {%- set assetSrcMob = asset.getUrl('articleSlideWideMobile') -%}
                    {%- set assetSrcMobSize = asset.getWidth('articleSlideWideMobile') ~ 'w' -%}
                    {%- set assetSrc = asset.getUrl('articleSlideWide') -%}
                    {%- set assetSrcWidth = asset.getWidth('articleSlideWide') -%}
                    {%- set assetSrcHeight = asset.getHeight('articleSlideWide') -%}
                    {%- set assetSrcSize = asset.getWidth('articleSlideWide') ~ 'w' -%}
                    {%- set assetSrc2x = asset.getUrl('articleSlideWide2x') -%}
                    {%- set assetSrc2xSize = asset.getWidth('articleSlideWide2x') ~ 'w' -%}
                {%- else %}
                    {%- set assetSrcMob = asset.getUrl('articleSlideMobile') -%}
                    {%- set assetSrcMobSize = asset.getWidth('articleSlideMobile') ~ 'w' -%}
                    {%- set assetSrc = asset.getUrl('articleSlide') -%}
                    {%- set assetSrcWidth = asset.getWidth('articleSlide') -%}
                    {%- set assetSrcHeight = asset.getHeight('articleSlide') -%}
                    {%- set assetSrcSize = asset.getWidth('articleSlide') ~ 'w' -%}
                    {%- set assetSrc2x = asset.getUrl('articleSlide2x') -%}
                    {%- set assetSrc2xSize = asset.getWidth('articleSlide2x') ~ 'w' -%}
                {%- endif -%}
            {%- else -%}
                {%- if block.assetPlacement == 'poster' -%}
                    {%- set assetSrcMob = asset.getUrl('articleWideMobile') -%}
                    {%- set assetSrcMobSize = asset.getWidth('articleWideMobile') ~ 'w' -%}
                    {%- set assetSrc = asset.getUrl('articleWide') -%}
                    {%- set assetSrcSize = asset.getWidth('articleWide') ~ 'w' -%}
                    {%- set assetSrcWidth = asset.getWidth('articleWide') -%}
                    {%- set assetSrcHeight = asset.getHeight('articleWide') -%}
                    {%- set assetSrc2x = asset.getUrl('articleWide2x') -%}
                    {%- set assetSrc2xSize = asset.getWidth('articleWide') ~ 'w' -%}
                {%- elseif block.assetPlacement == 'wide' -%}
                    {%- set assetSrcMob = asset.getUrl('articleWideMobile') -%}
                    {%- set assetSrcMobSize = asset.getWidth('articleWideMobile') ~ 'w' -%}
                    {%- set assetSrc = asset.getUrl('articleWide') -%}
                    {%- set assetSrcSize = asset.getWidth('articleWide') ~ 'w' -%}
                    {%- set assetSrcWidth = asset.getWidth('articleWide') -%}
                    {%- set assetSrcHeight = asset.getHeight('articleWide') -%}
                    {%- set assetSrc2x = asset.getUrl('articleWide2x') -%}
                    {%- set assetSrc2xSize = asset.getWidth('articleWide') ~ 'w' -%}
                {%- elseif block.assetPlacement == 'thumb' -%}
                    {%- set assetSrcMob = asset.getUrl('thumb') %}
                    {%- set assetSrcMobSize = asset.getWidth('thumb') ~ 'w' %}
                    {%- set assetSrc = asset.getUrl('thumb') %}
                    {%- set assetSrcSize = asset.getWidth('thumb') ~ 'w' %}
                    {%- set assetSrcWidth = asset.getWidth('thumb') %}
                    {%- set assetSrcHeight = asset.getHeight('thumb') %}
                    {%- set assetSrc2x = asset.getUrl('thumb2x') %}
                    {%- set assetSrc2xSize = asset.getWidth('thumb2x') ~ 'w' %}
                {%- elseif block.assetPlacement == 'margin' -%}
                    {%- set assetSrcMob = asset.getUrl('articleMobile') -%}
                    {%- set assetSrcMobSize = asset.getWidth('articleMobile') ~ 'w' -%}
                    {%- set assetSrc = asset.getUrl('articleMobile') -%}
                    {%- set assetSrcSize = asset.getWidth('articleMobile') ~ 'w' -%}
                    {%- set assetSrcWidth = asset.getWidth('articleMobile') -%}
                    {%- set assetSrcHeight = asset.getHeight('articleMobile') -%}
                    {%- set assetSrc2x = asset.getUrl('article') -%}
                    {%- set assetSrc2xSize = asset.getWidth('article') ~ 'w' -%}
                {%- else -%}
                    {%- set assetSrcMob = asset.getUrl('articleMobile') -%}
                    {%- set assetSrcMobSize = asset.getWidth('articleMobile') ~ 'w' -%}
                    {%- set assetSrc = asset.getUrl('article') -%}
                    {%- set assetSrcSize = asset.getWidth('article') ~ 'w' -%}
                    {%- set assetSrcWidth = asset.getWidth('article') -%}
                    {%- set assetSrcHeight = asset.getHeight('article') -%}
                    {%- set assetSrc2x = asset.getUrl('article2x') -%}
                    {%- set assetSrc2xSize = asset.getWidth('article2x') ~ 'w' -%}
                {%- endif -%}
            {%- endif -%}

           {%- set imgTag -%}
               {%- if block.display == "grid" -%}
                   <img class="c-asset__image"
                    src="{{ asset.url('thumb') }}"
                    intrinsicsize="{{ asset.getWidth('thumb') }}x{{ asset.getHeight('thumb') }}"
                    srcset="{{ asset.url('thumb') }} {{ asset.width('thumb') }}w,
                    {{ asset.url('thumb2x') }} {{ asset.width('thumb2x') }}w"
                    sizes="100vw"
                    alt="{{ asset.title }}"
                    title="{{ asset.title }}"
                    loading="lazy"
                    data-lightbox-gallery="photo_gallery"
                    data-image="{{ asset.url('article') }}"
                    {{ basefilters }}>
               {%- else -%}

                   {%- if block.externalUrl | length -%}
                       <a href="{{ block.externalUrl }}" target="_blank">
                   {%- endif -%}

                   <img class="c-asset__image"
                    src="{{ assetSrc }}"
                    width="{{ assetSrcWidth }}"
                    height="{{ assetSrcHeight }}"
                    intrinsicsize="{{ assetSrcWidth }}x{{ assetSrcHeight }}"
                    srcset="{{ assetSrc2x }} {{ assetSrc2xSize }},
                    {{ assetSrc }} {{ assetSrcSize }},
                    {{ assetSrcMob }} {{ assetSrcMobSize }}"
                    sizes="100vw"
                    alt="{{ asset.title }}"
                    loading="auto"
                    {{ basefilters }}>

                   {%- if block.externalUrl | length -%}
                       </a>
                   {%- endif -%}
               {%- endif -%}
           {%- endset -%}

            {%- if block.display == "grid" -%}
                <a href="{{ asset.url }}" data-fancybox="gallery" data-width="{{ assetSrcWidthOrig }}" data-height="{{ assetSrcHeightOrig }}" data-type="image" data-caption="{{ asset.title }}" class="c-image__thumb{{ filterClass }}" title="{{ asset.title }}" data-size="{{ assetSrcWidthOrig }}x{{ assetSrcHeightOrig }}">{{ imgTag }}</a>
            {%- elseif block.display == "popup" -%}
                <a href="{{ asset.url }}" data-fancybox="gallery" data-width="{{ assetSrcWidthOrig }}" data-height="{{ assetSrcHeightOrig }}" data-type="image" data-caption="{{ asset.title }}" class="{{ filterClass }}" title="{{ asset.title }}" data-size="{{ assetSrcWidthOrig }}x{{ assetSrcHeightOrig }}">{{ imgTag }}</a>
            {%- else -%}
                {{ imgTag }}
            {%- endif -%}

        {%- endfor -%}

    </div>

{%- elseif block.externalUrl | length -%}

    <img class="c-image c-asset__image" src="{{ block.externalUrl }}" alt="{{ block.imageCaption | striptags }}" loading="auto">

{%- endif -%}

{%- if block.imageCaption -%}

    <figcaption class="c-asset__caption">{{ block.imageCaption }}</figcaption>

{%- endif -%}

</figure>