{%- import "_macros/_color-switch" as colorswitchFull -%}
{%- set sectionIdNo = ( block.heading | length ? block.heading | kebab : "i" ~ block.id) -%}
{%- set sectionId %} id="{{ sectionIdNo }}"{% endset -%}
{%- if block.fill != "none" %}
    {%- set fillClass %} class="+heading-fill {{ colorswitchFull._colorswitchFull(block.fill) }}"{% endset -%}
    {%- set addFillClass = colorswitchFull._colorswitchFull(block.fill) -%}
{%- else %}
    {%- set fillClass = '' -%}
    {%- set addFillClass = '' -%}
{%- endif %}
{%- if block.image | length -%}
    {%- set blockImage = block.image[0] -%}
    {%- set selector = ".c-article__band#" ~ sectionIdNo -%}
    {%- set imgClass = " +img" -%}
    {%- if entry.pageOptions.contains("posterFixed") -%}
        {%- set fixedClass = " +fixed" -%}
    {%- endif -%}
    {%- set element = blockImage %}
    {%- import "_macros/_poster-insert" as posterInsert -%}
    {%- set posterCss = posterInsert._posterInsert(selector, element) -%}
{%- endif -%}


{%- if block.headingType == "clear" -%}
    <hr class="-clear">
{%- elseif block.headingType == "hr" -%}
    <hr>
{%- elseif block.headingType == "divide" -%}
            </div>
        </div>
    </div>
    {{posterCss}}
    <div class="o-block-xsm c-article__band {{ addFillClass }}{{ imgClass }}{{ fixedClass }} -clear -clearfix"{{ sectionId }}>
        <div class="c-article__content">
            <div class="c-article__main js-anim">
{%- elseif block.headingType == "divideStart" -%}
    {{posterCss}}
    <div class="o-block-xsm c-article__band {{ addFillClass }}{{ imgClass }}{{ fixedClass }} -clear -clearfix"{{ sectionId }}>
        <div class="c-article__content">
            <div class="c-article__main js-anim">
{%- elseif block.headingType == "divideEnd" -%}
            </div>
        </div>
    </div>
{%- else -%}
    {%- if entry.pageOptions.contains("showTOC") %}
        {%- set tocAnchor %}<a href="#toc" class="c-contents__anchor" title="Go to Table of Contents"><svg class="c-svgicon c-svgicon--top" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-top"></use></svg></a>{% endset %}
    {%- endif %}
    {%- if block.headingLink | length %}
        {%- set anchorStart %}<a href="{{ block.headingLink }}">{% endset -%}
        {%- set anchorEnd %}</a>{% endset -%}
    {%- endif -%}
    <{{ block.headingType }}{{ fillClass }} id="{{ block.heading | kebab }}">{{ tocAnchor }}{{ anchorStart }}{{ block.heading }}{{ anchorEnd }}</{{ block.headingType }}>
{%- endif -%}