{%- import "_macros/_color-switch" as colorswitchFull -%}
{%- set assetPlacementClass = (block.assetPlacement != "full" ? " +" ~ block.assetPlacement : "")-%}
{%- set formatClass = (block.format | length ? " +" ~ block.format : "")-%}
{%- set fillClass = (block.fill != "none" ? colorswitchFull._colorswitchFull(block.fill)  : "")-%}
{%- set paddingClass = (block.padding != 0 ? " +padded"  : "")-%}

<aside class="c-asset c-info-box{{ formatClass }}{{ assetPlacementClass }}{{ fillClass }}{{ paddingClass }} js-anim" role="complementary">
    <article>
        <header>
            {% if block.infoTitle %}
                <h1>{{ block.infoTitle }}</h1>
            {% endif %}
            {% if block.infoBrief %}
                {{ block.infoBrief }}
            {% endif %}
        </header>

        {% if block.entry | length %}
            {% set entries = block.entry %}
            {% set noSeo = "no" %}
            {% for entry in entries %}

                {%- if block.infoType == "contact" -%}
                    {%- set infoTable = entry.contactTable -%}
                    {%- include "_includes/_info-table" -%}
                {%- elseif block.infoType == "address" -%}
                    {% for row in infoTable %}
                        <dl>
                            <dt>Address</dt>
                            <dd>{% include "_includes/_address" %}</dd>
                        </dl>
                    {% endfor %}

                {%- else -%}
                    {%- set infoTable = entry.infoTable -%}
                    {%- include "_includes/_info-table" -%}
                {%- endif -%}

            {% endfor %}
        {% endif %}

        {% if block.infoTable | length %}
            <dl>
                {% for row in block.infoTable %}
                    <dt>{{ row.label }}</dt>
                    {% if row.link %}
                        <dd><a href="{{ row.link }}">{{ row.detail }}</a></dd>
                    {% else %}
                        <dd>{{ row.detail }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        {% endif %}

    </article>
</aside>