{%- import "_macros/_color-switch" as colorswitchFull -%}
{%- set assetPlacementClass = (block.assetPlacement != "full" ? " +" ~ block.assetPlacement : "")-%}
{%- set fillClass = (block.fill != "none" ? " " ~ colorswitchFull._colorswitchFull(block.fill) : "")-%}
{%- set paddingClass = (block.fill != 0 ? " +padded" : "")-%}

    <figure role="figure" class="c-asset +map{{ paddingClass }}{{ fillClass }}{{ block.assetPlacement }}js-anim">
        <div class="c-embed-box +map c-map">
            {%- import "_macros/_map" as map -%}
            {{ map._map(block.map) }}
        </div>
    </figure>