{%- import "_macros/_color-switch" as colorswitchFull -%}
{%- set assetPlacementClass = (block.assetPlacement != "full" ? " " ~ block.assetPlacement : "")-%}
{%- set fillClass = (block.fill != "none" ? " " ~ colorswitchFull._colorswitchFull(block.fill)  : "")-%}
{%- set paddingClass = (block.padding != 0 ? " +padded"  : "")-%}

{% if block.sortable %}
    {% includeJsFile assetUrl ~ "js/jquery.tablesorter.min.js" %}
    {% set sortableId = " id=sortTable" %}
    {% set sortableClass = "tablesorter" %}

    {% set sortableJs %}
    $(document).ready(function()
        {
            $("#sortTable").tablesorter();
        }
    );
    {% endset %}
    {% includeJs sortableJs %}
{% endif %}
{% if block.tableLayout | length and block.tableLayout != 'default' %}
    {% set layoutClass = " +" ~ block.tableLayout %}
{% endif %}
<section class="c-asset +table{{ assetPlacementClass }}{{ paddingClass }}{{ fillClass }} js-anim">
    <table{{ sortableId }} class="c-table{{ sortableClass }}{{ layoutClass }}">
        {% if block.tableTitle %}
            <caption class="c-table__caption">{{ block.tableTitle }}</caption>
        {% endif %}
        <thead>
        <tr>
        {% for col in block.table.columns %}
            {% set hcell = col.heading %}
            {% if hcell starts with "[" and hcell ends with "]" %}
                {% set hcellClass = " +tight" %}
                {% set hcell = hcell|replace('[', '')|replace(']', '') %}
            {% endif %}
            {% if col.align == "right" %}
                {% set hcellAlignClass = " -tr" %}
            {% elseif col.align == "center" %}
                {% set hcellAlignClass = " -tc" %}
            {% endif %}
            {% if hcell | length %}
            {% else %}
                {% set hcell = " " %}
            {% endif %}
            <th align="{{ col.align }}" width="{{ col.width }}" class="{{ hcellClass }}{{ hcellAlignClass }}" scope="col">{{ hcell }}</th>
        {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for row in block.table.rows %}
        <tr>
        {% for cell in row %}
            {% set cellClass = "" %}
            {% if cell starts with '[' and cell ends with ']' %}
                {% set cellClass = " +tight" %}
                {% set cell = cell|replace('[', '')|replace(']', '') %}
            {% endif %}
            {% set cellParts = cell | split("|") %}
            {% set cellLink = cellParts[1] %}
            {% set cell = cellParts[0] %}
            {% if block.table.columns[loop.index0].align == "right" %}
                {% set cellAlignClass = " -tr" %}
            {% elseif block.table.columns[loop.index0].align == "center" %}
                {% set cellAlignClass = " -tc" %}
            {% endif %}

            <td align="{{ block.table.columns[loop.index0].align }}" class="{{ cellClass }}{{ cellAlignClass }}">{% if cellLink | length %}<a href="{{ cellLink }}" target="_blank" rel="noopener">{{ cell }}</a>{% else %}{{ cell|raw }}{% endif %}</td>

        {% endfor %}
        </tr>
        {% endfor %}
        </tbody>

    </table>
</section>