{%- import "_macros/_color-switch" as colorswitchFull -%}
{%- set classList = [] -%}

{%- if entry.pageOptions.contains("showTOC") %}
    {%- set tocAnchor %}<a href="#toc" class="c-contents__anchor" title="Go to Table of Contents"><svg class="c-svgicon c-svgicon--top" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-top"></use></svg></a>{% endset %}
{%- endif %}
{%- if block.fill != "none" or block.style | length or block.format != "default" -%}
    {%- set classList = classList | merge(["c-article__block"]) -%}
    {%- if block.fill != "none" -%}
        {%- set classList = classList | merge([colorswitchFull._colorswitchFull(block.fill)]) -%}
    {%- endif -%}
    {%- if block.style.contains("centered") -%}
        {%- set classList = classList | merge(["-tc"]) -%}
    {%- endif -%}
    {%- if block.style.contains("padding") -%}
        {%- set classList = classList | merge(["+padded"]) -%}
    {%- endif -%}
    {%- if block.style.contains("dropCap") -%}
        {%- set classList = classList | merge(["+dropcap"]) -%}
    {%- endif -%}
    {%- if block.style.contains("oldStyle") -%}
        {%- set classList = classList | merge(["-oldstyle"]) -%}
    {%- endif -%}
    {%- if block.style.contains("largeText") -%}
        {%- set classList = classList | merge(["+text-lg"]) -%}
    {%- elseif block.style.contains("smallText") -%}
        {%- set classList = classList | merge(["-fs1/2"]) -%}
    {%- endif -%}
    {%- if block.style.contains("fade") -%}
        {%- set classList = classList | merge(["-fade"]) -%}
    {%- endif -%}
    {%- if block.format != "default" -%}
        {%- set classList = classList | merge(["+" ~ block.format]) -%}
    {%- endif -%}
    {%- if block.addClasses | length -%}
        {%- set classList = classList | merge([block.addClasses]) -%}
    {%- endif -%}
    {%- import "_macros/_class-attr" as bodyClasses -%}
    {%- set classList = bodyClasses._classAttr(classList) -%}
    {%- if block.style.contains("accordion") -%}
        {%- set detailState = ( block.summary starts with '^' ? ' open' : '' ) -%}
        <details {{ classList }}{{ detailState }}>
            {%- if block.summary | length -%}
            <summary id="{{ block.summary | replace('^', '') | kebab }}">{{ block.summary | replace('^', '') }}</summary>
            {%- endif -%}
            {{ block.text | typogrify }}
        </details>
    {%- else -%}
        <div {{ classList }}>
        {%- if block.summary | length -%}
            <h2 id="{{ block.summary | kebab }}">{{ tocAnchor }}{{ block.summary }}</h2>
        {%- endif -%}
            {{ block.text | typogrify }}
        </div>
    {%- endif -%}
{%- else -%}
    {%- if block.summary | length -%}
        <h2 id="{{ block.summary | kebab }}">{{ tocAnchor }}{{ block.summary }}</h2>
    {%- endif -%}
    {{ block.text | typogrify }}
{%- endif -%}