$articleWidth           : $block * 3;

$articleBodyPY              : $unit;
$articleBodyPYLgRatio       : 2;
$articleBodyPYXlgRatio      : 4;

$articleMainFontWeight      : default;
$articleMainLgFontRatio     : 1.15;
$articleMainLgrFontRatio    : 1;
$articleMainLH              : default;
$articleMainPadVMd          : default;
$articleMainPadVLg          : default;
$articleMainSpacing         : $unit;
$articleMainSpacingLg       : $articleMainSpacing*1.5;
$articleMainSpacingUnit     : rem;

$articleHeadingSpacing      : $unit;
$articleHeadingSpacingUnit  : rem;

$articleContentWidth        : $articleWidth;
$articleContentWidthMdLg    : $articleWidth*4/3;
$articleContentWidthMdMx    : $articleWidth*5/6;
$articleContentPadXMob      : default;
$articleContentFigurePull   : false;
$articleContentThumbPull    : false;

$articleFontFamily          : inherit;

$articleHColor              : $hColor;
$articleHFontFamily         : $hFontFamily;
$articleHWeight             : $hWeight;

$articleH1SizeMd            : inherit;
$articleH1LineHeightMd      : inherit;
$articleH2SizeMd            : inherit;
$articleH3SizeMd            : inherit;

$articleSummarySize         : $summaryTagSize;
$articleSummarySizeMd       : $summaryTagSizeMd;
$articleSummaryWeight       : $articleHWeight;
$articleSummaryColor        : inherit;
$articleSummaryColorHover   : inherit;

$articleDetailsAnim         : fadeIn .5s ease-in-out;

$articleSubtitleSizeMd      : inherit;
$articleSubtitleLineHeightMd: inherit;

$assetBlockQuoteFontFamily  : inherit;
$assetBlockQuoteOpacity     : $fade;

$assetFontFamily            : inherit;

$articleShareAlpha          : $shadeAmount*3;