// Base Colours
$diRed					: #9c243e;

// Opacity
$opacity10              : 1.0;
$opacity05              : 0.5;
$opacity00              : 0.0;

$fade					: $opacity05 * 1.5;

$trueWhite              : #ffffff;
$trueBlack              : #000000;

// Tint and Shade
$colorTint				: $trueWhite;
$colorShade			    : $trueBlack;

// UI colors
$colorMark				: #ffff00;
$colorError			    : #ea4743;
$colorWarning			: #eba029;
$colorSuccess			: #8fca3b;

// Social Media
$colorFacebook			: #1778F2;
$colorFBMessenger		: #1778F2;
$colorFlipboard		    : #F02B32;
$colorGoogle    		: #448CF1;
$colorGooglePlus		: #DD4B39;
$colorHackerNews		: #EF6431;
$colorInstagram		    : #E1306C;
$colorInstapaper		: #1D1D1E;
$colorLinkedIn			: #0077b5;
$colorMixIt				: #F98041;
$colorOk				: #ed812b;
$colorPinterest		    : #E60023;
$colorPocket		    : #EA4259;
$colorReddit			: #FF4500;
$colorSnapchat			: #FFFC00;
$colorSoundCloud		: #ff8800;
$colorStumbleupon		: #eb4924;
$colorTwitter			: #1DA1F2;
$colorTumblr			: #000000;
$colorVK				: #45668e;
$colorWhatsapp			: #43d854;
$colorYahoo			    : #720E9E;
$colorYouTube			: #FF0000;

$tintAmount			    : $opacity05;
$shadeAmount			: $opacity05/10;

$preColors : (

        dropinn			: $diRed,
        black-screen    : $trueBlack,

    // Tint and Shade
        tint			: $colorTint,
        tint-safe		: lighten($colorTint, 10%),
        shade			: $colorShade,
        shade-safe		: darken($colorTint, 5%),

    // UI colors
        mark			: $colorMark,
        error			: $colorError,
        warning			: $colorWarning,
        success			: $colorSuccess,
)