// Typography

$baseFontSize			: $unit !default;
$baseLineHeight		    : $unit * 1.5 !default;
$lineHeightRatio		: $baseLineHeight / $baseFontSize !default;

// Hyphenate Browser Prefixes
$hyphenate              : false;
$hyphenateLimitChars    : 6 3 3;
$hyphenateLimitLines    : 2;
$hyphenateLimitLast     : always;
$hyphenateLimitZone     : 8%;
$hyphenPrefixes         : webkit ms spec;

$systemFontsSerif	    : Georgia, Times, "Times New Roman", serif;
$systemFontsSansSerif	: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$systemFontsMonospace	: monospace;
$systemFonts			: $systemFontsSansSerif;

$hColor                 : inherit !default;
$hFontFamily            : inherit !default;
$hWeight                : bold !default;
$hBreak                 : false !default;

// Links

$linkVisitedOpacity     : 0.8;

// Font Sizes

$fontSizeRatio			: $perfectFifth; 		// [variable]
$fontFeatures			: liga kern;
$fontLigatures			: common-ligatures;

$dropcap                : 6em;

$fontSize: (
        article			: 1em * $ratioA,
        dropcap			: $dropcap
);

// Ornamental Typography

$letterSpacingUnit      : 0.1em ;

// Heading (h1 - h6) formatting

$h1Size                 : gamma!default;
$h1SizeMicro            : beta!default;         // false | alpha, beta etc.
$h1SizeMd               : delta!default;        // false | alpha, beta etc.
$h1LineHeightRatio      : $lineHeightRatio * 0.85!default;
$h1Weight               : $hWeight!default;
$h1WeightMicro          : false!default;
$h1WeightMd             : false!default;
$h1Color                : false!default;
$h1FontFamily           : false!default;
$h1TextTransform        : false!default;
$h1Break                : $hBreak !default;

$h2Size                 : beta!default;         // false | alpha, beta etc.
$h2SizeMicro            : alpha!default;        // false | alpha, beta etc.
$h2SizeMd               : gamma!default;        // false | alpha, beta etc.
$h2LineHeightRatio      : $h1LineHeightRatio!default;
$h2Weight               : $hWeight!default;
$h2WeightMicro          : false!default;
$h2WeightMd             : false!default;
$h2Color                : false!default;
$h2FontFamily           : false!default;
$h2TextTransform        : false!default;
$h2Break                : false !default;

$h3Size                 : false!default;        // false | alpha, beta etc.
$h3SizeMicro            : false!default;        // false | alpha, beta etc.
$h3SizeMd               : beta!default;         // false | alpha, beta etc.
$h3LineHeightRatio      : false!default;
$h3Weight               : $hWeight!default;
$h3WeightMicro          : false!default;
$h3WeightMd             : bold!default;
$h3Color                : false!default;
$h3FontFamily           : false!default;
$h3TextTransform        : false!default;
$h3Break                : false !default;

$h4Size                 : false!default;        // false | alpha, beta etc.
$h4SizeMicro            : false!default;        // false | alpha, beta etc.
$h4SizeMd               : false!default;        // false | alpha, beta etc.
$h4LineHeightRatio      : false!default;
$h4Weight               : false!default;
$h4WeightMicro          : false!default;
$h4WeightMd             : false!default;
$h4Color                : false!default;
$h4FontFamily           : false!default;
$h4TextTransform        : false!default;
$h4Break                : false !default;

$h5Size                 : false!default;        // false | alpha, beta etc.
$h5SizeMicro            : false!default;        // false | alpha, beta etc.
$h5SizeMd               : false!default;        // false | alpha, beta etc.
$h5LineHeightRatio      : false!default;
$h5Weight               : false!default;
$h5WeightMicro          : false!default;
$h5WeightMd             : false!default;
$h5Color                : false!default;
$h5FontFamily           : false!default;
$h5TextTransform        : false!default;
$h5Break                : false !default;

$h6Size                 : false!default;        // false | alpha, beta etc.
$h6SizeMicro            : false!default;        // false | alpha, beta etc.
$h6SizeMd               : false!default;        // false | alpha, beta etc.
$h6LineHeightRatio      : false!default;
$h6Weight               : false!default;
$h6WeightMicro          : false!default;
$h6WeightMd             : false!default;
$h6Color                : false!default;
$h6FontFamily           : false!default;
$h6TextTransform        : false!default;
$h6Break                : false !default;

$summaryTagSize         : $h2Size;
$summaryTagSizeMd       : $h2SizeMd;

$preFontFamily: (
        mono				: $systemFontsMonospace,
        icons				: SSStandard,
        social-icons		: SSSocial
);

$codeBlockPadding       : $unit;
$codeBlockPaddingMd     : $codeBlockPadding*2;
$codeBlockBg            : rgba(map-get($preColors, shade), $shadeAmount);