// Buttons
$hasButtonGradient	        : no; 			// yes | no

// Button border
$buttonRadius		        : 0; 			// [value]     Set to '0' to turn off
$buttonBorderWidth          : 0;            // [value]     Set to '0' to turn off

// Button shadows
$buttonShadow               : no;           // yes | no
$buttonHoverShadow          : $shadowDepth2, $shadowLighten;
$buttonHoverShadowDark      : $shadowDepth2, $shadowDarken;
$buttonPressedShadow        : inset $shadowDepth1;
$textButtonShadow           : $shadowDepth0;
$textButtonHoverShadow      : $buttonHoverShadow;
$textButtonPressedShadow    : $textButtonShadow;

// Button typography
$buttonFontWeight           : bold;         // normal | bolder | bold | lighter
$buttonFontSizeRatio        : 1;            // [number]    Set to '1' to reset
$buttonLetterSpacing        : $letterSpacingUnit;          // [value]     Set to '0' to turn off
$buttonTextTransform        : uppercase;    // none | uppercase | lowercase | captilize

// Pills
$pillBorderWidth            : 2px;          // [value]     Set to '0' to turn off
