// Central settings
$unit					: 16px;					// [number]px
$remUnits				: true;
$globalBorderBox		: true !default;		// true | false
$syntax                 : 1;

$unitPrint              : 4mm;



$ratioA                 : 1.2;
$ratioB                 : 1.5;

$classDark              : \~dark;
$classInsideNav         : \~nav-inside;

// Browser support TODO Break into own partial?
    // CSS Variables

    // Set to "true" to use exclusively native CSS.
    // This will impair all versions of Internet Explorers
    $css-vars-use-native    : false !default;

    // iOS version
    $iOS				    : 11.2;

    // IE Support
    $ieGTE10                : true;

    // Use of SafeArea
    $safeArea               : false;