// Font Weight and Style

$bold					: bold!default;			// [value]
$boldFontFamily         : inherit!default;

$italic					: italic!default;		// [value]
$italicFontFamily       : inherit!default;

$boldItalicFontFamily   : inherit!default;

$lighter                : lighter!default;
$textFade               : $fade!default;