// Footer Brand

$brandNameCase		: $siteHeaderCase;
$brandNameWeight	: $siteHeaderWeight;
$brandNameFeatures	: $siteHeaderFontFeatures;

$brandMottoFeatures	: "smcp" "c2sc";
$brandMottoOpacity  : $fade;
$brandMottoStyle    : normal;
$brandMottoWeight   : normal;

$brandTopBorder      : none;