// Forms

$fieldFontFamily		    : inherit;
$fieldBg				    : rgba($colorShade, $shadeAmount);
$fieldBgInvalid			    : rgba($colorError,$shadeAmount*4);
$fieldBgRequired		    : rgba($colorWarning,$shadeAmount*4);
$fieldBgSuccess	    	    : rgba($colorSuccess,$shadeAmount*4);
$fieldTxtColor              : inherit;
$fieldRadius			    : 0; 			// yes | no
$fieldBorderColor		    : rgba($colorShade, $shadeAmount);
$fieldBorderColorInvalid    : rgba($colorError,$shadeAmount*10);
$fieldBorderColorRequired   : rgba($colorWarning,$shadeAmount*10);
$fieldBorderColorSuccess    : rgba($colorSuccess,$shadeAmount*10);
$fieldBorderWidth		    : 0;
$fieldPadding               : 0 $unit;
$checkBoxBorderWidth        : $fieldBorderWidth;
$checkBoxFill               : $fieldBg;
$checkBoxColor              : currentColor;