// Modal Box

$modalBoxWidth		        : $block*1.5;				// [number]px
$modalBoxRadius             : $radius/2;
$modalBoxBg			        : rgba(250, 250, 250, 0.95);
$modalBoxShadow			    : $shadowDepth3L;
$modalOverlayColor	        : rgba(0, 0, 0, 0.5);