$searchPageFieldBg              : $colorTint;
$searchPageFieldBorderWidth     : 0;
$searchPageFieldBorderColor     : $fieldBorderColor;

$siteSearchFieldBg              : $colorTint;
$siteSearchFieldBorderWidth     : 0;
$siteSearchFieldBorderColor     : $fieldBorderColor;

$siteSearchFieldFocusBg         : $colorTint;
$siteSearchFieldFocusColor      : inherit;