$siteHeaderBorder	    : none; 			    // [number][unit] [border-type] [border-color]
$siteHeaderHeight	    : $unit * 3; 			// [number][unit]
$siteHeaderHeightMd     : $siteHeaderHeight;
$siteHeaderHeightLg     : $unit * 5;
$siteHeaderWeight	    : normal; 				// [number][unit]
$siteHeaderCase		    : normal; 				// [number][unit]
$siteHeaderFontFeatures	: $fontFeatures; 		// [number][unit]
$siteHeaderFontFamily   : inherit;

$siteHeaderWidth	        : $unit * 4;
$siteHeaderImgHeight	    : $unit * 1.625;
$siteHeaderImgHeightLg	    : $siteHeaderImgHeight;
$siteHeaderImgWidth	        : $unit * 1.625;
$siteHeaderImgWidthLg	    : $siteHeaderImgWidth;

$siteHeaderZIndex           : 10;

$siteNavHeight              : $unit * 3;

$siteHeaderTPadInsideNav    : default;

$navWidth				: $fixedWidth / 4 - $unit * 3;
$navItemWeight		    : bold !default;