$supportListSpacing         : 1px;
$supportPadding             : default;
    $supportPaddingMd       : default;
$supportHColor              : $hColor;
    $supportHFontFamily     : $hFontFamily;
    $supportHWeight         : $hWeight;
    $supportHLineHeight     : $lineHeightRatio * 0.85;
    $supportHPadding        : none;
$supportHTitlePadding       : none;
    $supportHTitleDisplay   : default;
    $supportHTitleBorder    : none;
    $supportHTitleSize      : default;
$supportHLgFFamily 	        : default;
    $supportHLgFWeight 	    : default;
    $supportHLgFFSettings   : default;
    $supportHLgTTransform 	: none;
    $supportHLgLSpacing 	: 0;
