// Table Styles

$tableWidth                     : auto;
$tableLineHeightRatio           : 1.4;
$tableBorderColor               : rgba($colorShade, $shadeAmount);
$tableBorderWidth               : 2px;

$tableCellPadding               : $unit/2;
$tableCellPaddingXRatio         : 2;
$tableCellPaddingInsideFlush    : true;
$tableCellPaddingInsideFlush    : true;


$thBorderColor                  : $tableBorderColor;
$thBorderWidth                  : $tableBorderWidth;
$thOpacity                      : $captionOpacity;
$thWeight                       : $captionWeight;

$tdBorderColor                  : $tableBorderColor;
$tdBorderWidth                  : $tableBorderWidth/2;

$thVAlign                       : bottom;

$numericalFontVariant           : lining-nums tabular-nums;