$varPresets : (
    unit                : $unit,
    block               : $block,
    gutter              : $unit,

    color-blackscreen   : $trueBlack,

    color-facebook		: $colorFacebook,
    color-flipboard		: $colorFlipboard,
    color-google	    : $colorGoogle,
    color-googleplus	: $colorGooglePlus,
    color-hackernews	: $colorHackerNews,
    color-instagram	    : $colorInstagram,
    color-instapaper	: $colorInstapaper,
    color-linkedin		: $colorLinkedIn,
    color-messenger		: $colorFBMessenger,
    color-mixit		    : $colorMixIt,
    color-ok			: $colorOk,
    color-pinterest		: $colorPinterest,
    color-pocket		: $colorPocket,
    color-reddit		: $colorReddit,
    //color-stumbleupon	: $colorStumbleupon, Deprecated
    color-twitter		: $colorTwitter,
    color-tumblr		: $colorTumblr,
    color-vk			: $colorVK,
    color-whatsapp		: $colorWhatsapp,
    color-yahoo			: $colorYahoo,
    color-youtube		: $colorYouTube,

    site-header-h		: $siteHeaderHeight,
    menu-icon-w		    : $siteNavHeight
);

$varPresetsSm : ( );
$varPresetsMd : ( );
$varPresetsMdMh : ( );
$varPresetsTNav : (
    menu-icon-w         : 0px
);
$varPresetsLg : ( );
$varPresetsDark : ( );