// ==========================================================================
//
//	BAND
//
//  Self-clearing width-filling
//
// ==========================================================================


@include screen {

    .o-band {		// o-band
        @include clear();
        margin:0;
        position:relative;
        z-index:0;
    }
}