// ==========================================================================
//
//	BLOCK
//
//  Padded box
//
// ==========================================================================


@include screen {

    .o-block {		// o-band
        @include padding($unit);
        @include safe-area-inset(padding, n $unit);

        @include screen-size(lw) {
            @include padding($unit*2);
            @include safe-area-inset(padding, n $unit*2);
        }
    }

    .o-block-xsm {
        @include padding(n 0);
        @include is-only-env {
            padding-left: env(safe-area-inset-left);
            padding-right: env(safe-area-inset-right);
        }
    }
}