// ==========================================================================
//
//	DIALOG
//
//   - Modal component defined in components/modal
//   - Configuration: 2-config/modal
//
// ==========================================================================



// 	New Dialog Polyfill
// ==========================================================================

dialog {
    @include position(absolute, n 0);
    background: white;
    border: solid;
    color: inherit;
    display: block;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    padding: 1em;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;

    &:not([open]) {
        display: none;
    }
    // polyfill backdrop
    + .backdrop {
        @include position(fixed, 0);
    }
}

._dialog_overlay {
    @include position(fixed, 0);
}

// 	DI Dialog object
// ==========================================================================

.o-dialog {
    border: 0;
    padding: 0;
    max-height: calc(100vh - #{$unit}*2);
    max-width: calc(100vw - #{$unit}*2);
    overflow: hidden;

    @include screen-size(mw) {
        max-height: calc(100vh - #{$unit}*6);
    }

    //&.\+fixed {
    //    @include position(fixed, 50% n n n);
    //    transform: translateY(-50%);
    //}

    button {
        outline: none;
        &:focus {
            outline: none;
        }
    }
}

.o-dialog::backdrop,
.backdrop  {
    background: $modalOverlayColor;
}