// ==========================================================================
//
//	GRID
//
// ==========================================================================

.o-grid {
    display: grid;
}

.o-grid--site {
    grid-template-columns:repeat($gridColumns, 1fr);
}

.o-grid--6 {
    grid-template-columns:repeat(6, 1fr);
}