// ==========================================================================
//
//	PAGE
//
// ==========================================================================

@mixin Page {
    @include is-not-old-ie {
        @include var(padding-top, site-header-h);
    }

    @include var(background-color, color-nav);
    position: relative;
    z-index: 1;

    .\~no-bar & {
        padding-top: 0;
    }

    .\~nav-inside & {
        @include screen-size(insidenav) {
            @include padding(n n n $block, dir);
            @if $siteHeaderTPadInsideNav != 'default' {
                @include padding($siteHeaderTPadInsideNav n n n);
            }
        }
    }

    @include screen-size(tnav) {
        float: none;
        min-height: 0;
        transition: none;
        z-index: 0;
        @include rtl {
            float: none;
            transition-property: none;
        }
    }
    @include screen-size(mw) {
        .\~no-bar & {
            padding-top: 0;
        }
    }

    @include is-old-ie {
        background-color:color(site);
        max-width:$site-width;
        margin-left:auto;
        margin-right:auto;
    }
}

@mixin SnapScroll {
    @supports
    (scroll-snap-type: initial) {
        scroll-snap-type: proximity;
        scroll-snap-destination: 100% 0%;
        scroll-snap-points-y: repeat(100%);
        height:100vh;
        overflow-scrolling: touch;
        overflow-y: auto;
    }
}

@mixin SnapScrollCancel {
    @supports
    (scroll-snap-type: initial) {
        scroll-snap-type: none;
        scroll-snap-destination: 0px 0px;
        scroll-snap-points-y: none;
        height:auto;
        overflow-scrolling: none;
        overflow-y: visible;
    }
}

@include screen {
    .o-page {
        @include Page;
        //.-scrollsnap & {
        //    @include screen-size(mw) {
        //        @include SnapScroll;
        //    }
        //    @include screen-size(tnav) {
        //        @include SnapScrollCancel;
        //    }
        //}
    }
}

.o-page-title {
    @include h1;
}