{%- set alignClass = (block.panelOptions.contains("alignText") ? " +align-text" : "") -%}
{%- import "_macros/_color-switch" as colorswitch -%}
{%- set bg = (block.bandStyle | length and block.bandStyle != "none" ? " -fill" ~ colorswitch._colorswitch(block.bandStyle) : "") -%}

<div class="c-enhance-item{{ bg }}{{ alignClass }}">
    <article>
        {% if block.sectionLink | length %}
            {% if block.sectionTitle | length %}
                <h2 class="c-enhance-item__header"><a href="{{ block.sectionLink }}">{{ block.sectionTitle }}</a></h2>
            {% endif %}
        {% else %}
            {% if block.sectionTitle | length %}
                <h2 class="c-enhance-item__header">{{ block.sectionTitle }}</h2>
            {% endif %}
        {% endif %}

        {% if craft.categories(block.location).ids()
        or craft.categories(block.ministry).ids()
        or craft.categories(block.organisation).ids()
        or craft.categories(block.property).ids()
        or craft.categories(block.productCategory).ids()
        or craft.categories(block.role).ids()
        or craft.categories(block.subject).ids() %}

            {% set relatedTo = [block.join] %}

            {% if block.location %}
                {% set locationIds = craft.categories(block.location).ids() %}
                {% for id in locationIds %}
                    {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
            {% endif %}
            {% if block.ministry %}
                {% set ministryIds = craft.categories(block.ministry).ids() %}
                {% for id in ministryIds %}
                    {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
            {% endif %}
            {% if block.organisation %}
                {% set organisationIds = craft.categories(block.organisation).ids() %}
                {% for id in organisationIds %}
                    {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
            {% endif %}
            {% if block.property %}
                {% set propertyIds = craft.categories(block.property).ids() %}
                {% for id in propertyIds %}
                    {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
            {% endif %}
            {% if block.productCategory %}
                {% set productIds = craft.categories(block.productCategory).ids() %}
                {% for id in productIds %}
                    {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
            {% endif %}
            {% if block.role %}
                {% set roleIds = craft.categories(block.role).ids() %}
                {% for id in roleIds %}
                    {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
            {% endif %}
            {% if block.subject %}
                {% set subjectIds = craft.categories(block.subject).ids() %}
                {% for id in subjectIds %}
                    {% set relatedTo = relatedTo|merge([id]) %}
                {% endfor %}
            {% endif %}

            {% set entries = craft.entries.section(block.entryTypes).relatedTo(relatedTo).limit(block.limit).id('not ' ~ entry.id).order(block.order) %}

        {% else %}
            {% set entries = craft.entries.section(block.entryTypes).limit(block.limit).id('not ' ~ entry.id).order(block.order) %}
        {% endif %}

        {% set noPages = entries|length %}
        <div class="c-enhance-item__body">
            <ul class="c-preview-list">
                {% for entry in entries %}
                    <li>
                        {% include "_includes/support/items/_preview" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
</div>