{% if block.image | length %}
    {% set image = block.image.first() %}
{% endif %}

    {%- import "_macros/_color-switch" as colorswitch -%}
    {%- set bg = (block.bandStyle | length and block.bandStyle != "none" ? " -fill" ~ colorswitch._colorswitch(block.bandStyle) : "") -%}
    {%- set alignClass = (block.panelOptions.contains("alignText") ? " +align-text" : "") -%}
    {%- if block.panelOptions.contains("imageFill") and block.image | length -%}
        {%- set bgImage %} style="background-image:url({{ image.getUrl('articleSquare') }})"{% endset -%}
    {%- endif -%}

<div class="c-enhance-item{{ bg }}{{ alignClass }}"{{ bgImage }}>
    <article>
        {% if block.icon | length %}
            {% set icon = block.icon.first() %}
            {%- if block.sectionLink | length -%}
                <a class="c-enhance-item__icon" href="{{ block.sectionLink }}"><img src="{{ icon.getUrl() }}" alt="{{ icon.title }}"></a>
            {%- else -%}
                <div class="c-enhance-item__icon"><img src="{{ icon.getUrl() }}" alt="{{ icon.title }}"></div>
            {%- endif -%}
        {% endif %}
        {% if block.sectionLink | length %}
            {% if block.sectionTitle | length %}
                <h2 class="c-enhance-item__header"><a href="{{ block.sectionLink }}">{{ block.sectionTitle }}</a></h2>
            {% endif %}
        {% else %}
            {% if block.sectionTitle | length %}
                <h2 class="c-enhance-item__header">{{ block.sectionTitle }}</h2>
            {% endif %}
        {% endif %}

        {% if block.panelOptions.contains("imageFill") %}
        {% elseif block.image | length %}
            <figure role="figure" class="c-enhance-item__asset" itemscope itemtype="http://schema.org/ImageObject">
                {%- if block.panelOptions.contains("imageFull") -%}
                    {%- set panelImage -%}<img itemprop="contentUrl" src="{{ image.getUrl() }}" alt="{{ image.title }}">{%- endset -%}
                {%- else -%}
                    {%- set panelImage -%}<img itemprop="contentUrl" src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x" alt="{{ image.title }}">{%- endset -%}
                {%- endif -%}
                {%- if block.sectionLink | length -%}
                    <a href="{{ block.sectionLink }}">{{ panelImage }}</a>
                {%- else -%}
                    {{ panelImage }}
                {%- endif -%}
            </figure>
        {% endif %}

        {% if block.embed | length %}
            {% if block.embedType == 'video' %}
                {% set video = craft.embedder.url(block.embed) %}
                <meta itemprop="associatedMedia" property="associatedMedia" content="{{ block.embed | raw }}">
                <meta itemprop="video" property="video" content="{{ block.embed | raw }}">
                <div class="c-embed-box +video">{{ video.embed_code }}</div>
            {% elseif block.embedType == 'iframe' %}
                <div class="c-embed-box +iframe">{{ block.embed | raw }}</div>
            {% else %}
                <div class="c-embed-box -pa">{{ block.embed | raw }}</div>
            {% endif %}
        {% endif %}

        {% if block.body | length %}
            <div class="c-enhance-item__body">{{ block.body | smartypants }}</div>
        {% endif %}
    </article>
</div>