{%- if block.bandStyle | length and block.bandStyle != "none" -%}
    {%- import "_macros/_color-switch" as colorswitch -%}
    {%- set bg = ' -fill' ~ colorswitch._colorswitch(block.bandStyle) -%}
{%- endif %}

<div class="c-enhance-item{{bg}}">
    {% if block.sectionLink | length %}
        {% if block.sectionTitle | length %}
            <h2 class="c-enhance-item__header"><a href="{{ block.sectionLink }}">{{ block.sectionTitle }}</a></h2>
        {% endif %}
    {% else %}
        {% if block.sectionTitle | length %}
            <h2 class="c-enhance-item__header">{{ block.sectionTitle }}</h2>
        {% endif %}
    {% endif %}

    {% if block.htmlInsert | length %}
        {% set htmlInsert = "_includes/insert/_" ~ block.htmlInsert.value %}
        <div class="c-enhance-item__body">{% include htmlInsert %}</div>
    {% endif %}

</div>
