{% if block.bandStyle | length and block.bandStyle != "none" %}
    {%- import "_macros/_color-switch" as colorswitch -%}
    {%- set bg = ' -fill' ~ colorswitch._colorswitch(block.bandStyle) -%}
{% endif %}

<div class="c-enhance-item{{bg}}">
    <article>
        {% if block.sectionLink | length %}
            {% if block.sectionTitle | length %}
                <h2 class="c-enhance-item__header"><a href="{{ block.sectionLink }}">{{ block.sectionTitle }}</a></h2>
            {% endif %}
        {% else %}
            {% if block.sectionTitle | length %}
                <h2 class="c-enhance-item__header">{{ block.sectionTitle }}</h2>
            {% endif %}
        {% endif %}

        {% if block.image | length %}
            {% set image = block.image.first() %}
            <figure role="figure" class="c-asset" itemscope itemtype="http://schema.org/ImageObject">
                {% if block.sectionLink | length %}
                    <a href="{{ block.sectionLink }}"><img itemprop="contentUrl" src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x" alt="{{ image.title }}"></a>
                {% else %}
                    <img itemprop="contentUrl" src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x" alt="{{ image.title }}">
                {% endif %}
            </figure>
        {% endif %}
        <div class="c-enhance-item__body">
            <table>
                {% for row in block.table %}
                    <tr>
                        <td class="-fs2">{{ row.firstColumn }}</td>
                        {% if row.secondColumn | length %}
                            <td class="-fade lose-medium">{{ row.secondColumn }}</td>
                        {% else %}
                            <td class="lose-medium">&nbsp;</td>
                        {% endif %}
                        {% if row.lastColumn | length %}
                            <td class="+numeric -fs2 lose-small">{{ row.lastColumn }}</td>
                        {% else %}
                            <td class="lose-small">&nbsp;</td>
                        {% endif %}
                        {% if row.yes | length %}
                            <td class="+tight -fs2"><span class="icon -c-pos">✓</span></td>
                        {% endif %}
                        {% if row.no | length %}
                            <td class="+tight -fs2"><span class="icon -c-neg">␡</span></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>

    </article>
</div>