{% set css %}
	.cc_padding { padding: 1em 0; }
	.cc_paddingBelow { padding-bottom: 1em; }
	.cc_ruleRow { border-top: 1px dotted #eee; }
    .cc_ruleRow:last-of-type { margin-bottom: 1em; }
	.cc_deleteButtonContainer { margin-left:2em; }
{% endset %}
{% includeCss css %}


{% macro dateTimeField(model, name, id, attribute, label) %}

	{% include "_includes/forms/date" with
	{
		id:        id ~ '-' ~ attribute ,
		name:      name ~ '[' ~ attribute ~ ']' ,
		value:     model.getAttribute(attribute) ,
		errors:    model.getErrors(attribute) ,
	}
	%}

	{% include "_includes/forms/time" with
	{
		id:        id ~ '-' ~ attribute ,
		name:      name ~ '[' ~ attribute ~ ']' ,
		value:     model.getAttribute(attribute) ,
		errors:    model.getErrors(attribute) ,
	}
	%}

{% endmacro %}

{% from _self import dateTimeField %}



{% for error in inputData.getErrors('startDate') %}
<div class="error">{{error}}</div>
{% endfor %}
{% for error in inputData.getErrors('endDate') %}
<div class="error">{{error}}</div>
{% endfor %}

<div class="cc_padding">
	<h6 class="cc_paddingBelow">Event Date/Time</h6>
	From &nbsp;{{ dateTimeField(inputData, name, id, 'startDate', "Start Date"|t, true) }} &nbsp;until&nbsp; {{ dateTimeField(inputData, name, id, 'endDate', "End Date"|t, false) }}
</div>

{%- include "calendars/eventData/_rulesEditor" -%}

<hr>