{% if not craft.calendars.calendars|length %}
	<p class="error">{{ "No calendars exist yet. You need to create a Calendar before you can use the Event Data field to create events."|t }}</p>
	<input type="hidden" name="calendarId" value="0">
{% endif %}

{% if craft.calendars.calendars|length %}

	{% set calendarOptions = {} %}

	{% for c in craft.calendars.calendars %}
		{% set calendarOptions = calendarOptions|merge({ (c.id): { value: c.id, label: c.name } }) %}
	{% endfor %}

	<div class="field">

		<div class="heading">
			<label for="calendarId">
				Target Calendar
			</label>
			<div class="instructions"><p>Which Calendar should hold the events created with this field?</p></div>
		</div>

		{% include "calendars/_includes/forms/select" with {
			options: calendarOptions, name: 'calendarId', value: settings.calendarId }
		%}

	</div>

{% endif %}