<h6 class="cc_paddingBelow">Recurrence Rules <em style="font-weight: normal;"><span data-bind="visible: rules().length"> &mdash; <span data-bind="text: rules().length"></span> defined</span></em></h6>

<div>

	<div class="rulesTable" width="100%">
		<div data-bind="template: {name: getUiTemplateName, foreach: rules, afterRender: activateRuleFields}">
		</div>
	</div>

	<div>
		<button class="btn add icon dashed" data-bind="click: addLine" tabindex="0">Add Recurrence Rule</button>
	</div>

	<!-- Field to store existing recurrence rules pulled from database -->
	<textarea name="{{ name }}[stored_rules_json]" id="{{ id }}_stored_rules_json" style="display:none !important;">{{ inputData.recurrenceRules }}</textarea>

	<!-- Field to store the recurrence rules JSON -->
	<textarea name="{{ name }}[recurrenceRules]" data-bind="text: ko.toJSON($root, null, 2)" style="display:none !important;"></textarea>

</div>

<script type="text/template" id="newRule_Template">
<div class="cc_padding cc_ruleRow clearafter">

	<!-- Rule controls -->
	<div class="left">
		{% include "calendars/_includes/forms/select" with {
			name: 'ruleData',
			dataBind: "options: Calendars.ruleTypes, optionsText: 'title', optionsCaption: 'Select rule type...', value: ruleType" }
		%}
	</div>

	<!-- Remove rule button -->
	<div class="right cc_deleteButtonContainer">
		<input type="button" class="btn small formsubmit" value="Delete" data-bind="click: $parent.removeLine" tabindex="0">
	</div>

</div>
</script>

<script type="text/template" id="selectedDate_Template">
	<div class="cc_padding cc_ruleRow clearafter">

		<!-- Rule controls -->
		<div class="left">
			<div class=''>
				Repeats on {% include "calendars/_includes/forms/date" with { value: null, name: 'ruleData', id: '', class: 'dateField', autocomplete: false, size: 10, dataBind: "textInput: startDate" } %} {% include "calendars/_includes/forms/time" with { value: null, name: 'ruleData', id: '', class: 'timeField', autocomplete: false, size: 10, dataBind: "textInput: startTime" } %} ,
				until {% include "calendars/_includes/forms/date" with { value: null, name: 'ruleData', id: '', class: 'dateField', autocomplete: false, size: 10, dataBind: "textInput: endDate" } %} {% include "calendars/_includes/forms/time" with { value: null, name: 'ruleData', id: '', class: 'timeField', autocomplete: false, size: 10, dataBind: "textInput: endTime" } %} .
			</div>
		</div>

		<!-- Remove rule button -->
		<div class="right">
			<input type="button" class="btn small formsubmit" value="Delete" data-bind="click: $parent.removeLine" tabindex="0">
		</div>

	</div>
</script>

<script type="text/template" id="daily_Template">
	<div class="cc_padding cc_ruleRow clearafter">

		<!-- Rule controls -->
		<div class="left">
			Repeats every
			{% include "calendars/_includes/forms/select" with {
				options: {
					1: 1,
					2: 2,
					3: 3,
					4: 4,
					5: 5,
					6: 6,
					7: 7,
					8: 8,
					9: 9,
					10: 10,
					11: 11,
					12: 12,
					13: 13,
					14: 14,
					15: 15,
					16: 16,
					17: 17,
					18: 18,
					19: 19,
					20: 20,
					21: 21,
					22: 22,
					23: 23,
					24: 24,
					25: 25,
					26: 26,
					27: 27,
					28: 28,
					29: 29,
					30: 30,
					31: 31,
				}, dataBind: "value: daysInterval", name: 'ruleData' }
			%}
			day<span data-bind="visible: isPlural(daysInterval())">s</span>, until
			{% include "calendars/_includes/forms/select" with {
				options: {
					'forever': 'forever',
					'date': 'date:',
				}, dataBind: "value: repeatUntilType", name: 'ruleData' }
			%}
			<span data-bind="visible: showRepeatUntilDate">{%- include "calendars/_includes/forms/date" with { value: null, name: 'ruleData', id: '', class: 'dateField', autocomplete: false, size: 10, dataBind: "textInput: repeatUntilDate" } -%}</span>
			.
		</div>

		<!-- Remove rule button -->
		<div class="right">
			<input type="button" class="btn small formsubmit" value="Delete" data-bind="click: $parent.removeLine" tabindex="0">
		</div>

	</div>
</script>

<script type="text/template" id="weekly_Template">
	<div class="cc_padding cc_ruleRow clearafter">

		<!-- Rule controls -->
		<div class="left">
			Repeats every
			{% include "calendars/_includes/forms/select" with {
				options: {
					1: 1,
					2: 2,
					3: 3,
					4: 4,
					5: 5,
					6: 6,
					7: 7,
					8: 8,
					9: 9,
					10: 10,
				}, dataBind: "value: weeksInterval", name: 'ruleData' }
			%}
			week<span data-bind="visible: isPlural(weeksInterval())">s</span>,
			on
			{% include "calendars/_includes/forms/select" with {
				options: {
					'Sun': 'Sunday',
					'Mon': 'Monday',
					'Tue': 'Tuesday',
					'Wed': 'Wednesday',
					'Thu': 'Thursday',
					'Fri': 'Friday',
					'Sat': 'Saturday',
				}, dataBind: "value: daysOfWeek", name: 'ruleData' }
			%}
			until
			{% include "calendars/_includes/forms/select" with {
				options: {
					'forever': 'forever',
					'date': 'date:',
				}, dataBind: "value: repeatUntilType", name: 'ruleData' }
			%}
			<span data-bind="visible: showRepeatUntilDate">{%- include "calendars/_includes/forms/date" with { value: null, name: 'ruleData', id: '', class: 'dateField', autocomplete: false, size: 10, dataBind: "textInput: repeatUntilDate" } -%}</span>
			.
		</div>

		<!-- Remove rule button -->
		<div class="right">
			<input type="button" class="btn small formsubmit" value="Delete" data-bind="click: $parent.removeLine" tabindex="0">
		</div>

	</div>
</script>

<script type="text/template" id="monthlyByDayOfMonth_Template">
	<div class="cc_padding cc_ruleRow clearafter">

		<!-- Rule controls -->
		<div class="left">
			Repeats every
			{% include "calendars/_includes/forms/select" with {
				options: {
					1: 1,
					2: 2,
					3: 3,
					4: 4,
					5: 5,
					6: 6,
					7: 7,
					8: 8,
					9: 9,
					10: 10,
					11: 11,
				}, dataBind: "value: monthsInterval", name: 'ruleData' }
			%}
			month<span data-bind="visible: isPlural(monthsInterval())">s</span>,
			on the
			{% include "calendars/_includes/forms/select" with {
				options: {
					1: '1st',
					2: '2nd',
					3: '3rd',
					4: '4th',
					5: '5th',
					6: '6th',
					7: '7th',
					8: '8th',
					9: '9th',
					10: '10th',
					11: '11th',
					12: '12th',
					13: '13th',
					14: '14th',
					15: '15th',
					16: '16th',
					17: '17th',
					18: '18th',
					19: '19th',
					20: '20th',
					21: '21st',
					22: '22nd',
					23: '23rd',
					24: '24th',
					25: '25th',
					26: '26th',
					27: '27th',
					28: '28th',
					29: '29th',
					30: '30th',
					31: '31st',
					'last': 'last',
				}, dataBind: "value: dayOfMonth", name: 'ruleData' }
			%} day, until
			{% include "calendars/_includes/forms/select" with {
			options: {
				'forever': 'forever',
				'date': 'date:',
			}, dataBind: "value: repeatUntilType", name: 'ruleData' }
			%}
			<span data-bind="visible: showRepeatUntilDate">{%- include "calendars/_includes/forms/date" with { value: null, name: 'ruleData', id: '', class: 'dateField', autocomplete: false, size: 10, dataBind: "textInput: repeatUntilDate" } -%}</span>
			.
		</div>

		<!-- Remove rule button -->
		<div class="right">
			<input type="button" class="btn small formsubmit" value="Delete" data-bind="click: $parent.removeLine" tabindex="0">
		</div>

	</div>
</script>

<script type="text/template" id="monthlyByDayOfWeek_Template">
	<div class="cc_padding cc_ruleRow clearafter">

		<!-- Rule controls -->
		<div class="left">
			Repeats every
			{% include "calendars/_includes/forms/select" with {
				options: {
					1: 1,
					2: 2,
					3: 3,
					4: 4,
					5: 5,
					6: 6,
					7: 7,
					8: 8,
					9: 9,
					10: 10,
					11: 11,
				}, dataBind: "value: monthsInterval", name: 'ruleData' }
			%}
			month<span data-bind="visible: isPlural(monthsInterval())">s</span>,
			on the
			{% include "calendars/_includes/forms/select" with {
				options: {
					1: '1st',
					2: '2nd',
					3: '3rd',
					4: '4th',
					5: '5th',
					'last': 'last',
			}, dataBind: "value: dayOfWeekOrdinal", name: 'ruleData' }
			%}
			{% include "calendars/_includes/forms/select" with {
				options: {
					'Sun': 'Sunday',
					'Mon': 'Monday',
					'Tue': 'Tuesday',
					'Wed': 'Wednesday',
					'Thu': 'Thursday',
					'Fri': 'Friday',
					'Sat': 'Saturday',
				}, dataBind: "value: daysOfWeek", name: 'ruleData' }
			%}
			until
			{% include "calendars/_includes/forms/select" with {
				options: {
					'forever': 'forever',
					'date': 'date:',
				}, dataBind: "value: repeatUntilType", name: 'ruleData' }
			%}
			<span data-bind="visible: showRepeatUntilDate">{%- include "calendars/_includes/forms/date" with { value: null, name: 'ruleData', id: '', class: 'dateField', autocomplete: false, size: 10, dataBind: "textInput: repeatUntilDate" } -%}</span>
			.
		</div>

		<!-- Remove rule button -->
		<div class="right">
			<input type="button" class="btn small formsubmit" value="Delete" data-bind="click: $parent.removeLine" tabindex="0">
		</div>

	</div>
</script>

<script type="text/template" id="yearly_Template">
	<div class="cc_padding cc_ruleRow clearafter">

		<!-- Rule controls -->
		<div class="left">
			Repeats every
			{% include "calendars/_includes/forms/select" with {
				options: {
					1: 1,
					2: 2,
					3: 3,
					4: 4,
					5: 5,
					6: 6,
					7: 7,
					8: 8,
					9: 9,
					10: 10,
					11: 11,
					12: 12,
					13: 13,
					14: 14,
					15: 15,
					16: 16,
					17: 17,
					18: 18,
					19: 19,
					20: 20,
					21: 21,
					22: 22,
					23: 23,
					24: 24,
					25: 25,
				}, dataBind: "value: yearsInterval", name: 'ruleData' }
			%}
			year<span data-bind="visible: isPlural(yearsInterval())">s</span>, until
			{% include "calendars/_includes/forms/select" with {
				options: {
					'forever': 'forever',
					'date': 'date:',
				}, dataBind: "value: repeatUntilType", name: 'ruleData'}
			%}
			<span data-bind="visible: showRepeatUntilDate">{%- include "calendars/_includes/forms/date" with { value: null, name: 'ruleData', id: '', class: 'dateField', autocomplete: false, size: 10, dataBind: "textInput: repeatUntilDate" } -%}</span>
			.
		</div>

		<!-- Remove rule button -->
		<div class="right">
			<input type="button" class="btn small formsubmit" value="Delete" data-bind="click: $parent.removeLine" tabindex="0">
		</div>

	</div>
</script>

{% set js %}
	{%- include "calendars/_includes/scripts/eventDataField" with { localeData: craft.i18n.getLocaleData() } -%}
{% endset %}
{% includeJs js %}