<html>
<head>
    <title>{{ siteName }}</title>
</head>
<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0" offset="0">
<h1 style="color: #0065a3; font-size: 18px;">{{ 'Data from form'|t }}: {{ form.name }}.</h1>
<table border="1" cellpadding="10" width="100%" style="border-collapse: collapse;">
    <th colspan="2" align="left" style="background-color: #0065a3; color: #FFF;">{{ 'General data'|t }}:</th>
    <tr>
        <td width="25%">{{ 'Date'|t }}:</td>
        <td>{{ 'now'|date('d-m-Y  H:i:s') }}</td>
    </tr>
    <tr>
        <td>{{ 'Submitted from'|t }}</td>
        <td>{{ submission.submittedFrom }}</td>
    </tr>
</table>
<br>
<table border="1" cellpadding="10" width="100%" style="border-collapse: collapse;">
    <th colspan="2" align="left" style="background-color: #0065a3; color: #FFF;">{{ 'Form data'|t }}:</th>
    {% for tab in tabs -%}
        {% set fields = tab.getFields() -%}

        {% for field in fields -%}
            {%- set field = field.getField() -%}
            {%- set value = attribute(submission, field.handle) -%}

            <tr>
                <td width="25%">{{ field.name|t }}:</td>
                <td>
                    {% switch field.type %}
                    {% case "Date" %}
                    {{ value|date('d-m-Y  H:i:s') }}

                    {% case "Lightswitch" %}
                    {% if value == '1' %}
                        {{ 'Yes'|t }}
                    {% else %}
                        {{ 'No'|t }}
                    {% endif %}

                    {% default %}
                    {% if value is not iterable and value is not empty -%}
                        {{ value }}
                    {% else -%}
                        <ul style="margin-left:0;">
                            {% for item in value %}
                                <li>{{ (item is iterable ? item|first : item) }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% endswitch %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>
