{%- set element = (element is defined ? element : null) %}
{%- set handle = (field.handle is defined ? field.handle : null) %}
{%- set label = (field.name is defined ? field.name : null) %}
{%- set instructions = (field.instructions is defined ? field.instructions : null) %}
{%- set fieldInfo = craft.fields.populateFieldType(field, element) %}
{%- set type = field.type|lower %}
{%- set errors = element.getErrors(field.handle) -%}

{%- set namespace = null -%}
{%- if not form.submitAction %}
    {%- set namespace = (fieldInfo.namespace is defined ? fieldInfo.namespace : 'fields') %}
{% endif -%}

{% namespace namespace %}
    {% if field.type == 'AmForms_Hidden' %}
        {{ input|raw }}
    {% else %}
        <div class="c-form__item c-form__item--{{ type }}{% if required is defined and required %} is-required{% endif %}{% if class is defined and class %} {{ class }}{% endif %}{% if errors %} has-errors{% endif %}"{% if handle %} id="{{ handle }}-field"{% endif %}>

            {% if label -%}
                <label class="c-label"{% if handle %} for="{{ handle }}"{% endif %}>
                    {{ label|raw|t }}
                </label>
            {% endif %}

            <div class="c-field{% if errors %} errors{% endif %}">
                {{ input|raw }}
                {% if instructions -%}
                    <span class="c-field__help">{{ instructions|raw }}</span>
                {% endif %}

                {% if errors -%}
                    {% for error in errors -%}
                        <span class="c-field__error">{{ error }}</span>
                    {% endfor -%}
                {% endif -%}
            </div>
        </div>
    {% endif %}
{% endnamespace %}
