// ==========================================================================
//
//	PLACEHOLDERS
//
// ==========================================================================

%date {
	@include font-size(font-size(milli));
	font-weight: bold;
	opacity:$fade;
	text-transform: uppercase;
}

// Teaser placeholders

%teaser {
	display: block;;
	height: 0px;
	line-height: 1px;
	overflow: hidden;
	position: relative;
	z-index: 0;
	@supports (object-fit: cover) {
		img {
			@include position(absolute, 0);
			object-fit: cover;
			&[height],
			&[width] {
				height: 100%;
				width: 100%;
			}
		}
	}
}

%teaser-title {
	@include rem(margin-bottom, $unit/2);
	font-size: 1.2em;
	line-height: $lineHeightRatio * 0.9;
	@include screen-size(lw) {
		@include font-size(font-size(beta));
		line-height: $lineHeightRatio * 0.85;
	}
	@if $teaserTitleWeight != '' {
		b, a {
			font-weight: $teaserTitleWeight;
		}
	}
	span {
		font-weight:normal;
	}
}

%teaser-content {
	@include padding($unit*1.5);
	line-height: $lineHeightRatio;
	margin:0;
	transition: $t2 $ease-out-circ;

	@include screen-size(lw) {
		@include padding($unit*2);
	}

	p {
		@include screen-size(sw-) {
			font-size: 0.85em;
		}
	}
}

%teaser-list {
	@include padding($unit/4 n n n);
	font-size: 0px;
	li {
		@include base-font-size;
		display: inline-block;
		padding:1px;
		vertical-align: top;
		width: 100%;
	}
}

%teaser-gutter {
	li {
		@include padding($unit/4 n);
		@include screen-size(mw) {
			@include padding($unit/2);
		}
	}
}

%ext-url {
	@if $extUrlFontFeatures != none {
		@include font-features($extUrlFontFeatures);
	}
	@if $extUrlFontSize != default {
		@include font-size(font-size($extUrlFontSize));
	}
	@if $extUrlLetterSpacing != 0 {
		letter-spacing: $extUrlLetterSpacing;
	}
	@if $extUrlOpacity != 1 {
		opacity: $extUrlOpacity;
	}
}