{% extends "_entry" %}

{% block articlePoster -%}
    {%- if currentUser.photoUrl|length %}
        <div class="c-hero -fill2 +roundel">
            <img
            src="{{ currentUser.photoUrl('original') }}"
            alt="{{ currentUser.friendlyName }}"
            title="{{ currentUser.friendlyName }}">
        </div>
    {%- else -%}
    {%- endif -%}
{% endblock %}

{% block articleHeader %}
    <header class="c-article__header">
        <div class="c-article__header-inner">
            <h1>Welcome, {{ currentUser.friendlyName }}</h1>
        </div>
    </header>
{% endblock %}

{% block articleBody %}
    <div class="c-Article-main">
        {% include "_includes/insert/charge/account/index" %}
    </div>
{% endblock %}

{% block customForms %}
    {%- if currentUser.can('createEntries:11') -%}
        <div class="o-block c-support">
            <form method="post" accept-charset="UTF-8">
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="entries/saveEntry">
                <input type="hidden" name="redirect" value="articles/{slug}">
                <input type="hidden" name="sectionId" value="11">
                <input type="hidden" name="enabled" value="1">

                {%- macro errorList(errors) %}
                    {%- if errors -%}
                        {%- for error in errors -%}
                            <span class="c-field__error">{{ error }}</span>
                        {%- endfor -%}
                    {%- endif -%}
                {%- endmacro -%}

                {% from _self import errorList %}
                <fieldset class="c-form -bt -pv2 has-required-fields">
                    <h2 class="c-form__title">Add an entry</h2>

                    <div class="c-form__item is-required">
                        <label for="title" class="c-label">Title</label>
                        <input id="title" type="text" name="title"
                                {%- if entry is defined %} value="{{ entry.title }}"{% endif -%}>

                        {% if entry is defined %}
                            {{ errorList(entry.getErrors('title')) }}
                        {% endif %}
                    </div>
                    <div class="c-form__item is-required">
                        <label for="brief" class="c-label">Body</label>
                        <textarea id="brief" name="fields[brief]">
                            {%- if entry is defined %}{{ entry.brief }}{% endif -%}
                        </textarea>

                        {% if entry is defined %}
                            {{ errorList(entry.getErrors('brief')) }}
                        {% endif %}
                    </div>
                    <div class="c-form__actions">
                        <input type="submit" value="Publish" class="c-button +1 +fill">
                    </div>
                </fieldset>
            </form>
        </div>
    {%- endif -%}
{%- endblock -%}

{% block customIndex %}
    <div class="o-block c-support -fill-shade -noprint">
        <p><a href="{{ logoutUrl }}" class="c-button">Sign out</a></p>
    </div>
{% endblock %}