{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set title = "Analytics API Console"|t %}

{% set content %}

    <form method="post">

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="analytics/explorer/consoleSend">
        <input type="hidden" name="redirect" value="analytics/console">

        {{ forms.textField({
            first:true,
            label: "Profile ID"|t,
            name: 'profileId',
            value: profileId
        }) }}

        {{ forms.textField({
            label: "Start"|t,
            name: 'start',
            value: (start is defined ? start : now|date_modify("-1 month")|date('Y-m-d'))
        }) }}

        {{ forms.textField({
            label: "End"|t,
            name: 'end',
            value: (end is defined ? end : now|date('Y-m-d'))
        }) }}

        {{ forms.textField({
            label: "Metrics"|t,
            name: 'metrics',
            value: (metrics is defined ? metrics : 'ga:sessions')
        }) }}

        {{ forms.textField({
            label: "Dimensions"|t,
            name: 'options[dimensions]',
            value: (options['dimensions'] is defined ? options['dimensions'] : '')
        }) }}

        <div class="btns">
            <input type="submit" class="btn submit" value="Send">
        </div>
    </form>

    {% if response is defined %}

        <hr>

        <pre>{{ dump(response) }}</pre>

    {% endif %}
{#

    'ga:'.$profile['id'],
    $start,
    $end,
    $metrics,
    $options #}
{% endset %}
