{%- extends "_entry" -%}

{%- block articleHeaderPost -%}
    {%- if entry.pageOptions.contains("highFooter") -%}
        <div class="c-article__creds">
            {%- if entry.person | length -%}
                {%- set thumb = "yes" -%}
                {%- set people = entry.person -%}
                <div class="c-article__photo-creds">
                    {%- for entry in people -%}
                        {%- include "_includes/support/items/_roundel" with { "noAlt" : "true" } -%}
                    {%- endfor -%}
                </div>
                {%- include "_includes/article/_credentials" -%}
             {%- elseif entry.author | length -%}
                {%- include "_includes/article/_credentials" -%}
            {%- else -%}
                {%- include "_includes/article/_credentials" with { "hideAuthor" : "true" } -%}
            {%- endif -%}
            {%- include "_includes/_share-anchor" -%}
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block articleFooter -%}
    <div class="c-article__end"></div>
    {%- if entry.pageOptions.contains("highFooter") -%}
    {%- else -%}
        {%- if entry.authors | length -%}
            {%- include "_includes/article/_credentials" -%}
        {%- else -%}
            {%- include "_includes/article/_credentials" with { "hideAuthor" : "true"} -%}
        {%- endif -%}
    {%- endif -%}
{%- endblock -%}