{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_entry" %}

{% if craft.request.segment(2) | length %}
{% set catSlug = craft.request.getSegment(2) %}
{% set indexCategory = craft.categories.slug(catSlug).first() %}


{% set entries = craft.entries.section('news').relatedTo(indexCategory) %}
{% if indexCategory.theme | length %}
{% set title = "News" %}
{% else %}
{% set title = indexCategory.title ~ " News" %}
{% endif %}
{% else %}
{% set entries = craft.entries.section('news').find() %}
{% set title = "News" %}
{% endif %}

{% block articleExtras %}
{% set thumb = 'yes' %}

{% block addPageThemeSettings %}
{% endblock %}

<div class="o-block c-support">
    <div class="c-support__body">
        {% paginate entries.limit(16) as entriesOnPage %}
        <ul class="c-support-list +blocks c-tease-list">
        {% for entry in entriesOnPage %}
            <li>
            {% include "_includes/support/items/_tease" %}
            </li>
        {% endfor %}
        </ul>
        {% include "_includes/insert/_pagination" %}
    </div>
</div>
{% endblock %}