<a href="{{ asset.url }}" target="_blank" rel="noopener" class="c-TeaserItem c-TeaserItem--download">
    <article class="c-TeaserItem-article">
        <h3 class="c-TeaserItem-title" onClick="location.href='{{ asset.url }}'">{{ asset.title }}</h3>
    </article>
</a>