{% block indexList %}

<div class="c--index-article">
    <ul class="l">
        {% for entry in entries %}
        <li>
            <div class="x x--tease x--linked">
                {% include "_includes/index/_item" %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}