<div class="c-Card">
    <div class="c-Card-thumb"></div>
    <div class="c-Card-title">
        <h3>Title</h3>
    </div>
    <div class="c-Card-body"></div>
    <div class="c-Card-footer"></div>
</div>