{% if block.bandStyle | length and block.bandStyle != "none" %}
    {%- import "_macros/_color-switch" as colorswitch -%}
    {%- set bg = ' -fill' ~ colorswitch._colorswitch(block.bandStyle) -%}
{% endif %}

{% set entryIdNo = entry.title|lower|replace(" ", "-")|replace("'", "") %}
{% set entryId %} id="{{entryIdNo}}" {% endset %}
{% if entry.leadImage.nth(1) | length %}
    {% set entryImage = entry.leadImage.nth(1) %}
{% else %}
    {% set entryImage = entry.leadImage.first() %}
{% endif %}

{% if entryImage | length %}
    {% set posterClass = ' c-Poster c-Poster--fixed c-feature__poster' %}
    {% if bg == '' %}
        {% set bg = ' -fill1' %}
    {% endif %}
{% endif %}

{% set entryCss %}
    .c-Poster#{{ entryIdNo }}{background-image:url("{{ entryImage.getUrl('posterDesktop') }}")}@media only screen and (-webkit-min-device-pixel-ratio:1.3),only screen and (min-resolution:1.3dppx){.c-Poster#{{ entryIdNo }}{background-image:url("{{ entryImage.getUrl('posterDesktop2x') }}")}}@media only screen and (max-width:30em){.c-Poster#{{ entryIdNo }}{background-image:url("{{ entryImage.getUrl('posterMobile') }}")}}@media only screen and (max-width:30em) and (-webkit-min-device-pixel-ratio:1.3),only screen and (max-width:30em) and (min-resolution:1.3dppx){.c-Poster#{{ entryIdNo }}{background-image:url("{{ entryImage.getUrl('posterMobile2x') }}")}}@media only screen and (min-width:80em){.c-Poster#{{ entryIdNo }}{background-image:url("{{ entryImage.getUrl('posterDesktop2x') }}"){{ posterFixed }}}}
{% endset %}

{% includeCss entryCss %}

<div class="o-block-xsm c-feature__poster"{{ entryId }}>
    <div class="c-feature__content">
        <div class="c-feature__item{% if entry.type == 'places' %} vcard h-card {% elseif entry.type == 'event' %} vevent h-event {% endif %}"{% if entry.type == 'places' %} itemscope itemtype="http://schema.org/Place" typeof="Place" {% elseif entry.type == 'event' %} itemscope itemtype="http://schema.org/Event" typeof="Event"{% elseif entry.type == 'news' %} itemscope itemtype="http://schema.org/NewsArticle" typeof="NewsArticle"{% else %} itemscope itemtype="http://schema.org/Thing" typeof="Thing"{% endif %}">
            {% if entry.indexHeading | length %}
                {% set heading = entry.indexHeading | typogrify %}
            {% else %}
                {% set heading = entry.title | typogrify %}
            {% endif %}
            <h2>
                <a href="{{ entry.url }}">
                    <span class="fn{% if entry.type == 'event' %} summary{% endif %}"{% if entry.type == "places" or entry.type == "event" or entry.type == "news" or entry.type == "article" %} itemprop="name" property="name"{% endif %}>
                    {{ heading }}
                    </span>
                    {% if entry.price | length and entry.price != 0 %}
                        &nbsp; <span>&pound;{{ entry.price }}</span>
                    {% endif %}
                </a>
            </h2>
            {% if entry.type == "people" %}
                <p><strong>{{ entry.subheading|striptags }}</strong></p>
            {% elseif entry.type == "event" %}
                <p><strong>{% include "_includes/event/_friendly-fromdate-range" %}</strong></p>
            {% elseif entry.type == "people" %}
                <p><strong>{{ entry.subheading | striptags }}</strong></p>
            {% elseif entry.type == "places" %}
                {% if entry.addressTable | length %}
                    {% set addressTable = entry.addressTable %}
                    {% for row in addressTable %}
                        <p><strong
                                itemscope
                                itemprop="address"
                                property="address"
                                itemtype="http://schema.org/PostalAddress"
                                typeof="PostalAddress">{% include "_includes/article/_article-address-short" %}</strong></p>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if entry.posterContent %}
            {{ entry.posterContent | typogrify }}
            {% elseif entry.brief %}
            {{ entry.brief | typogrify }}
            {% endif %}
            <p><b><a href="{{ entry.url }}"><span aria-hidden="true">{{ "Read more" | t }}</span><span class="-hide">{{ "Continue reading" | t }} "{{ heading }}"</span></a></b></p>
            {% include "_includes/index/_item-meta" %}
            {% include "_includes/index/_item-image-meta" %}
        </div>
    </div>
<a href="{{ entry.url }}" class="c-feature__link"></a>
</div>