{% if row.imageUrl | length %}
    {% set bgImage %} style="background-image:url('{{ row.imageUrl }}')"{% endset %}
{% endif %}

<div class="c-MediaItem"{{ bgImage }}>
    {% if row.url | length %}
        <a href="{{ row.url }}" class="c-MediaItem-text">{{ row.name }}</a>
    {% else %}
        <span class="c-MediaItem-text">{{ row.name }}</span>
    {% endif %}
    {% if row.type | lower == "youtube" or row.type | lower == 'vimeo' %}
        {% set video = craft.embedder.url(row.url) %}
        <div class="c-EmbedBox c-EmbedBox--video{{ fillClass }}{{ paddingClass }}">{{ video.embed_code }}</div>
    {% elseif row.code | length %}
        {{ row.code | raw }}
    {% endif %}
</div>