<a href="{{ entry.url }}" class="Teaser Teaser--bg -fill-shade">
    <div class="Teaser-article">
        <article>
            <h1 class="Teaser-title">
                {{ entry.title }}
                {% if entry.price | length and entry.price != 0 %}
                &nbsp; <span>&pound;{{ entry.price }}</span>
                {% endif %}
            </h1>
            {% if entry.type == "people" or entry.type == "country" %}
            {{ entry.subheading }}
            {% elseif entry.brief|length %}
            <p>{{ entry.brief|striptags|slice(0,130) }}…</p>
            {% else %}
            {% endif %}
        </article>
    </div>
</a>