{%- if entry.leadImage | length -%}
    {%- set image = entry.leadImage.first() -%}
    <span class="-hide" itemprop="image" property="image" itemscope
          itemtype="http://schema.org/ImageObject" typeof="ImageObject">
        <img itemprop="url" property="url"
             src="{{ image.getUrl('thumb') }}" alt="{{ entry.title }}" width="268" height="268">
        <meta itemprop="height" property="height"
              content="{{ image.getHeight('thumb') }}"/>
        <meta itemprop="width" property="width"
              content="{{ image.getWidth('thumb') }}"/>
    </span>
{%- else -%}
    <span class="-hide" itemprop="image" property="image" itemscope
          itemtype="http://schema.org/ImageObject" typeof="ImageObject">
        <img itemprop="url" property="url"
             src="{{ defaultOGImage }}" alt="{{ entry.title }}" width="268" height="268">
        <meta itemprop="height" property="height"
              content="268"/>
        <meta itemprop="width" property="width"
              content="268"/>
    </span>
{%- endif -%}
