{% set teaserItemClass = "" %}
{% set teaserColor = " -fill-shade" %}

{% if teaserClass | length %}
    {% set teaserItemClass = teaserClass %}
{% else %}
{% set teaserItemClass = "c-TeaserItem" %}
{% endif %}

{% if entry.externalRedirect | length %}
    {% set externalName = entry.subheading %}
    {% set url = entry.externalRedirect %}
    {% set newTab = ' target="_blank" rel="noopener"' %}
{% else %}
    {% set url = entry.url ~ theme %}
{% endif %}

{% if entry.type == 'event' %}
    {% if date(entry.startDate) < date(now) %}
        {% set fadeClass = ' -fade' %}
    {% endif %}
{% endif %}

{% if entry.indexHeading %}
    {% set teaserTitle = entry.indexHeading %}
{% else %}
    {% set teaserTitle = entry.title %}
{% endif %}

{% if block.teaserVar.contains("teaserColor") %}
    {%- import "_macros/_color-switch" as colorswitch -%}
    {%- set bg = ' -fill' ~ colorswitch._colorswitch(entry.posterColor) -%}
{% endif %}

{% if entry.leadImage | length and thumb == "yes" %}

{% if teaserClass != "c-TeaserItem--card" %}
    {% set teaserColor = " -fill1" %}
{% endif %}

{% set image = entry.leadImage[0] ?? null %}
<div class="{{ teaserItemClass }} c-TeaserItem--thumb{% if entry.noLink != 1 %} c-TeaserItem--linked{% endif %}{{ teaserVarClass }}{{ teaserColor }}{{ fadeClass }}">
    {% if listClass == "c-TeaserItems--wideList" or listClass == "c-TeaserItems--cards-stacked" %}
        <img src="{{ image.getUrl('thumbHalf') }}" srcset="{{ image.getUrl('thumbHalf2x') }} 2x"
             alt="{{ entry.title }}" height="266" width="532">
    {% else %}
        {% if teaserClass == "c-TeaserItem--card" %}
        <img src="{{ image.getUrl('thumb') }}" srcset="{{ image.getUrl('thumb2x') }} 2x" alt="{{ entry.title }}" height="266" width="266">
        {% else %}
        <picture>
            <source media="(max-width:50em)"
                    srcset="{{ image.getUrl('thumbHalfSmall2x') }}, {{ image.getUrl('thumbHalf') }}  2x">
            <img src="{{ image.getUrl('thumb') }}" srcset="{{ image.getUrl('thumb2x') }} 2x" alt="{{ entry.title }}" height="266" width="266">
        </picture>
        {% endif %}
    {% endif %}
{% else %}

{% if entry.posterColor | length and entry.posterColor != "none" %}
{% else %}
    {% set teaserColor = " -fill-shade" %}
{% endif %}

<div class="{{ teaserItemClass }}{% if entry.noLink != 1 %} c-TeaserItem--linked{% endif %}{{ teaserVarClass }}{{ teaserColor }}{{ fadeClass }}">
{% endif %}
    {% if externalName | length %}
        <span class="c-TeaserItem-tag -fill1">
            {{ externalName | striptags }}
            <svg class="c-svgicon c-svgicon--right" aria-hidden="true" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-right"></use>
            </svg>
        </span>
    {% elseif entry.articleCategory == 'emergency' %}
        <span class="c-TeaserItem-tag -fill3">Emergency</span>
    {% elseif entry.articleCategory == 'project' %}
        <span class="c-TeaserItem-tag -fill2">Project</span>
    {% elseif entry.articleCategory == 'campaign' %}
        <span class="c-TeaserItem-tag -fill6">Campaign</span>
    {% elseif entry.type == "news" and entry.postDate >= now | date_modify('-7 days')  %}
        <span class="c-TeaserItem-tag -fill2">New!</span>
    {% else %}
        {#{% include "_includes/index/_brand-badge" %}#}
    {% endif %}
    <div class="c-TeaserItem-article{% if entry.type == 'places' %} vcard h-card {% elseif entry.type == 'event' %} vevent h-event {% endif %}"{% if entry.type == 'places' %} itemscope itemtype="http://schema.org/Place" typeof="Place" {% elseif entry.type == 'event' %} itemscope itemtype="http://schema.org/Event" typeof="Event"{% elseif entry.type == 'news' %} itemscope itemtype="http://schema.org/NewsArticle" typeof="NewsArticle"{% else %} itemscope itemtype="http://schema.org/Thing" typeof="Thing"{% endif %}>
        <article>
            <h3 class="c-TeaserItem-title">
                {% if entry.noLink != 1 %}<a href="{{ url }}"{{ newTab }} class="c-TeaserItem-title-link" itemprop="url" property="url">{% endif %}<b class="fn{% if entry.type == 'event' %} summary{% endif %}"{% if entry.type == "places" or entry.type == "event" or entry.type == "news" or entry.type == "article" %} itemprop="name" property="name"{% endif %}>{{ teaserTitle | smartypants }}{% if entry.type == "event" %}:{% endif %}</b>{% if entry.noLink != 1 %}</a>{% endif %}
                {% if entry.price | length and entry.price != 0 %} &nbsp;
                    <span>&pound;{{ entry.price }}</span>
                {% endif %}
                {% if entry.type == "event" %}
                    <span> {% include "_includes/event/_friendly-fromdate-range" %}</span>
                {% endif %}
            </h3>
            {% if entry.type == "people" %}
                <p>{{ entry.subheading | striptags }}</p>
            {% elseif entry.type == "places" %}
                {% if entry.addressTable | length %}
                    {% set addressTable = entry.addressTable %}
                    {% for row in addressTable %}
                        <p class="adr h-adr" itemprop="address" property="address" itemscope itemtype="http://schema.org/PostalAddress" typeof="PostalAddress">{% include "_includes/article/_article-address-short" %}</p>
                    {% endfor %}
                {% endif %}

            {% elseif entry.brief|length %}
                {% set briefLength = entry.brief|length %}
                {% if entry.noLink != 1 and briefLength > 130 %}
                    <p>{{ entry.brief|striptags|slice(0,130)|smartypants }}…</p>
                {% else %}
                    <p>{{ entry.brief|striptags|smartypants }}</p>
                {% endif %}
            {% else %}
            {% endif %}
        </article>
        {% include "_includes/index/_item-meta" %}
        {% include "_includes/index/_item-image-meta" %}
    </div>
    {% if entry.noLink != 1 %}
        <a href="{{ url }}"{{ newTab }} class="c-TeaserItem-link"
           tabindex="-1">{% if entry.indexHeading | length %}{{ entry.indexHeading | smartypants }}{% else %}{{ entry.title | smartypants }}{% endif %}</a>
    {% endif %}
</div>