{% if link.color %}
{% set bgColor = ' style=background-color:' ~ link.color %}
{% endif %}
<div href="{{ link.url }}" target="_blank" rel="noopener" class="c-TeaserItem c-TeaserItem--external"{{bgColor}}>
    <div class="c-TeaserItem-article">
    <article>
        <h3 class="c-TeaserItem-title"><a href="{{ link.url }}" target="_blank" rel="noopener"class="c-TeaserItem-title-link">{{ link.title }}</a></h3>
    </article>
    </div>
</div>
<a href="{{ link.url }}" target="_blank" rel="noopener"class="c-TeaserItem-link" tabindex="-1">{{ link.title }}</a>