{% extends "_includes/insert/charge/_layout" %}

{% set charges = craft.charge.getChargesByUser %}

{% block content %}
{% if charges | length %}

    <div class="c-Band">
    {% if currentUser %}
        <h2>You have the following charges :</h2>

    {% for charge in charges %}
            <div class="panel-body">
                {{ charge.id }} <code>{{ charge.mode }}</code> <strong>{{ charge.type }}</strong>
                <ul>
                    {% for payment in charge.payments %}
                        <li>{{ payment.formatAmount }} paid on {{ payment.dateCreated }}</li>
                    {% endfor %}
                </ul>

                {% if charge.type == 'recurring' %}
                    <p>This is a recurring Charge</p>
                    <p>Subscription is : <span class="label label-success">{{ charge.subscription.status }}</span></p>

                    {% if charge.subscription.status == 'active' %}
                        <h4>End Subscription</h4>
                        <p>You can cancel your recurring payment. <br/>
                            You will still have access until the end of the current payment period on <em>{{ charge.subscription.currentPeriodEnd | date }}</em></p>

                        <form class="form-horizontal" method="post">
                            {{ forms.hidden({ name: 'action', value: '_includes/insert/charge/endSubscription'}) }}
                            {{ forms.hidden({ name: 'subscriptionId', value: charge.subscription.id }) }}

                            <input type="submit" class="btn btn-danger" value="End this Subscription"/>
                        </form>
                    {% endif %}

                    {% if charge.subscription.status == 'cancelled' %}
                        <p>This subscription has been cancelled. You'll still have access until <em>{{ charge.subscription.currentPeriodEnd | date }}</em>.</p>
                    {% endif %}
                {% endif %}
            </div>
    {% endfor %}
    {% else %}
        <h2>Sorry, you need to be logged in to view your Charges.</h2>
    {% endif %}
    </div>
{% endif %}
{% endblock %}