// ----------------------------------------------------------------------------------------------------------------------------
//
//    9-print.scss
//
//   +top
//
//----------------------------------------------------------------------------------------------------------------------------
$unit: $unitPrint;
$gutter: $unit;
$margin: $unit;
$padding: $unit;
$page-margin: $gutter*7.5;

$baseFontSize: 10pt;

$borderColor: #e0e0e0;

$mainStart: left;
$mainEnd: right;
$globalBorderBox: true;

$article-width: 40em;

$verticalSpace: $unit;

@mixin caption {
    display: block;
    font-style: normal;
    font-weight: lighter;
    color: color(text, 1, 20%);
}

// Hide Stuff

fieldset,
video,
audio,
object,
embed,
hr,
iframe,
input,
fieldset,
textarea,
.c-category-listings,
.p-site-footer,
.p-site-header,
.p-site-quick-nav,
.c-map__static,
.c-menu-icon--top,
.o-support,
.p-site-nav,
.c-info-box .c-svgicon,
.-offcanvas,
.-noprint {
    display: none !important;
}

// Resets

[class^="-fill"] {
    background-color: transparent;
    color: inherit;
}

// Set default options for printing
* {
    margin: 0;
    padding: 0;
    behavior: none !important;
    filter: none !important;
}

@page {
    margin: $page-margin;
    size: A4;
    @bottom-right {
        content: counter(page);
    }
}

* + * {
    margin-top: 0.5cm;
}

body {
    font-size: $baseFontSize;
}

h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

table, figure {
    page-break-inside: avoid;
}

img {
    max-width: 10cm;
    width: 100%;
    &[height],
    &[width] {
        height: auto;
    }
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

dl {
    > * + * {
        margin-top: 0.25cm;
    }
    dd {
        margin-top: 0;
        * + * {
            margin-top: 0;
        }
    }
}