<div class="{{ fieldName }}__wrapper">
    <label>{{ 'Leave this field blank'|t }}</label>
    <input type="text" id="{{ fieldName }}" name="{{ fieldName }}" value="">
</div>
<script>
    (function() {
        var $yoursinces = document.querySelectorAll('.{{ fieldName }}__wrapper');
        for (var i = 0; i < $yoursinces.length; i++) {
            $yoursinces[i].style.display = 'none';
        }
    })();
</script>