<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 206 265" enable-background="new 0 0 206 265" xml:space="preserve">
<path fill="#DEDEDE" d="M103,0L29.4,140.2c23.3-4.9,48-7.6,73.6-7.6V0z"/>
    <path fill="#FFFFFF" d="M103.5,132.5c25.4,0,49.8,2.6,73,7.4L103,0v132.5C103.2,132.5,103.3,132.5,103.5,132.5z"/>
    <path fill="#FFFFFF" d="M103,185v-52.5c-25.6,0-50.3,2.7-73.6,7.6L0.6,195C31.7,188.6,66.4,185,103,185z"/>
    <path fill="#DEDEDE" d="M103,260c25.8,0,49.8,1.7,70,4.7v-10.1c-20.9-2.9-44.7-4.6-70-4.6V260z"/>
    <path fill="#FFFFFF" d="M39.3,199c-6.7,0.9-13.2,1.9-19.6,3l12.4,13.1c4.4-0.7,8.9-1.3,13.4-1.8L39.3,199z"/>
    <path fill="#FFFFFF" d="M33,254.6v10.1c20.2-3,44.2-4.7,70-4.7v-10C77.7,250,53.9,251.7,33,254.6z"/>
    <path fill="#DEDEDE" d="M103,132.5V185c36.6,0,71.3,3.6,102.4,10l-28.9-55.1c-23.1-4.8-47.6-7.4-73-7.4
	C103.3,132.5,103.2,132.5,103,132.5z"/>
    <path fill="#DEDEDE" d="M126.8,195.6c-6.2-0.3-12.4-0.5-18.8-0.5v15c5.3,0.1,10.6,0.2,15.8,0.4L126.8,195.6z"/>
    <path fill="#DEDEDE" d="M160.5,213.4c4.5,0.5,9,1.2,13.4,1.8l12.4-13.1c-6.4-1.1-13-2.1-19.6-3L160.5,213.4z"/>
    <path fill="#DEDEDE" d="M156.3,197.8c-6.4-0.7-12.9-1.2-19.4-1.7l-3,14.8c5.5,0.3,10.8,0.8,16.1,1.3L156.3,197.8z"/>
    <path fill="#FFFFFF" d="M72.1,211l-3-14.8c-6.6,0.4-13.1,1-19.4,1.7l6.3,14.4C61.3,211.7,66.6,211.3,72.1,211z"/>
    <path fill="#FFFFFF" d="M98,210v-15c-6.3,0.1-12.6,0.2-18.8,0.5l3,14.9C87.4,210.2,92.7,210.1,98,210z"/>
</svg>