// ==========================================================================
//
//	BRAND
//
//  The logo at the top of the site
//
// ==========================================================================

.p-brand {
    @include padding(0 $unit);
    @include font-weight($siteHeaderWeight);
    @include base-font-size;
    @include var(background-color, color-nav);
    @include var(color, color-nav-rev);
    display:inline-block;
    @if $siteHeaderFontFeatures != $fontFeatures {
        font-feature-settings: $siteHeaderFontFeatures;
    }
    @if $siteHeaderFontFamily != inherit {
        font-family: $siteHeaderFontFamily;
    }
    line-height:inherit;
    opacity:1;
    text-transform:$siteHeaderCase;
    vertical-align: top;
    @include screen-size(lw) {
        @include base-font-size(1.5);
    }

    &:hover, &:focus {
        @include var(background-color, color-nav-hover);
        text-decoration: none;
    }
    &:active {
        @include var(background-color, color-nav-active);
    }
    @include screen-size(tnav) {
        .\~no-bar & {
            background-color:transparent;
            &:hover, &:focus {
                @include var(background-color, color-nav);
                box-shadow: none;
                transform: none;
                text-decoration: none;
            }
            &:active {
                @include var(background-color, color-nav-rev);
                @include var(color, color-nav);
                box-shadow: none;
                transform: none;
            }
        }
    }
    &.has-no-icon {
        img {
            display: none;
        }
    }
}

// Brand Child: the text next to the graphical logo or emblem
// ==========================================================================

.p-brand__name-short,
.p-brand__name {
    display: none;
    @include screen-size(lw) {
        display:inline;
    }
    .has-no-icon & {
        @include margin(n n n 0, dir);
    }
}

.p-brand__name {
    @include margin(n n n $unit, dir);
}

.p-brand__name-short {
    display:inline;
    @include margin(n n n $unit/2, dir);
    @include screen-size(lw) {
        display: none;
    }
}