// ==========================================================================
//
//	CATEGORIES
//
// ==========================================================================


.p-categories {
	@include background-color(color-site-foot, $brand1text, var);
	@include clear;
	text-align: center;
}

.p-category {
	@include text-start;
	opacity: $fade;
	vertical-align: top;
	@include padding($unit n);
	@include screen-size(sw) {
		@include rem(width, $block);
		display: inline-block;
	}
	&:hover {
		opacity: 1;
	}
}

.p-category__title {
	@include font-features("smcp" "c2sc");
	@include font-size(font-size(alpha));
	margin-bottom: $unit/4;
}

.p-category__list,
.p-category__list ul {
	@include padding(n n n $unit/2);
	list-style-position: inside;
}

.p-category__list {
	@include animInItem("li", "", popIn);
	list-style-type: disc;
	ul {
		list-style-type: circle;
	}
	li {
		@include animInSequence(5, $sharePlusOpen)
	}
	> li + li {
		@include margin($unit/2 n n n);
	}
}