// ==========================================================================
//
//	COPYRIGHT
//
// ==========================================================================

.p-copyright {
    @include margin($unit n n n);
    @include padding(n $unit);
    @include caption;
}

.p-copyright__holder {
    white-space: nowrap;
}