// ==========================================================================
//
//	FOOTER ITEMS
//
//  Items of content inside the p-site-footer
//
// ==========================================================================

.p-footer-item-list {
	@include padding(n n $unit n);
	margin:0;
	font-size:0px;
	@if $footerItemsOpacityInit != 1 {
		opacity:$fade/1.5;
		&:hover {
			opacity:$footerItemsOpacityFinal;
		}
	}

	@include screen-size(mw-) {
		@include padding($unit n n n);
	}

	time {
		display:block;
		b {
			display: block;
			font-weight:normal;
		}
	}

	li {
		@include base-font-size;
		display: inline-block;
		width:100%;
		vertical-align:top;
		@include screen-size(sw) {
			@include rem(max-width, $block);
			width: 50%;
		}
		@include screen-size(mw) {
			width: 25%;
		}
		@include is-old-ie {
			max-width:$block;
		}
		&.\+own-row {
			@include margin($unit n n n);
			@include padding($unit n n n);
			display: block;
			@if $footerItemsOwnRowBorder != none {
				border-top: $footerItemsOwnRowBorder;
			}
			@include screen-size(sw) {
				max-width: none;
				width: auto;
			}
			@include screen-size(mw) {
				@include margin($unit*2 n n n);
				@include padding($unit*2 n n n);
				width: auto;
			}
		}
	}

	> li {
		@include margin($unit n n n);
		@include screen-size(mw-) {
			@include margin(n n $unit n);
		}
	}
}

.p-footer-item {
	@include text-start;
	@include padding(n $unit n n, dir);
	line-height:$baseLineHeight;
	margin:0;
	@include screen-size(sw) {
		@include padding(n $unit*2 n n, dir);
	}
	.c-svgicon {
		@include padding(n $unit/4 n n, dir);
		@include margin(n $unit/4 n n, dir);
	}

	.\+own-row & {
		@include padding(n 0 n n, dir);
		@include screen-size(sw) {
			@include padding(n 0 n n, dir);
			text-align: center;
		}
	}

	.c-svgicon {
		margin-bottom:-0.1em;
		opacity:$fade/2;
		width:1.2em;
	}

	h2 {
		@include margin(n n $unit n);
		font-size:1.1em;
	}

	dd {
		@include margin(n n $unit/2 n);
		margin-#{$mainStart}: 0;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&.\+icons {
			padding-left:1px;
		}

		&:hover {
			.c-svgicon {
				opacity:1;
			}
		}
		&.\+icon-only {
			display: inline-block;
			line-height: $touchTarget;
			margin-bottom: 0;
			min-width: $touchTarget;
			font-size: 2em;
			position: relative;
			a {
				@include position(absolute, 0);
				display: block;
				font-size: 0;
				opacity: 0;
			}
			.c-svgicon {
				@include margin($unit/2);
				opacity: $fade;
			}
			&:hover {
				.c-svgicon { opacity: 1; }
			}
		}
		@include screen-size(mw) {
			&.\+icons:before {
				@include padding(n $unit/2);
				@include position(absolute, 0 n n 1px);
				background: inherit;
				color: inherit;
				content: attr(title);
				min-height: 100%;
				display: none;
				transform: translateX(-100%);
			}
			&.\+icons:hover {
				background: $white;
				color: color(footer);
				a {
					color: color(link);
					text-decoration: none;
				}
				.c-svgicon {
					color: color(footer);
					&.c-svgicon--facebook { @include var(color, color-facebook); }
					&.c-svgicon--instagram { @include var(color, color-instagram); }
					&.c-svgicon--twitter { @include var(color, color-twitter); }
					&.c-svgicon--youtube { @include var(color, color-youtube); }
				}
				&:before {
					display: block;
				}
			}
		}
	}

	ul {
		margin:0;
		li {
			width:100%;
		}
	}

	ul, p {
		a {
			@include font-weight(bold);
		}
	}

}

.p-footer-articles {
	li {
		clear: both;
		+ li {
			@include margin($unit/2 n n n);
		}
		a {
			display: block;
		}
	}
	&.\+grid {
		li {
			display: inline-block;
			max-width:30%;
			img {
				max-width: 80%;
			}
		}
	}
}

