// ==========================================================================
//
//	FOOTER BRAND
//
//  The Name of the Brand and the logo at the footer of the site.
//
// ==========================================================================

.p-footer-brand {
    @include padding($unit*2 n n n);
    @include var(color, color-nav-rev);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: $block*3;
    min-height: 100vh;
    text-align:center;
    width:100%;
    @include screen-size(mw) {
        @include padding($unit*4 n);
        min-height: 0;
    }
    a {
        @include var(color, color-nav-rev);
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    img {
        @include rem(max-width, $navWidth);
        @include rem(max-height, $unit*10);
        @include is-old-ie {
            width:50%;
        }
        @include is-not-old-ie {
            width: calc(50% - 2rem);
        }
        @include is-ie-gte-10 {
            &[src$=".svg"] {
                height: 100%;
            }
        }
    }
}

.p-footer-brand__name,
.p-footer-brand__motto {
    @include font-weight($brandNameWeight);
    @include padding(n $unit);
    display: block;
    margin:0;
}


.p-footer-brand__name {
    @include font-size(font-size(beta));
    @include padding($unit n n n);
    font-family: $siteHeaderFontFamily;
    text-transform:$brandNameCase;
    @if $brandNameFeatures != $fontFeatures {
        font-feature-settings: $brandNameFeatures;
    }
    span {
        display:none;
    }
}

.p-footer-brand__motto {
    @include padding($unit n n n);
    @if $brandMottoFeatures != none {
        @include font-features($brandMottoFeatures);
    }
    @if $brandMottoOpacity != 1 {
        opacity: $brandMottoOpacity;
    }
    @if $brandMottoStyle != normal or $brandMottoWeight != normal {
        @include font-weight-style($brandMottoWeight $brandMottoStyle);
    }
    .p-footer-brand__name + & {
        padding-top: 0;
    }
}


// Sub brand (below the main brand name)
// ==========================================================================

.p-footer-brand--sub {
    @include font-size(font-size(alpha));
    @include margin($unit/2 0 0 0);
    @include padding(0 $unit);
    @include caption;
    font-weight:normal;
    opacity:1;
}


@include is-not-old-ie {
    &.is-in-view {
        .p-footer-brand {
            animation: fadeIn 1s $ease-out-quad;
        }
    }
}