// ==========================================================================
//
//	FOOTER
//
//  Block at the very bottom of the site
//  (usually contains a logo and Copyright info)
//
// ==========================================================================

.p-footer {
    @include is-not-old-ie {
        // Animations
        &.js-anim {
            .c-footer-brand {
                opacity: 0;
            }
        }
    }
    .\~nav-inside & {
        @include screen-size(insidenav) {
            @include padding(n n n $block);
        }
    }
}
