// ==========================================================================
//
//	MAIN
//
// ==========================================================================

@include screen {
    .p-main {
        @include var(background-color, color-site);
        @if $siteHeaderBorder != "none" {
            border-top: $siteHeaderBorder;
        }
        @include color-scheme(no-preference, $classDark) {
            @include background-color(color-dark, $brand1text, var);
        }
    }
}
