// ==========================================================================
//
//	MENU ICON
//
// ==========================================================================

%MenuIcon {
	@include padding(n $unit);
	@include rem(height, $siteHeaderHeight);
	@include font-size(font-size(alpha), absolute);
	display:block;
	float: right;
	text-align:center;
	@include rtl {
		float: left;
	}
	&, &:visited {
		@include var(color, color-nav-rev);
	}
	&:hover, &:visited:hover {
		box-shadow: $shadowDepth2;
		opacity:1;
		text-decoration: none;
		@include is-old-ie {
			background:color(nav, 1, -10%);
		}
		@include is-not-old-ie {
			@include var(color, color-1);
			background:white;
		}
		&:visited {
			@include var(color, color-1);
		}
	}
	&:active {
		box-shadow: inset $shadowDepth2;
		@include is-old-ie {
			background:color(nav, 1, -20%);
		}
		@include is-not-old-ie {
			background:color(site, 1, -10%);
		}
	}
	@include screen-size(sw) {
		float: left;
		@include rtl {
			float: right;
		}
	}
}

.p-menu-icon {
	@extend %MenuIcon !optional;
	@include position(absolute, 0 n n n);
	align-items: center;
	display: flex;
	z-index:$siteHeaderZIndex + 1;
	.c-svgicon--close {
		display:none;
	}
	.c-svgicon--bars {
		display:inline-block;
	}
	@include screen-size(tnav) {
		display: none;
	}
	top: calc((var(--site-header-h) - #{$siteNavHeight})/2);
	@include ltr {
		right: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		@include is-only-env {
			right: calc(max(((var(--site-header-h) - #{$siteNavHeight})/2), (((var(--site-header-h) - #{$siteNavHeight})/2) + env(safe-area-inset-right))));
		}
		@include is-only-firefox {
			right: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		}
	}
	@include rtl {
		left: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		@include is-only-env {
			left: calc(max(((var(--site-header-h) - #{$siteNavHeight})/2), (((var(--site-header-h) - #{$siteNavHeight})/2) + env(safe-area-inset-right))));
		}
		@include is-only-firefox {
			left: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		}
	}
}

.p-menu-icon__text {
	@include margin(n $unit/2 n n);
	display: inline-block;
	@include screen-size(mw) {
		display: none;		
	}
	@include screen-size(xsw-) {
		display: none;
	}
}

.p-menu-icon--top {
	@extend %MenuIcon !optional;
	@include padding(0 $unit);
	@include margin(0);
	@include rem(line-height, $siteNavHeight);
	@include rem(height, $siteNavHeight);
	display:flex;
	float: right;
	opacity:1;
	position:static;
	@include rtl {
		float: left;
	}
	@include screen-size(tnav) {
		display:none;
	}
}

@media print {
	.p-menu-icon {
		display: none;
	}
}