// ==========================================================================
//
//	SITE SEARCH
//
// ==========================================================================

$search-radius: 0;

.p-site-search {
	background: $siteSearchFieldBg;
	color: color(text);
	height: rem($unit*3);
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	@if $siteSearchFieldBorderWidth != 0 {
		border: $siteSearchFieldBorderWidth solid $siteSearchFieldBorderColor;
	} @else {
		border: 0;
	}
	.c-svgicon--search {
		@include position(absolute, 50% n n $unit);
		pointer-events: none;
		transform: translateY(-50%);
	}

	label {
		height:1px;
		overflow: hidden;
		position:absolute;
		width:1px;
	}

	input[type="search"] {
		@include position(absolute, 0 $unit*5 n 0);
		@include padding(n $unit n $unit*2.5);
		background: transparent;
		border-radius: $search-radius;
		border: 0;
		color:inherit;
		height: rem($unit*3);
		line-height: rem($unit*3);
		margin: 0;
		width: 100%;
		-webkit-appearance: none;
		&::-webkit-search-cancel-button {
			cursor: default;
		}
	}

	+ p {
		@include rem(margin-top, $unit);
	}
	.p-site-nav & {
		border: 0;
		@include screen-size(mw) {
			display: none;
		}
	}
	.p-site-quick-nav & {
		display: none;
		@include screen-size(mw) {
			@include base-font-size;
			background: transparent;
			border: 0;
			display: inline-block;
			margin:0;
			vertical-align: top;
			.c-svgicon {
				@include var(fill, color-nav-rev);
				margin-top: -2px;
			}
			input[type="search"] {
				@include padding(n n n $unit*2);
				width:0;
				height: rem($siteHeaderHeight);
				line-height: rem($siteHeaderHeight);
				position: static;
				&:focus, &:hover {
					@include padding(n n n $unit*2.5);
					background: $siteSearchFieldFocusBg;
					@if $siteSearchFieldFocusColor != inherit {
						color: $siteSearchFieldFocusColor;
					}
					width: auto;
					~ .c-svgicon {
						fill: color(text-quiet);
					}
				}
			}
		}
		.\~nav-inside & {
			@include screen-size(insidenav) {
				input[type="search"] {
					&:focus, &:hover {
						width: calc(#{$block} - #{$unit}*2);
					}
				}
			}
		}
	}
	.c-hero__content & {
		background: $searchPageFieldBg;
		@if $searchPageFieldBorderWidth != 0 {
			border: $searchPageFieldBorderWidth solid $searchPageFieldBorderColor;
		}
		@include screen-size(lw) {
			@include font-size(font-size(beta));
			height:rem($unit*4);

			.c-svgicon--search {
				left: $unit*1.5;
			}
			input[type="search"] {
				@include padding(n n n $unit*4);
				height: rem($unit*4);
				line-height: rem($unit*4);
			}
		}
		input[type="search"] {
			@include screen-size(sw-mw) {
				@include text-start;
				@include padding(n n n $unit*2.5);
			}
		}
	}

	.p-site-quick-nav__link + & {
		@include screen-size(tnav);
	}
}