// ==========================================================================
//
//	SITE NAV
//
// ==========================================================================

.p-site-nav {
	//@include rem(min-width, $unit*18);
	@include var(background-color, color-nav);
	@include var(color, color-nav-rev);
	font-size:1em;
	z-index:0;

	@include is-old-ie {
		max-width:$site-width;
		margin-left:auto;
		margin-right:auto;
	}
	@include screen-size(tnav) {
		height: auto;
		padding-bottom: 0;
		position: static;
		width: 100%;
	}
	@include screen-size(sw-) {
		min-height: 100vh;
	}
	a {
		@include var(color, color-nav-rev);
	}
	h2 {
		@include font-size(font-size(beta));
		@include padding($unit);
		@include var(color, color-nav-rev);
		margin:0;
		@include screen-size(sw-) {
			font-size: 1.2em;
		}
		@include screen-size(mw) {
			text-align: center;
		}
		a:only-child {
			@include margin(-$unit);
			@include padding($unit);
			@include var(color, color-nav-rev);
			display:block;
			&:hover {
				@include background-color(color(primary, 1, -12%));
				@include var(color, color-nav-rev);
				text-decoration: none;
			}
		}
	}
	footer {
		text-align:center;
	}
}

.p-site-nav__inner {
	.\~nav-inside & {
		@include screen-size(insidenav) {
			@include padding(n n n $block);
		}
	}
}