// ==========================================================================
//
//	SITE QUICK NAV
//
// ==========================================================================

.p-site-quick-nav {
	@include position(absolute, 0 n n n);
	@include var-fallback {
		@include rem(right, $siteNavHeight);
		@include rem(top, (($siteHeaderHeightMd - $siteNavHeight)/2));
	}
	background-color:transparent;
	display:none;
	font-size:0px;
	min-width:0;
	right: calc(var(--menu-icon-w) + (var(--site-header-h) - #{$siteNavHeight})/2);
	top: calc((var(--site-header-h) - #{$siteNavHeight})/2);
	z-index:11;
	@include is-only-env {
		right: calc(max((var(--menu-icon-w) + (var(--site-header-h) - #{$siteNavHeight})/2), ((var(--menu-icon-w) + (var(--site-header-h) - #{$siteNavHeight})/2) + env(safe-area-inset-right))));
	}
	@include is-only-firefox {
		right: calc(var(--menu-icon-w) + (var(--site-header-h) - #{$siteNavHeight})/2);
	}
	@include rtl {
		@include var-fallback {
			@include rem(left, $siteNavHeight);
		}
		left: calc(var(--menu-icon-w) + (var(--site-header-h) - #{$siteNavHeight})/2);
		right: auto;
		@include is-only-env {
			left: calc(max((var(--menu-icon-w) + (var(--site-header-h) - #{$siteNavHeight})/2), ((var(--menu-icon-w) + (var(--site-header-h) - #{$siteNavHeight})/2) + env(safe-area-inset-right))));
		}
		@include is-only-firefox {
			left: calc(var(--menu-icon-w) + (var(--site-header-h) - #{$siteNavHeight})/2);
		}
	}
	@include screen-size(mw) {
		display:block;
	}
	@include screen-size(insidenav) {
		.\~nav-inside & {
			@include rem(bottom, $unit);
			@include rem(left, $unit);
			position: fixed;
			right: auto;
			top: auto;
			@include rtl {
				@include rem(right, $unit);
				left: auto;
			}
		}
	}
}

.p-site-quick-nav__link {
	@include font-size(font-size(alpha), absolute);
	@include padding(n $unit/1.5);
	@include rem(height, $siteHeaderHeight);
	@include rem(line-height, $siteHeaderHeight);
	background-color:color(shade, 0.25);
	color:$white;
	display:inline-block;
	&:visited {
		color:$white;
	}
	@include screen-size(mw) {
		@include padding(n $unit);
	}

	@include screen-size(tnav) {
		background-color:color(shade, $shadeAmount*2);

		&.p-site-quick-nav__account,
		&.p-site-quick-nav__basket {
			background-color:transparent;
		}
	}

	&.p-site-quick-nav__link--hi {
		background-color:color(tint);
		color:color(text);
		opacity:0.8;
	}
}

a.p-site-quick-nav__link {
	@include no-underline;
	&:hover {
		box-shadow: $shadowDepth2;
		background-color:color(tint);
		color:color(text);
	}
	@include screen-size(tnav) {
		&:hover {
			background-color:color(tint);
		}
	}
	&.p-site-quick-nav__link--hi {
		&:hover {
			opacity:1;
		}
	}
}

a.p-site-quick-nav__alert,
.p-site-quick-nav__alert {
	@include background-color($siteQuickNavBg, $whiteText, var);
	&:hover {
		@include background-color($siteQuickNavBg, $whiteText, var);
		box-shadow: $shadowDarken;
		color: color(white);
	}
	&:active {
		box-shadow: $buttonHoverShadow;
	}
	.c-svgicon {
		display: none;
	}
	@include screen-size(m) {
		.c-svgicon {
			display: none;
		}
		span {
			display: inline;
		}
	}
}