// ==========================================================================
//
//	SITE HEADER
//
// ==========================================================================

%site-header {
	@include rem(height, $siteHeaderHeight);
	@include rem(line-height, $siteHeaderHeight);
	display: flex;
	min-width: $siteHeaderWidth;
	font-size:0;
	position: relative;
	white-space: nowrap;
	z-index:$siteHeaderZIndex;
	@include is-old-ie {
		display: block;
	}

	img {
		margin-top:-4px;
		height:$siteHeaderImgHeight;
		max-width: none;
		vertical-align: middle;
		width:	$siteHeaderImgWidth;

		@if $siteHeaderImgHeightLg != $siteHeaderImgHeight {
			@include screen-size(mw) {
				height:	$siteHeaderImgHeightLg;
			}
		}

		@if $siteHeaderImgWidthLg != $siteHeaderImgWidth {
			@include screen-size(mw) {
				width:	$siteHeaderImgWidthLg;
			}
		}

		+ .c-brand__parent {
			display:none;
		}
	}
}

.p-site-header__title {
	display: inline-block;
	line-height: inherit;
	margin:0;
	white-space:nowrap;
	position: relative;
	z-index:2;
}

.p-site-header {
	@extend %site-header !optional;
	@include safe-area-inset(padding, n 0);
	@include is-not-old-ie {
		position: absolute;
		@include var-fallback {
			left: ($siteHeaderHeight - $siteNavHeight)/2;
			top: ($siteHeaderHeight - $siteNavHeight)/2;
		}
		left: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		top: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		@include is-only-env {
			left: calc(max(((var(--site-header-h) - #{$siteNavHeight})/2), env(safe-area-inset-left)));
		}
		@include is-only-firefox {
			left: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		}
	}
	@include rtl {
		@include var-fallback {
			right: ($siteHeaderHeight - $siteNavHeight)/2;
		}
		left: auto;
		right: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		@include is-only-env {
			right: calc(max(((var(--site-header-h) - #{$siteNavHeight})/2), env(safe-area-inset-left)));
		}
		@include is-only-firefox {
			right: calc((var(--site-header-h) - #{$siteNavHeight})/2);
		}
	}
	a {
		@include var(color, color-nav-rev);
	}
	@include screen-size(tnav-) {
		width: calc(100% - ((var(--site-header-h) + #{$siteNavHeight})));
		@include is-only-env {
			width: calc(100% - ((var(--site-header-h) - #{$siteNavHeight}) + env(safe-area-inset-left)*2));
		}
		@include is-only-firefox {
			width: calc(100% - ((var(--site-header-h) + #{$siteNavHeight})));
		}
	}
	@include screen-size(tnav) {
		display: inline-block;
		position: fixed;
		width: auto;
	}
	@include screen-size(lw) {
		animation-name: flyin-right-lg;
		@include rtl {
			animation-name: flyin-left-lg;
		}
	}
}

.p-site-header__section,
.p-site-header__section-children {
	@include screen-size(tnav) {
		display: none;
	}
}

.p-site-header__section {
	@include font-size(font-size(alpha), absolute);
	@include font-weight($hWeight);
	@include padding(n $unit/1.5);
	background-color: color(shade, $shadeAmount);
	color: color(nav-rev, 0.6);
	display: none;
	line-height:inherit;
	vertical-align: top;
	@include screen-size(sw) {
		display: inline-block;
	}
	@include screen-size(mw) {
		@include padding(n $unit);
	}
	@include screen-size(lw) {
		.c-svgicon {
			display:none;
		}
	}
	&:hover {
		background-color: color(shade, $shadeAmount*2);
	}
	&.p-site-quick-nav__alert {
		@include padding(n $unit);
		display:inline-block;
		.c-svgicon {
			display: inline-block;
			margin-bottom: -3px;
		}
		@include screen-size(mw) {
			display:none;
			.c-svgicon {
				display: none;
			}
		}
	}
}

.p-site-header__section-children {
	display: none;
	@include screen-size(lw) {
		display: none;
		vertical-align: top;
	}
}

a.p-site-header__section {
	@include var(color, color-nav-rev);
}

.p-site-header--reveal-nav {
	@extend %site-header !optional;
	@include screen-size(tnav) {
		left: 0;
		@include rtl {
			right: 0;
			left: auto;
		}
	}
	@include screen-size(lw) {
		@include rem(left, $unit);
		@include rem(top, $unit);
		@include rtl {
			@include rem(right, $unit);
			left: auto;
		}
	}
}