// ==========================================================================
//
//	SITE FOOTER
//
// ==========================================================================

.p-site-footer {
    @include padding($unit n);
    @if $brandTopBorder != none {
        border-bottom: $brandTopBorder;
    }
    @include screen-size(mw) {
        @include padding($unit*4 n);
    }
    @include color-scheme(no-preference, $classDark) {
        @include var(color, color-white);
        a {
            text-decoration: underline;
            &, &:visited {
                @include var(color, color-white);
            }
        }
    }
}

.p-site-footer__container {
    border-top: $borderWidth solid $siteFooterBorderColor;
}