<div class="c-comment__container">
    <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <div class="c-comment__avatar" itemprop="image">
            {% if comment.isGuest() %}
                <img src="{{ resourceUrl('/images/user.svg') }}" />
            {% else %}
                <img src="{{ comment.author.photoUrl ? comment.author.photoUrl : resourceUrl('/images/user.svg') }}" />
            {% endif %}
        </div>
    </span>

    <div class="c-comment__text">
        <span class="c-comment__author">
            <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
                <span class="title" itemprop="name">
                    {{ comment.author.fullName ? comment.author.fullName : comment.author }}
                </span>
            </span>

            <span class="meta">
                <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
                    {{ comment.dateCreated | date('M jS, Y') }}
                </time>
            </span>
        </span>

        <div class="c-comment__body" itemprop="commentText">
            <p>[Comment marked as spam]</p>
        </div>

        <div class="c-comment__meta">
            {% if settings.allowVoting %}
                <div class="comment-votes">
                    <span class="count">{{ comment.voteCount }} votes</span>

                    {% if comment.canUpVote %}
                        <a href="{{ comment.upvoteActionUrl }}" class="comment-vote-up">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    {% endif %}

                    {% if comment.canDownVote %}
                        <a href="{{ comment.downvoteActionUrl }}" class="comment-vote-down">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            <a href="#" class="comment-toggle">
                <span class="glyphicon glyphicon-comment"></span>
                {{ comment.descendants | length }} comments
            </a>
        </div>
    </div>
</div>
