<div class="c-comment__container">
    <span class="c-comment__avatar" itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <div itemprop="image">
            {% if comment.isGuest() %}
                <img src="{{ resourceUrl('/images/user.svg') }}" />
            {% else %}
                <img src="{{ comment.author.photoUrl ? comment.author.photoUrl : resourceUrl('/images/user.svg') }}" />
            {% endif %}
        </div>
    </span>
    <div class="c-comment__text">
        <span class="c-comment__author">
            <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
                <span class="title" itemprop="name">
                    {{ comment.author.fullName ? comment.author.fullName : comment.author }}
                </span>
            </span>

            <span class="meta">
                <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
                    {{ comment.dateCreated | date('M jS, Y') }}
                </time>
            </span>

            {% if currentUser %}
                <div class="c-comment__options c-options">
                    <a href="#" class="c-options__toggle">
                        <svg class="c-svgicon c-svgicon--navdown" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/symbol-defs.svg#icon-navdown"></use>
                        </svg>
                    </a>

                    <ul class="c-options__menu" role="menu">
                        {% if comment.canEdit() %}
                            <li role="presentation">
                                <a href="#" class="comment-edit">
                                    Edit
                                </a>
                            </li>
                        {% endif %}

                        {% if comment.canTrash() %}
                            <li role="presentation">
                                <a href="{{ comment.trashActionUrl }}" class="comment-delete">
                                    Delete
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.allowFlagging %}
                            <li role="presentation">
                                {% if comment.flagActionUrl %}
                                    <a href="{{ comment.flagActionUrl }}" class="comment-flag">
                                        Flag as inappropriate
                                    </a>
                                {% else %}
                                    <span class="static-label comment-flag">
                                        Flagged as inappropriate
                                    </span>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </span>

        <div class="c-comment__body" itemprop="commentText">
            {% if comment.isFlagged %}
                <p>[Comment marked as inappropriate]</p>
            {% elseif comment.isPoorlyRated %}
                <p>[Comment hidden due to low rating]</p>
            {% else %}
                <p>{{ comment.comment | nl2br }}</p>
            {% endif %}
        </div>

        {# Inline edit form (initially hidden) - only available on approved comment #}
        {% if not comment.isFlagged and not comment.isPoorlyRated %}
            {% include '_includes/comments/form-edit' %}
        {% endif %}

        <div class="c-comment__meta">
            {% if settings.allowVoting %}
                <div class="comment-votes">
                    <span class="count">{{ comment.voteCount }} votes</span>

                    {% if comment.canUpVote %}
                        <a href="{{ comment.upvoteActionUrl }}" class="comment-vote-up">
                            <svg class="c-svgicon c-svgicon--top" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/symbol-defs.svg#icon-top"></use>
                            </svg>
                        </a>
                    {% endif %}

                    {% if comment.canDownVote %}
                        <a href="{{ comment.downvoteActionUrl }}" class="comment-vote-down">
                            <svg class="c-svgicon c-svgicon--navdown" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/symbol-defs.svg#icon-navdown"></use>
                            </svg>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if not comment.isClosed %}
                <a href="#" class="comment-reply" itemprop="replyToUrl">
                    Reply
                </a>
            {% endif %}
            
            <a href="#" class="comment-toggle">
                {{ comment.descendants | length }} comments
            </a>
        </div>
    </div>
</div>
