<ul class="c-comments">
    {% nav comment in comments %}
        <li class="c-comment" id="comment-{{ comment.id }}" data-id="{{ comment.id }}" itemprop="comment" itemscope itemtype="http://schema.org/UserComments">
            {# Get the comment template depending on status #}              
            {% include '_includes/comments/comment-' ~ comment.status %}

            {# An inline form for easy reply #}
            {% include '_includes/comments/form' %}

            {% if comment.hasDescendants %}
                <ul class="c-comments">
                    {% for comment in comment.descendants() %}
                    <li class="c-comment" id="comment-{{ comment.id }}" data-id="{{ comment.id }}" itemprop="comment" itemscope itemtype="http://schema.org/UserComments">
                        {% include '_includes/comments/comment-' ~ comment.status %}
                        {% include '_includes/comments/form' %}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endnav %}
</ul>
