<div class="-bt -pt">
    {# Print out a tree-structured list of all comments #}
    <div>
        {% include '_includes/comments/comment' %}
    </div>

    {# Provide a comment form at the bottom of page. Used when not replying to another comment #}
    <div>
        {% include '_includes/comments/form' %}
    </div>
</div>
