{% macro errorList(errors) %}
    {% if errors %}
        <ul class="comment-errors">
            {% for error in errors %}
                <li class="comment-error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% set activeComment = craft.comments.getActiveComment() %}

<form class="c-form c-form--alt form-inline c-comment__form -noprint" role="form" action="" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="comments/save">
    <input type="hidden" name="elementId" value="{{ element.id }}">
    {% if comment is defined %}
        {% if comment.id %}<input type="hidden" name="parentId" value="{{ comment.id }}">{% endif %}
        {%- set commentId = comment.id -%}
    {% endif %}
    
    {# Anti-spam and security measures #}
    {{ craft.comments.protect() }}
    {{ getCsrfInput() }}
    {% if not currentUser %}
    <div class="c-form__set@s -mb">
        <div class="c-form__item is-required name-input">
            <label for="name{{ commentId }}" class="c-label">Name</label>
            <input id="name{{ commentId }}" class="form-control" name="fields[name]" type="text" required value="{{ attribute(activeComment, 'name') }}">

            {% if activeComment is defined %}
            <span class="c-field__error comment-errors-container">
                    {{ _self.errorList(activeComment.getErrors('name')) }}
            </span>
            {% endif %}
        </div>

        <div class="c-form__item is-required email-input">
            <label for="email{{ commentId }}" class="c-label">Email</label>
            <input id="email{{ commentId }}" class="form-control" name="fields[email]" type="email" required value="{{ attribute(activeComment, 'email') }}">

            {% if activeComment is defined %}
            <span class="c-field__error comment-errors-container">
                    {{ _self.errorList(activeComment.getErrors('email')) }}
            </span>
            {% endif %}
        </div>
    </div>
    {% endif %}
        <div class="c-form__item is-required comment-input">
            <label for="comment{{ commentId }}" class="c-label">Comment</label>
            <textarea id="comment{{ commentId }}" class="form-control" name="fields[comment]">
                {{- attribute(activeComment, 'comment') | trim -}}
            </textarea>

            {% if activeComment is defined %}
                <span class="c-field__error comment-errors-container">
                        {{ _self.errorList(activeComment.getErrors('comment')) }}
                </span>
            {% endif %}
        </div>
        <div class="c-form__actions">
            <button type="submit" class="c-button">Add Comment</button>
        </div>


</form>
