{# Only allow logged-in users to edit, they also can only edit their own comments #}
{% if comment.canEdit() %}
    <form class="edit-comment-form c-form c-comment__edit" role="form" method="post" style="display:none;">
        <input type="hidden" name="action" value="comments/edit">
        <input type="hidden" name="elementId" value="{{ element.id }}">
        <input type="hidden" name="commentId" value="{{ comment.id }}">
        
        {# Anti-spam and security measures #}
        {{ craft.comments.protect() }}
        {{ getCsrfInput() }}

        <textarea class="form-control" name="fields[comment]" placeholder="Your comments">
            {{- comment.comment | trim -}}
        </textarea>

        <button class="c-button +text +link +tight">Save</button>
    </form>
{% endif %}