{%-	set localeData = craft.i18n.getLocaleData() %}

Calendars = (window.Calendars == undefined ? {} : window.Calendars);

Calendars.{{ id }} = (window.Calendars.{{ id }} == undefined ? {} : window.Calendars.{{ id }});

Calendars.ruleTypes = [
	{
		"name": "selectedDate",
		"title": "On a Selected Date"
	},
	{
		"name": "daily",
		"title": "Daily"
	},
	{
		"name": "weekly",
		"title": "Weekly"
	},
	{
		"name": "monthlyByDayOfMonth",
		"title": "Monthly, by Day of Month"
	},
	{
		"name": "monthlyByDayOfWeek",
		"title": "Monthly, by Day of Week"
	},
	{
		"name": "yearly",
		"title": "Yearly"
	},
];

Calendars.{{ id }}.RulesViewModel = function() {

	var self = this;

	var Rule = function(spec) {

		var self = this;

		// Rule type and template name

		self.ruleType = ko.observable(spec.ruleType);

		self.uiTemplateName = ko.pureComputed(function() {
			return self.ruleType() ? 'fields-' + self.ruleType().name + '_Template' : 'fields-newRule_Template';
		});

        self.showRepeatUntilDate = ko.pureComputed(function() {
            return (self.repeatUntilType() == 'date');
        });

        self.showRepeatUntilCount = ko.pureComputed(function() {
            return (self.repeatUntilType() == 'occurrences');
        });

		// Rule properties

		self.startDate = ko.observable(spec.startDate);
		self.useInitialTime = ko.observable(spec.useInitialTime);
        self.endDate = ko.observable(spec.endDate);
        self.startTime = ko.observable(spec.startTime);
		self.endTime = ko.observable(spec.endTime);
		self.allDay = ko.observable(spec.allDay);
        self.repeatUntilType = ko.observable(spec.repeatUntilType);
        self.repeatUntilDate = ko.observable(spec.repeatUntilDate);
        self.repeatUntilOccurences = ko.observable(spec.repeatUntilOccurences);
		self.repeatForever = ko.observable(spec.repeatForever);
		self.daysInterval = ko.observable(spec.daysInterval);
		self.weeksInterval = ko.observable(spec.weeksInterval);
		self.daysOfWeek = ko.observable(spec.daysOfWeek);
		self.monthsInterval = ko.observable(spec.monthsInterval);
		self.dayOfMonth = ko.observable(spec.dayOfMonth);
		self.dayOfWeekOrdinal = ko.observable(spec.dayOfWeekOrdinal);
		self.yearsInterval = ko.observable(spec.yearInterval);
		self.dayOfYear = ko.observable(spec.dayOfYear);

        // Set repeatForever based on repeatUntilType
        self.repeatUntilType.subscribe(function() {
            if (self.repeatUntilType() == 'forever') {
                self.repeatForever(1);
            } else {
                self.repeatForever(0);
            }
        });

        // Interval pluralization
        self.isPlural = function(qty) {
            return (qty > 1);
        };

		// Whenever the ruleType changes, reset the product selection

		self.ruleType.subscribe(function() {
			self.startDate(undefined);
			self.useInitialTime(undefined);
            self.endDate(undefined);
            self.startTime(undefined);
			self.endTime(undefined);
			self.allDay(undefined);
			self.repeatUntilType(undefined);
            self.repeatUntilDate(undefined);
            self.repeatUntilOccurences(undefined);
			self.repeatForever(undefined);
			self.daysInterval(undefined);
			self.weeksInterval(undefined);
			self.daysOfWeek(undefined);
			self.monthsInterval(undefined);
			self.dayOfMonth(undefined);
			self.dayOfWeekOrdinal(undefined);
			self.yearsInterval(undefined);
			self.dayOfYear(undefined);
		});

	};

	// A list to keep track of the rules
	self.rules = ko.observableArray();

	// Getter for each Rule's uiTemplateName property
	self.getUiTemplateName = function(r) {
		// return 'default_Template';
		return r.uiTemplateName();
	}

	// Operations

	self.addLine = function() { self.rules.push(new Rule({})) };

	self.removeLine = function(line) { self.rules.remove(line) };

	self.save = function() {
		var dataToSave = $.map(self.rules(), function(line) {
			return line.product() ? {
				productName: line.product().name,
				quantity: line.quantity()
			} : undefined
		});
		alert("Could now send this to server: " + JSON.stringify(dataToSave));
	};

	self.importRules = function importRules(newRules) {
		for (var i = 0; i < newRules.length; i++) {
			console.log(i);
			console.log(newRules[i]);
			self.rules.push(new Rule(newRules[i]));
		}
	};

	self.activateRuleFields = function activateRuleFields(newNodes) {
		$(newNodes[1]).find('.dateField').each(function(){
			Calendars.{{ id }}.initDatePicker($(this));
		});
		$(newNodes[1]).find('.timeField').each(function(){
			Calendars.{{ id }}.initTimePicker($(this));
		});
	};

};

var dom = document.getElementById("fields-{{ id }}-field");
Calendars.{{ id }}.vm = new Calendars.{{ id }}.RulesViewModel();
ko.applyBindings(Calendars.{{ id }}.vm, dom);

if ($("#stored_rules_json").val()) {
	// var parsed = JSON.parse( $("#stored_rules_json").val() );
	// console.log(parsed);
	// Calendars.{{ id }}.vm.importRules(parsed.rules);
}

Calendars.{{ id }}.initTimePicker = function(el, value) {

	// var $timePicker = $(id);
	var $timePicker = el;
	$timePicker.timepicker({
		timeFormat: '{{ craft.i18n.timepickerJsFormat }}',
		closeOnWindowScroll: false,
		orientation: '{{ localeData.getOrientation() }}',
		lang: {
			am: '{{ localeData.getAMName() }}',
			AM: '{{ localeData.getAMName() }}',
			pm: '{{ localeData.getPMName() }}',
			PM: '{{ localeData.getPMName() }}'
		}
	});

}

Calendars.{{ id }}.initDatePicker = function(el, value) {

	// var $datePicker = $(id);
	var $datePicker = el;
	var rand = new Date().getTime() + Math.floor((Math.random() * 10000) + 1);
	$datePicker.attr('id', rand);
	console.log("#"+rand);
	$("#"+rand).datepicker({
		constrainInput: false,
		dateFormat: '{{ craft.i18n.datepickerJsFormat }}',
		defaultDate: new Date(2014,08,08,00,00),
		prevText:   '{{ "Prev"|t|e('js') }}',
		nextText:   '{{ "Next"|t|e('js') }}',
	});

}

Calendars.{{ id }}.storedRulesJSON = $("#fields-{{ id }}_stored_rules_json").val();
if (Calendars.{{ id }}.storedRulesJSON) {
    Calendars.{{ id }}.storedRules = JSON.parse( Calendars.{{ id }}.storedRulesJSON ).rules;
    console.log(Calendars.{{ id }}.storedRules);
    Calendars.{{ id }}.vm.importRules(Calendars.{{ id }}.storedRules);
}
else
{
    console.log("Nothing to import for Calendars.{{ id }}");
}
