[class^="o-"],
[class*=" o-"] {
	outline: 5px solid orange;
}

[class^="c-"],
[class*=" c-"] {
	outline: 5px solid cyan;
}

[class^="-"],
[class*=" -"] {
	outline: 5px solid violet;
}

[class^="~"],
[class*=" ~"] {
	outline: 5px solid red;
}