.ui-datepicker {
    @include margin(n n $unit n);
    @include position(fixed, -300px n n n);
    @include padding($unit);
    @include rem(height, $unit*13.125);
    @include rem(width, $unit*16);
    background-color:color(white);
    box-shadow: 2px 0 $unit*2 color(shade, $shadeAmount*3);
    z-index:zindex(modal);
    .ui-datepicker-prev {
        float:$mainStart;
    }
    .ui-datepicker-next {
        float:$mainEnd;
    }
    .ui-datepicker-title {
        text-align:center;
    }
}

.ui-timepicker-list {
    @include padding($unit/2);
    box-shadow: 2px 0 $unit color(shade, $shadeAmount);
    height:$unit*14;
    user-select: none;
    width:$unit*8;
    z-index:zindex(modal);
    li {
        white-space:nowrap;
        cursor: pointer;
        &.ui-timepicker-selected {
            @include background-color(color(primary));
        }
    }
}

#favouriteColour {
    display:none;
}
