{% extends "_layouts/cp" %}

{% set title = 'Field' %}

{% block content %}

<h1>RulesViewModel editor example</h1>

<div>

	<table class="rulesTable" width="100%">
		<tbody data-bind="template: {name: getUiTemplateName, foreach: rules, afterRender: activateRuleFields}">
		</tbody>
	</table>

	<p>(<span data-bind="text: rules().length"></span> rules currently defined)</p>

	<div class="btn add icon dashed" data-bind="click: addLine" tabindex="0">Add an event</div>

	<button data-bind="click: addLine">Add product</button>

	<h6>Stored Rules JSON</h6>
	<textarea name="stored_rules_json" id="stored_rules_json">
	</textarea>

	<hr>

	<h6>Live Rules JSON</h6>
	<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>

</div>

<script src="{{ resourceUrl('calendars/js/ko.js') }}"></script>
<script src="{{ resourceUrl('calendars/js/eventDataField.js') }}"></script>

<script type="text/template" id="newRule_Template">

	<tr>
		<td>
			<select data-bind="options: Calendars.ruleTypes, optionsText: 'title', optionsCaption: 'Select...', value: ruleType"> </select>
		</td>
		<td>
			<span data-bind="text: uiTemplateName"></span>
		</td>
		<td>
			<div class='allday-switch'>
				{%- include "calendars/_includes/forms/text" with { autocomplete: false, size: 10, dataBind: "value: allDay" } -%}
			</div>
			<div class='startTime'>
				{%- include "calendars/_includes/forms/time" with { id: '', class: 'timeField', autocomplete: false, size: 10, dataBind: "textInput: startTime" } -%}
			</div>
			<div class='date'>
				{%- include "calendars/_includes/forms/date" with { id: '', class: 'dateField', autocomplete: false, size: 10, dataBind: "textInput: date" } -%}
			</div>
		</td>
		<td>
			<a href="#" data-bind="click: $parent.removeLine">Remove</a>
		</td>
	</tr>

</script>

<script type="text/template" id="selectedDate_Template">
	<tr>
		<td>
			<select data-bind="options: Calendars.ruleTypes, optionsText: &quot;name&quot;, optionsCaption: &quot;Select...&quot;, value: ruleType"> </select>
			<p>This is a <span data-bind="text: uiTemplateName"></span> block!</p>
		</td>
		<td>
			<a href="#" data-bind="click: $parent.removeLine">Remove</a>
		</td>
	</tr>
</script>

<script type="text/template" id="daily_Template">
	<select data-bind="options: Calendars.ruleTypes, optionsText: &quot;name&quot;, optionsCaption: &quot;Select...&quot;, value: ruleType"> </select>
	<p>This is a <span data-bind="text: uiTemplateName"></span> block!</p>
</script>

<script type="text/template" id="weekly_Template">
	<select data-bind="options: Calendars.ruleTypes, optionsText: &quot;name&quot;, optionsCaption: &quot;Select...&quot;, value: ruleType"> </select>
	<p>This is a <span data-bind="text: uiTemplateName"></span> block!</p>
</script>

<script type="text/template" id="monthlyByDayOfMonth_Template">
	<select data-bind="options: Calendars.ruleTypes, optionsText: &quot;name&quot;, optionsCaption: &quot;Select...&quot;, value: ruleType"> </select>
	<p>This is a <span data-bind="text: uiTemplateName"></span> block!</p>
</script>

<script type="text/template" id="monthlyByDayOfWeek_Template">
	<select data-bind="options: Calendars.ruleTypes, optionsText: &quot;name&quot;, optionsCaption: &quot;Select...&quot;, value: ruleType"> </select>
	<p>This is a <span data-bind="text: uiTemplateName"></span> block!</p>
</script>

<script type="text/template" id="yearly_Template">
	<select data-bind="options: Calendars.ruleTypes, optionsText: &quot;name&quot;, optionsCaption: &quot;Select...&quot;, value: ruleType"> </select>
	<p>This is a <span data-bind="text: uiTemplateName"></span> block!</p>
</script>


{% endblock %}

{% set js %}

	{%-	set localeData = craft.i18n.getLocaleData() %}
	{%- include "calendars/_includes/scripts/eventDataField" with { localeData: craft.i18n.getLocaleData() } -%}

{% endset %}
{% includeJs js %}