{%- set fieldId = (fieldId is defined ? fieldId : (id is defined ? id~'-field' : null)) %}
{%- set label = (label is defined and label != '__blank__' ? label : null) %}
{%- set locale = ((craft.isLocalized() and locale is defined) ? locale : null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set warning = (warning is defined ? warning : null) %}
{%- set orientation = craft.i18n.getLocaleData(locale ?: craft.locale).getOrientation() %}
{%- set errors = (errors is defined ? errors : null) -%}
{%- set fieldWidth = (fieldWidth is defined ? fieldWidth : '') -%}
{%- set labelWidth = (labelWidth is defined ? labelWidth : '') -%}
{%- set fieldClass = [
    'c-form__item',
    (first is defined and first ? 'first' : null),
    (errors ? 'has-error' : null),
    (fieldClass is defined and fieldClass ? fieldClass : null)
    ]|filter|join(' ') -%}
{%- set fieldAddClass = (fieldAddClass is defined ? fieldAddClass : '') -%}

<div class="{{ fieldClass }}{{ fieldAddClass }}{% if required is defined and required %} is-required{% endif %}"{% if fieldId %} id="{{ fieldId }}"{% endif %}>

    {% if label %}
            {% if label %}
                <label class="c-label{{ labelWidth }}"{% if id is defined and id %} for="{{ id }}"{% endif %}>
                    {{- label|raw -}}
                    {%- if locale -%}
                        <span class="locale">{{ locale }}</span>
                    {%- endif -%}
                </label>
            {% endif %}
    {% endif %}

    <div class="c-field{{ fieldWidth }}">
            {{ input|raw }}
        {% if instructions %}
            <span class="c-field__help">{{ instructions|md }}</span>
        {% endif %}
        {% if warning %}
            <span class="c-field__warning">{{ warning }}</span>
        {% endif %}
        {% include "_includes/insert/charge/_includes/macros/stripe/errorList" with { errors: errors } %}
    </div>
</div>