{%- set type = (type is defined ? type : 'text') %}
{%- set data = (data is defined ? data : []) %}
{%- set currency = (currency is defined ? currency : 'usd') %}
{%- set inputClass = (readonly is defined and readonly ? ' c-input--readonly' : '') %}

{% if currency == "gbp" %}
    {% set currencySymbol = "£" %}
{% elseif currency == "eur" %}
    {% set currencySymbol = "€" %}
{% else %}
    {% set currencySymbol = "$" %}
{% endif %}

{%- set class = [
'text',
'form-control',
(class is defined and class ? class : null),
(placeholder is defined and placeholder ? 'nicetext' : null),
(type is defined and type == 'password' ? 'password' : null),
(disabled is defined and disabled ? 'disabled' : null),
(size is defined and size ? null : 'fullwidth')
]|filter|join(' ') %}

{%- if showCharsLeft is defined and showCharsLeft and maxlength is defined and maxlength %}
    {%- set style = 'padding-'~(craft.i18n.getLocaleData().getOrientation() == 'ltr' ? 'right' : 'left')~': '~(7.2*maxlength|length+14)~'px;' %}
{%- endif %}

{% if type == 'amount' %}
<div class="c-input{{ inputClass }}">
    <div class="c-input-addon">{{ currencySymbol }}</div>
    {% set type = 'text' %}
{% endif %}
{%- if type == 'password' %}<div class="passwordwrapper">{% endif -%}
    <input class="{{ class }}" type="{{ type }}"
            {%- if inputmode is defined %} inputmode = "{{ inputmode }}"{% endif %}
            {%- if pattern is defined %} pattern = "{{ pattern }}"{% endif %}
            {%- if style is defined %} style="{{ style }}"{% endif %}
            {%- if id is defined %} id="{{ id }}"{% endif %}
            {%- if pattern is defined %} pattern="{{ pattern }}"{% endif %}
            {%- if step is defined %} step="{{ step }}"{% endif %}
            {%- if size is defined %} size="{{ size }}"{% endif %}
            {%- if name is defined %} name="{{ name }}"{% endif %}
            {%- if value is defined %} value="{{ value }}"{% endif %}
            {%- if maxlength is defined and maxlength %} maxlength="{{ maxlength }}"{% endif %}
            {%- if showCharsLeft is defined and showCharsLeft %} data-show-chars-left{% endif %}
            {%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
            {%- if autocomplete is not defined or not autocomplete %} autocomplete="off"{% endif %}
            {%- if disabled is defined and disabled %} disabled {% endif %}
            {%- if readonly is defined and readonly %} readonly {% endif %}
            {%- if title is defined %} title="{{ title }}"{% endif %}
            {%- if placeholder is defined %} placeholder="{{ placeholder }}"{% endif %}
            {%- for key,val in data %}data-{{ key }}="{{ val }}"{%- endfor -%}>

    {%- if type == 'password' %}</div>{% endif %}

{% if type == 'amount' %}</div>{% endif %}
