{%- extends "_entry" -%}

{#  ------------------------------------
#   Attributes and Classes for Microdata #}

{%- if entry.authors | length -%}
{%- set authorParts = entry.authors | split("|") -%}
{%- set authorNames = authorParts[0] -%}
{%- else -%}
{%- set authorNames = entry.author.firstName ~ " " ~  entry.author.lastName -%}
{%- endif -%}
{%- set headline = (entry.heading | length ? entry.heading | striptags : entry.title | striptags) -%}

{%- if seomaticMainEntityOfPage is defined -%}
{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'author': { 'type' : 'Person', 'name' : authorNames }}) -%}
{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'publisher': { 'type' : 'Organisation', 'name' : siteName }}) -%}
{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'headline': headline }) -%}
{%- endif -%}

{#  ------------------------------------ #}

{%- block articleHeaderPost -%}
{%- if entry.pageOptions.contains("highFooter") -%}
<div class="c-article__creds h-card vcard">
    {%- if entry.person | length -%}
    {%- set thumb = "yes" -%}
    {%- set people = entry.person -%}
    <div class="c-article__photo-creds">
        {%- for entry in people -%}
        {%- include "_includes/support/items/_roundel" with { "noAlt" : "true" } -%}
        {%- endfor -%}
    </div>
    {%- endif -%}
    {%- if entry.pageOptions.contains("toggleDate") -%}
    {%- include "_includes/article/_credentials" -%}
    {%- else %}
    {%- include "_includes/article/_credentials" -%}
    {%- endif %}
    {%- include "_includes/_share-anchor" -%}
</div>
{%- endif -%}
{%- endblock -%}

{%- block articleFooter -%}
<div class="c-article__end"></div>
{%- if entry.pageOptions.contains("highFooter") -%}
{%- else -%}
{%- if entry.pageOptions.contains("toggleDate") -%}
{%- include "_includes/article/_credentials" -%}
{%- else %}
{%- include "_includes/article/_credentials" -%}
{%- endif %}
{%- endif -%}
{%- endblock -%}

{%- block articleBottom -%}
{%- set thumb = "yes" -%}
{%- if entry.pageOptions.contains("noAuthor") or entry.pageOptions.contains("highFooter") -%}
{%- elseif entry.person | length -%}
{%- set people = entry.person -%}
<div class="o-block c-support -noprint">
    <div class="c-support__body js-anim">
        <ul class="c-support-list +blocks c-roundel-list js-anim">
            {%- for entry in people -%}
            <li>{%- include "_includes/support/items/_roundel" -%}</li>
            {%- endfor -%}
        </ul>
    </div>
</div>
{%- endif -%}
{%- endblock -%}