/*------------------------------------
	BACKGROUND
*/

@mixin white-text($textColor: default, $linkColor: $linkLightColor) {
	@if $textColor != default {
		@include var(color, $textColor);
		@if $hColor != "inherit" {
			h1, h2, h3, h4, h5 {
				@include var(color, $textColor);
			}
		}
		a, a:visited, a:hover, a.c-preview b {
			@include var(color, $linkColor);
		}
	}
}

@mixin background-color (
$background-color: transparent,
$textColor: default,
$var: false
) {
	@if $var == "var" {
		@include var(background-color, $background-color);
		@include white-text($textColor);
	}
	@elseif $background-color != transparent {
		background-color: $background-color;
		$lightness: lightness($background-color);
		@if $lightness < 75 {
			@include white-text;
		} @else {
			color: color(text);
			@if $hColor != "inherit" {
				h1, h2, h3, h4, h5 {
					color: $hColor;
				}
			}
			&:hover, &:visited {
				color: color(text);
			}
			a, a:visited, a:hover, a.c-preview b {
				@include link(color-link, var);
			}
		}
	}
	@else {
		background-color: $background-color;
	}
}
