@mixin base-font-size($multiple: 1) {
    font-size: rem($baseFontSize * $multiple);
    @if size-ratio(m) != 1 {
        @include screen-size(mw-) {
            font-size: rem($baseFontSize * $multiple * size-ratio(m));
        }
    }
    @if size-ratio(s) != 1 {
        @include screen-size(sw-) {
            font-size: rem($baseFontSize * $multiple * size-ratio(s));
        }
    }
}
