@mixin box-model-fallback {
    @include is-old-ie {
        @content;
    }
    @supports not (padding-block-start: 10px) {
        @content;
    }
}

@mixin box-model(
    $property,
    $value,
    $dir,
    $unit:rem,
    $important: false
) {
    @if length($value) == 1 and $value != n {
        @include rem($property, $value, $unit, $important);
    }

    @if length($value) == 2 {
        $value-y: nth($value, 1);
        $value-x: nth($value, 2);
        @if $value-x != n and $value-y != n {
            @include rem($property, $value-y $value-x, $unit, $important);
        }
        @else {
            @if $value-y != n {
                @if $dir != false {
                    @supports (padding-block-start: 10px) {
                        @include rem(#{$property}-block-start, $value-y, $unit, $important);
                        @include rem(#{$property}-block-end, $value-y, $unit, $important);
                    }
                    @include box-model-fallback {
                        @include rem(#{$property}-top, $value-y, $unit, $important);
                        @include rem(#{$property}-bottom, $value-y, $unit, $important);
                    }
                } @else {
                    @include rem(#{$property}-top, $value-y, $unit, $important);
                    @include rem(#{$property}-bottom, $value-y, $unit, $important);
                }
            }
            @if $value-x != n {
                @if $dir != false {
                    @supports (padding-block-start: 10px) {
                        @include rem(#{$property}-inline-start, $value-x, $unit, $important);
                        @include rem(#{$property}-inline-end, $value-x, $unit, $important);
                    }
                    @include box-model-fallback {
                        @include rem(#{$property}-left, $value-x, $unit, $important);
                        @include rem(#{$property}-right, $value-x, $unit, $important);
                    }
                } @else {
                    @include rem(#{$property}-left, $value-x, $unit, $important);
                    @include rem(#{$property}-right, $value-x, $unit, $important);
                }
            }
        }
    }

    @if length($value) == 3 {
        $value-y-top: nth($value, 1);
        $value-x: nth($value, 2);
        $value-y-bottom: nth($value, 3);
        @if $value-y-top != n {
            @if $dir != false {
                @supports (padding-block-start: 10px) {
                    @include rem(#{$property}-block-start, $value-y-top, $unit, $important);
                }
                @include box-model-fallback {
                    @include rem(#{$property}-top, $value-y-top, $unit, $important);
                }
            } @else {
                @include rem(#{$property}-top, $value-y-top, $unit, $important);
            }
        }
        @if $value-x != n {
            @if $dir != false {
                @supports (padding-block-start: 10px) {
                    @include rem(#{$property}-inline-start, $value-x, $unit, $important);
                    @include rem(#{$property}-inline-end, $value-x, $unit, $important);
                }
                @include box-model-fallback {
                    @include rem(#{$property}-inline-start, $value-x, $unit, $important);
                    @include rem(#{$property}-inline-end, $value-x, $unit, $important);
                }
            } @else {
                @include rem(#{$property}-inline-start, $value-x, $unit, $important);
                @include rem(#{$property}-inline-end, $value-x, $unit, $important);
            }
        }
        @if $value-y-bottom != n {
            @if $dir != false {
                @supports (padding-block-start: 10px) {
                    @include rem(#{$property}-block-end, $value-y-bottom, $unit, $important);
                }
                @include box-model-fallback {
                    @include rem(#{$property}-bottom, $value-y-bottom, $unit, $important);
                }
            } @else {
                @include rem(#{$property}-bottom, $value-y-bottom, $unit, $important);
            }
        }
    }

    @if length($value) == 4 {
        $value-top: nth($value, 1);
        $value-right: nth($value, 2);
        $value-bottom: nth($value, 3);
        $value-left: nth($value, 4);
        @if $value-top != n {
            @if $dir != false {
                @supports (padding-block-start: 10px) {
                    @include rem(#{$property}-block-start, $value-top, $unit, $important);
                }
                @include box-model-fallback {
                    @include rem(#{$property}-top, $value-top, $unit, $important);
                }
            } @else {
                @include rem(#{$property}-top, $value-top, $unit, $important);
            }
        }
        @if $value-right != n {
            @if $dir != false {
                @supports (padding-block-start: 10px) {
                    @include rem(#{$property}-inline-end, $value-right, $unit, $important);
                }
                @include box-model-fallback {
                    @include ltr {
                        @include rem(#{$property}-right, $value-right, $unit, $important);
                    }
                    @include rtl {
                        @include rem(#{$property}-left, $value-right, $unit, $important);
                    }
                }
            } @else {
                @include rem(#{$property}-right, $value-right, $unit, $important);
            }
        }
        @if $value-bottom != n {
            @if $dir != false {
                @supports (padding-block-start: 10px) {
                    @include rem(#{$property}-block-end, $value-bottom, $unit, $important);
                }
                @include box-model-fallback {
                    @include rem(#{$property}-bottom, $value-bottom, $unit, $important);
                }
            } @else {
                @include rem(#{$property}-bottom, $value-bottom, $unit, $important);
            }
        }
        @if $value-left != n {
            @if $dir != false {
                @supports (padding-block-start: 10px) {
                    @include rem(#{$property}-inline-start, $value-left, $unit, $important);
                }
                @include box-model-fallback {
                    @include ltr {
                        @include rem(#{$property}-left, $value-right, $unit, $important);
                    }
                    @include rtl {
                        @include rem(#{$property}-right, $value-right, $unit, $important);
                    }
                }
            } @else {
                @include rem(#{$property}-left, $value-left, $unit, $important);
            }
        }
    }
}