/*------------------------------------
	OLD-IE, FIREFOX etc
*/

@mixin is-old-ie {
	@if $oldIE == true {
		@content;
	}
}

@mixin is-not-old-ie {
	@if $oldIE == false {
		@content;
	}
}

@mixin is-ie-gte-10 {
	@if $ieGTE10 == true {
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			@content;
		}
	}
}

@mixin is-only-firefox {
	@-moz-document url-prefix() {
		@content;
	}
}

@mixin is-only-env {
	@if $safeArea == true {
		@supports(padding: max(0px)) {
			@content;
		}
	}
}