/*------------------------------------*\

   	BUTTON

	Button options and styles can be changed in _config.scss
	under the *Buttons*.

	Options include:

	$buttonFontFamily
	$hasButtonGradient

	/ref/patterns.php#buttons

/*------------------------------------*/

@mixin button-base {
	@include padding(0 $unit);
	@include no-underline;
	display: inline-block;
	//@include rem(margin-bottom, $unit/2);
	font-family: $buttonFontFamily;
	line-height: $touchTarget;
	min-height: $touchTarget;
	user-select:none;
	white-space: nowrap;
	-webkit-appearance: none;

	// Border Settings
	@if $buttonBorderWidth != 0 {
		border: $buttonBorderWidth solid;
		border-color: darken($buttonColor, 5%);
	} @else {
		border: 0;
	}

	// Border Radius Settings
	@if $buttonRadius != no {
		border-radius: $buttonRadius;
	}
	@if $buttonShadow != no {
		box-shadow: $buttonShadow;
	}

	// Disabled Settings
	&[disabled] {
		cursor:not-allowed;
		opacity:0.5;
	}
}

@mixin button-color (
$buttonColor:$buttonColor,
$var: false,
$buttonText: default
) {
	@if $var == 'var' {
		@include var(background, $buttonColor);

		// Text Color Settings
		@if $buttonText != default {
			color: $buttonText;
			&:visited {
				color: $buttonText;
			}
		}
	} @else {
		background: $buttonColor;

		// Text Color Settings
		$lightness: lightness($buttonColor);
		@if $lightness < 60 {
			color: white;
			&:visited {
				color: white;
			}
		} @else {
			color: darken($buttonColor, 50%);
			&:visited {
				color: darken($buttonColor, 50%);
			}
		}
	}

// Gradient Settings
	@if $hasButtonGradient == yes {
		background-image: linear-gradient(top, lighten($buttonColor, 5%), darken($buttonColor, 5%));
	}

// Border Settings
	@if $buttonBorderWidth != 0 {
		border-color: darken($buttonColor, 5%);
	}

// Disabled Settings
	&[disabled] {
		background:$buttonColor;
		&:hover, &:active {
			box-shadow: none;
		}
	}
}


@mixin button-filled($color, $var: false, $buttonText: default) {
	@include button-color($color, $var, $buttonText);
	&:hover {
		z-index:1;
	}
}

@mixin button-hollow($color) {
	background-color: transparent;
	border: $borderWidth solid $color;
	color: $color;
	&:hover {
		@include background-color($color);
		z-index:1;
		&:active {
			box-shadow: inset $shadowDepth2;
		}
	}
}

@mixin button(
$buttonColor:$buttonColor,
$var: false,
$buttonText: default
) {
	@include button-base;
	@include button-color($buttonColor, $var, $buttonText);
}

@mixin button-group {
	input[type="submit"].button,
	.button {
		margin-#{$mainEnd}:-2px;
	}
	@if $buttonRadius != 0 {
		input[type="submit"].button,
		.button {
			border-radius: 0 0 0 0;
			&:first-child {
				border-top-#{$mainStart}-radius: $buttonRadius;
				border-bottom-#{$mainStart}-radius: $buttonRadius;
			}
			&:last-child {
				border-top-#{$mainEnd}-radius: $buttonRadius;
				border-bottom-#{$mainEnd}-radius: $buttonRadius;
			}
		}
	}
}
