/* Centering
   ========================================================================== */

// Horizontally center
@mixin center-content {
    margin-left:auto;
    margin-right:auto;
}

// Container with inner objects vertically and horizontally centered
@mixin middle-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

// Objects vertically and horizontally centered. Container should be relative
@mixin middle {
    @include position(absolute, 50% n n 50%);
    transform: translate(-50%, -50%);
}
