/*------------------------------------
	CLEARFIX
	From http://nicolasgallagher.com/micro-clearfix-hack/
*/

@mixin clear() {
	@include is-old-ie {
		zoom: 1;
	}
	@include is-not-old-ie {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
		/*@supports (display: flow-root) {
            display: flow-root;
        }*/
	}
}