@mixin field (
$width:auto
) {
	color:$fieldTxtColor;
	background:$fieldBg;
	border-radius: $fieldRadius;
	display: inline-block;
	line-height: $touchTarget;
	max-width:100%;
	min-height: $touchTarget;
	width:$width;
	-webkit-appearance: none;
	// Border Settings
	@if $fieldBorderWidth != 0 {
		@if length($fieldBorderWidth) > 1 {
			border: solid $fieldBorderColor;
			border-width: $fieldBorderWidth;
		} @else {
			box-shadow: inset 0 0 0 $fieldBorderWidth $fieldBorderColor;
			border: 0;
		}
	} @else {
		border: 0;
	}
	@if $fieldFontFamily {
		font-family: $fieldFontFamily;
	}
	@if $fieldPadding != 0 {
		@include padding($fieldPadding);
	}

	&:invalid {
		@if $fieldBgInvalid != false {
			background-color: $fieldBgInvalid;
		}
		@if $fieldBorderWidth != 0 {
			@if length($fieldBorderWidth) > 1 {
				border: solid $fieldBorderColorInvalid;
				border-width: $fieldBorderWidth;
			} @else {
				box-shadow: inset 0 0 0 $fieldBorderWidth $fieldBorderColorInvalid;
				border: 0;
			}
		} @else {
			border: 0;
		}
	}
	&:required {
		@if $fieldBgRequired != false {
			background-color: $fieldBgRequired;
		}
		@if $fieldBorderWidth != 0 {
			@if length($fieldBorderWidth) > 1 {
				border: solid $fieldBorderColorRequired;
				border-width: $fieldBorderWidth;
			} @else {
				box-shadow: inset 0 0 0 $fieldBorderWidth $fieldBorderColorRequired;
				border: 0;
			}
		} @else {
			border: 0;
		}
	}
	&:required:valid {
		@if $fieldBgSuccess != false {
			background-color: $fieldBgSuccess;
		}
		@if $fieldBorderWidth != 0 {
			@if length($fieldBorderWidth) > 1 {
				border: solid $fieldBorderColorSuccess;
				border-width: $fieldBorderWidth;
			} @else {
				box-shadow: inset 0 0 0 $fieldBorderWidth $fieldBorderColorSuccess;
				border: 0;
			}
		} @else {
			border: 0;
		}
	}
}
