@mixin font-weight($font-weight) {
    @if $font-weight != inherit {
        @if $font-weight == bold {
            font-weight: $bold;
            @if $boldFontFamily != inherit {
                font-family: $boldFontFamily;
            }
        } @else {
            font-weight: $font-weight;
        }
    }
}

@mixin font-style($font-style) {
    @if $font-style != inherit {
        @if $font-style == italic {
            font-style: $italic;
            @if $italicFontFamily != inherit {
                font-family: $italicFontFamily;
            }
        } @else {
            font-style: $font-style;
        }
    }
}

@mixin font-weight-style($font-weight-style) {
    @if nth($font-weight-style, 1) == bold {
        @if nth($font-weight-style, 2) == italic {
            font-style: nth($font-weight-style, 2);
            font-weight: nth($font-weight-style, 1);
            @if $boldItalicFontFamily != inherit {
                font-family: $boldItalicFontFamily;
            }
        } @else {
            @include font-weight(bold);
        }
    }
    @else if nth($font-weight-style, 2) == italic {
        @include font-style(italic)
    }
}