/*------------------------------------
	FONT-SIZE
*/

$fontSize: (
	micro				: ceil(modular-scale($baseFontSize, -2, $fontSizeRatio)),
	milli				: ceil(modular-scale($baseFontSize, -1, $fontSizeRatio)),

	alpha				: $baseFontSize,
	beta				: ceil(modular-scale($baseFontSize, 1, $fontSizeRatio)),
	gamma				: ceil(modular-scale($baseFontSize, 2, $fontSizeRatio)),
	delta				: ceil(modular-scale($baseFontSize, 3, $fontSizeRatio)),
	epsilon				: ceil(modular-scale($baseFontSize, 4, $fontSizeRatio)),
	zeta				: ceil(modular-scale($baseFontSize, 5, $fontSizeRatio)),
	eta					: ceil(modular-scale($baseFontSize, 6, $fontSizeRatio)),
	theta				: ceil(modular-scale($baseFontSize, 7, $fontSizeRatio)),

	kilo				: ceil(modular-scale($baseFontSize, 8, $fontSizeRatio)),
	mega				: ceil(modular-scale($baseFontSize, 9, $fontSizeRatio)),
	giga				: ceil(modular-scale($baseFontSize, 10, $fontSizeRatio))
);

@mixin font-size(
$value:font-size(alpha),
$relative:relative,
$scale:scale
) {
	@if $value != inherit {
		@if $relative == absolute {
			@include rem(font-size, $value);
		} @else {
			font-size:em($value);
		}
		@if $scale != "fixed" {
			@if size-ratio(m) != 1 {
				@include screen-size(mw-) {
					@if $relative == absolute {
						@include rem(font-size, $value * size-ratio(m));
					} @else {
						font-size: em($value * size-ratio(m));
					}
				}
			}
			@if size-ratio(s) != 1 {
				@include screen-size(sw-) {
					@if $relative == absolute {
						@include rem(font-size, $value * size-ratio(s));
					} @else {
						font-size: em($value * size-ratio(s));
					}
				}
			}
		}
	}
}