/*------------------------------------
	# FONT FEATURES

	Make the most of Opentype features
	http://clagnut.com/sandbox/css3/
*/


@mixin font-features (
$settings: $fontFeatures
) {
	$setting-list: $settings;
// Create an empty list for the standard syntax
	$standard: ();
// Create an empty list for the old Mozilla syntax
	$old-moz: ();
// Add each listed feature to the standard and old
// Mozilla values
	@each $setting in $setting-list {
		$standard: append($standard, "#{$setting}" 1, comma);
	}
// Finally, 9-print out the prefixed and non-prefixed
// code for all of the listed features
	-webkit-font-feature-settings: $standard;
	font-feature-settings: $standard;
}

@mixin font-variant (
$ligatures: '',
$alternates: '',
$caps: '',
$numeric: '',
$eastasian: ''
) {
	@supports (font-variant-ligatures: common-ligatures) {
		@if $ligatures != '' {
			font-variant-ligatures: $ligatures;
		}
		@if $alternates != '' {
			font-variant-alternates: $alternates;
		}
		@if $caps != '' {
			font-variant-caps: $caps;
		}
		@if $numeric != '' {
			font-variant-numeric: $numeric;
		}
		@if $eastasian != '' {
			font-variant-east-asian: $eastasian;
		}
	}
}