@mixin hyphenate-limit-chars (
    $value,
    $prefixes
) {
    @include prefixer(hyphenate-limit-chars, $value, $prefixes);
    @if (str-index(#{$prefixes}, 'webkit')) {
        $value-before: nth($value, 2);
        $value-after: nth($value, 3);
        -webkit-hyphenate-limit-before: $value-before;
        -webkit-hyphenate-limit-after: $value-after;
    }
}

@mixin hyphenate-limit-lines (
    $value,
    $prefixes
) {
    @include prefixer(hyphenate-limit-lines, $value, $prefixes);
}

@mixin hyphenate-limit-last (
    $value,
    $prefixes
) {
    @include prefixer(hyphenate-limit-last, $value, $prefixes);
}

@mixin hyphenate-limit-zone (
    $value,
    $prefixes
) {
    @include prefixer(hyphenate-limit-zone, $value, $prefixes);
}

@mixin hyphenate (
    $chars,
    $lines,
    $last,
    $zone,
    $prefixes
) {
    hyphens: auto;
    @include hyphenate-limit-chars($chars, $prefixes);
    @include hyphenate-limit-lines($lines, $prefixes);
    @include hyphenate-limit-last($last, $prefixes);
    @include hyphenate-limit-zone($zone, $prefixes);
}