@mixin inset(
    $value,
    $dir: false
) {
    @if length($value) == 1 {
        @if $dir != false {
            @supports (inset: 10px) {
                inset: $value;
            }
            @supports not (inset: 10px) {
                top: $value;
                right: $value;
                bottom: $value;
                left: $value;
            }
        } @else {
            top: $value;
            right: $value;
            bottom: $value;
            left: $value;
        }
    }
    @if length($value) == 2 {
        $value-y : nth($value, 1);
        $value-x : nth($value, 2);
        @if $dir != false {
            @supports (inset-block: 10px) {
                @if $value-y != "n" {
                    inset-block: $value-y;
                }
                @if $value-x != "n" {
                    inset-inline: $value-x;
                }
            }
            @supports not (inset-block: 10px) {
                @if $value-y != "n" {
                    top: $value-y;
                    bottom: $value-y;
                }
                @if $value-x != "n" {
                    right: $value-x;
                    left: $value-x;
                }
            }
        } @else {
            @if $value-y != "n" {
                top: $value-y;
                bottom: $value-y;
            }
            @if $value-x != "n" {
                right: $value-x;
                left: $value-x;
            }
        }
    }
    @if length($value) == 4 {
        $value-t : nth($value, 1);
        $value-r : nth($value, 2);
        $value-b : nth($value, 3);
        $value-l : nth($value, 4);
        @if $dir != false {
            @supports (inset-block-start: 10px) {
                @if $value-t != "n" {
                    inset-block-start: $value-t;
                }
                @if $value-r != "n" {
                    inset-inline-end: $value-r;
                }
                @if $value-b != "n" {
                    inset-block-end: $value-b;
                }
                @if $value-l != "n" {
                    inset-inline-start: $value-l;
                }
            }
            @supports not (inset-block: 10px) {
                @if $value-t != "n" {
                    top: $value-t;
                }
                @if $value-r != "n" {
                    @include ltr {
                        right: $value-r;
                    }
                    @include rtl {
                        left: $value-r;
                    }
                }
                @if $value-b != "n" {
                    bottom: $value-b;
                }
                @if $value-l != "n" {
                    @include ltr {
                        left: $value-l;
                    }
                    @include rtl {
                        right: $value-l;
                    }
                }
            }
        } @else {
            @if $value-t != "n" {
                top: $value-t;
            }
            @if $value-r != "n" {
                right: $value-r;
            }
            @if $value-b != "n" {
                bottom: $value-b;
            }
            @if $value-l != "n" {
                left: $value-l;
            }
        }
    }
}