/*------------------------------------
	LINK
*/

@mixin link (
	$linkColor: color(link),
	$var: false,
	$linkHoverColor: default,
	$linkVisitedColor: default,
	$linkActiveColor: default
) {
	cursor: pointer;
	@if $var == 'var' {
		@include var(color, $linkColor);
		@if $linkHoverColor != 'default' {
			&:hover {
				@include var(color, $linkHoverColor);
			}
		}
		@if $linkVisitedColor != 'default' {
			&:visited {
				@include var(color, $linkVisitedColor);
			}
		}
		@if $linkActiveColor != 'default' {
			&:active {
				@include var(color, $linkActiveColor);
			}
		}
	} @else {
		color: $linkColor;
		&:hover {
			color: lighten($linkColor, 10%);
		}
		&:visited {
			color: desaturate($linkColor, 10%);
		}
		&:active {
			color: complement($linkColor);
		}
	}
	@if $linkVisitedOpacity != 1 {
		&:visited {
			opacity:$linkVisitedOpacity;
		}
	}
}