/*------------------------------------
	MEDIA-ITEM

	Allows you to make a simole Media Object like the one here:
	http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

	Set to the $layout to stacked to make the image and body stack one above the other.
*/

@mixin media-item() {
	@include clear;
	@include vertical-spacing();
	display:block;
	@supports (display:flex) {
		display: flex;
	}
}


@mixin media-item__image() {
	@include margin(n n n $unit, dir);
	float:$mainStart;
	img {
		width:auto;
	}
}


@mixin media-item__body() {
	flex: 1;
	overflow:hidden;
	margin-bottom:0;

	> :last-child {
		margin-bottom:0;
	}
}