// Media Query class expander
// Example:
// .object {
//		width:100%;
// }

@mixin media-query (
    $mqs: m,
    $important: false
) {
    @each $mq in $mqs {
        @if $mq == 'orig' {
            @content;
        } @else {
            @if $important == 'important' {
                &\@#{$mq}\! {
                    @include screen-size($mq) {
                        @content;
                    }
                }
            } @else {
                &\@#{$mq} {
                    @include screen-size($mq) {
                        @content;
                    }
                }
            }
        }
    }
}