@mixin screen($is-not-old-ie:is-old-ie) {
    @if $oldIE == true {
        @if $is-not-old-ie != "is-not-old-ie" {
            @content;
        }
    } @else {
        @media screen {
            @content;
        }
    }
}

@mixin color-scheme($colorScheme: no-preference, $backupClass: false, $additionalClass: false) {
    @if $colorScheme != no-preference {
        @media (prefers-color-scheme: $colorScheme) {
            @content;
        }
    }
    @if $backupClass != false {
        .#{$backupClass} & {
            @content;
        }
    }
    @if $additionalClass != false {
        .#{$additionalClass} & {
            @content;
        }
    }
}

@mixin print {
    @media print {
        @content;
    }
}