/*------------------------------------
	PREFIXER
	From: Bourbon Mixin Library
	@include prefixer([property),[value],[webkit|+|moz|+|ms|+|o|+|spec]);
*/
$prefixWebkit:    true !global;
$prefixMozilla:   true !global;
$prefixMS: 		  true !global;
$prefixOpera:     true !global;
$prefixSpec:      true !global; // required for keyframe mixin

@mixin prefixer (
$property,
$value,
$prefixes
) {
	@each $prefix in $prefixes {
		@if $prefix == webkit {
			@if $prefixWebkit {
				-webkit-#{$property}: $value;
			}
		}
		@else if $prefix == moz {
			@if $prefixMozilla {
				-moz-#{$property}: $value;
			}
		}
		@else if $prefix == ms {
			@if $prefixMS {
				-ms-#{$property}: $value;
			}
		}
		@else if $prefix == o {
			@if $prefixOpera {
				-o-#{$property}: $value;
			}
		}
		@else if $prefix == spec {
			@if $prefixSpec {
				#{$property}: $value;
			}
		}
		@else  {
			@warn "Unrecognized prefix: #{$prefix}";
		}
	}
}


@mixin disable-prefix-for-all() {
	$prefixWebkit:    false !global;
	$prefixMozilla:   false !global;
	$prefixMS: false !global;
	$prefixOpera:     false !global;
	$prefixSpec:      false !global;
}
