@mixin rem(
$element: font-size,
$pxval:$unit,
$unit:rem,
$important:false
) {
	@include is-old-ie {
		#{$element}: $pxval;
	}
	@include is-not-old-ie {
		@if is-number($pxval) and unit($pxval) == "px" and $unit == "rem" {
			@if $important == true {
				#{$element}: rem($pxval) !important;
			} @else {
				#{$element}: rem($pxval);
			}
		} @else {
			@if $important == true {
				#{$element}: $pxval !important;
			} @else {
				#{$element}: $pxval;
			}
		}
	}
}