/*------------------------------------
	RESOLUTIONS
	@include screen-size();
*/


@mixin screen-size (
$ss
) {
	@if $isSiteResponsive {
		@if $ss == "xsw-" {
			@media only screen and (max-width: screen-size(xsw) ) {
				@content;
			}
			// Small screens
		}
		@if $ss == "xsw" {
			@media only screen and (min-width: screen-size(xsw) ) {
				@content;
			}
			// Small screens
		}
		@if $ss == "sw-" {
			@media only screen and (max-width: screen-size(sw) ) {
				@content;
			}
			// Small screens
		}
		@if $ss == "sw" {
			@media only screen and (min-width: screen-size(sw) ) {
				@content;
			}
			// Medium screens and bigger
		}
		@if $ss == "sh" {
			@media only screen and (min-height: screen-size(sh) ) {
				@content;
			}
			// Large screen height and bigger
		}
		@if $ss == "sw-mw" {
			@media only screen and (min-width: screen-size(sw) ) and (max-width: screen-size(mw) ) {
				@content;
			}
			// Medium screens only
		}
		@if $ss == "sw-mh" {
			@media only screen and (min-width: screen-size(sw) ) and (min-height: screen-size(mh) ){
				@content;
			}
			// Medium screens and bigger (width AND height)
		}
		@if $ss == "sw-lw" {
			@media only screen and (min-width: screen-size(sw) ) and (max-width: screen-size(lw) ){
				@content;
			}
			// Medium screens and bigger (width AND height)
		}
		@if $ss == "mw-" {
			@media only screen and (max-width: screen-size(mw) ) {
				@content;
			}
			// Medium screens and smaller
		}
		@if $ss == "mw" {
			@media only screen and (min-width: screen-size(mw) ) {
				@content;
			}
			// Large screens and bigger
		}
		@if $ss == "mw-mh" {
			@media only screen and (min-width: screen-size(mw) ) and (min-height: screen-size(mh) ){
				@content;
			}
			// Large screens and bigger (width AND height)
		}
		@if $ss == "mh" {
			@media only screen and (min-height: screen-size(mh) ) {
				@content;
			}
			// Large screen height and bigger
		}
		@if $ss == "mw-lw" {
			@media only screen and (min-width: screen-size(mw) ) and (max-width: screen-size(lw) ) {
				@content;
			}
			// Large screens only
		}
		@if $ss == "lw-" {
			@media only screen and (max-width: screen-size(lw) ) {
				@content;
			}
			// Large screens and smaller
		}
		@if $ss == "lw" {
			@media only screen and (min-width: screen-size(lw) ) {
				@content;
			}
			// Large screens and bigger
		}
		@if $ss == "lw-mh" {
			@media only screen and (min-width: screen-size(lw) ) and (min-height: screen-size(mh) ) {
				@content;
			}
			// Extra-Large screens and bigger
		}
		@if $ss == "xlw" {
			@media only screen and (min-width: screen-size(xlw) ) {
				@content;
			}
			// Extra-Large screens and bigger
		}
		@if $ss == "xlw-mh" {
			@media only screen and (min-width: screen-size(xlw) ) and (min-height: screen-size(mh) ) {
				@content;
			}
			// Extra-Large screens and bigger
		}
		@if $ss == "xxlw" {
			@media only screen and (min-width: screen-size(xxlw) ) {
				@content;
			}
			// Extra-Large screens and bigger
		}
		@if $ss == "xxlw-mh" {
			@media only screen and (min-width: screen-size(xxlw) ) and (min-height: screen-size(mh) ) {
				@content;
			}
			// Extra-Large screens and bigger
		}


		// Extras
		@if $ss == "watchOs" {
			@media only screen and (min-width: screen-size(watchOs) ) {
				@content;
			}
		}
		@if $ss == "watchOs-" {
			@media only screen and (max-width: screen-size(watchOs) ) {
				@content;
			}
		}
		@if $ss == "sw-tnav" {
			@media only screen and (min-width: screen-size(sw) ) and (max-width: screen-size(tnav) ) {
				@content;
			}
		}
		@if $ss == "tnav" {
			@media only screen and (min-width: screen-size(tnav) ) {
				@content;
			}
		}
		@if $ss == "tnav-" {
			@media only screen and (max-width: screen-size(tnav) ) {
				@content;
			}
		}
		@if $ss == "insidenav" {
			@media only screen and (min-width: screen-size(lw) ) and (min-height: screen-size(mh) ){
				@content;
			}
		}
	}
	@else {
		@if $ss == "mw" {
			@media (min-width: screen-size(mw) ) {
				@content;
			}
		}
	}
}