@mixin setting-check($default, $param1, $param2:none) {
    @if $param2 != "none" {
        @if $param1 == $param2 and $param2 == $default {}
        @else {
            @content;
        }
    } @else {
        @if $param1 != $default {
            @content;
        }
    }

}