/*------------------------------------
	TABLES
*/

@mixin table($tableWidth: $tableWidth) {
	@include base-font-size;
	@if $numericalFontVariant != false {
		font-variant-numeric: $numericalFontVariant;
	}
	@if $tableLineHeightRatio != "inherit" {
		line-height: $tableLineHeightRatio;
	}
	margin-left: auto;
	margin-right: auto;
	max-width:100%;
	@if $tableWidth != "auto" {
		width:$tableWidth;
	}

	th, td {
		@if $tableCellPadding != 0 {
			@if $tableCellPaddingInsideFlush == true {
				@include padding($tableCellPadding $tableCellPadding*$tableCellPaddingXRatio $tableCellPadding 0);
				@include screen-size(mw-) {
					@include padding($tableCellPadding/2 $tableCellPadding*$tableCellPaddingXRatio/2 $tableCellPadding/2 0);
				}
				&:last-child {
					padding-right:0;
				}
			} @else {
				@include padding($tableCellPadding $tableCellPadding*$tableCellPaddingXRatio);
				@include screen-size(mw-) {
					@include padding($tableCellPadding/2 $tableCellPadding*$tableCellPaddingXRatio/2);
				}
			}
		}
	}

	th {
		@if $thOpacity != 1 {
			opacity: $thOpacity;
		}
		@if $thWeight != inherit {
			font-weight: $thWeight;
		}
		display: table-cell;
		@if $thVAlign != false {
			vertical-align: $thVAlign;
		}
		@if $thBorderWidth != 0 {
			border-bottom: $thBorderWidth solid $thBorderColor;
		}
	}

	td {
		@if $tdBorderWidth != 0 {
			border-bottom: $tdBorderWidth solid $tdBorderColor;
		}
	}
}
