@mixin no-underline {
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

@mixin text-hide($background:false, $text-shadow:false, $border:false) {
	font: 0/0 a;
	color: transparent;
	@if $background != 'false' {
		background-color: transparent;
	}
	@if $border != 'false' {
		border: 0;
	}
	@if $text-shadow != 'false' {
		text-shadow: none;
	}
}