/* Text align */

// Align left
@mixin text-start {
    @include is-old-ie {
        text-align: left;
    }
    @include is-not-old-ie {
        text-align: start;
    }
}

// Align right
@mixin text-end {
    @include is-old-ie {
        text-align: right;
    }
    @include is-not-old-ie {
        text-align: end;
    }
}