/*------------------------------------
	VERTICAL-SPACING (Consistent spacing)
*/

@mixin vertical-spacing($force: not-forced, $verticalSpace:$verticalSpace) {
	@if $force != "remove" {
		@include rem(margin-bottom, $verticalSpace);

		@if size-ratio(m) != 1 {
			@include screen-size(mw-) {
				@include rem(margin-bottom, $verticalSpace * size-ratio(m));
			}
		}
		@if size-ratio(s) != 1 {
			@include screen-size(sw-) {
				@include rem(margin-bottom, $verticalSpace * size-ratio(s));
			}
		}
		@if $force == "force" {
			&:last-child {
				@include rem(margin-bottom, $verticalSpace);
			}
		} @else {
			&:last-child {
				margin-bottom:0;
			}
		}
	} @else {
		margin-bottom:0;
	}
}