// ==========================================================================
//
//	COLOR
//	COLOR-HSLA
//
//	Uses a color from the color() map.
//
//	With color() you can:
//		- Change Alpha (0 - 1)
//		- Lighten / Darken (-100% - 100%)
//
//	With color-hsla() you can:
//		- Change the hue (eg. 30deg)
//		- Change the Saturation (-1 - 1)
//		- Change the Opacity (0 - 1)
//
// ==========================================================================

@function color($key, $opacity: 1, $lighten: 0, $map: $color) {
	@if map-has-key($color, $key) {
		$value: map-get($color, $key);
		$value: rgba($value, $opacity);
		@if $lighten >= 0 {
			$value: lighten($value, abs($lighten));
		} @else {
			$value: darken($value, abs($lighten));
		}
		@return $value;
	} @else {
		@warn "Unknown `#{$key}` in $color.";
		@return null;
	}
}

@function color-hsla($key, $hue: 0deg, $saturation: 0, $lighten: 0, $opacity: 1, $map: $color) {
	@if map-has-key($color, $key) {
		$value: map-get($color, $key);
		$value: adjust-hue($value, $hue);
		@if $saturation >= 0 {
			$value: saturate($value, abs($lighten));
		} @else {
			$value: desaturate($value, abs($lighten));
		}
		@if $lighten >= 0 {
			$value: lighten($value, abs($lighten));
		} @else {
			$value: darken($value, abs($lighten));
		}
		$value: rgba($value, $opacity);
	} @else {
		@warn "Unknown `#{$key}` in $color.";
		@return null;
	}
}