// ==========================================================================
//
//  MATH FUNCTIONS
//		- pi()
//		- exponent()
//		- rad()
//		- sin()
//		- cos()
//		- tan()
//		- factorial() or fact()
//
// ==========================================================================

@function pi() {
	@return const(PI);
}

//////////////////////////////
// Exponent
//////////////////////////////
@function exponent($base, $exponent) {
	// reset value
	$value: $base;
	// positive intergers get multiplied
	@if $exponent > 1 {
		@for $i from 2 through $exponent {
			$value: $value * $base; } }
	// negitive intergers get divided. A number divided by itself is 1
	@if $exponent < 1 {
		@for $i from 0 through -$exponent {
			$value: $value / $base; } }
	// return the last value written
	@return $value;
}

@function pow($base, $exponent) {
	@return exponent($base, $exponent);
}

//////////////////////////////
// Trigonometry
//////////////////////////////
@function rad($angle) {
	$unit: unit($angle);
	$unitless: $angle / ($angle * 0 + 1);
	// If the angle has 'deg' as unit, convert to radians.
	@if $unit == deg {
		$unitless: $unitless / 180 * pi();
	}
	@return $unitless;
}

@function sin($angle) {
	$sin: 0;
	$angle: rad($angle);
	// Iterate a bunch of times.
	@for $i from 0 through 10 {
		$sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
	}
	@return $sin;
}

@function cos($angle) {
	$cos: 0;
	$angle: rad($angle);
	// Iterate a bunch of times.
	@for $i from 0 through 10 {
		$cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
	}
	@return $cos;
}

@function tan($angle) {
	@return sin($angle) / cos($angle);
}



//////////////////////////////
// Factorial
//////////////////////////////
@function factorial($number) {
	// reset value
	$value: 1;
	// positive intergers get multiplied
	@if $number > 0 {
		@for $i from 1 through $number {
			$value: $value * $i;
		}
	}
	@return $value;
}

@function fact($number) {
	@return factorial($number);
}