// ==========================================================================
//
//  MODULAR SCALE
//
//	Used in font-size() mixin
//
// ==========================================================================

// Scaling Variables
$golden:           	1.618;
$minorSecond:     	1.067;
$majorSecond:     	1.125;
$minorThird:      	1.2;
$majorThird:      	1.25;
$perfectFourth:   	1.333;
$augmentedFourth: 	1.414;
$perfectFifth:    	1.5;
$minorSixth:      	1.6;
$majorSixth:      	1.667;
$minorSeventh:    	1.778;
$majorSeventh:    	1.875;
$octave:           	2;
$majorTenth:      	2.5;
$majorEleventh:   	2.667;
$majorTwelfth:    	3;
$doubleOctave:    	4;

@function modular-scale($value, $increment, $ratio) {
	$v1: nth($value, 1);
	$v2: nth($value, length($value));
	$value: $v1;

// scale $v2 to just above $v1
	@while $v2 > $v1 {
		$v2: ($v2 / $ratio); // will be off-by-1
	}
	@while $v2 < $v1 {
		$v2: ($v2 * $ratio); // will fix off-by-1
	}

// check AFTER scaling $v2 to prevent double-counting corner-case
	$double-stranded: $v2 > $v1;

	@if $increment > 0 {
		@for $i from 1 through $increment {
			@if $double-stranded and ($v1 * $ratio) > $v2 {
				$value: $v2;
				$v2: ($v2 * $ratio);
			} @else {
				$v1: ($v1 * $ratio);
				$value: $v1;
			}
		}
	}

	@if $increment < 0 {
	// adjust $v2 to just below $v1
		@if $double-stranded {
			$v2: ($v2 / $ratio);
		}

		@for $i from $increment through -1 {
			@if $double-stranded and ($v1 / $ratio) < $v2 {
				$value: $v2;
				$v2: ($v2 / $ratio);
			} @else {
				$v1: ($v1 / $ratio);
				$value: $v1;
			}
		}
	}

	@return $value;
}