// ==========================================================================
//
//  REM
//
//	Convert px to rems
//	eg. for a relational value of 1.2em write em(1.2) when the parent is 16px
//	if the parent is another value say 24px write em(1.2, 24)
//
// ==========================================================================

@function rem (
$pxval,
$base: $emBase
) {
	@if $remUnits {
		@if $oldIE == false {
			@if not unitless($pxval) {
				$pxval: strip-units($pxval);
			}
			@if not unitless($base) {
				$pxval: strip-units($base);
			}
			@if $pxval == 0 {
				@return $pxval;
			} @else {
				@return ($pxval / $base) * 1rem;
			}
		} @else {
			@return $pxval;
		}
	}
	@else {
		@return $pxval;
	}
}