// ==========================================================================
//
//  ENDS WITH
//  STARTS WITH
//
//  String checker
//
// ==========================================================================

@function ends-with($string, $find) {
    @if (str-slice($string, (str-length($string) - str-length($find) + 1)) == $find) {
        @return true;
    } @else {
        @return false;
    }
}

@function starts-with($string, $find) {
    @if (str-slice($string, 1, (str-length($find))) == $find) {
        @return true;
    } @else {
        @return false;
    }
}