    {% if charge is defined and charge.cardToken is not null %}
        <div class="c-form__item">
            <label class="c-label">We have card details</label>
            <div class="c-input">**** **** **** {{ charge.cardLast4 }}</div>
        </div>

        {# Actually include the existing card details #}
        {{ forms.hidden({ name: 'cardToken', value: charge.cardToken, 'data': { stripe: 'token' }}) }}
        {{ forms.hidden({ name: 'cardLast4', value: charge.cardLast4 }) }}
        {{ forms.hidden({ name: 'cardType', value: charge.cardType }) }}
        {{ forms.hidden({ name: 'cardName', value: charge.cardName }) }}
        {{ forms.hidden({ name: 'cardExpMonth', value: charge.cardExpMonth }) }}
        {{ forms.hidden({ name: 'cardExpYear', value: charge.cardExpYear }) }}
        {{ forms.hidden({ name: 'cardName', value: charge.cardName }) }}

    {% else %}
        {% set hasSavedCard = false %}
        {% if savedCard is defined and craft.charge.customer %}

            {% set cards = craft.charge.customer.getSavedCards %}

            {% if cards %}
            <div class="c-form__item">
                <label class="c-label">Pay with saved card</label>
                {% for card in cards %}
                    {% set hasSavedCard = true %}
                    <div class="c-radio-item">
                        {{ forms.radioField({ label: card.brand~' '~card.formattedCard~' ('~card.exp_month~'/'~card.exp_year~')', name: 'useSavedCard', value: card.id, checked: true }) }}
                    </div>
                {% endfor %}
                <div class="c-radio-item">
                {{ forms.radioField({ label: 'Pay with new card', name: 'useSavedCard', value: false, id: 'newCardRadio' }) }}
                </div>
            </div>

                {% includejs %}
                    $('input[name=useSavedCard]').on('change', function() {
                        if($(this).val() == '') {
                            $('.js-form-new-card').removeClass('-dn').slideDown();
                        } else {
                            $('.js-form-new-card').slideUp();
                        }
                    });
                {% endincludejs %}
            {% endif %}
        {% endif %}
        <div class="js-form-new-card {{ hasSavedCard ? '-dn' }}">
            {% if hasSavedCard %}<hr/>{% endif %}

            {{ stripe.cardField({
                label: 'Number',
                class: 'cc-number',
                id: 'cardNumber'
            }) }}
            <div class="c-form__item">
                <div class="c-form__set">
                     {{ stripe.expiryField({
                        label: 'Expiry',
                        id: 'cardExpiry',
                        class: 'cc-expiry',
                        placeholder: 'MM / YY'
                     }) }}

                    {{ stripe.cvcField({
                        label: 'CVC',
                        id: 'cardCvc',
                        class: 'cc-cvc',
                        placeholder: '•••',
                        pattern: "[0-9]*"
                    }) }}
                    {{ stripe.textField({ label: 'Type', fieldAddClass: ' -hide', class:'card-type', readonly: true}) }}
                </div>
            </div>

            {% if savedCard is defined and currentUser %}
                <div class="form-group ">
                    {{ forms.checkboxField({ label: 'Save this card for later?', name: 'saveCard', checked: true }) }}
                </div>
            {% endif %}
        </div>
    {% endif %}