
<div class="c-form__actions">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="c-button +1" value="Pay now"/>
        <div class="charge_indicator spinner-loader">
            Loading…
        </div>
    </div>
</div>