// ==========================================================================
//
//	ANIMATIONS
//
// ==========================================================================

// "Pop-in" child items
@mixin animInChildren($element){
    &:nth-child(1) #{$element} {
        animation-duration: 1*$t4/2;
    }
    &:nth-child(2) #{$element} {
        animation-duration: 3*$t4/4;
    }
    &:nth-child(3) #{$element} {
        animation-duration: 7*$t4/8;
    }
    &:nth-child(4) #{$element} {
        animation-duration: 15*$t4/16;
    }
    &:nth-child(5) #{$element} {
        animation-duration: 31*$t4/32;
    }
}

// "Pop-in" items
@mixin animInItem($listElement, $element, $anim) {
    #{$listElement} {
        @if $element != "" {
            #{$element} {
                animation: $anim $t4 linear;
                @media (prefers-reduced-motion) {
                    animation: none;
                }
            }
        } @else {
            animation: $anim $t4 linear;
            @media (prefers-reduced-motion) {
                animation: none;
            }
        }
        @include animInChildren($element);
    }
}

// "Pop-in" list
@mixin animInList($listElement, $element, $anim:popIn) {
    &.js-anim {
        #{$listElement} {
            #{$element} {
                @include is-not-old-ie {
                    box-shadow: $shadowDepth0;
                    opacity: 0;
                    transform: scale(0.95);
                    @media (prefers-reduced-motion) {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
    &.is-in-view {
        @include animInItem($listElement, $element, $anim);
    }
}

@mixin animInSequence ($num, $dur) {
    animation: popIn ($dur * 2) linear;
    @media (prefers-reduced-motion) {
        animation-duration: 0.001s;
    }
    @for $n from 1 through $num {
        &:nth-child(#{$n}) {
            animation-duration: ($n * $dur/$num + $dur);
        }
    }
}