// ==========================================================================
//
//	KEYFRAMES
//
// ==========================================================================

//@keyframes pulse {
//	0% { opacity: $fade; }
//	50% { opacity: 1; }
//	100% { opacity: $fade; }
//}
@keyframes fadeZoomIn {
	0% { opacity: 0; transform:scale(0.9); }
	66% { opacity: 0; transform:scale(0.9); }
	100% { opacity: 1; transform:scale(1); }
}
@keyframes fadeZoomInQuick {
	0% { opacity: 0; transform:scale(0.9); }
	100% { opacity: 1; transform:scale(1); }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeInSlow {
	0% { opacity: 0; }
	66% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes riseUp {
	0% { transform: translateY(100%) scale(0.8); opacity:0; }
	50% { opacity:0; }
	100% { transform: translateY(0) scale(1); opacity:1; }
}

//@keyframes flyin-right {
//	0% { left: -500px; }
//	50% { left: -500px; }
//	100% { left: 0; }
//}

@keyframes flyin-right-lg {
	0% { left: -500px; }
	50% { left: -500px; }
	100% { @include rem(left, $unit); }
}

//@keyframes flyin-left {
//	0% { right: -500px; }
//	50% { right: -500px; }
//	100% { right: 0; }
//}

@keyframes flyin-left-lg {
	0% { right: -500px; }
	50% { right: -500px; }
	100% { @include rem(right, $unit); }
}

@keyframes slideLeft {
	0% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}
@keyframes slideRight {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(0); }
}

@keyframes pulsate-scroller {
	0% {
		filter: drop-shadow($shadowDepth0);
		transform: scale(0.1) translateY(-$siteHeaderHeight);
		opacity: 0.0;
	}
	40% { opacity: 1.0; }
	60% { opacity: 1.0; }
	100% {
		filter: drop-shadow($shadowDepth3);
		transform: scale(1.2) translateY($siteHeaderHeight);
		opacity: 0.0;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(0.1) translateY(-$siteHeaderHeight);
		opacity: 0.0;
	}
	40% { opacity: 1.0; }
	60% { opacity: 1.0; }
	100% {
		transform: scale(1.2) translateY($siteHeaderHeight);
		opacity: 0.0;
	}
}

@keyframes alert-pulse {
	0% {
		@include var(background-color, $siteQuickNavBg);
	}
	50% {
		background-color: transparent;
	}
	100% {
		@include var(background-color, $siteQuickNavBg);
	}
}

@keyframes popIn {
	0% {
		box-shadow: $shadowDepth0;
		opacity: 0;
		transform: scale(0.95);
	}
	45% {
		box-shadow: $shadowDepth0;
		opacity: 0;
		transform: scale(0.95);
	}
	55% {
		opacity: 1
	}
	90% {
		box-shadow: $shadowDepth1;
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		box-shadow: $shadowDepth0;
		transform: scale(1);
	}
}

@keyframes fadeInBackdrop {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes popDialog {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	20% {
		opacity: 1;
	}
	90% {
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}