$fontFamily : map_merge($preFontFamily, $themeFontFamily);

$varAdd : (
);
$varAddSm : (
);
$varAddMd : (
);
$varAddMdMh : (
);
$varAddTNav : (
);
$varAddLg : (
);
$varAddDark : (
);


$vars : map_merge($varPresets, $varTheme);
$vars : map_merge($vars, $varAdd);

$varsSm : map_merge($varPresetsSm, $varThemeSm);
$varsSm : map_merge($varsSm, $varAddSm);

$varsMd : map_merge($varPresetsMd, $varThemeMd);
$varsMd : map_merge($varsMd, $varAddMd);

$varsMdMh : map_merge($varPresetsMdMh, $varThemeMdMh);
$varsMdMh : map_merge($varsMdMh, $varAddMdMh);

$varsTNav : map_merge($varPresetsTNav, $varThemeTNav);
$varsTNav : map_merge($varsTNav, $varAddTNav);

$varsLg : map_merge($varPresetsLg, $varThemeLg);
$varsLg : map_merge($varsLg, $varAddLg);

$varsDark : map_merge($varPresetsDark, $varThemeDark);
$varsDark : map_merge($varsDark, $varAddDark);