{% extends "_entry" %}

{#  ------------------------------------
#   Attributes and Classes for Microdata #}

{%- if seomaticMainEntityOfPage is defined -%}

	{%- if entry.namePrefix | length -%}
		{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'honorificPrefix' : entry.namePrefix }) -%}
	{%- endif -%}
	{%- if entry.forename | length -%}
		{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'givenName' : entry.forename }) -%}
	{%- endif -%}
	{%- if entry.additionalName | length -%}
		{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'additionalName' : entry.additionalName }) -%}
	{%- endif -%}
	{%- if entry.surname | length -%}
		{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'familyName' : entry.surname }) -%}
	{%- endif -%}
	{%- if entry.nameSuffix | length -%}
		{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'honorificSuffix' : entry.nameSuffix }) -%}
	{%- endif -%}
	{%- if entry.additionalFamily | length -%}
		{%- set additionalFamily = {
			'type' : 'Person',
			'name' : entry.additionalFamily ~ ' ' ~ entry.surname,
			'givenName' : entry.additionalFamily,
			'familyName' : entry.surname
		}-%}
		{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'additionalFamily' : additionalFamily }) -%}
	{%- endif -%}
	{%- if entry.subheading | length -%}
		{%- set seomaticMainEntityOfPage = seomaticMainEntityOfPage | merge({'jobTitle' : entry.subheading | striptags }) -%}
	{%- endif -%}

{%- endif -%}

{#  ------------------------------------ #}

{% block supportingItems %}
	{%- if entry.userProfile | length -%}
		{% set userProfile = entry.userProfile %}
		{% set articles = craft.entries.section(['articles','news','lesson']).authorId(userProfile.id) %}
	{%- else -%}
		{% set articles = craft.entries.section(['articles','news','lesson']).relatedTo({ targetElement: entry }) %}
	{%- endif -%}
	{%- if articles | length -%}
        <div class="o-block c-support +tight-x -fill-shade -noprint" id="entries-by">
            <div class="c-support__body +u-3 js-anim">
                <header>
                    <div class="c-support__header">
                        <h2>{{ "Entries by" | t }} {{ entry.title | smartypants }}</h2>
                    </div>
                </header>
				{% paginate articles.limit(12) as articlesOnPage %}
                <ul class="c-support-list +matrix">
                    {% for entry in articlesOnPage %}
                        <li>{% include "_includes/support/items/_preview" %}</li>
                    {% endfor %}
                </ul>
				{% include "_includes/insert/_pagination" with { "anchorUrl" : "#entries-by" } %}
			</div>
        </div>
	{%- endif -%}
{% endblock %}