{#
# People index template
# -------------------
#
# This template is loaded whenever http://example.com/people is
# requested, because it is located at news/index.html in your
# craft/templates/ folder.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_entry" %}

{% if craft.request.segment(2) | length %}
{% set catSlug = craft.request.getSegment(2) %}
{% set indexCategory = craft.categories.slug(catSlug).first() %}
{% set entries = craft.entries.section('people').relatedTo(indexCategory.id) %}
{% if indexCategory.theme | length %}
{% set title = "People" %}
{% else %}
{% set title = indexCategory.title ~ " People" %}
{% endif %}
{% else %}
{% set entries = craft.entries.section('people').find() %}
{% set title = "People" %}
{% endif %}

{% block articleExtras %}
{% set thumb = 'yes' %}
<div class="o-block c-support">
    <div class="c-support__body">
        <ul class="c-support-list +blocks c-square-list +gutters">
            {% for entry in entries %}
            <li>
                {% include "_includes/support/items/_square" %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
