{% extends "_entry" %}

{% block articleExtras %}

<form method="post" accept-charset="UTF-8" class="o-band">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/forgotPassword">
    <input type="hidden" name="redirect" value="">
    <fieldset class="c-form -pa2">
        <div class="c-form__item">
            <label class="c-label" for="loginName">Username or email</label>
            <div class="c-field">
                <input id="loginName" type="text" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}" required>
            </div>
        </div>
        <div class="c-form__actions">
            <input type="submit" value="Submit" class="c-button +1">
        </div>
    </fieldset>

    {% if errors is defined %}
    <ul class="alert">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</form>

{% endblock %}
