{% extends "_entry" %}

{% block articleExtras %}

<form method="post" accept-charset="UTF-8" class="o-band -pv2">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/login">
    <fieldset class="c-form -bt -pv2">
        <p class="c-form__subtitle">Not a member?<br><a href="/register">Sign up here</a></p>
        <div class="c-form__item is-required">
        <label class="c-label" for="loginName">Username or email</label>
        <div class="c-field">
            <input id="loginName" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}">
        </div>
    </div>
    <div class="c-form__item is-required">
        <label class="c-label" for="password">Password</label>
        <div class="c-field">
            <input id="password" type="password" name="password">
            <span class="c-field__help"><a href="{{ url('forgot-password') }}">Forget your password?</a></span>
        </div>
    </div>
    <div class="c-form__item">
        <label>
            <input type="checkbox" name="rememberMe" value="1">
            Remember me
        </label>
    </div>
    <div class="c-form__actions">
        <input type="submit" value="Sign in" class="c-button +1">

        {% if errorMessage is defined %}
        <span class="c-field__error">{{ errorMessage }}</span>
        {% endif %}
    </div>

     </fieldset>
</form>

{% endblock %}

