{% extends "_entry" %}

{% block articleExtras %}

<form method="post" accept-charset="UTF-8" class="o-band -pv2">
    <fieldset class="c-form -bt -pv2 has-required-fields">
        <p class="c-form__subtitle">Already a member?<br><a href="/login">Sign in here</a></p>
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/saveUser">
    <input type="hidden" name="redirect" value="">

    {% macro errorList(errors) %}
    {% if errors %}
        {% for error in errors %}
        <span class="c-field__error">{{ error }}</span>
        {% endfor %}
    {% endif %}
    {% endmacro %}

    {% from _self import errorList %}
    <div class="c-form__item is-required">
        <label class="c-label" for="username">Username</label>
        <div class="c-field">
            <input id="username" type="text" name="username"
            {%- if account is defined %} value="{{ account.username }}"{% endif -%}>

            {% if account is defined %}
            {{ errorList(account.getErrors('username')) }}
            {% endif %}
        </div>
    </div>
    <div class="c-form__item is-required">
        <label class="c-label" for="email">Email</label>
        <div class="c-field">
            <input id="email" type="email" name="email"
            {%- if account is defined %} value="{{ account.email }}"{% endif %}>

            {% if account is defined %}
            {{ errorList(account.getErrors('email')) }}
            {% endif %}
        </div>
    </div>
    <div class="c-form__item is-required">
        <label class="c-label" for="password">Password</label>
        <div class="c-field">
            <input id="password" type="password" name="password" autocomplete="new-password">
            {% if account is defined %}
            {{ errorList(account.getErrors('password')) }}
            {% endif %}
        </div>
    </div>
    <div class="c-form__actions">
        <input type="submit" value="Sign up" class="c-button +1">
    </div>
    </fieldset>
</form>

{% endblock %}
