{% extends "_entry" %}

{% block articleExtras %}

<form method="post" accept-charset="UTF-8" class="o-band c-Band">
    {{ getCsrfInput() }}
    <input type="hidden" name="redirect" value="">
    <input type="hidden" name="action" value="users/setPassword">
    <input type="hidden" name="code" value="{{ code }}">
    <input type="hidden" name="id" value="{{ id }}">

    <fieldset class="c-form -pa2">
        <div class="c-form__item">
            <label class="c-label" for="newPassword">New Password</label>
            <div class="c-field">
                <input id="newPassword" type="password" name="password" required autocomplete="new-password">
            </div>
        </div>
        <div class="c-form__actions">
            <input type="submit" value="Submit" class="c-button +1">
        </div>
    </fieldset>

    {% if errors is defined %}
    <ul class="errors">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</form>

{% endblock %}
