{%- set allLabel = (allLabel is defined ? allLabel : "All"|t) %}
{%- set allValue = (allValue is defined ? allValue : '*') %}
{%- set options = (options is defined ? options : []) %}
{%- set values = (values is defined ? values : []) -%}
{%- set allChecked = (values is empty or values == allValue) %}

<div class="checkbox-select{% if class is defined %} {{ class }}{% endif %}">
	<div class="c-check-set">
		{% include "_includes/forms/checkbox" with {
			id:        (id is defined ? id : null),
			class:     'all',
			label:     '<b>' ~ (allLabel is defined ? allLabel : "All"|t) ~ '</b>',
			name:      (name is defined ? name : null),
			value:     allValue,
			checked:   allChecked,
			autofocus: (autofocus is defined and autofocus and not craft.request.isMobileBrowser(true))
		} only %}
	</div>
	{%- for key, option in options %}
		{%- set optionLabel = (option.label is defined ? option.label : option) %}
		{%- set optionValue = (option.value is defined ? option.value : key) -%}
		{% if optionValue != allValue %}
			<div class="c-check-set">
				{% include "_includes/forms/checkbox" with {
					label:    optionLabel,
					name:     (name is defined ? name~'[]' : null),
					value:    optionValue,
					checked:  (allChecked or optionValue in values),
					disabled: allChecked
				} only %}
			</div>
		{% endif %}
	{% endfor %}
</div>
