{% import '_includes/insert/charge/_includes/macros/forms' as forms %}
{% import '_includes/insert/charge/_includes/macros/stripe' as stripe %}


    {% block content %}

            <a class="c-button" href="/charge" role="button">Charge for Craft &rarr;</a>

    {% endblock %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% includeJsResource('charge/js/jquery.charge.js') %}
{% includeJsResource('charge/js/stripe_v2.min.js') %}
{% set chargeJs %}jQuery(document).ready(function(e){e(this).charge('#charge-form', '#payment-errors')});{% endset %}
{% includejs chargeJs %}