{% extends "_includes/insert/charge/_layout" %}

{% block content %}

    <form class="o-band -pv2 is-in-view"
        id="charge-form"
        method="post"
        action=""
        accept-charset="UTF-8"
        data-publicKey="{{ craft.charge.getPublicKey }}">

        {{ forms.hidden({ name : 'action', value: '_includes/insert/charge/charge' }) }}
        {{ getCsrfInput() }}

        {% set options = {
            'planAmount' : {{ price }},
            'planCurrency': 'gbp'
        } %}
        {{ craft.charge.setPaymentOptions(options) }}


        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

        <div id="payment-errors"></div>

        <fieldset class="c-form -bt -pv2">
            <h2 class="c-form__title">Buy now</h2>
            {{ stripe.amountField({
                label: 'Amount',
                labelWidth: ' -hide',
                currency: options.planCurrency,
                value: options.planAmount,
                readonly: true
            }) }}
        </fieldset>

        <input type="checkbox" id="yourDetails" class="-hide c-form__reveal-check">
        <label for="yourDetails" class="c-form__reveal c-button +quiet">Pay now</label>
        <div class="c-form--hidden">
            <fieldset class="c-form -bt -pv2 has-required-fields">
                <h2 class="c-form__title">Your details</h2>
                {% include '_includes/insert/charge/_includes/inputs/customerDetails' %}
            </fieldset>

            <input type="checkbox" id="cardDetails" class="-hide c-form__reveal-check">
            <label for="cardDetails" class="c-form__reveal c-button +quiet">Pay with card</label>
            <fieldset class="c-form c-form--hidden -bt -pv2">
                <h2 class="c-form__title">Card details</h2>
                {% include '_includes/insert/charge/_includes/inputs/cardDetails' %}
                {% include '_includes/insert/charge/_includes/inputs/paymentButton' %}
            </fieldset>
        </div>

    </form>

{% endblock %}
