{% extends "_includes/insert/charge/_layout" %}

{% block content %}
    <form class="o-band -pv2 is-in-view"
          id="charge-form"
          method="post"
          action=""
          accept-charset="UTF-8"
          data-publicKey="{{ craft.charge.getPublicKey }}">
        {{ forms.hidden({ name : 'action', value: '_includes/insert/charge/charge' }) }}
        {{ getCsrfInput() }}

        {% set options = {
            'allowDynamic' : true,
            'planCurrency': 'gbp'
        } %}
        {{ craft.charge.setPaymentOptions(options) }}

        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

        {# Amount #}
        <div id="payment-errors" class="alert alert-error"></div>
        <fieldset class="c-form -bt -pv2">
            <h2 class="c-form__title">Quick donation</h2>
            {{ stripe.amountField({
                label: 'Amount',
                labelWidth: ' -hide',
                name: 'planAmount',
                id: 'planAmount',
                placeholder: 'eg. 49.99',
                currency: options.planCurrency,
                value: (charge is defined ? charge.planAmount ),
                errors: (charge is defined ? charge.getErrors('planAmount'))
            }) }}
        </fieldset>

        {# Regular Giving #}
        <input type="checkbox" id="regularGiving" class="-hide c-form__reveal-check">
        <label for="regularGiving" class="c-form__reveal c-button">Give regularly</label>
        <fieldset class="c-form c-form--hidden -bt -pv2">
            <h2 class="c-form__title">Give regularly</h2>
            {{ forms.radioGroupField({
                fieldClass: 'c-radio-group',
                label: 'Plan Interval',
                labelWidth: ' -hide',
                name: 'planInterval',
                id: 'planInterval',
                options: {
                    '' : 'One-Off',
                    'month' : 'Monthly',
                    'year' : 'Yearly'
                },
                value: (charge is defined ? charge.planInterval),
                errors: (charge is defined ? charge.getErrors('planInterval'))
            }) }}

            {{ forms.radioGroupField({
                fieldClass: 'c-radio-group',
                label: 'Repeat every…',
                name: 'planIntervalCount',
                id: 'planIntervalCount',
                options: {
                    '0' : 'Not recurring',
                    '1' : 'Period',
                    '3' : '3 Periods'
                },
                value: (charge is defined ? charge.planIntervalCount),
                errors: (charge is defined ? charge.getErrors('planIntervalCount'))
            }) }}
        </fieldset>

        {# Your Details #}
        <input type="checkbox" id="yourDetails" class="-hide c-form__reveal-check">
        <label for="yourDetails" class="c-form__reveal c-button +quiet">Continue</label>
        <div class="c-form--hidden">
            <fieldset class="c-form -bt -pv2">
            <h2 class="c-form__title">Customer Details</h2>
            {% include '_includes/insert/charge/_includes/inputs/customerDetails' %}
            </fieldset>

        {# On Behalf #}
            {#<input type="checkbox" id="yourDetails" class="-hide c-form__reveal-check">#}
            {#<label for="yourDetails" class="c-form__reveal c-button +big">On behalf of</label>#}
            {#<fieldset class="c-form -bt -pv2">#}
                {#<h2 class="c-form__title">I'm giving on behalf of</h2>#}
                {#<div class="c-form__item" id="onBehalf-field">#}
                    {#<label class="c-label" for="onBehalf">Individual or Company</label>#}
                    {#<div class="c-field">#}
                        {#<input type="text" id="onBehalf" name="fields[onBehalf]" placeholder="eg. Smith and Co" value="{{ charge is defined ? charge.onBehalf }}"/>#}
                    {#</div>#}
                {#</div>#}
            {#</fieldset>#}

            {# Payment#}
                <input type="checkbox" id="cardDetails" class="-hide c-form__reveal-check">
                <label for="cardDetails" class="c-form__reveal c-button +quiet">Pay with card</label>
                <div class="c-form--hidden">
                    <fieldset class="c-form c-form--hidden -bt -pv2">
                    <h2 class="c-form__title">Card Details</h2>
                    {% include '_includes/insert/charge/_includes/inputs/cardDetails' %}
                    </fieldset>
                    <input type="checkbox" id="complete" class="-hide c-form__reveal-check">
                    <label for="complete" class="c-form__reveal c-button +quiet">Complete</label>
                    <fieldset class="c-form c-form--hidden -bt -pv2">
                        <h2 class="c-form__title">Gift Aid</h2>
                        <p class="c-form__help">If you are a UK Taxpayer, claiming Gift Aid will add 25p to every £1 your donation.</p>
                        <div class="c-form__item">
                            <input type="checkbox" id="GiftAid" class="c-check"><label for="GiftAid" class="c-check__label">Claim Gift Aid</label>
                            <input type="text" placeholder="Postcode" class="c-field__other">
                        </div>
                        {% include '_includes/insert/charge/_includes/inputs/paymentButton' %}
                    </fieldset>
                </div>
        </div>
    </form>

{% endblock %}
