{% extends "_includes/insert/charge/_layout" %}

{% block content %}
    <h2>Extra Fields</h2>
    <p>Charge has full field support like any other craft element.</p>
    <p>To make use of this, simply add the fields to the charge element in the settings, and on your payment forms expose the field inputs, like other Craft front-end fields. They should be named using for format <code>fields[]</code>, as normal.</code></p>

    <hr/>

    {#
        You'll see this form uses a number of _includes and macros to function.
        This is primarly so our demos are all consistent and easily portable.
        Your own templates don't need to break things down as abstract if you don't want
     #}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal"
                  id="charge-form"
                  method="post"
                  action=""
                  accept-charset="UTF-8"
                  data-publicKey="{{ craft.charge.getPublicKey }}">
                {{ forms.hidden({ name : 'action', value: '_includes/insert/charge/charge' }) }}
                {{ getCsrfInput() }}

                {% set options = {
                    'planAmount' : 99.99
                } %}
                {{ craft.charge.setPaymentOptions(options) }}


                {% if allErrors is defined %}
                    {{ forms.errorBlock(allErrors) }}
                {% endif %}

                <div id="payment-errors" class="alert alert-error"></div>

                <h4>Customer Details</h4>
                {% include '_includes/insert/charge/_includes/inputs/customerDetails' %}

                <h4>Extra Fields</h4>
                {{ forms.textField({
                    name: 'fields[simpleText]',
                    id: 'fields-simpleText',
                    label: 'Text'
                }) }}
                {% if charge is defined %}
                    {% for error in charge.getErrors('simpleText') %}
                    <ul class="errors"><li>{{ error }}</li></ul>
                    {% endfor %}
                {% endif %}

                <h4>Plan Details</h4>
                {{ stripe.amountField({
                    label: 'Amount',
                    value: options.planAmount,
                    readonly: true
                }) }}

                <h4>Card Details</h4>
                {% include '_includes/insert/charge/_includes/inputs/cardDetails' %}


                {% include '_includes/insert/charge/_includes/inputs/paymentButton' %}

            </form>
        </div>
    </div>

{% endblock %}
