{% extends "_includes/insert/charge/_layout" %}

{% block content %}
    <h2>Guest Registration</h2>

    <hr/>


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal"
                  id="charge-form"
                  method="post"
                  action=""
                  accept-charset="UTF-8"
                  data-publicKey="{{ craft.charge.getPublicKey }}">

                {{ forms.hidden({ name : 'action', value: '_includes/insert/charge/charge' }) }}
                {{ getCsrfInput() }}

                {% set options = {
                    'planAmount' : 99
                } %}
                {{ craft.charge.setPaymentOptions(options) }}


                {% if allErrors is defined %}
                    {{ forms.errorBlock(allErrors) }}
                {% endif %}

                <div id="payment-errors" class="alert alert-error"></div>

                <h4>Customer Details</h4>
                {% include '_includes/insert/charge/_includes/inputs/customerDetails' with { 'registerGuest' : true }%}

                <h4>Plan Details</h4>
                {{ stripe.amountField({
                    label: 'Amount',
                    value: options.planAmount,
                    readonly: true
                }) }}

                <h4>Card Details</h4>
                {% include '_includes/insert/charge/_includes/inputs/cardDetails' %}

                {% include '_includes/insert/charge/_includes/inputs/paymentButton' %}

            </form>
        </div>
    </div>

{% endblock %}
