// ==========================================================================
//
//	ALIGN
//
//  Text Align Utility
//
// ==========================================================================

@include screen {

    // Text Align Center
    .-tc {
        text-align:center !important;
    }

    // Text Align Left (Start)
    .-tl {
        @include text-start;
    }

    th.-tl {
        text-align:left !important;
    }

    // Text Align Right (End)
    .-tr {
        @include text-end;
    }

    th.-tr {
        text-align:right !important;
    }
}