// ==========================================================================
//
//	BORDER
//
//  Border Utility
//
// ==========================================================================

// Border All
.-ba {
    border:$borderWidth solid $borderColor;
}
    // Colors
    .-bac-cc {      // currentColor
        border-color: currentColor;
    }
    .-bac-warn {    // Warning
        border-color: $colorWarning;
    }

    // Widths
    .-baw2 {        // Double width
        border-width: $borderWidth * 2;
    }

    // Variations
    .-ba-warn {     // Warning
        border: $borderWidth solid $colorWarning;
    }


// Border Top
.-bt {
    border-top:$borderWidth solid $borderColor;
}

    // Colors
    .-btc-cc {
        border-top-color: currentColor;
    }

    // Widths
    .-btw2 {
        border-top-width: $borderWidth * 2;
    }


// Border Bottom
.-bb {
    border-bottom:$borderWidth solid $borderColor;
}

    // Colors
    .-bbc-cc {
        border-bottom-color: currentColor;
    }

    // Widths
    .-bbw2 {
        border-bottom-width: $borderWidth * 2;
    }