// ==========================================================================
//
//	DISPLAY
//
//   Utility
//
// ==========================================================================

@include screen {

    // Display None
    .-dn {
        display: none !important;
    }

    // Display Block
    .-db {
        display: block;
    }
}


@media print {

    // Display None on Print
    .-dn\@p {
        display: none;
    }
}