// ==========================================================================
//
//	EXTRAS
//
//   Utility
//
// ==========================================================================

@include screen {

    // Clear floats
    .-clear {
        clear:both;
    }

    // Box clears floats
    .-clearfix {
        @include clear;
    }

    // Hide content visually, but not from DOM
    .-hide {
        @include visually-hide;
    }

    .-scrollsnap {
        @include SnapScroll;
    }

    // Caption
    .-caption {
        opacity:$fade;
    }

    // All Small Caps
    .-smallcaps {
        @include font-features("smcp" "c2sc");
    }

    // Old-style Numbers and Small Caps
    .-oldstyle {
        @include font-features($fontFeatures "onum");
        @include font-variant($numeric: oldstyle-nums);
        .caps {
            @include font-features("smcp");
            @include font-variant($caps: all-small-caps);
        }
    }

    // Standard Translucency
    .-fade 	{
        opacity:$fade !important;
    }

    .-showdialog {
        overflow: hidden;
    }
}