// ==========================================================================
//
//	FILL
//
//   Utility
//
// ==========================================================================

@include screen {

    // Base colors

    .-fill-site {
        @include var(background-color, color-site);
        @include color-scheme(dark, $classDark) {
            @include var(background-color, color-dark);
        }
    }

    .-fill-shade {
        background-color:color(shade, $shadeAmount);
    }

    .-fill-tint {
        background-color:color(tint, $tintAmount);
        @include color-scheme(dark, $classDark) {
            background-color: transparent;
        }
    }



    // Brand colors

    .-fill1 {
        @include background-color(color-1, $brand1text, var);
    }
    .-fill2 {
        @include background-color(color-2, $brand2text, var);
    }
    .-fill3 {
        @include background-color(color-3, $brand3text, var);
    }
    .-fill4 {
        @include background-color(color-4, $brand4text, var);
    }
    .-fill5 {
        @include background-color(color-5, $brand5text, var);
    }
    .-fill6 {
        @include background-color(color-6, $brand6text, var);
    }


    // State colors

    .-fill-neg 		{
        @include background-color(color(error));
    }
    .-fill-pos 		{
        @include background-color(color(success));
    }
    .-fill-warn 		{
        @include background-color(color(warning));
    }




    // Area specific

    .-fill-footer 		{
        @include background-color(color-site-foot, $footerText, var);
        @include color-scheme(dark, $classDark) {
            @include var(background-color, color-dark);
        }
    }
}

