// ==========================================================================
//
//	FILTER
//
//  Filter Utility
//
//  Format
//   -f-**#@*!
//  Filter | ** Type | # Value | @* Adaption (Screen Size, Hover etc) | ! !important
//
// ==========================================================================

.-f-gs,
.-f-gs\@hov:hover {
    filter: grayscale(100%);
}

.-f-no,
.-f-no\@hov:hover {
    filter: none;
}