// ==========================================================================
//
//	FONT STYLE
//
//   Utility
//
// ==========================================================================

.-normal {
    font-style: normal;
}

.-i {
    @include font-style(italic);
}