// ==========================================================================
//
//	FONT-SIZE
//
//   Utility
//
// ==========================================================================

@include screen {

    //.-fs1\/3 {
    //    @include font-size(font-size(micro));
    //}
    .-fs1\/2 {
        @include font-size(font-size(milli));
    }
    //.-fs1 {
    //    @include font-size(font-size(alpha));
    //}
    .-fs2 {
        @include font-size(font-size(beta));
        @include screen-size(sw-) {
            font-size: 1.2em;
        }
    }
    //.-fs3 {
    //    @include font-size(font-size(gamma));
    //    @include screen-size(sw-) {
    //        font-size: 1.6em;
    //    }
    //}
}

@media print {
    .-fs2 {
        font-size: 12pt;
    }
}