// ==========================================================================
//
//	FONT-FAMILY
//
//   Utility
//
// ==========================================================================

.-ff1 {
    font-family: font-family(primary) !important;
}
.-ff2 {
    font-family: font-family(secondary);
    @if $fontSettings2 != default {
        font-feature-settings: $fontSettings2;
    }
    @if $fontSpacing2 != 0 {
        letter-spacing: $fontSpacing2;
    }
    @if $fontWeight2 != default {
        font-weight: $fontWeight2;
    }
    @if $fontTransform2 != none {
        text-transform: $fontTransform2;
    }
}
.-ff3 {
    font-family: font-family(tertiary);
    @if $fontSettings3 != default {
        font-feature-settings: $fontSettings3;
    }
    @if $fontSpacing3 != 0 {
        letter-spacing: $fontSpacing3;
    }
    @if $fontWeight3 != default {
        font-weight: $fontWeight3;
    }
    @if $fontTransform3 != none {
        text-transform: $fontTransform3;
    }
}

.-ff-article {
    font-family: font-family(article);
}