// ==========================================================================
//
//	FONT WEIGHT
//
//   Utility
//
// ==========================================================================

.-regular {
    font-weight: normal;
}
.-b {
    @include font-weight(bold);
}
