// ==========================================================================
//
//	LETTER-SPACING
//
//   Utility
//
// ==========================================================================

.-ls1 {
    letter-spacing: $letterSpacingUnit;
}
.-ls1\/2 {
    letter-spacing: $letterSpacingUnit/2;
}