// ==========================================================================
//
//	MARGIN
//
//   Utility
//
//   -m = margin
//   *a = all
//   *t = top
//   *r = right
//   *b = bottom
//   *l = left
//   *h = left and right
//   *v = top and bottom
//   *0 = none
//   *2 = double
//   *1/2 = half
//
// ==========================================================================

@include screen {
    .-mt {
        @include margin($unit n n n);
    }

    .-mb {
        @include margin(n n $unit n);
    }

    .-mt1\/2 {
        @include margin($unit/2 n n n);
    }

    .-ma0 {
        margin: 0 !important;
    }
}