// ==========================================================================
//
//	OUTLINE
//
//   Utility
//
//   -o = outline
//
// ==========================================================================

@include screen {

    .-o-warn {
        outline: 2px solid $colorWarning;
    }
}