// ==========================================================================
//
//	PADDING
//
//   Utility
//
//   -p = padding
//   -t = top
//   -r = right
//   -b = bottom
//   -l = left
//   -x = left and right
//   -y = top and bottom
//   0 = none
//   2 = double
//
// ==========================================================================

@include screen {

    .-pa {
        @include padding($unit);
        //&\! {
        //    @include padding($unit, $important: true);
        //}
    }

    .-pa2 {
        @include padding($unit * 2);
    }

    .-pa0 {
        padding: 0;
    }



    // North / South

    .-pv {
        @include padding($unit n);
    }

    .-pv2 {
        @include padding(($unit * 2) n);
    }

    .-pv4 {
        @include media-query(orig m l) {
            @include padding(($unit * 4) n);
        }
    }


    // East / West

    //.-ph {
    //    @include padding(n $unit);
    //}
    //
    //.-ph2 {
    //    @include padding(n ($unit * 2));
    //}


    // Top, Right, Bottom, Left

    .-pt {
        @include padding($unit n n n, dir);
    }
    .-pt0 {
        padding-top: 0;
    }
    //
    .-pr {
        @include padding(n $unit n n);
    }
    //
    .-pb {
        @include padding(n n $unit n);
    }
    //
    //.-pl {
    //    @include padding(n n n $unit);
    //}
}

