// ==========================================================================
//
//	TEXT-COLOR
//
//   Utility
//
// ==========================================================================

@include screen {

    .-c-pos {
        color:color(success);
    }
    .-c-neg {
        color: color(error);
    }
    //.-c-warn {
    //    color:color(warning);
    //}
    //
    //.-c1 {
    //    color:color(primary);
    //}
    //.-c2 {
    //    color:color(secondary);
    //}
    //.-c3 {
    //    color:color(tertiary);
    //}
    //.-c4 {
    //    color:color(quaternary);
    //}
    //.-c5 {
    //    color:color(quinary);
    //}
    //.-c6 {
    //    color:color(senary);
    //}
    //
    //.-c-white {
    //    color:$white;
    //}
}

