// ==========================================================================
//
//	VISIBILITY
//
//   Utility Group
//
//   -vs* = Visibility
//   -hidden = Hidden (Taking up space but not visible)
//   -visible = Visible
//
// ==========================================================================

@include screen {
    .-vs-hidden {
        visibility: hidden !important;
    }
}