// ==========================================================================
//
//	WHITE-SPACE
//
//   Utility Group
//
// ==========================================================================

@include screen {

    .-ws-normal {
        white-space: normal !important;
    }
}