
    {% switch block.type %}

        {% case "footerEntry" %}
            {%- set itemIconClass = ( block.footerOptions.contains("iconOnly") ? " +icons" : "") -%}
            {%- set ownRowClass = (block.footerOptions.contains("clearItems") ? " class=+own-row" : "")  %}

            <li class="{{ ownRowClass }}{{ itemIconClass }}">
                {% set links = block.footerLink %}
                {% for link in links %}
                <article class="p-footer-item{{ itemIconClass }}">
                    {% if block.heading | length %}
                        {% set heading = block.heading %}
                    {% else %}
                        {% set heading = link.title %}
                    {% endif %}
                    {% set link = block.footerLink.first() %}
                    {% if link | length %}
                        <h2><b><a href="{{ link.url }}">{{ heading }}</a></b></h2>
                    {% else %}
                        <h2>{{ heading }}</h2>
                    {% endif %}
                    {% if link.brief|length %}
                        {% if block.readMore == '1' %}
                        <p>{{ link.brief | striptags | typogrify |slice(0,124) }}&hellip;<br><a href="{{ link.url }}"><span aria-hidden="true">{{ "Read more" | t }}</span><span class="-hide">{{ "Continue reading" | t }} "{{ heading }}"</span></a></p>
                        {% else %}
                        <p>{{ link.brief | striptags | typogrify }}</p>
                        {% endif %}
                    {% else %}
                    {% endif %}
                </article>
                {% endfor %}
            </li>

        {% case "footerEntryList" %}
            {% if block.emblems == 1 %}
            {% set listClass = " +grid" %}
            {% endif %}
            {%- set itemIconClass = ( block.footerOptions.contains("iconOnly") ? " +icons" : "") -%}
            {%- set ownRowClass = (block.footerOptions.contains("clearItems") ? " class=+own-row" : "")  %}
            <li{{ ownRowClass }}>
                <div class="p-footer-item{{ itemIconClass }}">
                    <article>
                        {% if block.footerLink | length %}
                        {% set link = block.footerLink.first() %}
                        {% endif %}
                        {% if link | length %}
                            <h2><b><a href="{{ link.url }}">{{ block.heading }}</a></b></h2>
                        {% else %}
                            <h2>{{ block.heading }}</h2>
                        {% endif %}
                        {% set entries = block.entries %}
                        <ul class="p-footer-articles{{listClass}}">
                        {% for entry in entries %}
                            <li>
                            {% if block.emblems %}
                                {% if entry.emblemSvg %}
                                    {% set emblemImage = entry.emblemImage.first() %}
                                    <a href="{{ entry.url }}" title="{{ entry.title }}"><img src="{{ emblemImage.getUrl }}" alt="{{ entry.title }}"></a>
                                {% elseif entry.emblemImage %}
                                    {% set emblemImage = entry.emblemImage.first() %}
                                    <a href="{{ entry.url }}" title="{{ entry.title }}"><img src="{{ emblemImage.getUrl('icon') }}" srcset="{{ emblemImage.getUrl('icon2x') }} 2x" alt="{{ entry.title }}"></a>
                                {% endif %}
                            {% else %}
                                {% if entry.indexHeading | length %}
                                    {% set articleTitle = entry.indexHeading %}
                                {% else %}
                                    {% set articleTitle = entry.title %}
                                {% endif %}
                                <a href="{{ entry.url }}">{{ articleTitle }}</a>
                            {% endif %}
                                <!--{{ entry.brief|striptags|slice(0,50) }}-->
                            </li>
                        {% endfor %}
                        </ul>
                    </article>
                </div>
            </li>

        {% case "footerContent" %}

            {%- set itemIconClass = ( block.footerOptions.contains("iconOnly") ? " +icons" : "") -%}
            {%- set ownRowClass = (block.footerOptions.contains("clearItems") ? " class=+own-row" : "")  %}
            <li{{ ownRowClass }}>
                <div class="p-footer-item{{ itemIconClass }}">
                    <article>
                    {% if block.heading %}
                        {% if block.footerLink | length %}
                        {% set link = block.footerLink.first() %}
                        {% elseif block.entry | length %}
                        {% set link = block.entry.first() %}
                        {% endif %}
                        {% if link | length %}
                            <h2><b><a href="{{ link.url }}">{{ block.heading }}</a></b></h2>
                        {% else %}
                            <h2>{{ block.heading }}</h2>
                        {% endif %}
                    {% endif %}
                    {% include "_includes/footer/_footer-info-table" %}
                    {% if block.footerContent %}
                        {{ block.footerContent | typogrify }}
                    {% endif %}
                    </article>
                </div>
            </li>


    {% endswitch %}

