{%- if block.entry | length -%}
    {%- set entries = block.entry -%}
    {%- set siteAddress = siteUrl -%}
    {%- for entry in entries -%}
    <dl>
        {%- set infoType = block.infoType -%}
        {%- if infoType == 'contact' -%}
            {%- set infoTable = entry.contactTable -%}
        {%- elseif infoType == 'address' -%}
            {%- set infoTable = entry.addressTable -%}
        {%- else -%}
            {%- set infoTable = entry.infoTable -%}
        {%- endif -%}
        {%- for row in infoTable -%}
            {%- if row.detail == "img" -%}
            {%- elseif 'organization' in row.label|lower -%}
            {%- else -%}
                {%- if infoType != 'contact' -%}
                    <dt>{{ row.label }}</dt>
                {%- else -%}
                    <dt class="-hide">{{ row.label }}</dt>
                {%- endif -%}
                {%- set ddClass = '' -%}
                {%- if infoType == 'contact' -%}
                    {%- if block.footerOptions.contains("iconOnly") -%}
                        {%- set ddClass = ' class=+icon-only' -%}
                    {%- else -%}
                        {%- set ddClass = ' class=+icons' -%}
                    {%- endif -%}
                {%- endif -%}
                <dd title="{{ row.label }}"{{ ddClass }}>
                {%- if infoType == 'address' -%}
                    <span>
                        {%- if entry.streetAddress | length or entry.country | length -%}
                            {%- set address = entry -%}
                            {%- include "_includes/_address-field" -%}
                        {%- endif -%}
                    </span>
                {%- elseif infoType == 'contact' -%}
                    <span>
                        {%- if row.label|lower starts with "url" or row.label|lower starts with "web" -%}
                        {%- elseif row.label|lower starts with "tel" or row.label|lower starts with "phone" -%}
                            {% set linkTel = ( row.link | length ? row.link : row.detail | replace(" ", "") | replace("(", "") | replace(")", "") ) %}
                            <svg class="c-svgicon c-svgicon--phone" aria-hidden="true">
                                 <title>Phone</title>
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-phone"></use>
                             </svg>
                            <a href="tel:{{ linkTel }}" data-label="{{ row.detail }}" title="{{ row.detail }}">{{ row.detail }}</a>
                        {%- elseif row.label|lower == "twitter" -%}
                            {%- set detail = row.detail|replace('@', '') -%}
                            <svg class="c-svgicon c-svgicon--twitter" aria-hidden="true">
                                <title>Twitter</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-twitter"></use>
                            </svg>
                            <a href="http://twitter.com/{{detail}}" target="_blank" rel="noopener" data-label="{{ row.detail }}" title="{{ row.detail }}">@{{ detail }}</a>
                        {%- elseif row.label|lower == "facebook" -%}
                            <svg class="c-svgicon c-svgicon--facebook" aria-hidden="true">
                                <title>Facebook</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-facebook"></use>
                            </svg>
                            <a href="{{ row.link }}" target="_blank" rel="noopener" data-label="{{ row.detail }}" title="{{ row.detail }}">{{ row.detail }}</a>
                        {%- elseif row.label|lower == "linkedin" -%}
                            <svg class="c-svgicon c-svgicon--linkedin" aria-hidden="true">
                                <title>LinkedIn</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-linkedin"></use>
                            </svg>
                            <a href="{{ row.link }}" target="_blank" rel="noopener" data-label="{{ row.detail }}" title="{{ row.detail }}">{{ row.detail }}</a>
                        {%- elseif row.label|lower == "google" -%}
                            <svg class="c-svgicon c-svgicon--google-plus" aria-hidden="true">
                                <title>Google Plus</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-google-plus"></use>
                            </svg>
                            <a href="{{ row.link }}" target="_blank" rel="noopener" data-label="{{ row.detail }}" title="{{ row.detail }}">{{ row.detail }}</a>
                        {%- elseif row.label|lower == "youtube" -%}
                            <svg class="c-svgicon c-svgicon--youtube" aria-hidden="true">
                                <title>YouTube</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-youtube"></use>
                            </svg>
                            <a href="{{ row.link }}" target="_blank" rel="noopener" data-label="{{ row.detail }}" title="{{ row.detail }}">{{ row.detail }}</a>
                        {%- elseif row.label|lower == "instagram" -%}
                            <svg class="c-svgicon c-svgicon--instagram" aria-hidden="true">
                                <title>Instagram</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-instagram"></use>
                            </svg>
                            <a href="{{ row.link }}" target="_blank" rel="noopener" data-label="{{ row.detail }}" title="{{ row.detail }}">{{ row.detail }}</a>
                        {%- elseif row.label|lower == "email" or row.label|lower == "e-mail" -%}
                            <svg class="c-svgicon c-svgicon--email" aria-hidden="true">
                                <title>Email</title>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-email"></use>
                            </svg>
                            <a href="mailto:{{row.detail}}" data-label="{{ row.detail }}" title="{{ row.detail }}">{{ row.detail }}</a>
                        {%- elseif row.link | length -%}
                        <a href="{{ row.link }}">{{ row.detail }}</a>
                        {%- else -%}
                            {%- set facebookProfileId = row.detail -%}
                        {{ row.detail }}
                        {%- endif -%}
                    </span>
                {%- else -%}
                    {%- if row.link | length -%}
                        <a href="{{ row.link }}">{{ row.detail }}</a>
                    {%- else -%}
                        {{ row.detail }}
                    {%- endif -%}
                {%- endif -%}
            </dd>
         {%- endif -%}
   {%- endfor -%}
    </dl>
    {%- endfor -%}
    {%- endif -%}

    {%- if block.infoTable | length -%}
    <dl>
        {%- for row in block.infoTable -%}
            <dt>{{ row.label }}</dt>
            {%- if row.link -%}
                <dd><a href="{{ row.link }}">{{ row.detail }}</a></dd>
            {%- else -%}
                <dd>{{ row.detail }}</dd>
            {%- endif -%}
        {%- endfor -%}
    </dl>
{%- endif -%}