// ==========================================================================
//
//	ELEMENTS
//
//   - Combines the Normalize (git.io/normalize)
//   - and the reset at csswizardry.com/2011/10/reset-restarted
//   - with GCD and PW's own preferences
//
// ==========================================================================



@charset "UTF-8";

* {
	&[dir="ltr"] {
		direction: ltr;
	}
	&[dir="rtl"] {
		direction: rtl;
	}
}

bdo {
	&[dir="ltr"] {
		direction: ltr;
		unicode-bidi: bidi-override;
	}
	&[dir="rtl"] {
		direction: rtl;
		unicode-bidi: bidi-override;
	}
}

//	CSS Variables 

:root {
	@each $name, $value in $vars {
		@include get-var($name);
	}
}

@if length($varsSm) > 0 {
	@include screen-size(sw) {
		:root {
			@each $name, $value in $varsSm {
				@include get-var($name, $varsSm);
			}
		}
	}
}

@if length($varsMd) > 0 {
	@include screen-size(mw) {
		:root {
			@each $name, $value in $varsMd {
				@include get-var($name, $varsMd);
			}
		}
	}
}

@if length($varsMdMh) > 0 {
	@include screen-size(mw-mh) {
		:root {
			@each $name, $value in $varsMdMh {
				@include get-var($name, $varsMdMh);
			}
		}
	}
}

@if length($varsTNav) > 0 {
	@include screen-size(tnav) {
		:root {
			@each $name, $value in $varsTNav {
				@include get-var($name, $varsTNav);
			}
		}
	}
}

@if length($varsLg) > 0 {
	@include screen-size(lw) {
		:root {
			@each $name, $value in $varsLg {
				@include get-var($name, $varsLg);
			}
		}
	}
}

@if length($varsDark) > 0 {
	@media (prefers-color-scheme: dark) {
		:root {
			@each $name, $value in $varsDark {
				@include get-var($name, $varsDark);
			}
		}
	}
}

// 	BOX MODEL
//	This works for IE8 and above.
//	For IE7, there'll need to be tweaks
// ==========================================================================

@if $globalBorderBox == true{
//Let’s make the box model all nice, shall we...?
	* {
		&,
		&:before,
		&:after {
			box-sizing: border-box;
		}
	}
}

// Smooth transitions
// ==========================================================================

@include screen-size(mw) {
	@if $smoothness != 0 {
		:hover {
			transition: $t;
		}
	}
}

// Remove margins and padding
// ==========================================================================

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}


img,
embed,
object,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
	max-width: 100%;
}

main {
	display: block;
}

// 	HTML & BODY
// ==========================================================================


html {
	@include base-font-size;
	@include var(font-family, font-family-1);
	// Pixel to em adjustment /mixins/functions/_px-to-em.scss
	font-size-adjust: none;
	// Setting for Firefox. Adjust for specific elements if needed.
	// webdesignernotebook.com/css/the-little-known-font-size-adjust-css3-property/
	line-height:$lineHeightRatio;
	min-height: 100%;
	//overflow-y: scroll;
	// Prevent iOS text size adjust after orientation change, without disabling:
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	//

	@if $globalBorderBox == true{
		box-sizing: border-box;
	}
}

body {
	@include var(color, color-text);
	position: relative;
	width: 100%;
	@include screen {
		@include legibility;
		@include font-features;
		@include font-variant($fontLigatures);
		@include var(background-color, color-blackscreen);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@include screen-size(mh) {
		@include var(background-color, color-nav);
	}
	@include screen-size(sw) {
		overflow-x:hidden;
	}
}

// Links
// ==========================================================================

a {
	@include link(color-link, var);
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}
}

// Headings
// ==========================================================================

%break-header {
	@include breaker;
}

@mixin h(
	$hSize: false,
	$hSizeMicro: false,
	$hSizeMd: false,
	$hWeight: false,
	$hWeightMicro: false,
	$hWeightMd: false,
	$hLineHeightRatio: false,
	$hColor: false,
	$hFontFamily: false,
	$hTextTransform: false
) {
	@if $hSize != false {
		@if $hSize == inherit {
			font-size: $hSize;
		} @else {
			font-size: map-get($fontSize, $hSize);
		}
	}
	@if $hWeight != false {
		font-weight: $hWeight;
	}
	@if $hLineHeightRatio != false {
		line-height: $hLineHeightRatio;
	}
	@if $hColor != false {
		color: $hColor;
	}
	@if $hFontFamily != false {
		font-family: $hFontFamily;
	}
	@if $hTextTransform != false {
		text-transform: $hTextTransform;
	}
	@if $hSizeMd != false or $hSizeMd != inherit or $hWeightMd != false {
		@include screen-size(mw-mh) {
			@if $hSizeMd != false or $hSizeMd != inherit  {
				font-size: map-get($fontSize, $hSizeMd);
			}
			@if $hWeightMd != false {
				@include font-weight($hWeightMd);
			}
		}
	}
	@if $hSizeMicro != false or $hSizeMicro != inherit  or $hWeightMicro != false {
		@include screen-size(xsw-) {
			@if $hSizeMicro != false or $hSizeMicro != inherit  {
				font-size: map-get($fontSize, $hSizeMicro);
			}
			@if $hWeightMicro != false {
				font-weight: $hWeightMicro;
			}
		}
	}
}

@mixin h1 {
	@if $h1Break == true {
		@extend %break-header;
	}
	@include h(
			$h1Size,
			$h1SizeMicro,
			$h1SizeMd,
			$h1Weight,
			$h1WeightMicro,
			$h1WeightMd,
			$h1LineHeightRatio,
			$h1Color,
			$h1FontFamily,
			$h1TextTransform
	);
}

h1 {
	@include h1;
}

h2 {
	@if $h2Break == true {
		@extend %break-header;
	}
	@include h(
		$h2Size,
		$h2SizeMicro,
		$h2SizeMd,
		$h2Weight,
		$h2WeightMicro,
		$h2WeightMd,
		$h2LineHeightRatio,
		$h2Color,
		$h2FontFamily,
		$h2TextTransform
	);
}

h3 {
	@if $h3Break == true {
		@extend %break-header;
	}
	@include h(
		$h3Size,
		$h3SizeMicro,
		$h3SizeMd,
		$h3Weight,
		$h3WeightMicro,
		$h3WeightMd,
		$h3LineHeightRatio,
		$h3Color,
		$h3FontFamily,
		$h3TextTransform
	);
}

h4 {
	@if $h4Break == true {
		@extend %break-header;
	}
	@include h(
		$h4Size,
		$h4SizeMicro,
		$h4SizeMd,
		$h4Weight,
		$h4WeightMicro,
		$h4WeightMd,
		$h4LineHeightRatio,
		$h4Color,
		$h4FontFamily,
		$h4TextTransform
	);
}

h5 {
	@if $h5Break == true {
		@extend %break-header;
	}
	@include h(
		$h5Size,
		$h5SizeMicro,
		$h5SizeMd,
		$h5Weight,
		$h5WeightMicro,
		$h5WeightMd,
		$h5LineHeightRatio,
		$h5Color,
		$h5FontFamily,
		$h5TextTransform
	);
}

h6 {
	@if $h6Break == true {
		@extend %break-header;
	}
	@include h(
		$h6Size,
		$h6SizeMicro,
		$h6SizeMd,
		$h6Weight,
		$h6WeightMicro,
		$h6WeightMd,
		$h6LineHeightRatio,
		$h6Color,
		$h6FontFamily,
		$h6TextTransform
	);
}

// Lists
// ==========================================================================

ul {
	list-style: none;
}

dt {
	font-weight:$dtWeight;
}

// Code
// ==========================================================================

code,
kbd,
pre,
samp {
	@include font-size(font-size(alpha));
	font-family: font-family(mono);
}

kbd kbd {
	background-color: color(shade, $shadeAmount);
	border: 1px solid color(shade, $shadeAmount);
	margin: 0 .1em;
	padding: .25em;
}

pre {
	white-space: pre-wrap;
}

// Form
// ==========================================================================

// fieldset

fieldset {
	border: 0;
}

// label

label {
	cursor: pointer;
	display: inline;
	input {
		@include margin(n ($unit/2) n n);
	}
}

// input

button,
input,
select,
textarea {
	@include legibility;
	font-family: inherit;
	font-size: 100%;
	// Correct font size not being inherited in all browsers.
	margin: 0;
	// Address margins set differently in Firefox 4+, Safari 5, and Chrome.
	&[disabled] {
		cursor: default;
		// Re-set default cursor for disabled elements.
	}
	&[readonly] {
		cursor: not-allowed;
	}
}

button,
select {
	text-transform: none;
	// Address inconsistent `text-transform` inheritance for `button` and `select`
}

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
	&:focus, &:active {
		cursor: text;
	}
}

input[type="color"] {
	line-height:1;
	padding:0;
	min-height:$touchTarget;
	min-width:$touchTarget;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	// Remove excess padding in IE 8/9.
}

// button element reset

button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	user-select: none; // for button 
	-webkit-appearance: button; // for input 
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

// textarea

textarea {
	overflow: auto;
	// Remove default vertical scrollbar in IE 8/9.
	vertical-align: top;
	// Improve readability and alignment in all browsers.
	&:focus, &:active {
		cursor: text;
	}
}

::-webkit-input-placeholder { color: color(text, $fade/2); } 		// Webkit
:-moz-placeholder { color: color(text, $fade/2); } 					// Old Firefox
::-moz-placeholder { color: color(text, $fade/2); } 				// New Firefox
:-ms-input-placeholder { color: color(text, $fade/2) !important; } 	// MS Explorer
::-ms-input-placeholder { color: color(text, $fade/2); } 			// MS Edge
::placeholder { color: color(text, $fade/2); } 						// CSS Working Draft

// Inline Elements
// ==========================================================================

b, strong {
	@include font-weight(bold);
	i, em {
		@if $boldItalicFontFamily != inherit {
			font-family: $boldItalicFontFamily;
		}
	}
}

i, em {
	@include font-style(italic);
	b, strong {
		@if $boldItalicFontFamily != inherit {
			font-family: $boldItalicFontFamily;
		}
	}
}

small {
	@include font-size(font-size(milli));
}

u, ins {
	text-decoration: underline;
}
u.typo {
	text-decoration: none;
	border-bottom: 1px dashed color(error);
}

dfn, var {
	@include font-style(italic);
	// Address styling not present in Safari 5 and Chrome.
}

mark {
	color: color(text);
	background-color: color(shade, $shadeAmount);
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

// Quotations
// ==========================================================================

q {
	quotes: "“" "”" "‘" "’";

	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}

	q {
		&:before {
			content: open-quote;
		}
		&:after {
			content: close-quote;
		}
	}
}

blockquote {
	quotes: "#{$openQuote}" "#{$closeQuote}";

	p {
		+ p {
			@include margin($unit n n n);
		}
	}

	q {
		&:before {
			content: "\2018";
			content: open-quote;
		}
		&:after {
			content: "\2019";
			content: close-quote;
		}
	}
	footer {
		display: block;
		margin-top:$verticalSpace/2;
		text-indent: 0;

		&:before {
			content: "\2014";
		}
	}
}




// Media
// ==========================================================================

img {
	@include is-old-ie {
		border: 0;
		// Remove border when inside `a` element in IE 8/9.
	}
	font-style: italic;
	// So that `alt` text is visually offset if images don’t load.
	&[width] {
		width: auto;
	}

	&[src$=".gif"],
	&[src$=".png"] {
		//@include image-rendering(optimize-contrast);
	}

	&:before {
		content: "We're sorry, the image below is broken :(";
		display: block;
		margin-bottom: $unit/2;
	}

	&:after {
		content: "(url: " attr(src) ")";
		display: block;
		font-size: font-size(milli);
	}
}

audio {
	&:not([controls]) {
		display: none;
		// Prevent modern browsers from displaying `audio` without controls.
		height: 0;
		// Remove excess height in iOS 5 devices.
	}
}

svg {
	&:not(:root) {
		overflow: hidden;
		// Correct overflow displayed oddly in IE 9.
	}
}

// Rules
// ==========================================================================

hr {
	@include rem(margin-bottom, $verticalSpace - 2px);
	@include is-old-ie {
		background-color: color(shade-safe);
	}
	@include is-not-old-ie {
		background-color: color(shade, $shadeAmount);
	}
	border: 0;
	box-sizing: content-box;
	height: 1px;

	&.-clear {
		height: 0;
		opacity: 0;
	}

	.\~dark & {
		@include is-old-ie {
			background-color: color(tint-safe);
		}
	}
	@include color-scheme(dark, $classDark) {
		background-color: color(tint, $tintAmount/3);
	}
}

// Table
// ==========================================================================

table {
	// Remove most spacing between table cells.
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}

th {
	vertical-align: bottom;
}

td {
	vertical-align: top;
}

// Additional elements
// ==========================================================================

summary {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

// Scripting
// ==========================================================================

// Add the correct display in IE 9-.

canvas {
	display: inline-block;
}

// Add the correct display in IE.

template {
	display: none;
}

// Hidden
// ==========================================================================

// Add the correct display in IE 10-.

[hidden] {
	display: none;
}





.disable-hover,
.disable-hover * {
	pointer-events: none !important;
}