{% extends "_entry" %}

{% if craft.request.getParam('subject') | length %}
    {% set subject = craft.request.getParam('subject') %}
{% else %}
    {% set subject = '' %}
{% endif %}

{% if craft.request.getParam('f') == 'forweb' %}
    {% set formTitle = 'Write for the website' %}
    {% set subjectLabel = 'Title' %}
    {% set messageLabel = 'Article content' %}
    {% set fileAttachment %}
        <div class="c-form__item">
            <label class="c-label" for="subject">Attachment (eg. Photo)</label>
            <div class="c-field">
                <input type="file" name="attachment" aria-label="Attachment">
            </div>
        </div>
    {% endset %}
    {% set phoneNumber = '' %}
{% else %}
{% set formTitle = 'Send us a message!' %}
{% set subjectLabel = 'Subject' %}
    {% set messageLabel = 'Message' %}
    {% set fileAttachment = '' %}
    {% set phoneNumber %}
    <div class="c-form__item is-optional">
        <label class="c-label" for="phone">Phone</label>
        <div class="c-field">
            <input id="phone" type="tel" name="message[Phone]" value="" aria-label="Phone Number">
        </div>
    </div>
    {% endset %}
{% endif %}

{% block customHtml %}

    {% macro errorList(errors) %}
    {% if errors %}
        {% for error in errors %}
        <span class="c-field__error">{{ error }}</span>
        {% endfor %}
    {% endif %}
    {% endmacro %}

    {% from _self import errorList %}
    <form method="post" action="" accept-charset="UTF-8" class="o-block-xsm c-support js-anim" enctype="multipart/form-data" id="contact-form">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="contactForm/sendMessage">
            <input type="hidden" name="redirect" value="contact/thanks?from={fromName}">
        <fieldset class="c-form -bt has-required-fields">
            <h2 class="c-form__title">{{ formTitle }}</h2>
            <div class="c-form__item is-required">
                <label class="c-label" for="fromName">Name</label>
                <div class="c-field">
                    <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}" aria-label="Name">
                    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                </div>
            </div>
            <div class="c-form__item is-required">
                <label class="c-label" for="fromEmail">Email</label>
                <div class="c-field">
                    <input id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" aria-label="Email Address">
                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                </div>
            </div>
            <div class="c-form__item">
                <label class="c-label" for="subject">{{ subjectLabel }}</label>
                <div class="c-field">
                    <input id="subject" type="text" name="subject" value="{{ subject }}{% if message is defined %}{{ message.subject }}{% endif %}" aria-label="Subject">
                </div>
            </div>
            <div class="c-form__item is-required">
                <label class="c-label" for="message">{{ messageLabel }}</label>
                <div class="c-field">
                    <textarea id="message" name="message[body]" aria-label="Message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}
                    <!--<input type="file" name="attachment">-->
                </div>
            </div>
            {{ fileAttachment }}
            {{ phoneNumber }}

            <input id="favouriteColour" name="favouriteColour" type="text">

            <div class="c-form__actions">
                {#<button#}
                        {#class="c-button +pos g-recaptcha"#}
                        {#data-sitekey="6Lc-lRwUAAAAABnrOcDWKZA9n_l9B8f_9HBfaAYX"#}
                        {#data-callback="YourOnSubmitFn" type="submit">#}
                    {#Send#}
                {#</button>#}
                <button class="c-button +1" type="submit">Send</button>
                {#<button class="c-button +quiet" type="reset">Clear</button>#}
            </div>
        </fieldset>
    </form>

{% endblock %}

{% set GAJs %}
    // Using jQuery Event API v1.3
    jQuery(document).ready(function(e) {
        e('#send-button').on('click', function() {
          ga('send', 'event', 'button', 'click', 'send-button');
        });
    });
{% endset %}

{% includeJs GAJs %}