{% extends "_entry" %}
{% set title = "Contact" %}

{% block articleSummary %}
<div class="-pa2 -fill-shade -tc -fs2"><p>Thanks for your message, {{ craft.request.getQuery('from') }}</p></div>
{% endblock %}
