/* Palette */

$diRed					: #9c243e;
$brand1					: #3a3837; $brand1text: color-white;
$brand2					: #5eacb3; $brand2text: color-white;
$brand3					: #ac5353; $brand3text: color-white;
$brand4					: #999a4c; $brand4text: color-white;
$brand5					: #7c5a97; $brand5text: color-white;
$brand6					: #5372ab; $brand6text: color-white;
$site					: #f7f7f7;
$white					: #f7f7f7; $whiteText: color-white;


$themeColors: (
		footer			: $brand1,
		site			: $site,
		white			: $white,

	/* Text colors */
		text			: lighten($brand1, 10%),
		text-quiet		: lighten($brand1, 30%),
		link			: $brand2,
		link-alt		: $brand2,

	/* Brand colors */
		primary			: $brand1,
		secondary		: $brand2,			// tertiary, quaternary, quinary ...
		tertiary		: $brand3,			// tertiary, quaternary, quinary ...
		quaternary		: $brand4,			// tertiary, quaternary, quinary ...
		quinary			: $brand5,			// tertiary, quaternary, quinary ...
		senary			: $brand6,			// tertiary, quaternary, quinary ...

	/* Theme */
		dark			: $brand1,

	/* Tint and Shade */
		tint-safe		: lighten($site, 10%),
		shade-safe		: darken($site, 5%),

	/* UI colors */
		border			: darken($site, 10%),
		nav				: $brand2,
		nav-rev			: $white,
);

// Text on Dark Bg
$textLightColor			: color-white;
$linkLightColor			: color-link-alt;
$footerText				: $textLightColor;

$color : map_merge($preColors, $themeColors);

/* Base typography */

$fontStack1			: "Work Sans Custom", $systemFontsSansSerif;
$fontStack1Italic	: "Alegreya", "Work Sans Custom", $systemFontsSansSerif;
$fontSettings2		: default;
$fontSpacing2		: 0;
$fontWeight2		: default;
$fontTransform2		: none;
$fontSettings3		: default;
$fontSpacing3		: 0;
$fontWeight3		: default;
$fontTransform3		: none;
$fontStackArticle	: "Alegreya", $systemFontsSerif;

$fontSizeRatio		: $augmentedFourth; 		// [variable]

$themeFontFamily: (
		primary			: $fontStack1,
		secondary		: inherit,
		tertiary		: inherit,
		article			: $fontStackArticle,
		asset			: $fontStack1
);

$baseFontFamily		: map-get($themeFontFamily, primary);

$italicFontFamily		: $fontStack1Italic;

	// Headings
	$hWeight			: normal;
	$h1Weight			: $hWeight;
	$h2Weight			: $hWeight;
	$h3Weight			: $hWeight;
	$h3WeightMd			: $hWeight;

$linkVisitedOpacity		: 1;


/* UI
   ========================================================================== */

/* Anchor */
$anchorFontWeight		: normal;

/* Articles */
$articleFontFamily      		: var(--font-family-article);

$articleH1SizeMd            	: epsilon;
$articleH1LineHeightMd      	: 1.15;
$articleH2SizeMd            	: delta;
$articleH3SizeMd            	: gamma;

$articleSummaryColorHover   	: color-link;
$articleSummarySizeMd       	: $articleH3SizeMd;
$articleSummaryWeight       	: normal;

$articleSubtitleSizeMd      	: gamma;
$articleSubtitleLineHeightMd	: 1.2;

$articleMainFontWeight   		: 300;
$articleMainLgFontRatio     	: 1.3;
$articleMainLgrFontRatio     	: 1.4;
$articleMainPadVMd      		: $unit*2;
$articleMainPadVLg      		: $unit*4;
$articleMainSpacing         	: 1em;
$articleMainSpacingLg       	: $articleMainSpacing*1.25;
$articleMainSpacingUnit     	: no;

$articleContentPadXMob      	: default;
$articleContentFigurePull   	: true;

$assetBlockQuoteFontFamily     	: article;
$assetBlockQuoteOpacity     	: 0.85;

$assetFontFamily      			: var(--font-family-1);

/* Buttons */
$buttonFontFamily		: $baseFontFamily;
$buttonColor			: darken(map-get($themeColors, site), 10%);
$buttonFontWeight     	: normal;

/* Captions*/
$captionOpacity			: 0.8;

/* Form */
$fieldBg				: transparent;
$fieldBgInvalid			: transparent;
$fieldBgRequired		: transparent;
$fieldBgSuccess	    	: transparent;
$fieldBorderColor		: map-get($themeColors, border);
$fieldBorderWidth		: $borderWidth;

/* Hero Emblem */
$emblemMaxW         	: $unit*22;
$emblemMaxWMdMx     	: 44%;

/* Navigation */
$navItemWeight			: normal;

/* Site Header */
$siteHeaderHeightMd		: $unit * 5;
$siteHeaderHeightLg		: $unit * 7;
$siteHeaderImgWidth		: 26px;
$siteHeaderImgWidthLg	: 34px;
$siteHeaderImgHeightLg	: 34px;

/* Site Quick Nav */
$siteQuickNavBg         : color-1;

/* Support */
$supportListSpacing     : 0;
$supportPaddingMd      	: $unit*4 n;
$supportHPadding 		: n n $unit n;
$supportHTitlePadding 	: n n $unit n;
$supportHTitleDisplay 	: inline-block;
$supportHTitleBorder  	: 2px solid currentColor;
$supportHTitleSize    	: delta;
$supportHWeight       	: $hWeight;


/* CSS Variables
   ========================================================================== */

$varTheme : (
	color-white		: map_get($color, white),
	color-1			: map_get($color, primary),
	color-2			: map_get($color, secondary),
	color-3			: map_get($color, tertiary),
	color-4			: map_get($color, quaternary),
	color-5			: map_get($color, quinary),
	color-6			: map_get($color, senary),

	color-site		: map_get($color, site),
	color-text		: map_get($color, text),
	color-link		: map_get($color, link),
	color-link-alt	: map_get($color, white),

	color-nav			: map_get($color, secondary),
	color-nav-rev		: map_get($color, nav-rev),
	color-nav-light		: lighten(map_get($color, nav), 12%),
	color-nav-hover		: darken(map_get($color, nav), 5%),
	color-nav-active	: darken(map_get($color, nav), 10%),

	color-site-foot		: map_get($color, footer),
	color-dark			: map_get($color, dark),

	font-family-1		: map_get($themeFontFamily, primary),
	font-family-article	: map_get($themeFontFamily, article)

);

$varThemeSm : (
);
$varThemeMd : (
);
$varThemeMdMh : (
		site-header-h		: $siteHeaderHeightMd
);
$varThemeTNav : (
);
$varThemeLg : (
		site-header-h		: $siteHeaderHeightLg
);

$varThemeDark : (
		color-site		: map_get($color, dark),
		color-text		: map_get($color, white),
		color-link		: map_get($color, link-alt),
)