/* Palette */

$diRed					: #9c243e;
$brand1					: #4d5659; $brand1text: color-white;
	$brand1D			: darken($brand1, 5%); $brand1Dtext: color-white;
$brand2					: #9c243e; $brand2text: color-white;
	$brand2L			: #ff3b65; $brand2text: color-white;
$brand3					: #ec8b0d; $brand3text: color-white;
$brand4					: #580b74; $brand4text: color-white;
$brand5					: #2c8ae8; $brand5text: color-white;
$brand6					: #84960e; $brand6text: color-white;
$site					: #ffffff;
$white					: #ffffff; $whiteText: color-white;

$themeColors: (
		footer			: $brand1D,
		site			: $site,
		white			: $white,

	/* Text colors */
		text			: $brand1,
		text-quiet		: lighten($brand1, 20%),
		link			: $brand2,
		link-alt		: $brand2L,

	/* Brand colors */
		primary			: $brand1D,
		secondary		: $brand2,			// tertiary, quaternary, quinary ...
		tertiary		: $brand3,			// tertiary, quaternary, quinary ...
		quaternary		: $brand4,			// tertiary, quaternary, quinary ...
		quinary			: $brand5,			// tertiary, quaternary, quinary ...
		senary			: $brand6,			// tertiary, quaternary, quinary ...

	/* Theme */
		dark			: darken($brand1, 10%),

	/* Tint and Shade */
		tint-safe		: lighten($site, 10%),
		shade-safe		: darken($site, 5%),

	/* UI colors */
		border			: darken($site, 10%),
		nav				: $brand2,
		nav-rev			: $white,
);

// Text on Dark Bg
$textLightColor			: color-white;
$linkLightColor			: color-link-alt;
$footerText				: $textLightColor;

$color : map_merge($preColors, $themeColors);

/* Base typography */

$fontStack1			: 'Metro Nova Pro Custom', $systemFontsSansSerif;
$fontStack2			: 'GiorgioSans', 'Metro Nova Pro Custom', $systemFontsSansSerif;
$fontSettings2		: default;
$fontWeight2		: default;
$fontTransform2		: none;
$fontSpacing2		: 0;
$fontSettings3		: "ss01" 1;
$fontSpacing3		: -0.05em;
$fontWeight3		: 900;
$fontTransform3		: none;

$themeFontFamily: (
		primary				: $fontStack1,
		secondary			: $fontStack2,
		tertiary			: inherit,
		article				: inherit,
		asset				: inherit
);

$baseFontFamily		: map-get($themeFontFamily, primary);


/* UI
   ========================================================================== */

/* Buttons */
$buttonFontFamily		: $baseFontFamily;
$buttonColor			: darken(map-get($color, site), 10%);

/* Fieldsy */
$checkBoxColor				: currentColor;
$checkBoxBorderWidth		: 2px;

/* Framework */
$siteHeaderImgWidth		: 122px;
$siteHeaderImgWidthLg	: $siteHeaderImgWidth;

/* Support */
$supportHLgFFamily 		: default;
$supportHLgFWeight 		: 900;
$supportHLgFFSettings 	: $fontSettings3;
$supportHLgLSpacing 	: $fontSpacing3;
$supportHLgTTransform 	: uppercase;

/* CSS Variables
   ========================================================================== */

$varTheme : (
	color-white		: map_get($color, white),
	color-1			: map_get($color, primary),
	color-2			: map_get($color, secondary),
	color-3			: map_get($color, tertiary),
	color-4			: map_get($color, quaternary),
	color-5			: map_get($color, quinary),
	color-6			: map_get($color, senary),

	color-site		: map_get($color, site),
	color-text		: map_get($color, text),
	color-link		: map_get($color, link),
	color-link-alt	: map_get($color, white),

	color-nav			: map_get($color, secondary),
	color-nav-rev		: map_get($color, nav-rev),
	color-nav-light	: lighten(map_get($color, nav), 12%),
	color-nav-hover	: darken(map_get($color, nav), 5%),
	color-nav-active	: darken(map_get($color, nav), 10%),

	color-site-foot	: map_get($color, footer),
	color-dark		: map_get($color, dark),

	font-family-1		: map_get($themeFontFamily, primary),
);

$varThemeSm : (
);
$varThemeMd : (
);
$varThemeMdMh : (
	site-header-h		: $siteHeaderHeightMd
);
$varThemeTNav : (
);
$varThemeLg : (
	site-header-h		: $siteHeaderHeightLg
);

$varThemeDark : (
	color-site		: map_get($color, dark),
	color-text		: map_get($color, white),
	color-link		: map_get($color, link-alt),
)