// Timings
$smoothness				: 0.5;					// [number] (in seconds)
$t						: 1s * $smoothness;
$t1						: $t;
$t2						: $t*2;
$t4						: $t*4;
$t8						: $t*8;

/* Site Colours */

$diRed					: #9c243e;
$brand1					: #6c6b72;  $brand1text: color-white;
$brand2					: #323137;  $brand2text: color-white;
$brand3					: #9b99a4;  $brand3text: default;
$brand4					: #7A505A; 	$brand4text: color-white;		$brand4B				: #B9ABA8;
$brand5					: #517A5A; 	$brand5text: color-white;		$brand5B				: #ACB9A8;
$brand6					: #51537A; 	$brand6text: color-white;		$brand6B				: #A8B1BA;
$site					: #ffffff;
$white					: #ffffff; $whiteText: color-white;


$themeColors: (
		footer			: $site,
		site			: $site,
		white			: $white,

	/* Text colors */
		text			: $brand1,
		text-quiet		: lighten($brand1, 20%),
		link			: $brand2,
		link-alt		: $brand2,

	/* Brand colors */
		primary			: $brand1,
		secondary		: $brand2,			// tertiary, quaternary, quinary ...
		tertiary		: $brand3,			// tertiary, quaternary, quinary ...
		quaternary		: $brand4,			// tertiary, quaternary, quinary ...
		quinary			: $brand5,			// tertiary, quaternary, quinary ...
		senary			: $brand6,			// tertiary, quaternary, quinary ...

	/* Theme */
		dark			: $brand2,

	/* Tint and Shade */
		tint-safe		: lighten($site, 10%),
		shade-safe		: darken($site, 5%),

	/* UI colors */
		border			: $brand1,
		nav				: $white,
		nav-rev			: $brand2,
);

// Text on Dark Bg
$textLightColor			: color-white;
$linkLightColor			: color-link-alt;
$footerText				: default;

$color : map_merge($preColors, $themeColors);


/* Base typography */

//$fontStack1			: "Archer Custom", $systemFonts, sans-serif;
$fontStack1				: "CMUTypewriterTextRegular", $systemFontsMonospace;
$fontStack1Bold			: "CMUTypewriterTextBold", $systemFontsMonospace;
$fontStack1Italic		: "CMUTypewriterTextItalic", $systemFontsMonospace;
$fontStack1BoldItalic	: "CMUTypewriterTextBoldItalic", $systemFontsMonospace;
$fontStack2				: "CMUTypewriterTextVariableWidthMedium", $systemFontsMonospace;
$fontSettings2			: default;
$fontSpacing2			: 0;
$fontWeight2			: default;
$fontTransform2			: none;
$fontSettings3			: default;
$fontSpacing3			: 0;
$fontWeight3			: default;
$fontTransform3			: none;

$themeFontFamily: (
		primary				: $fontStack1,
		secondary			: $fontStack2,
		tertiary			: inherit,
		article				: inherit,
		asset				: inherit
);

$baseFontFamily			: map-get($themeFontFamily, primary);

$boldFontFamily			: $fontStack1Bold;
$italicFontFamily		: $fontStack1Italic;
$boldItalicFontFamily	: $fontStack1BoldItalic;

	// Headings
	$hWeight			: normal;
	$h1Weight			: $hWeight;
	$h2Weight			: $hWeight;
	$h3Weight			: $hWeight;

/* General UI */

$borderColor			: map_get($themeColors, border);
$borderWidth 			: 1px;

/* Article */
$articleContentPadXMob      	: default;
$articleContentFigurePull   	: false;

/* Buttons */
$buttonFontFamily		: $baseFontFamily;
$buttonColor			: darken(map-get($color, site), 10%);

/* Form */
$fieldBg				: transparent;
$fieldBgInvalid			: transparent;
$fieldBgRequired		: transparent;
$fieldBgSuccess	    	: transparent;
$fieldBorderColor		: map-get($themeColors, text);
$fieldBorderWidth		: $borderWidth;

/* Footer Items */
$footerItemsOpacityInit : 1;
$footerItemsOwnRowBorder : none;

/* Hero Timing */
$hero-time      		: $t4 * 2;

/* Site Footer */
$siteFooterBorderColor	: map-get($color, border);

/* Site Header */
$siteHeaderFontFamily   : var(--font-family-2);
$siteHeaderImgWidth		: 26px;
$siteHeaderImgWidthLg	: 34px;
$siteHeaderImgHeightLg	: 34px;
$siteHeaderFontFeatures	: "liga" 0;
$siteHeaderBorder		: $borderWidth solid map_get($themeColors, border);

/* Site Search */
$siteSearchFieldBg		: rgba($colorShade, $shadeAmount);
$siteSearchFieldFocusBg	: $siteSearchFieldBg;

/* Footer Brand */
$brandNameFeatures		: $siteHeaderFontFeatures;
$brandTopBorder			: none;
$brandMottoFeatures		: none;
$brandMottoOpacity		: 1;
$brandMottoStyle		: italic;
$brandMottoWeight		: bold;

/* CSS Variables
   ========================================================================== */

$varTheme : (
	color-white		: map_get($color, white),
	color-1			: map_get($color, primary),
	color-2			: map_get($color, secondary),
	color-3			: map_get($color, tertiary),
	color-4			: map_get($color, quaternary),
	color-5			: map_get($color, quinary),
	color-6			: map_get($color, senary),

	color-site		: map_get($color, site),
	color-text		: map_get($color, text),
	color-link		: map_get($color, link),
	color-link-alt	: map_get($color, white),

	color-nav			: map_get($color, nav),
	color-nav-rev		: map_get($color, nav-rev),
	color-nav-light		: darken(map_get($color, nav), 5%),
	color-nav-hover		: darken(map_get($color, nav), 5%),
	color-nav-active	: darken(map_get($color, nav), 10%),

	color-site-foot		: map_get($color, footer),
		color-dark		: map_get($color, dark),

	font-family-1		: map_get($themeFontFamily, primary),
	font-family-2		: map_get($themeFontFamily, secondary)
);

$varThemeSm : (
);
$varThemeMd : (
);
$varThemeMdMh : (
		site-header-h		: $siteHeaderHeightMd
);
$varThemeTNav : (
);
$varThemeLg : (
		site-header-h		: $siteHeaderHeightLg
);

$varThemeDark : (
		color-site		: map_get($color, dark),
		color-text		: map_get($color, white),
		color-link		: map_get($color, link-alt),
)