/* Palette */

$brand1					: #111111; $brand1text: color-white;
$brand2					: #ef3e5c; $brand2text: color-white;
$brand3					: #ecb31f; $brand3text: color-white;
$brand4					: #7064ac; $brand4text: color-white;
$brand5					: #2a99d5; $brand5text: color-white;
$brand6					: #20b04b; $brand6text: color-white;
$site					: #ffffff;
$white					: #ffffff; $whiteText: color-white;


$themeColors: (
		footer			: $brand1,
		site			: $site,
		white			: $white,

	/* Text colors */
		text			: $brand1,
		text-quiet		: lighten($brand1, 40%),
		link			: $brand2,
		link-alt		: $brand2,

	/* Brand colors */
		primary			: $brand1,
		secondary		: $brand2,			// tertiary, quaternary, quinary ...
		tertiary		: $brand3,			// tertiary, quaternary, quinary ...
		quaternary		: $brand4,			// tertiary, quaternary, quinary ...
		quinary			: $brand5,			// tertiary, quaternary, quinary ...
		senary			: $brand6,			// tertiary, quaternary, quinary ...

	/* Theme */
		dark			: $brand1,

	/* Tint and Shade */
		tint-safe		: lighten($site, 10%),
		shade-safe		: darken($site, 5%),

	/* UI colors */
		border			: darken($site, 10%),
		nav				: $brand1,
		nav-rev			: $white,
);

// Text on Dark Bg
$textLightColor			: color-white;
$linkLightColor			: color-link-alt;
$footerText				: $textLightColor;

$color : map_merge($preColors, $themeColors);

/* Base typography */

$fontStack1			: 'Metro Nova Pro Custom', $systemFontsSansSerif;
$fontSettings2		: default;
$fontSpacing2		: 0;
$fontWeight2		: default;
$fontTransform2		: none;
$fontSettings3		: default;
$fontSpacing3		: 0;
$fontWeight3		: default;
$fontTransform3		: none;

$themeFontFamily: (
		primary				: $fontStack1,
		secondary			: inherit,
		tertiary			: inherit,
		article				: inherit,
		asset				: inherit
);

$baseFontFamily			: map-get($themeFontFamily, primary);

	// Headings
	$hWeight			: normal;
	$h1Weight			: $hWeight;
	$h2Weight			: $hWeight;
	$h3Weight			: $hWeight;


/* Site Header */
$siteHeaderWeight		: normal; 	// [number][unit]

/* Buttons */
$buttonFontFamily		: $baseFontFamily;
$buttonColor			: darken(map-get($themeColors, site), 10%);

/* Fields */
$fieldBorderColor			: map-get($themeColors, border);

/* Framework */
$siteHeaderImgWidth		: 122px;
$siteHeaderImgWidthLg	: $siteHeaderImgWidth;

/* CSS Variables
   ========================================================================== */

$varTheme : (
	color-white			: map_get($color, white),
	color-1				: map_get($color, primary),
	color-2				: map_get($color, secondary),
	color-3				: map_get($color, tertiary),
	color-4				: map_get($color, quaternary),
	color-5				: map_get($color, quinary),
	color-6				: map_get($color, senary),

	color-site			: map_get($color, site),
	color-text			: map_get($color, text),
	color-link			: map_get($color, link),
	color-link-alt		: map_get($color, white),

	color-nav			: map_get($color, primary),
	color-nav-rev		: map_get($color, nav-rev),
	color-nav-light		: lighten(map_get($color, nav), 12%),
	color-nav-hover		: darken(map_get($color, nav), 5%),
	color-nav-active	: darken(map_get($color, nav), 10%),

	color-site-foot	: map_get($color, footer),
		color-dark		: map_get($color, dark),

	font-family-1		: map_get($themeFontFamily, primary),
);

$varThemeSm : (
);
$varThemeMd : (
);
$varThemeMdMh : (
		site-header-h		: $siteHeaderHeightMd
);
$varThemeTNav : (
);
$varThemeLg : (
		site-header-h		: $siteHeaderHeightLg
);

$varThemeDark : (
		color-site		: map_get($color, dark),
		color-text		: map_get($color, white),
		color-link		: map_get($color, link-alt),
)