{% extends "_layoutamp" %}

{# -------------
# The Page content
#}

{# -------------
# Meta Data
#}

{% block content %}
    {# -------------
    # Set the Page Type here for Structured Data
    #}
    <article>
        {% block article %}

                {% block articleMain %}
            {# -------------
            # Article Header
            #}
                {% block articleLead %}
                    {% if entry.leadVideo | length and entry.posterType == "video" %}
                        {% set videoSrcs = entry.leadVideo | split("|") %}
                        {% set videoSrc = videoSrcs[0] %}
                        {% if videoSrc starts with "https://www.youtube" %}
                            {% set videoId = videoSrc | replace('https://www.youtube.com/watch?v=', '') %}
                            {% set videoId = videoId | replace('https://youtube.com/watch?v=', '') %}
                            <amp-youtube width="480" height="270" layout=responsive data-videoid="{{ videoId }}"></amp-youtube>
                        {% elseif videoSrc starts with "https://vimeo" %}
                            {% set videoId = videoSrc | replace('https://www.vimeo.com/', '') %}
                            {% set videoId = videoId | replace('https://vimeo.com/', '') %}
                            <amp-vimeo data-videoid="{{ videoId }}" layout="responsive" width="16" height="9"></amp-vimeo>
                        {% endif %}
                    {% elseif entry.leadImage | length
                    and entry.pageOptions.contains("poster")
                    and (entry.posterType == "poster"
                    or entry.posterType == "poster-title"
                    or entry.posterType == "poster-emblem"
                    or entry.posterType == "lead-image") %}
                        {% set leadImage = entry.leadImage.first() %}
                        {% set imgSrcMob = leadImage.getUrl('articleMobile') %}
                        {% set imgSrcMobSize = leadImage.getWidth('articleMobile') ~ 'w' %}
                        {% set imgSrc = leadImage.getUrl('article') %}
                        {% set imgSrcSize = leadImage.getWidth('article') ~ 'w' %}
                        {% set imgSrcWidth = leadImage.getWidth('article2x') %}
                        {% set imgSrcHeight = leadImage.getHeight('article2x') %}
                        {% set imgSrc2x = leadImage.getUrl('article2x') %}
                        {% set imgSrc2xSize = leadImage.getWidth('article2x') ~ 'w' %}
                        <amp-img
                                src="{{ leadImage.getUrl('article') }}"
                                width="{{ imgSrcWidth }}"
                                height="{{ imgSrcHeight }}"
                                srcset="{{ imgSrc2x }} {{ imgSrc2xSize }}, {{ imgSrc }} {{ imgSrcSize }}, {{ imgSrcMob }} {{ imgSrcMobSize }}"
                                alt="{{ leadImage.title }}"
                                layout="responsive"
                                title="{{ leadImage.title }}">
                        </amp-img>
                    {% endif %}
                {% endblock %}

                {% block articleHeader %}

                    <header class="Header">
                        {% if entry.heading %}
                            {% set heading = entry.heading %}
                            {% set heading = heading | split('|') %}
                            {% set heading = heading[0] %}
                            <h1>{{ heading | smartypants }}</h1>
                        {% elseif entry.surname | length %}
                            <h1>{{ entry.namePrefix }} {{ entry.forename }} {{ entry.additionalName }} {{ entry.surname }} {{ entry.nameSuffix }}</h1>
                        {% else %}
                            <h1>{{ entry.title | smartypants | dash }}</h1>
                        {% endif %}
                        {% if entry.type == "event" %}
                            <p>{% include "_includes/event/_friendly-date-range" %}</p>
                        {% endif %}
                        {{ entry.subheading | replace('[ <a', '<a') | replace(' ]','') | smartypants }}
                    </header>

                    {# -------------
                    # Article Content
                    #}
                {% endblock %}
                {#
                # Article Body
                #}
                {% block articleBody %}
                    {% if entry.type != "event" %}
                        {% include "_includes/article/_credentials-amp" %}
                    {% endif %}
                    {% if entry.contactTable | length or entry.addressTable | length or entry.infoTable | length or entry.eventPlace | length %}
                        <div class="Band">{% include "_includes/article/_article-summary-barebones" %}</div>
                    {% endif %}
                    {% if entry.posterContent | length %}
                        <div class="Band">{{ entry.posterContent | typogrify }}</div>
                    {% endif %}
                    {% if entry.pageOptions.contains("noBody") %}
                    {% else %}
                        {% if entry.body | length %}
                            {% if entry.keepBrief | length %}
                                <div class="Band">{{ entry.brief | typogrify }}</div>
                            {% endif %}

                            {% include "_includes/_body-amp" %}

                        {% elseif entry.brief | length %}
                            <div class="Band">{{ entry.brief | typogrify }}</div>
                        {% else %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            {% endblock %}
        {% endblock %}
    </article>


{% endblock %}