{% extends "_layoutampstory" %}

{# -------------
# The Page content
#}

{# -------------
# Meta Data
#}

{% block content %}

    {% for block in entry.story %}

        {% switch block.type %}

        {% case "standard" %}
            {%- set pageId = ( loop.index0 == "0" ? "cover" : "page" ~ loop.index0) -%}
            {%- set numberOfImages = block.asset | length -%}
            {%- set pageAudio = (block.audio | length ? ' background-audio=' ~ block.audio) -%}
            {%- set pageVideo -%}
                {%- set poster = block.asset.first() -%}
                <amp-video autoplay loop
                           width="720" height="1280"
                           poster="{{ poster.getUrl('storyCover') }}"
                           layout="responsive">
                    <source src="{{ block.video }}" type="video/mp4">
                </amp-video>
            {%- endset -%}


            <amp-story-page id="{{ pageId }}"{{ pageAudio }}>

            {% for row in block.layers %}
                {%- set classes = row.class | split("|") -%}
                {%- set class0 = (classes[0] | length ? ' class=' ~ classes[0]) -%}
                {%- set class1 = (classes[1] | length ? ' class=' ~ classes[1] : (classes[0] | length ? ' class=' ~ classes[0])) -%}
                {%- set class2 = (classes[2] | length ? ' class=' ~ classes[2] : (classes[1] | length ? ' class=' ~ classes[1])) -%}
                {%- set class3 = (classes[3] | length ? ' class=' ~ classes[3] : (classes[2] | length ? ' class=' ~ classes[2])) -%}
                {%- set animates = row.animate | split("|") -%}
                {%- set animation = (animates[0] | length ? ' animate-in=' ~ animates[0]) -%}
                {%- set animationDelay = (animates[1] | length ? ' animate-in-delay=' ~ animates[1]) -%}
                {%- set animationDuration = (animates[2] | length ? ' animate-in-duration=' ~ animates[2]) -%}
                {%- set gridAreas = row.gridArea | split("|") -%}
                {%- set gridAreaH = (gridAreas[0] | length ? ' grid-area=' ~ gridAreas[0]) -%}
                {%- set gridAreaT = (gridAreas[1] | length ? ' grid-area=' ~ gridAreas[1] : (gridAreas[0] | length ? ' grid-area=' ~ gridAreas[0])) -%}

                {%- if numberOfImages > 1 -%}
                    {%- set assets -%}
                        <div class="wrapper">
                            {%- for asset in block.asset -%}
                                {%- set assetUrl = asset.getUrl("storyCover") -%}
                                {%- set animateDelay = 0.2 + loop.index * 0.2 -%}
                                <amp-img src="{{ assetUrl }}"
                                         width="720" height="1280"
                                         layout="responsive"
                                         animate-in="fade-in"
                                         animate-in-delay="{{ animateDelay }}s">
                                </amp-img>
                            {%- endfor -%}
                        </div>
                    {%- endset -%}
                {%- elseif numberOfImages == 1 -%}
                    {%- set assets -%}
                        {%- set asset = block.asset.first() -%}
                        {%- set assetUrl = asset.getUrl("storyCover") -%}
                        <amp-img src="{{ assetUrl }}"
                                 width="720" height="1280"
                                 layout="responsive"
                                {{ animation }}{{ animationDelay }}{{ animationDuration }}>
                        </amp-img>
                    {%- endset -%}
                {%- endif -%}

                <amp-story-grid-layer template="{{ row.template }}" {{ class0 }}>
                    {%- if 'h' in row.elements -%}
                        <h1{{ class1 }}{{ gridAreaH }}{{ animation }}{{ animationDelay }}{{ animationDuration }}>{{ block.heading }}</h1>
                    {%- endif -%}
                    {%- if 'v' in row.elements and block.video | length and block.asset | length -%}
                        {{ pageVideo }}
                    {%- endif -%}
                    {%- if 'i' in row.elements -%}
                        {{ assets }}
                    {%- endif -%}
                    {%- if 'o' in row.elements -%}
                        <div class="overlay"{{ animation }}{{ animationDelay }}{{ animationDuration }}{{ gridAreaH }}></div>
                    {%- endif -%}
                    {%- if 'p' in row.elements -%}
                        <div{{ class3 }}{{ gridAreaT }}{{ animation }}{{ animationDelay }}{{ animationDuration }}>{{ block.richText }}</div>
                    {%- endif -%}
                    {%- if 't' in row.elements -%}
                        <p{{ class3 }}{{ gridAreaT }}{{ animation }}{{ animationDelay }}{{ animationDuration }}>{{ block.simpleText }}</p>
                    {%- endif -%}
                </amp-story-grid-layer>
            {% endfor %}

            </amp-story-page>

        {% endswitch %}

    {% endfor %}

{% endblock %}