{% extends "_layout" %}
{% block styles %}
<link rel="stylesheet" href="/styles/css/screen.css" media="screen" />
<link rel="stylesheet" href="{{ config.css_file }}" media="all" />
{% endblock %}

{% block content %}
<div id="fc" class="c-cart">
{% block cartContent %}
{% endblock %}
</div>

{% endblock %}