{% extends "_layout" %}
{% set pageGlobals = churchGlobals %}
{% set nav = craft.amNav.getNavRaw("church") %}
{% set navGlobal = craft.amNav.getNavRaw("churchGlobal") %}
{% set defaultOGImage = assetUrl ~ 'brand/church/logo.png' %}

{%- block fontScripts -%}
    {# <link href="https://fonts.googleapis.com/css?family=Work+Sans:500,700" rel="stylesheet"> #}
    {# <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700" rel="stylesheet"> #}
{%- endblock -%}

{% set nonCriticalCss = '' %}

{% block cartnav %}
{% endblock %}

{% block userNav %}
    {% if currentUser %}
        <h2>Welcome, {{ currentUser.friendlyName }}</h2>
    {% endif %}
    <ol class="c-nav--bar">
        {% if currentUser.can('accessCp') %}
            <li><a href="{{ cpUrl() }}" target="_blank" class="c-nav__item" title="User">Control Panel</a></li>
        {% endif %}
        {% if currentUser %}
            <li><a href="{{ logoutUrl }}" class="c-nav__item" title="User">Sign out</a></li>
        {% endif %}
    </ol>
{% endblock %}

{% block foxycart %}{% endblock %}