{% extends "_layout" %}
{% set pageGlobals = tinGlobals %}
{% set nav = craft.amNav.getNavRaw("tinHouse") %}
{% set navGlobal = craft.amNav.getNavRaw("tinHouseGlobal") %}
{% set defaultOGImage = siteUrl ~ 'brand/tinhouse/logo.png' %}

{%- block fontScripts -%}
    <link rel="stylesheet" href="https://fontlibrary.org/face/cmu-typewriter"/>
{%- endblock -%}

{% set nonCriticalCss = '' %}

{% block cartnav %}
{% endblock %}

{% block userNav %}
    {% if currentUser %}
        <h2>Welcome, {{ currentUser.friendlyName }}</h2>
    {% endif %}
    <ol class="c-nav--bar">
        {% if currentUser.can('accessCp') %}
            <li><a href="{{ cpUrl() }}" target="_blank" class="c-nav__item" title="User">Control Panel</a></li>
        {% endif %}
        {% if currentUser %}
            <li><a href="{{ logoutUrl }}" class="c-nav__item" title="User">Sign out</a></li>
        {% endif %}
    </ol>
{% endblock %}

{% block foxycart %}{% endblock %}