{#
# Entry template
# -------------------
#
# When this template is loaded, it will already have an ‘entry’
# variable, set to the requested News entry.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% set tag = craft.tags.title(tag).first() %}

{% if tag.title %}
{% set title = tag.title %}
{% endif %}
{% extends "_t-default" %}


{% block content %}
<div class="c-article{{articleClass}}">
<article>
    {% block article %}


    {% block articleMain %}
    <div class="o-band c-Band">
        <div class="c-Band-panel">
            <div class="c-article__content">

                {% block articleHeader %}

                <header class="c-article__header">
                    <h1>
                        {{ tag.title }}
                    </h1>
                </header>

                {% endblock %}

            </div>

        </div>
    </div>
    {% set entries = craft.entries.relatedTo(tag.id) %}
    {% set noPages = entries|length %}
    {% if noPages < 3 %}
    {% set listClass = 'c-TeaserItems--wideList' %}
    {% endif %}
    <div class="o-band c-Band">
        <div class="c-Band-panel">
            <ul class="c-TeaserItems {{listClass}}">
                {% for entry in craft.entries.relatedTo(tag.id) %}
                <li>
                    {% include "_includes/support/items/_tease" %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% endblock %}
    {% endblock %}
</article>
</div>

{% endblock %}