{%- extends "_entry" -%}

{% block customHtml %}
    <div class="o-band -pa">

    </div>
    <div class="o-band -pa -bt">
        <section class="c-article__content">
            <button id="open-modal" class="c-button" type="button">Open Modal</button>
            <p><code>returnValue</code>: <span id="return-value"></span></p>
        </section>
    </div>
{% endblock %}

{%- block dialog -%}
{%- include "_includes/_dialog" -%}
{%- endblock -%}