.di-article {
    hr {
        height: 2px;
    }
}

.di-article__body {
    @include screen-size(md-min) {
        @include padding($unit n);
    }
    @include screen-size(lg-min) {
        @include padding($unit*2 n);
    }
}

/* Article Content (inc header) */

.di-article__content {
    @include center-content;
    @include rem(max-width, $block*3);
    @include text-start;
    clear: both;
    @include screen-size(md-lg) {
        @include rem(max-width, $block*4);
    }
    @include screen-size(md-max) {
        @include rem(max-width, $block*2.5);
    }
}

/* Article Title */

.di-article__header {
    @include article-content(upper);
    @include article-content-lg(upper);
    @include article-main;
    @include center-content;
    @include rem(max-width, $block*3);
    clear: both;
    color: $heading-color;
    text-align: center;
    .c-svgicon {
        margin-bottom: -0.1em
    }
    .\+anchor-inside & {
        @include text-start;
    }
    p {
        font-size: 1.2em;
        font-weight: $heading-weight;
        @include screen-size(md-min) {
            @include font-size(font-size(beta));
            margin-top: 1em;
        }
    }
}

.di-article__main,
.di-article__block {

    p, ul, ol {
        a {
            &:hover {
                text-decoration:underline;
            }
            &:active {
                text-decoration: none;
            }
        }
    }

    h1, h2 {
        text-align: center;
    }
    .\+anchor-inside & {
        h1, h2 {
            @include text-start;
        }
    }
}

.di-article__main {
    @include article-content;
    @include article-content-lg;
    @include article-main;
    @include screen-size(lg-max) {
        @include center-content;
        @include rem(max-width, $block*3);
        overflow: hidden;
    }
    &:empty {
        display:none;
    }

    /*
        HEADINGS
    */
    h1, h2 {
        @include margin($vertical-space*2 n n n);
        @include screen-size(lg-min) {
            @include margin($vertical-space*2.5 n n n);
        }
    }

    /*
        FIGURES
        Centre align content figures by default
    */
    figure {
        text-align:center;
    }

    /*
        HORIZONTAL RULES.
        These are used to clear
    */
    hr {
        clear:both;
    }

    /* Tables */
    table {
        @include base-font-size;
        max-width:100%;
        width:100%;
        thead {
            th, td {
                @include caption;
                display:table-cell;
                vertical-align: bottom;
                border-bottom:2px solid color(shade, $shade-amount);
            }
        }
        th, td {
            @include padding($unit/2 $unit $unit/2 0);
            &:last-child {
                padding-right:0;
            }
        }
        tbody {
            tr {
                th, td {
                    border-bottom:1px solid transparent;
                }
                &:hover {
                    th, td {
                        border-bottom-color: color(shade, $shade-amount/2);
                    }
                }
            }
        }
        &.fixed {
            table-layout: fixed;
        }
        &.tablesorter {
            thead {
                td, th {
                    color:color(link);
                    cursor: pointer;
                }
            }
        }
    }
    .\+anchor-inside .c-Poster & {
        @include rem(max-width, ($block * 2 - $unit * 4));
        padding-top: 0;
        @include screen-size(lg-min) {
            padding-top: 0;
        }
    }


    /* Animations */
    &.js-anim {
        @include is-not-old-ie {
            opacity: 0;
            @media (prefers-reduced-motion) {
                opacity: 1;
            }
        }
    }
    &.is-in-view {
        animation: fadeIn $t2 linear;
        @media (prefers-reduced-motion) {
            // Disable the non-essential animations.
            animation: none;
        }
    }
    /**/
}

/* Article Block */

.di-article__block {
    @include margin(n n $unit n);
    overflow: hidden;
    @include screen-size(md-min) {
        @include margin(n n $unit*1.5 n);
    }
    &:last-child {
        margin-bottom: 0;
        @include screen-size(md-min) {
            margin-bottom: 0;
        }
    }
    &.\+text-lg {
        font-size: 1.2em;
        @include screen-size(md-min) {
            @include font-size(font-size(beta));
        }
        ul, ol, dd {
            @include margin(n n n $unit*2);
        }
        @include rtl {
            ul, ol, dd {
                @include margin(n $unit*2 n 0);
            }
        }
    }
}

/* Article Map */

.di-article__map {
    @include screen-size(md-min) {
        @include padding($unit);
    }
    @include screen-size(lg-min) {
        @include padding($unit*2);
    }
}

/* Article Footer */

.di-article__end {
    clear: both;
    margin-bottom: 0;
}

.di-article__footer {
    @include padding($unit);
    @include screen-size(sm-min) {
        @include padding(n $unit*2);
    }
    p, address {
        @include caption;
        margin:0;
        text-align: center;
    }
}

.\+heading-fill {
    @include padding($unit);
    clear: $main-end;
    &:first-child {
        margin-top: 0;
        @include rem(padding-top, $unit);
    }
    + .di-article__block {
        margin-bottom: 0;
    }
}

.\+dropcap {
    p:first-child:first-letter {
        float: left;
        font-size: 6em;
        line-height: 0.8;
        margin-left: -0.09em;
        margin-top: -0.05em;
    }
    dl, ol, p, ul {
        &:nth-child(2) {
            clear: left;
        }
    }
}

.\+columns-2,
.\+columns-3 {
    @include screen-size(md-min) {
        @include columns(2);
        > h2 {
            padding-top:0;
            @include column-break-after(avoid);
        }
    }
}

.\+columns-3 {
    @include screen-size(lg-min) {
        clear:both;
        @include rem(margin-#{$main-start}, -($block + $unit*2));
        @include rem(margin-#{$main-end}, -($block + $unit*2));
        @include columns(3);
    }
}

@include screen {
    .di-article__block {
        &.\+padded {
            @include padding($unit);
            @include screen-size(lg-min) {
                @include padding($unit*2);
            }
        }
    }
}