@include screen {

    /* Article Asset */

    .di-asset {
        @include base-font-size;
        font-family: font-family(primary);
        overflow: hidden;
        &:first-child {
            margin-top: 0;
        }
        img {
            margin: 0;
            width: 100%;
        }
        figcaption {
            @include padding($unit/2 n);
            @include caption;
            margin: 0;
            text-align: center;
            .\+anchor-inside & {
                @include text-start;
            }
        }
        .description + & {
            margin-top: 0;
        }
        .headingFill + & {
            margin-top: 0;
        }

        /* Animations */

        &.js-anim {
            background-color: color(shade, $shade-amount);
            > * {
                opacity: 0;
                @media (prefers-reduced-motion) {
                    opacity: 1;
                }
            }
        }

        &.is-in-view {
            animation: fadeZoomInQuick $t2 linear;
            @media (prefers-reduced-motion) {
                animation: none;
            }
        }

        /* Positioning */

        &.\+inset {
            @include article-pos-inset-end;
            @include screen-size(sm-min) {
                max-width:50%;
                &.embed {
                    width:50%;
                }
            }

            @include screen-size(lg-min) {
                @include rem(width, $block*2);
            }

        }
        &.\+margin {
            @include article-pos-inset-end;
            @include rem(max-width, $block);
            float: right;
            &:first-child {
                margin-top: 0;
            }
            @include ltr {
                margin-left:$unit;
            }
            @include rtl {
                float: left;
                margin-right:$unit;
            }
            @include is-old-ie {
                width:50%;
            }
            @include is-not-old-ie {
                width:calc(50% - #{$unit});
            }
        }

        &.\+inside-margin {
            @include article-pos-inset-start;
            @include screen-size(md-min) {
                @include rem(width, $block*.75);
            }
            @include screen-size(lg-min) {
                @include rem(width, $block);
            }
        }

        &.\+inside-marginLap {
            @include screen-size(md-lg) {
                float:none;
                max-width: none;
                @include ltr {
                    margin-left: 0;
                }
                @include rtl {
                    margin-right: 0;
                }
                @include screen-size(md-min) {
                    width:auto;
                }
            }
        }

        &.\+inside-margin {
            + .c-Article-main {
                @include screen-size(lg-max) {
                    overflow:hidden;
                }
                @include screen-size(md-lg) {
                    > h2, > h3,
                    .c-Article-main-part > h2,
                    .c-Article-main-part > h3 {
                        text-align:left;
                        text-align:start;
                    }
                }
            }
        }

        &.\+thumb {
            @include margin(n n $unit n);
            @include rem(width, $block/2);
            clear: left;
            float: left;
            &:first-child {
                margin-top:0;
            }
            @include rtl {
                float: right;
            }
            margin-#{$main-end}:$unit;
            @include screen-size(sm-max) {
                @include rem(width, $block/3);
            }
            @include screen-size(md-min) {
                @include ltr {
                    margin-right: $unit*2;
                }
                @include rtl {
                    margin-left: $unit*2;
                }
            }
        }

        &.\+outset {
            @include article-pos-outset;
        }

        &.\+wide {
            @include article-pos-wide;
            h1, h2 {
                @include screen-size(lg-min) {
                    text-align: center;
                }
            }
        }

        &.\+embed {
            &.\+full {
                @include screen-size(lg-max) {
                    clear:right;
                }
            }
        }

        &.\+image {
            background-color:color(shade, $shade-amount);
            font-size:0;

            .c-Band-panel & {
                background-color: transparent;
            }
        }
        &.\+padded {
            @include padding($unit);
            @include screen-size(lg-min) {
                @include padding($unit*2);
            }
        }
        .di-article__map & {
            margin-bottom: 0;
        }
    }

    /*
        ELEMENT SPECIFICS
        Blockquotes
    */

    blockquote.di-asset {
        @include font-size(font-size(beta));
        @include padding($unit);
        opacity:$fade;
        text-align:center;
        @include screen-size(md-min) {
            @include padding($unit*2);
        }
        @include screen-size(sm-max) {
            font-size: 1.2em;
        }

        &.\+inset,
        &.\+margin {
            @include text-start;
        }

        p {
            font-family: font-family(secondary);
            font-size:1em;
        }

        cite {
            @include base-font-size;
            @include caption;
            display: block;
        }
    }
}

@media print {

    .di-asset {
        overflow: hidden;
        font-size: 8pt;

        table {
            width: 100%;
            .Cell-tight {
                width: 1px;
                white-space: nowrap;
            }
            [align="right"] {
                text-align: right;
            }
            [align="right"] {
                text-align: right;
            }
        }
    }

    .\+margin-inside {
        float: left;
        margin-right: 1cm;
        max-width: 3cm;
        + .c-Article-main {
            overflow: hidden;
        }
    }

    .\+margin {
        float: right;
        margin-left: 0.5cm;
        margin-bottom: 0.5cm;
        max-width: 3cm;
    }

    .\+thumb {
        clear: left;
        float: left;
        margin-right: 0.5cm;
        margin-bottom: 0.5cm;
        max-width: 3cm;
    }
}