.di-enhance__header {
    @include padding($unit);
    text-align: center;
}


.di-enhance-list {
    @include center-content;
    @include rem(max-width, $block*4);
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    text-align: center;
    &.\+wide,
    &.\+fill {
        max-width: none;
    }
    &.\+wide {
        display: block;
        @include padding($unit);
        @include screen-size(lg-min) {
            @include padding($unit*2);
            flex-wrap: nowrap;
        }
    }
    &.\+fill {
        @include screen-size(lg-min) {
            flex-wrap: nowrap;
        }
    }
    &.\+index {
        @include screen-size(md-min) {
            flex-wrap: nowrap;
        }
    }
}

.di-enhance-item {
    @include base-font-size;
    @include padding($unit n);
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width:50%;

    .\+fill & {
        @include screen-size(lg-min) {
            flex: 1;
        }
    }
    .\+index &,
    .\+wide & {
        @include screen-size(md-min) {
            @include rem(max-width, $block*2);
        }
    }
}

.di-enhance-item__header,
.di-enhance-item__body {
    @include padding($unit/4 $unit);
    @include screen-size(lg-min) {
        @include padding($unit/2 $unit*2);
    }
}

.di-enhance-item__body {
    @include article-content;
}

.di-enhance-item__icon {
    align-items: center;
    display: flex;
    height:$block/2;
    justify-content: center;
    img {
        @include rem(max-width, $block/2 - $unit*2);
        @include rem(max-height, $block/2 - $unit*2);
        width: auto;
    }
}