@include screen {
    .c-Grid-panel {
        /* Animations */
        &.js-anim {
            @include is-not-old-ie {
                opacity: 0;
            }
        }
        &.is-in-view {
            animation: fadeIn $t2 linear;
        }
    }
}