@include screen {
    .c-Header--big {
        h1, .c-Header {
            @include is-old-ie {
                @include font-size(font-size(zeta));
            }
            @include is-not-old-ie {
                font-size: 16vw;
            }
            @include screen-size(md-min) {
                font-size: 16vw;
            }
            @include screen-size(sm-max) {
                @include font-size(font-size(delta));
            }
        }
    }
}