$top-nav: rem($top-nav);
$top-nav-deep: rem($top-nav-deep);

@include screen {
    .di-hero {
        background: center repeat-x;
        background-size: cover;
        font-size: 0;
        position: relative;
        text-align: center;
        /*
            + Background image treatment
        */
        &.\+fixed {
            @media only screen and (min-width: 80em ) {
                background-attachment: fixed;
            }
        }
        &.\+patterned {
            background-size:auto;
            background-repeat:repeat;
        }

        &.\+dim,
        &.\+tint {
            &:before {
                @include position(absolute, 0px 0px 0px 0px);
                transition: $t2;
                animation: fadeIn 3s $ease-in-out-cubic;
                content:'';
                display: block;
                z-index:1;
                @media (prefers-reduced-motion) {
                    // Disable the non-essential animations.
                    animation: none;
                }
            }
        }

        &.\+dim {
            &:before {
                background-color:rgba(0, 0, 0, 0.5);
            }
        }
        &.\+tint {
            &:before {
                background-color:rgba(255, 255, 255, 0.5);
            }
        }

        /*
            + hero height
        */
        &.\+shallow {
            // 1 third
            @include is-old-ie {
                min-height:33%;
            }
            @include is-not-old-ie {
                min-height:33vh;
            }
            @include screen-size(tnav-min)  { min-height: calc(33vh - #{$top-nav}); }
            @include screen-size(lg-min)    { min-height: calc(33vh - #{$top-nav-deep}); }
            .s-no-bar & {
                @include screen-size(tnav-min)  { min-height: 33vh; }
                @include screen-size(lg-min)    { min-height: 33vh; }
            }
        }

        &.\+half {
            // 1 half
            @include is-old-ie {
                min-height:50%;
            }
            @include is-not-old-ie {
                min-height:50vh;
            }
            @include screen-size(tnav-min)  { min-height: calc(50vh - #{$top-nav}); }
            @include screen-size(lg-min)    { min-height: calc(50vh - #{$top-nav-deep}); }
            .s-no-bar & {
                @include screen-size(tnav-min)  { min-height: 50vh; }
                @include screen-size(lg-min)    { min-height: 50vh; }
            }
        }

        &.\+deep {
            // 2 thirds
            @include is-old-ie {
                min-height:66%;
            }
            @include is-not-old-ie {
                min-height:66vh;
            }
            @include screen-size(tnav-min)  { min-height: calc(66vh - #{$top-nav}); }
            @include screen-size(lg-min)    { min-height: calc(66vh - #{$top-nav-deep}); }
            .s-no-bar & {
                @include screen-size(tnav-min)  { min-height: 66vh; }
                @include screen-size(lg-min)    { min-height: 66vh; }
            }
        }

        &.\+full {
            // full height
            @include is-old-ie {
                min-height:100%;
            }
            @include is-not-old-ie {
                min-height:100vh;
            }
            @include screen-size(tnav-min) {
                min-height: calc(100vh - #{$top-nav});
            }
            @include screen-size(lg-min) {
                min-height: calc(100vh - #{$top-nav-deep});
            }
            .s-no-bar & {
                @include screen-size(tnav-min) {
                    min-height: 100vh;
                }
                @include screen-size(lg-min) {
                    min-height: 100vh;
                }
            }
        }

        // Map
        &.\+map {
            padding-top: 0;
            @include screen-size(lg-min) {
                padding-top:0;
            }
            .s-no-bar & {
                @include padding($global-header-height 0 0 0);
                @include screen-size(lg-min) {
                    @include padding($unit*5 0 0 0);
                }
            }
        }

        // Alt treatments
        &.\+content {
            @include padding($unit*4 n $unit*2 n);
            @include screen-size(md-min) {
                @include padding(n n $unit*4 n);
            }
        }

        &.\+emblem {
            @include base-font-size;
        }

        &.\+roundel {
            @include padding($unit);
            @include screen-size(md-min) {
                @include padding($unit*2);
            }
            img {
                border-radius:50%;
                max-height:50%;
                max-height:calc(50vh - (16px * 2));

                @include screen-size(md-min) {
                    max-height:calc(66vh - (16px * 4));
                }

                @include screen-size(sm-max) {
                    @include margin($unit n n n);
                }
            }
        }

        // Inner elements
        > img {
            max-height:66%;
            max-height:66vh;
        }
    }

    .di-hero__subtitle {
        @include font-size(font-size(beta));
        @include padding($unit);
        animation: fadeInSlow 4s $ease-in-out-cubic;
        margin:0;
        position: relative;
        width:100%;
        z-index:2;
        @media (prefers-reduced-motion) {
            // Disable the non-essential animations.
            animation: none;
        }
        @include screen-size(sm-max) {
        }
        @include screen-size(sm-min) {
            @include font-size(font-size(gamma));
        }
        @include screen-size(md-min) {
            @include font-size(font-size(delta));
        }
        @include screen-size(smh-min) {
            @include rem(bottom, $global-header-height);
            position:absolute;
        }
        @include screen-size(mdh-min) {
            @include rem(bottom, $global-header-height*2);
        }
    }

    .di-hero__content {
        @include article-main;
        @include center-content;
        @include base-font-size;
        @include rem(width, $block*3);
        animation: fadeIn 2s $ease-in-out-cubic;
        position: relative;
        z-index: 2;
        max-width: 100%;
        @media (prefers-reduced-motion) {
            // Disable the non-essential animations.
            animation: none;
        }
        @include screen-size(sm-min) {
            max-width: calc(100% - #{$unit*2});
        }
        @include screen-size(md-min) {
            max-width: calc(100% - #{$unit*4});
        }

        .\+shallow &,
        .\+half & {
            @media only screen and (min-height: em(600px)) {
                @include middle;
            }
        }

        .\+deep &,
        .\+full & {
            @media only screen and (min-height: em(400px)) {
                @include middle;
            }
        }

        .\+anchor-inside & {
            @include text-start;
        }
        &.\+content {
            @include center-content;
            @include position(relative, 0px 0 0 0px);
            transform: none;
            @include screen-size(sm-min) {
                max-width: 100%;
            }
            .di-article {
                animation: fadeZoomIn 3s $ease-in-out-cubic;
                max-width: $block*2;
            }
        }
        &.\+big-title {
            .\+shallow &,
            .\+half & {
                @media only screen and (min-height: em(600px)) {
                    left: 0;
                    max-width: none;
                    transform: translateY(-50%);
                    width: 100%;
                }
            }

            .\+deep &,
            .\+full & {
                @media only screen and (min-height: em(400px)) {
                    left: 0;
                    max-width: none;
                    transform: translateY(-50%);
                    width: 100%;
                }
            }
            .\+anchor-inside & {
                text-align: center;
            }
            h1 {
                @include big-header;
            }
        }
        &.\+fill {
            animation: fadeIn 4s $ease-in-out-cubic;
        }
        header {
            @media (prefers-reduced-motion) {
                // Disable the non-essential animations.
                animation: none;
            }
            h1 {
                animation: fadeZoomIn 2.5s $ease-in-out-cubic;
            }
            p {
                @include article-content-xlg;
                @include margin($unit n n n);
                animation: fadeZoomIn 3.5s $ease-in-out-cubic;
                font-weight: $heading-weight;
            }
            + * {
                @include margin($unit n n n);
                @include screen-size(md-min) {
                    @include margin($unit*2 n n n);
                }
            }
            .\+fill & {
                h1 {
                    animation: fadeIn 4.5s $ease-in-out-cubic;
                }
                p {
                    animation: fadeIn 5.5s $ease-in-out-cubic;
                }
            }

        }
    }
}

@media print {
    .\+bgImg {
        background-image: none !important;
    }
}