@mixin info-box-sbs {
    dl {
        @include clear;
    }
    dt, dd {
        @include rem(margin-bottom, $unit/2);
        &:last-of-type {
            margin-bottom:0;
        }
    }
    dt {
        margin-top:0;
        @include screen-size(sm-min) {
            text-align: end;
            clear:both;
            width:30%;
        }
    }
    dd {
        @include screen-size(sm-min) {
            width:65%;
        }
        &.\+img {
            padding-top:0;
        }
    }
    @include ltr {
        dt {
            @include rem(margin-left, $unit/2);
            float: right;
            @include screen-size(sm-min) {
                float: left;
                margin-left:0;
            }
        }
        dd {
            margin-left:0;
            @include screen-size(sm-min) {
                clear: right;
                float: right;
            }
        }
    }
    @include rtl {
        dt {
            @include rem(margin-right, $unit/2);
            float: left;
            @include screen-size(sm-min) {
                float: right;
                margin-right:0;
            }
        }
        dd {
            margin-right: 0;
            @include screen-size(sm-min) {
                clear: left;
                float: left;
            }
        }
    }
}

@include screen {
    .di-info-box {
        @include base-font-size;
        @include margin(n n $unit*2 n);
        dl {
            + * {
                @include margin($unit n n n);
            }
            span + dt {
                margin-top:0;
            }
            @include screen-size(md-max) {
                ~ dl {
                    @include margin($unit n n n);
                }
            }
            @include screen-size(sm-max) {
                ~ dl {
                    @include margin($unit/2 n n n);
                }
            }
        }
        dt {
            @include caption;
            @include margin($unit/2 n n n);
            @include prefixer(column-break-after, avoid, webkit moz spec);
            opacity:$fade/2;
            &:first-child, &:first-of-type {
                margin-top:0;
            }
            &:empty {
                display:none;
                + dd.img {
                    padding-top:0;
                }
            }
        }
        dd {
            @include prefixer(column-break-before, avoid, webkit moz spec);
            opacity:$fade;
            white-space: pre-wrap;
            &.u-pre-0,
            .u-pre-0 {
                white-space: normal;
            }
            time {
                display: block;
                white-space: pre-wrap;
                b {
                    display: block;
                }
            }
            &.\+img {
                @include rem(padding-top, $unit/2);
                opacity:1;
                margin-left:0;
                &.\+logo {
                    img {
                        max-height:$unit*8;
                        width:auto;
                    }
                }
            }
            &.u-hide {
                position:absolute;
            }
            img {
                max-width: 100%;
                width: $block;
                @include screen-size(sm-max) {
                    width: 100%;
                }
            }
        }

        @include ltr {
            dd {
                @include rem(margin-left, $unit);
                &.\+img {
                    margin-left: 0;
                }
            }
        }
        @include rtl {
            dd {
                @include rem(margin-right, $unit);
                &.\+img {
                    margin-right: 0;
                }
            }
        }

        .c-svgicon {
            display:none;
        }

        .Button {
            @include rem(margin-top, $unit);
        }

        &.\+profile {
            @include margin(n n 0 n);
            @include article-pos-inset-start;
            @include padding($unit);
            @include screen-size(sm-md) {
                @include info-box-sbs;
            }
            @include screen-size(md-min) {
                max-width: $block;
                width: 25%;
            }
            @include screen-size(lg-min) {
                @include rem(width, $block);
                @include padding($unit*2 0);
            }
            @include screen-size(md-max) {
                background-color: color(shade, $shade-amount);
            }
        }
        &.\+icons{
            @include margin(n n 0 n);
			@include padding($unit);
			@include screen-size(sm-min) {
				text-align:center;
				dl + *,
				dl ~ dl {
					@include margin(0 n n n);
				}
				dl {
					@include display(inline-block);
					@include clear;
					vertical-align: top;
					dt, dd {
						&.img {
							display: none;
						}
					}
				}
				dt {
					display:none;
				}
				dd {
					@include display(inline-block);
					@include padding($unit*2 $unit $unit $unit);
					@include margin(0 0 $unit/2 0);
					position:relative;
					text-align:center;
					white-space:normal;
					z-index:0;
					&:after {
						@include caption;
						content:attr(data-label);
						text-align:center;
						z-index:0;
					}

					a:only-of-type {
						@include margin((-$unit*2) (-$unit) n (-$unit));
						@include padding($unit*2 $unit n $unit);
						display:block;
						position:relative;
						z-index:1;
					}
				}
                .c-svgicon {
                    @include position(absolute, 0px 0 0 50%);
                    content:attr(data-icon);
                    display:block;
					height: 1.6em;
                    opacity:$fade;
                    text-align:center;
                    transform: translateX(-50%);
					width: 1.6em;
                    z-index:0;
                }
                .\+anchor-inside & {
                    .c-svgicon {
                        left:0;
                        transform: none;
                    }

                    dl {
                        @include text-start;
                    }

                    dd {
                        @include padding(n $unit*2 n 0);
                        &:after {
                            @include text-start;
                        }
                    }
                }
            }
        }
        header {
            h1 {
                margin:0;
            }
            p {
                @include rem(margin-top, $unit/2);
                opacity:$fade;
            }
        }
        h1 {
            @include font-size(font-size(gamma));

        }
        h2 {
            @include font-size(font-size(beta));
        }
        &.\+outside-margin{
            h1 {
                @include font-size(font-size(beta));
            }
        }
    }
}

.c-address {
    display: block;
}

.c-address__part {
    display: block;
}

@media print {
    .di-info-box .c-svgicon {
        display: none;
    }
}