.l-grid {
	// l-grid
	@if $is-site-fluid == false {
		@include rem(max-width, $fixed-width);
		margin-left: auto;
		margin-right: auto;
	}
}

.l-grid--narrow {
	@include rem(max-width, $fixed-width/1.5);
	margin-left:auto;
	margin-right:auto;
}

.l-grid__row {			// l-grid__row
	@include screen-size(md-min) {
		@include grid-row;
	}
}

.l-grid__item {
	// l-grid__item
	@include grid-fillparent();
}

.l-grid__item--primary {
	@include grid-fillparent();
	@include screen-size(md-min) {
		@include grid-fraction(2, 3);
	}
}

.l-grid__item--secondary {
	@include grid-fillparent();
	@include screen-size(md-min) {
		@include grid-fraction(1, 3);
	}
}

.l-grid__item--half {		// l-grid__item--half
	@include grid-fraction(1, 2);
}

.l-grid__item--third {		// l-grid__item--half
	@include grid-fraction(1, 3);
}