/*------------------------------------------*\

    objects/_support.scss

    @namespace  .di-

    Description:
    SUPPORT OBJECT
    This is page-specific content, that is
    not the main article.
    It can appear in different forms, but
    each support section is in it's own band.

    The different forms available:
    -

\*------------------------------------------*/

.di-support {
    position: relative;
    text-align: center;
    @include padding($unit);
    @include screen-size(lg-min) {
        @include padding($unit*2);
    }

    &.\+tight {
        padding: 0;
        @include screen-size(lg-min) {
            padding: 0;
        }
    }

     &.\+tight-ew {
        @include screen-size(sm-max) {
            @include padding(n 0);
        }
    }

    &.\+middle {
        display: flex;
        justify-content: center;
        align-items: center;
        &.\+inside {
            justify-content: flex-start;
        }
        &.\+outside {
            justify-content: flex-end;
        }
    }

    &.\+full {
        // full height
        @include is-old-ie {
            min-height:100%;
        }
        @include is-not-old-ie {
            min-height:100vh;
        }
    }

    &.\+img {
        background: color(primary) center no-repeat;
        background-size: cover;
    }

    &.\+fixed {
        @include screen-size(md-min) {
            background-attachment: fixed;
        }
    }

    &.\+inside,
    &.\+outside {
        overflow: hidden;
    }

    &.\+linked {
        &:active {
            a {
                text-decoration: none;
            }
        }
        &:hover {
            a {
                text-decoration: underline;
            }
        }
    }

    &.\+top-border {
        border-top: 2px solid color(shade, $shade-amount);
    }

    /* Tabs */
	
	&.\+tab {
		display: none;
		input[type="radio"]:checked + & {
			display: block;
		}
	}
	
    /* Animations */
    &.js-anim {
        @include is-not-old-ie {
            opacity: 0;
            @media (prefers-reduced-motion) {
                opacity: 1;
            }
        }
    }
    &.is-in-view {
        animation: fadeIn $t2 linear;
        @media (prefers-reduced-motion) {
            animation: none;
        }
    }

    input:focus + & {
        outline: auto 5px -webkit-focus-ring-color;
    }
}

.di-support__body {
    @include center-content;
    text-align: center;

    header + & {
        @include margin($unit n n n);
    }

    &.\+u-2 {
        max-width: $block*2;
    }
    &.\+u-3 {
        max-width: $block*3;
    }
    &.\+u-4 {
        max-width: $block*4;
    }
    &.\+padded {
        @include padding($unit);
        @include screen-size(md-min) {
            @include padding($unit*2);
        }
        @include screen-size(lg-min) {
            @include padding($unit*4);
        }
    }
    &.\+dim {
        background-color: color(shade, $fade/2);
    }
    .\+inside &,
    .\+outside & {
        @include rem(width, $block * 3);
        max-width: calc(50% + (#{$unit} * 2));
    }
    .\+inside & {
        @include text-end;
        @include ltr {
            margin-left: 0;
        }
        @include rtl {
            margin-right: 0;
        }
    }
    .\+outside & {
        @include text-start;
        @include ltr {
            margin-right: 0;
        }
        @include rtl {
            margin-left: 0;
        }
    }
    /* Animations */
    &.js-anim {
        @include is-not-old-ie {
            opacity: 0;
            @media (prefers-reduced-motion) {
                opacity: 1;
            }
            .\+inside &,
            .\+outside & {
                opacity: 1;
            }
            .\+inside & {
                transform: translateX(-100%);
                @include rtl {
                    transform: translateX(100%);
                }
            }
            .\+outside & {
                transform: translateX(100%);
                @include rtl {
                    transform: translateX(-100%);
                }
            }
        }
    }
    &.is-in-view {
        animation: fadeIn $t2 linear;
        @media (prefers-reduced-motion) {
            animation: none;
        }
        .\+inside & {
            animation: slideRight $t2 $ease-out-quad;
            @include rtl {
                animation: slideLeft $t2 $ease-out-quad;
            }
        }
        .\+outside & {
            animation: slideLeft $t2 $ease-out-quad;
            @include rtl {
                animation: slideRight $t2 $ease-out-quad;
            }
        }
    }
}

.di-support__content {
    @include center-content;
    @include article-content;
    @include article-content-lg;
    &.\+text-lg {
        @include article-content-xlg;
        @include screen-size(lg-min) {
            font-size: 2em;
        }
        h1, h2 {
            @include h(font-size(beta));
            @include screen-size(sm-max) {
                font-size:1.2em;
            }
            @include screen-size(micro-max) {
                @include h(font-size(alpha));
            }
        }
    }
    .\+inside &,
    .\+outside & {
        max-width: $block*2;
    }
    header {
        + * {
            @include margin($unit n n n);
        }
    }
}

.di-support__header {
    .\+title-lg & {
        h1, h2 {
            @include big-header(8);
        }
    }
	&.\+tabs {
		@include margin(n n (-$unit) n);
	}
	label {
		cursor: pointer;
		display: inline;
		+ label {
			&:before {
                margin-left: 0.3em;
                margin-right: 0.3em;
				content: "·";
                opacity: $fade/3;
			}
		}
        span {
            opacity: $fade/2;
			&:hover {
				opacity: $fade;
			}
        }
	}
	
	input[type="radio"]:nth-of-type(1) + .di-support & label:nth-child(1) span { opacity: 1; }
	input[type="radio"]:nth-of-type(2) + .di-support & label:nth-child(2) span { opacity: 1; }
	input[type="radio"]:nth-of-type(3) + .di-support & label:nth-child(3) span { opacity: 1; }
	input[type="radio"]:nth-of-type(4) + .di-support & label:nth-child(4) span { opacity: 1; }
	input[type="radio"]:nth-of-type(5) + .di-support & label:nth-child(5) span { opacity: 1; }
	input[type="radio"]:nth-of-type(6) + .di-support & label:nth-child(6) span { opacity: 1; }
}

.di-support__tabs {
    @include h(font-size(gamma));
    @include padding(n n $unit n);
    font-family: $heading-font-family;
    font-weight: $heading-weight;
    line-height:$line-height-ratio * 0.85;
    overflow: auto;
    white-space: nowrap;
    @include screen-size(md-max) {
        @include font-size(font-size(beta));
    }
    @include screen-size(sm-max) {
        @include font-size(font-size(alpha));
    }
}

.di-support__more {
    @include padding($unit/2 n);
    margin:0;
    font-weight: $heading-weight;
    @include screen-size(md-min) {
        @include font-size(font-size(beta));
    }
	a {
        @include font-features("smcp" "c2sc");
		@include padding($unit/2 n);
		display: block;
	}
}

.di-support__container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.di-support__container-inner {
    max-width:100%;
    &.\+u-3 {
        max-width: $block*3;
    }
}

.di-support__link {
    @include position(absolute, 0px 0px 0px 0px);
    opacity: 0;
}


.di-support-list {
    list-style: none;
    margin: 0;

    header + & {
        @include margin($unit n n n);
    }

    /* Inline */
    &.\+blocks {
        font-size: 0;
        li {
            @include base-font-size;
            display: inline-block;
            max-width: 100%;
            padding:1px;
			vertical-align: top;
        }
    }
    &.\+gutters {
        @include margin((-$unit/2));

        header + & {
            @include margin($unit/2 n n n);
        }

        li {
            @include padding($unit/2);
        }
    }

    /* Columns */
    &.\+cols {
        @include text-start;
        @include screen-size(sm-min) {
            @include margin(n (-$unit/2));
            columns: 2;

            li {
                break-inside: avoid;
            }
        }
        @include screen-size(md-min) {
            @include margin(n (-$unit));
            columns: 3;
        }
    }

    &.\+matrix {
        @include text-start;
        @include screen-size(sm-min) {
            @include margin(n (-$unit/2));
            display: flex;
            flex-wrap: wrap;
        }
        @include screen-size(md-min) {
            @include margin(n (-$unit));
        }
        li {
            border-bottom: 2px solid color(shade, $shade-amount);
            > a:hover {
                background-color: color(shade, $shade-amount);
            }
            @include screen-size(sm-min) {
                display: flex;
                width: 50%;
                > * {
                    flex: 1;
                }
            }
            @include screen-size(md-min) {
                width: (100% / 3);
            }
        }
    }
}

@media print {
    .di-support {
        display: none;
    }
}