{% set entries = entry.getSiblings %}
{% set noPages = entries|length %}
{% if noPages > 0 %}
<ul class="c-support-list +blocks c-anchor-list">
    {% for entry in entries %}
    {% if entry.redirect | length or entry.pageOptions.contains("requiresLogin") %}
    {% else %}
    <li>{% include "_includes/support/items/_anchor" %}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}