{%- set titleDisplay = ( entry.pageOptions.contains("noTitle") ? " -hide" ) -%}
{%- set titleFont = ( entry.posterTitleFont == "secondary" ? " -ff2" : ( entry.posterTitleFont == "tertiary" ? " -ff3" : "") ) -%}

{%- if entry.subheading | length -%}
	{%- if entry.posterType == "poster-title" -%}
		{%- set subheading = entry.subheading
		| replace('{', '<span class="c-pill">')
		| replace('}','</span>')
		| replace('[<a', '<a class="c-button +rev js-scroll" ')
		| replace('[ <a', '<a class="c-button +rev js-scroll" ')
		| replace('[/<a', '<a class="c-button +rev +hollow js-scroll" ')
		| replace('[/ <a', '<a class="c-button +rev +hollow js-scroll" ')
		| replace(' ]','')
		| replace(']','') -%}
	{%- else -%}
		{%- set subheading = entry.subheading
		| replace('{', '<span class="c-pill">')
		| replace('}','</span>')
		| replace('[<a', '<a class="c-button js-scroll" ')
		| replace('[ <a', '<a class="c-button js-scroll" ')
		| replace('[/<a', '<a class="c-button +hollow js-scroll" ')
		| replace('[/ <a', '<a class="c-button +hollow js-scroll" ')
		| replace(' ]','')
		| replace(']','') -%}
	{%- endif -%}

    {%- set subheading = (subheading starts with "<p>" ? subheading | typogrify : '<p itemprop="subheading">' ~ subheading | typogrify ~ '</p>') %}
{%- endif -%}

{%- if entry.surname | length -%}
	{%- set heading -%}
		{{ entry.namePrefix }}
		{{ entry.forename }}
		{{ entry.additionalName }}
		{{ entry.additionalFamily | length ? ' & ' ~ entry.additionalFamily : '' }}
		{{ entry.surname }}
		{{ entry.nameSuffix }}
	{%- endset -%}
{%- elseif altTitle | length -%}
	{%- set heading = altTitle | smartypants | dash -%}
{%- elseif entry.caption | length -%}
	{%- set heading = entry.caption | smartypants | dash -%}
{%- elseif entry.heading | length -%}
	{%- set heading = entry.heading | smartypants | dash -%}
{%- elseif craft.request.firstSegment != '' -%}
	{%- set heading = title | smartypants | dash -%}
{%- endif -%}

{%- if entry.caption | length -%}
	<span class="o-page-title c-hero__title{{titleDisplay}}{{titleFont}} -db">{{ heading }}</span>
{%- else -%}
	<h1 class="c-hero__title{{titleDisplay}}{{titleFont}} p-name"{% if entry.type == "event" %} itemprop="name" property="name"{% else %} itemprop="title"{% endif %}>{{ heading }}</h1>
{%- endif -%}

{{ subheading }}
{% include "_includes/product/_header-price" %}
{%- if entry.customDate | length -%}
<meta name="startDate" itemprop="startDate" content="{{ entry.startDate.format('c') }}">
<meta name="endDate" itemprop="endDate" content="{{ entry.endDate.format('c') }}">
<p class="c-hero__date -caption -smallcaps -mt1/2">{{ entry.customDate }}</p>
{%- elseif entry.type == "event" -%}
<p class="c-hero__date -caption -smallcaps -mt1/2">{% include "_includes/event/_friendly-date-range" %}</p>
{%- endif -%}

{%- if entry.leadVideo ends with 'mp3' or entry.leadVideo ends with 'm4a' -%}
<audio src="{{entry.leadVideo}}" controls class="c-hero__audio" type="audio/mp4"></audio>
{%- endif -%}