{% cache %}
    <div class="c-article__main c-contents" id="toc">
      <details>
        <summary>Contents</summary>
        <ul>
        {% for block in entry.body %}

        {% if block.type == "heading" %}

            {% if block.headingType == "h2" %}
            <li><a href="#{{ block.heading | kebab }}">{{ block.heading }}</a></li>
            {% endif %}
            {% if block.headingType == "h3" %}
            <li class="c-contents__sub"><a href="#{{ block.heading | kebab }}">{{ block.heading }}</a></li>
            {% endif %}

        {% endif %}

        {% if block.type == "text" %}

            {%- if block.summary | length -%}
            {%- if block.style.contains("accordion") -%}
            {%- else -%}
            <li><a href="#{{ block.summary | kebab }}">{{ block.summary }}</a></li>
            {%- endif -%}
            {%- endif -%}

        {% endif %}

        {% endfor %}
        </ul>
      </details>
    </div>
{% endcache %}