{%- set days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] -%}
{%- if entry.eventLocation | length or entry.contactTable | length or entry.addressTable | length or entry.infoTable | length or entry.eventPlace | length or entry.streetAddress | length -%}
    {%- if summaryFormat == "icons" -%}
        {%- set summaryFormatClass = " +icons" -%}
        {%- if summaryFormatAdd == "mini" -%}
            {%- set summaryFormatAddClass = " +mini" -%}
        {%- endif -%}
    {%- elseif summaryFormat == "profile" -%}
        {%- set summaryFormatClass = " +profile" -%}
    {%- endif -%}
    <aside class="c-info-box{{summaryFormatClass}}{{summaryFormatAddClass}}{{paddingClass}}" role="complementary">

    {%- if entry.infoTable | length -%}
        {%- set infoTable = entry.infoTable -%}
        {%- include "_includes/_info-table" -%}
    {%- endif -%}

    {%- if entry.contactTable | length -%}
        {%- set infoTable = entry.contactTable -%}
        {%- include "_includes/_info-table" -%}
    {%- endif -%}

    {%- set locationProfile = (entry.eventLocationProfile | length ? entry.eventLocationProfile.first() : "") -%}

    {%- if entry.eventPlace | length -%}
        {%- set hideClass = ( summaryFormat == "icons" ? " -hide" : "") -%}
        {% set places = entry.eventPlace %}
        {% for place in places %}
            {% set infoTable = place.addressTable %}
            <dl>
                <dt>Location</dt>
                <dd class="-ws-normal" data-label="Location">
                    <svg class="c-svgicon c-svgicon--location" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-location"></use></svg>
                    <b><a href="{{ place.url }}">{{ place.title }}</a></b>
                </dd>
                {%- if place.streetAddress | length or place.country | length -%}
                    {%- set address = place -%}
                    <dd class="-ws-normal{{ hideClass }}"{% if  entry.type == "event" %} itemprop="location" property="location" typeof="Place" itemscope itemtype="http://schema.org/Place"{% endif %}>
                        <meta property="name" itemprop="name" content="{{ place.title }}"><span{% if entry.type == "event" %} itemprop="address" property="address" typeof="PostalAddress" itemscope itemtype="http://schema.org/PostalAddress"{% endif %}>{% include "_includes/_address-field" with { "hasMicrodata" : "true" } %}</span></dd>
                {%- endif -%}
            </dl>
        {% endfor %}
    {% elseif entry.addressTable | length or entry.streetAddress | length or entry.country | length %}
        {%- set hideClass = ( summaryFormat == "icons" ? "-hide" : "") -%}
        {%- set infoTable = entry.addressTable -%}
        {% if entry.type == 'event' %}
            <dl>
                <dt>Location</dt>
                <dd class="-ws-normal" data-label="Location">
                    <svg class="c-svgicon c-svgicon--location" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-location"></use></svg>
                    {%- if locationProfile | length -%}
                        <b><a href="{{ locationProfile.url }}"><span{% if  entry.type == "event" %} itemprop="location" property="location"{% endif %}>{{ entry.eventLocation }}</span></a></b>
                    {%- else -%}
                        <b{% if  entry.type == "event" %} itemprop="location" property="location"{% endif %}>{{ entry.eventLocation }}</b>
                    {%- endif -%}
                </dd>
        {% else %}
            <dl class="{{ hideClass }}">
                <dt>Address</dt>
        {% endif %}
        {%- if entry.streetAddress | length or entry.country | length -%}
            {%- set address = entry -%}
            <dd class="-ws-normal {{ hideClass }}"{% if  entry.type == "event" %} itemprop="location" property="location" typeof="Place" itemscope itemtype="http://schema.org/Place"{% endif %}><span{% if entry.type == "event" %} itemprop="address" property="address" typeof="PostalAddress" itemscope itemtype="http://schema.org/PostalAddress"{% endif %}>{% include "_includes/_address-field" with { "hasMicrodata" : "true" } %}</span></dd>
        {%- endif -%}
        </dl>
    {% elseif entry.eventLocation and ( entry.streetAddress | length or entry.country | length ) %}
        <dl>
            <dt>Location</dt>
            {%- set address = entry -%}
            <dd class="-ws-normal {{ hideClass }}"{% if entry.type == "event" %} itemprop="location" property="location" typeof="Place" itemscope itemtype="http://schema.org/Place"{% endif %}><b itemprop="name" property="name">{{ entry.eventLocation }}</b><br><span{% if entry.type == "event" %} itemprop="address" property="address" typeof="PostalAddress" itemscope itemtype="http://schema.org/PostalAddress"{% endif %}>{% include "_includes/_address-field" %}</span></dd>
        </dl>
    {% elseif entry.eventLocation | length and entry.type == 'event' %}
        <dl>
            <dt>Location</dt>
            <dd class="-ws-normal" data-label="Location">
                <svg class="c-svgicon c-svgicon--location" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ symbolUrl }}symbol-defs.svg#icon-location"></use></svg>
                {%- if locationProfile | length -%}
                    <b><a href="{{ locationProfile.url }}">{{ entry.eventLocation }}</a></b>
                {%- else -%}
                    <b>{{ entry.eventLocation }}</b>
                {%- endif -%}
            </dd>
        </dl>
    {%- endif -%}

    {%- if entry.pageOptions.contains("hideOpeningHours") -%}
    {%- elseif entry.openingHours | length -%}
        <dl>
            <dt>{{ "Opening Hours" | t }}</dt>
            <dd class="-ws-normal">
            {%- for dayHours in entry.openingHours -%}
                <span class="c-opening__part"><b>{{ days[loop.index0] }}:</b> {{ (dayHours.open is empty) ? 'CLOSED' | t : dayHours.open|date('g.ia') ~ ' – ' ~ dayHours.close|date('g.ia') }}</span>
            {%- endfor -%}
            </dd>
        </dl>
    {%- endif -%}
    </aside>
{% endif %}