{% if entry.contactTable | length or entry.addressTable | length or entry.infoTable | length or entry.eventPlace | length %}


    {%- if entry.infoTable | length -%}
        {%- set infoTable = entry.infoTable -%}
        {%- include "_includes/_info-table" with { "bareBones" : "true" } -%}
    {%- endif -%}

    {%- if entry.contactTable | length -%}
        {%- set infoTable = entry.contactTable -%}
        {%- include "_includes/_info-table" with { "bareBones" : "true" } -%}
    {%- endif -%}

    {%- set locationProfile = (entry.eventLocationProfile | length ? entry.eventLocationProfile.first() : "") -%}

    {%- if entry.eventPlace | length -%}
        {% set places = entry.eventPlace %}
        {% for place in places %}
            {% set infoTable = place.addressTable %}
            <dl>
                <dt>Location</dt>
                <dd>
                    <b><a href="{{ place.url }}">{{ place.title }}</a></b>
                </dd>
                {%- if place.streetAddress | length or place.country | length -%}
                    {%- set address = place -%}
                    <dd>{% include "_includes/_address-field" with { "type" : "bareBones" } %}</dd>
                {%- endif -%}
            </dl>
        {% endfor %}
    {% elseif entry.addressTable | length %}
        {%- set infoTable = entry.addressTable -%}
        {% if entry.type == 'event' %}
            <dl>
                <dt>Location</dt>
                <dd>
                    {%- if locationProfile | length -%}
                        <b><a href="{{ locationProfile.url }}"><span itemprop="name" property="name">{{ entry.eventLocation }}</span></a></b>
                    {%- else -%}
                        <b>{{ entry.eventLocation }}</b>
                    {%- endif -%}
                </dd>
        {% else %}
            <dl>
                <dt>Address</dt>
        {% endif %}
        {%- if entry.streetAddress | length or entry.country | length -%}
            {%- set address = entry -%}
            <dd>{% include "_includes/_address-field" with { "type" : "bareBones" } %}</dd>
        {%- endif -%}
        {% for row in infoTable %}
        {% endfor %}
        </dl>
    {% elseif entry.location | length and entry.type == 'event' %}
        <dl>
            <dt>Location</dt>
            <dd>
                {%- if locationProfile | length -%}
                    <b><a href="{{ locationProfile.url }}">{{ entry.eventLocation }}</a></b>
                {%- else -%}
                    <b>{{ entry.eventLocation }}</b>
                {%- endif -%}
            </dd>
        </dl>
    {%- endif -%}
{% endif %}