{% set withParam  = ['indexHeading'] %}

{% set relatedTo = ['or'] %}
{% if entry.pageOptions.contains("showStrictRelated") %}
{% set relatedTo = ['and'] %}
{% endif %}

{% if entry.tags | length %}
    {% set tagIds = craft.tags(entry.tags).ids() %}
    {% for id in tagIds %}
        {% set relatedTo = relatedTo|merge([id]) %}
    {% endfor %}
{% endif %}
{% if entry.location | length %}
   {% set locationIds = craft.categories(entry.location).ids() %}
    {% for id in locationIds %}
        {% set relatedTo = relatedTo|merge([id]) %}
    {% endfor %}
{% endif %}
{% if entry.ministry | length %}
    {% set ministryIds = craft.categories(entry.ministry).ids() %}
    {% for id in ministryIds %}
        {% set relatedTo = relatedTo|merge([id]) %}
    {% endfor %}
{% endif %}
{% if entry.property | length %}
    {% set propertyIds = craft.categories(entry.property).ids() %}
    {% for id in propertyIds %}
        {% set relatedTo = relatedTo|merge([id]) %}
    {% endfor %}
{% endif %}
{% if entry.productCategory | length %}
{% set productIds = craft.categories(entry.productCategory).ids() %}
    {% for id in productIds %}
        {% set relatedTo = relatedTo|merge([id]) %}
    {% endfor %}
{% endif %}
{% if entry.role | length %}
{% set roleIds = craft.categories(entry.role).ids() %}
    {% for id in roleIds %}
        {% set relatedTo = relatedTo|merge([id]) %}
    {% endfor %}
{% endif %}
{% if entry.subject | length %}
{% set subjectIds = craft.categories(entry.subject).ids() %}
    {% for id in subjectIds %}
        {% set relatedTo = relatedTo|merge([id]) %}
    {% endfor %}
{% endif %}

{% set entries = craft.entries({
relatedTo: relatedTo,
id: 'not ' ~ entry.id,
limit: 8,
order: 'RAND()',
with: withParam
}).find() %}

{% set noPages = entries|length %}
{% if noPages > 0 %}
<div class="o-block c-support -fill1 -noprint">
    <section>
        <div class="c-support__body +u-4 js-anim">
            <header class="c-support__header">
                <h2>See also</h2>
            </header>
            <ul class="c-support-list +blocks c-anchor-list js-anim">
            {% for entry in entries %}
                {% if entry.redirect | length or entry.pageOptions.contains("requiresLogin") %}
                {% else %}
                <li>{% include "_includes/support/items/_anchor" %}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endif %}