{% set withParam  = [] %}
{% set baseWithParam = ['indexHeading'] %}

{% set entries = craft.entries({
descendantOf: entry,
descendantDist: 1,
with: baseWithParam
}) %}

{% set noPages = entries|length %}
{% if noPages > 0 %}
<div class="o-block c-support -fill-shade -noprint">
    <div class="c-support__body +u-4 js-anim">
        <ul class="c-support-list +blocks c-anchor-list js-anim">
            {% for entry in entries %}
                {% if entry.redirect | length or entry.pageOptions.contains("requiresLogin") %}
                {% else %}
                    <li>{% include "_includes/support/items/_anchor" %}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}