{% set entry = entry.getParent %}
{% if entry | length %}
    <header>
    <div class="c-support__header">
        <h2><a href="{{ entry.url }}">{% if entry.indexHeading | length %}{{ entry.indexHeading | smartypants }}{% else %}{{ entry.title | smartypants }}{% endif %}</a></h2>
    </div>
    </header>
{% endif %}


