{%- if entry.supportingEntries | length -%}
    {%- set entries = entry.supportingEntries -%}
    <div class="o-block c-support -noprint">
        <div class="c-support__body +u-4 js-anim">
            <ul class="c-support-list +blocks c-anchor-list js-anim">
                {%- for entry in entries -%}
                    {%- if entry.redirect | length or entry.pageOptions.contains("requiresLogin") -%}
                    {%- else -%}
                        <li>{% include "_includes/support/items/_anchor" %}</li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    </div>
{%- endif -%}

{%- if entry.pageOptions.contains("showSupporting") -%}
{%- set entries = craft.entries.relatedTo({ targetElement: entry }) -%}
{%- set heading = (heading | length ? heading : "Updates" | t) -%}
{%- set noPages = entries|length -%}
{%- set thumb = "yes" -%}
{%- if noPages > 0 -%}
<div class="o-block c-support -fill-shade -noprint">
    <div class="c-support__body +u-4 js-anim">
        <header>
            <div class="c-support__header">
                <h2>{{ heading }}</h2>
            </div>
        </header>
        <ul class="c-support-list +blocks c-tease-list js-anim">
            {%- for entry in entries -%}
                {%- if entry.redirect | length or entry.pageOptions.contains("requiresLogin") -%}
                {%- else -%}
                    <li>{% include "_includes/support/items/_tease" %}</li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    </div>
</div>
{%- endif -%}
{%- endif -%}