{%- set hideFooterClass = ( hideFooter is defined ? " -hide" : "") -%}
{%- set hideAuthorClass = ( hideAuthor is defined ? " -hide" : "") -%}
{%- set hideDateClass = ( hideDate is defined ? " -hide" : "") -%}
{%- set publishedDateText %}{{ entry.postDate.format('j F Y') }}{% endset -%}
{%- set updatedDateText %}{% endset -%}
{%- set footerClass = ( entry.pageOptions.contains("highFooter") ? "c-article__post-header" : "c-article__footer" ) -%}
<footer class="{{ footerClass }}{{ hideFooterClass }}">
    <p class="{{ hideDateClass }}">
        <time datetime="{{ entry.postDate.format('c') }}" itemprop="pubdate" class="dt-published dt-updated">{{ publishedDateText }}</time>
    </p>
    {%- if entry.pageOptions.contains("hideAuthor") -%}
    {%- else -%}
        {%- if entry.authors | length -%}
            {% set authorParts = entry.authors | split("|") %}
            {% set authorNames = authorParts[0] %}
            {%- if entry.person | length -%}
                {%- set person = entry.person[0] -%}
                {%- set authorNames %}<a href="{{ person.url }}" itemprop="author">{{ authorNames }}</a>{% endset -%}
            {%- elseif authorParts[1] | length -%}
                {%- set authorNames %}<a href="{{ authorParts[1] }}" itemprop="author">{{ authorNames }}</a>{% endset -%}
            {%- endif -%}
            <address class="{{ hideAuthorClass }} p-name" itemprop="author">{{ authorNames }}</address>
        {%- else -%}
            {%- if entry.person | length -%}
                {%- set person = entry.person[0] -%}
                {%- set authorNames %}<a href="{{ person.url }}">{{ authorNames }}</a>{% endset -%}
                <address class="{{ hideAuthorClass }}"><a href="{{ person.url }}" itemprop="author" class="u-url"><span class="p-name">{{ entry.author.firstName }} {{ entry.author.lastName }}</span></a></address>
            {%- else -%}
                <address class="{{ hideAuthorClass }} p-name" itemprop="author">{{ entry.author.firstName }} {{ entry.author.lastName }}</address>
            {%- endif -%}
        {%- endif %}
    {%- endif %}
</footer>