{% set publishedDateText %}{{ entry.postDate.format('j F Y') }}{% endset %}
{% set updatedDateText %}{% endset %}
<footer>
    <time datetime="{{ entry.postDate.format('c') }}">{{ publishedDateText }}</time>
    {% if entry.authors | length %}
        {% set authorParts = entry.authors | split("|") %}
        {% set authorNames = authorParts[0] %}
        {% set twitterCreator = authorParts[2] %}
        {% set webPage = authorParts[3] %}
        <address>
            {% if webPage | length %}
                <a href="{{ twitterCreator }}">{{ authorNames }}</a>{% elseif twitterCreator | length %}
                <a href="http://twitter.com/{{ twitterCreator }}">{{ authorNames }}</a>{% else %}<span>{{ authorNames }}</span>
            {% endif %}
        </address>
    {% else %}
        <address><span>{{ siteName }}</span></address>
    {% endif %}
</footer>