<span itemprop="logo" property="logo" itemscope itemtype="http://schema.org/ImageObject" typeof="ImageObject">
    <meta itemprop="url" property="url" content="https://dropinn.net/brand/dropinn/logo.png">
    <meta itemprop="width" property="width" content="2083">
    <meta itemprop="height" property="height" content="438">
</span>
