// ==========================================================================
//
//	ADDRESS
//
//      - For postal addresses
//      - Converts <span> into block elements
//
// ==========================================================================

.c-address {
    display: block;
}

.c-address__part {
    display: block;
}