// ==========================================================================
//
//  COMPONENTS
//
//  Definition
//      - Enclosed UI elements
//      - Designed to do a specific job
//
//  Namespace: c-
//
// ==========================================================================

// Article
    @import "article";
    @import "asset";
    @import "contents";
    @import "info-box";

// Asset media
    @import "embed-box";
    @import "entry-list";
    @import "image";
    @import "map";
    @import "table";
    @import "video";

// Form
    @import "button";
    @import "form";
    @import "field";
    @import "radio";
    @import "label";
    @import "line";
    @import "input";

// Header, nav, footer
    @import "nav";

// Hero
    @import "emblem";
    @import "hero";
    @import "icon";

// Supporting
    @import "enhance";
    @import "explorer";
    @import "image-box";
    @import "support";
    @import "tweet-item";

// Supporting items
    @import "anchor";
    @import "card";
    @import "emblem-link";
    @import "feature";
    @import "media-item";
    @import "roundel";
    @import "preview";
    @import "square";
    @import "tease";

// UI
    @import "address";
    @import "comments";
    @import "currency";
    @import "modal";
    @import "pager";
    @import "pill";
    @import "progress";
    @import "skip-to-content";
    @import "share";
    @import "spinner";

// Extras

// Deprecated
// @import "fc";
// @import "boxer";
// @import "article-overview";
// @import "page-nav";
// @import "related";

// Overrides
.c-opening__part,
.c-address__part {
    display: block;
}

@include screen {
    .fancybox-container {
        font-family: inherit !important;
    }
    .fancybox-caption {
        background-color: color(shade, 0.5);
        &:before, &:after {
            display: none !important;
        }
    }
}
