// ==========================================================================
//
//	ANCHOR LIST
//
//  SUPPORT ITEM TYPE
//      - Grid-style display of article/page links
//      - The smallest kind of indexing.
//
// ==========================================================================




// List
// ==========================================================================

.c-anchor-list {
    li {
        @include rem(width, $block);
        @include screen-size(sw-) {
            width: 100%;
        }
    }
    &.\+blocks li {
        @include screen-size(mw) {
            @include rem(min-width, $block*.75);
            max-width: 25%;
        }
    }
    // "Pop-in" animation
    @include animInList("li", ".c-anchor", popIn);
}




// Item
// ==========================================================================

.c-anchor {
    @include base-font-size;
    @include font-weight($anchorFontWeight);
    @include var-fallback {
        @include padding(calc(#{$unit} - 1px));
    }
    @include padding(calc(var(--unit) - 1px));
    display: block;
    opacity: $fade;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index:0;
    @include screen-size(sw-) {
        @include var-fallback {
            @include padding(calc(#{$unit}/2));
        }
        @include padding(calc(var(--unit)/2));
    }
    &, &:visited, &:hover {
        color: inherit;
    }
    &.\+linked {
        opacity: 1;
        &:hover {
            @include var(background-color, color-link);
            text-decoration: none;
            &, &:visited {
                @include var(color, color-white);
            }
            .c-svgicon {
                opacity: 1;
            }
        }
        @include screen-size(sw) {
            &:hover {
                box-shadow: $shadowDepth2;
                z-index:1;
                &:active {
                    box-shadow: $shadowDarken, $buttonPressedShadow;
                    z-index:0;
                }
            }
        }
    }
    &.\+external {
        @include padding(n $unit*1.5);
    }

    .c-svgicon {
        @include position(absolute, 50% $unit/2 n n, dir);
        transform: translateY(-50%);
        opacity: $fade/2;
        &.c-svgicon--right {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}