// ==========================================================================
//
//	ARTICLE
//
//  The main content of a page
//
//	Contains:
//  	.c-article
// 			- Containing block for articles.
//   		- Encompasses .c-hero and .c-article__body
//
// ==========================================================================

%credentials {
	@include screen {
		@include padding($unit);
		@if $articleContentPadXMob != default {
			@include padding(n n n $articleContentPadXMob, dir);
			@include screen-size(mw) {
				@include padding(n n n $unit, dir);
			}
		}
	}
	p, address {
		@include caption;
		margin:0;
	}
}

.c-article {
	hr {
		height: $borderWidth;
	}

	[fragmention] {
		background-color: color(mark,0.2);
	}

	&.\+side-by-side {
		@include is-not-old-ie {
			@include screen-size(tnav) {
				display: flex;

				.c-hero {
					flex: 1;
				}
				.c-article__pane {
					@include padding($unit);
					display: flex;
					flex:1;
					justify-content: center;

					.c-article__body {
						flex: 1;
					}
				}
			}
		}
	}
	.c-hero__content.\+content & {
		@include article-content;
		@include article-content-lg;
		@if $articleMainFontWeight != default {
			font-weight: $articleMainFontWeight;
		}
	}
}

.c-article__band {
	&.\+img {
		background: no-repeat center;
		background-size: cover;
		&.\+fixed {
			@media only screen and (min-width: 80em ) {
				@supports not (-webkit-overflow-scrolling: touch) {
					background-attachment: fixed;
				}
			}
		}
	}
}

.c-article__body {
	@include screen-size(mw) {
		@include padding(($articleBodyPY) n);
	}
	@include screen-size(lw-mh) {
		@include padding(($articleBodyPY*$articleBodyPYLgRatio) n);
	}
	@include screen-size(xxlw-mh) {
		@include padding(($articleBodyPY*$articleBodyPYXlgRatio) n);
	}
}


// 	Article scroll-to
// ==========================================================================

.c-article__scroll {
	@include position(absolute, n n 0px 0px);
	@include var(line-height, site-header-h);
	color:white;
	font-size: $baseFontSize;
	text-align: center;
	width:100%;
	z-index:20;
	.c-svgicon {
		filter: drop-shadow($shadowDepth0);
		animation: pulsate-scroller 1s linear infinite;
		animation-delay: 2s;
	}
	@include screen-size(mw) {
		animation: riseUp 2s $ease-in-out-cubic;
		font-size: $baseFontSize * 1.5;
	}
	.c-article.\+side-by-side & {
		@include screen-size(tnav) {
			display: none;
		}
	}
}

a.c-article__scroll {
	&:active, &:hover, &:focus {
		text-decoration: none;
	}
	&:hover {
		background-color:rgba(0, 0, 0, $fade/2);
		opacity:1;
	}
}

// Article Content (inc header)
// ==========================================================================

.c-article__content {
	@include center-content;
	@include text-start;
	clear: both;
	@include screen {
		@include rem(max-width, $articleContentWidthMdMx);
	}
	@include screen-size(mw) {
		@include rem(max-width, $articleContentWidthMdLg);
	}
	body:not(.#{$classInsideNav}) & {
		@include screen-size(lw) {
			@include rem(max-width, $articleContentWidth);
		}
	}
	body.#{$classInsideNav} & {
		@include screen-size(xlw) {
			@include rem(max-width, $articleContentWidth);
		}
	}
	&.\+columns {
		@include screen {
			@include rem(max-width, $articleContentWidth * 2);
		}
		@include screen-size(xxlw) {
			@include rem(max-width, $articleContentWidth * 3);
		}
		@include screen-size(mw-lw) {
			max-width: none;
		}
		body:not(.#{$classInsideNav}) & {
			@include screen-size(lw) {
				@include rem(max-width, $articleContentWidth * 2);
			}
			@include screen-size(xxlw) {
				@include rem(max-width, $articleContentWidth * 3);
			}
		}
	}
}


// Article Title

.c-article__header {
	@include article-content(upper);
	@include article-content-lg(upper);
	@include article-main;
	@include center-content;
	clear: both;
	text-align: center;
	@if $articleHColor != inherit {
		color: $articleHColor;
	}
	@include screen {
		@include rem(max-width, $articleContentWidthMdLg);
	}
	.c-svgicon {
		margin-bottom: -0.1em
	}
	.\~anchor-inside & {
		@include text-start;
		@include screen {
			@include rem(max-width, $articleContentWidthMdMx);
		}
		@include screen-size(mw) {
			@include rem(max-width, $articleContentWidth);
		}
	}
	p {
		@include font-weight($hWeight);
		font-size: map-get($fontSize, article);
		@include screen-size(mw) {
			@include font-size(font-size(beta));
		}
	}
}

// Article Postheader

.c-article__post-header {
	@extend %credentials;
	text-align: center;
	.c-article__photo-creds + &,
	.\~anchor-inside & {
		@include text-start;
		@if $articleContentPadXMob != default {
			@include padding(n n n $unit, dir);
		}
	}
}

.c-article__main,
.c-article__block {

	p, ul, ol {
		a {
			&:hover {
				text-decoration:underline;
				&.c-button {
					text-decoration: none;
				}
			}
			&:active {
				text-decoration: none;
			}
		}
	}

	h1, h2 {
		text-align: center;
	}
	.\~anchor-inside &,
	.\~anchor-h-inside & {
		h1, h2 {
			@include text-start;
		}
	}
}

.c-article__main {
	@include article-content;
	@include article-content-lg;
	@include article-main;
	@include center-content;
	@include rem(max-width, $block*3);
	overflow: hidden;
	@include screen-size(lw) {
		overflow: visible;
	}
    @if $articleMainFontWeight != default {
        font-weight: $articleMainFontWeight;
    }
	@if $articleMainPadVMd != default {
		@include screen-size(mw) {
			@include padding($articleMainPadVMd n);
		}
	}
	@if $articleMainPadVLg != default {
		@include screen-size(lw-mh) {
			@include padding($articleMainPadVLg n);
		}
	}
	.\+columns &.c-article__main-body {
		max-width: none;
		@include screen-size(mw-mh) {
			@include padding(n $unit*2);
			columns: 2;
			column-gap: $unit*2;
		}
		@include screen-size(lw) {
			column-gap: $unit*4;
		}
		@include screen-size(xxlw) {
			column-count: 3;
		}
	}
	&:empty {
		display:none;
	}

	// Text

	&.\+article {
        @include article-content-lgr;
		@if $articleFontFamily != inherit {
			p, ol, ul, dl {
				font-family: $articleFontFamily;
			}
		}
	}

	// Code

	kbd,
	samp,
	code {
		@include padding($unit/4);
		@if $codeBlockBg != transparent {
			background-color: $codeBlockBg;
		}
	}

	pre {
		overflow: auto;
		white-space: pre;
		@if $codeBlockBg != transparent {
			background-color: $codeBlockBg;
		}
		@if $codeBlockPadding != 0 {
			@include padding($codeBlockPadding);
			@if $codeBlockPaddingMd > $codeBlockPadding {
				@include screen-size(mw) {
					@include padding($codeBlockPaddingMd);
				}
			}
		}
	}

	// Headings

	h1, h2, summary {
		@include margin($verticalSpace*2 n n n);
		@include screen-size(lw) {
			@include margin($verticalSpace*2.5 n n n);
		}
		&[id] {
			@include padding($unit n n n);
			@include margin(($verticalSpace*2 - $unit) n n n);
			@include screen-size(lw) {
				@include margin(($verticalSpace*2.5 - $unit) n n n);
			}
			&:first-child {
				@include margin((-$unit) n n n);
			}
		}
	}
	h1 {
		@include screen-size(mw-mh) {
			@if $articleH1SizeMd != inherit {
				font-size: font-size($articleH1SizeMd);
			}
			@if $articleH1LineHeightMd != inherit {
				line-height: $articleH1LineHeightMd;
			}
		}
	}

	@if $articleH2SizeMd != inherit {
		h2 {
			@include screen-size(mw-mh) {
				font-size: font-size($articleH2SizeMd);
			}
		}
	}
	@if $articleH3SizeMd != inherit {
		h3 {
			@include screen-size(mw-mh) {
				font-size: font-size($articleH3SizeMd);
			}
		}
	}
	summary {
		+ * {
			@include margin($unit n n n);
		}
		@if $articleSummaryColor != inherit {
			@include var(color, $articleSummaryColor);
		}
		@if $articleSummaryColorHover != inherit {
			&:hover {
				@include var(color, $articleSummaryColorHover);
			}
		}
		@if $articleSummarySize != false {
			font-size: font-size($articleSummarySize);
		}
		@if $articleSummaryWeight != inherit {
			@include font-weight($articleSummaryWeight);
		}
		@if $articleSummarySizeMd != false {
			@include screen-size(mw-mh) {
				font-size: font-size($articleSummarySizeMd);
			}
		}
	}
	@if $articleDetailsAnim != none {
		details[open] summary ~ * {
			animation: $articleDetailsAnim;
		}
	}



	// Figures
    // Centre align content figures by default

	figure {
		text-align:center;
	}

	// Horizontal Rules
    // These are used to clear

	hr {
		@include margin(n n $unit n);
		clear:both;
		@include screen-size(mw) {
			@include margin(n n $unit*1.5 n);
		}
		&.u-clear {
			@include margin(n n 0 n);
			@include screen-size(mw) {
				@include margin(n n 0 n);
			}
		}
	}

	.c-button {
		@include margin($unit/8 n);
	}


	// Tables

	table {
		@include table;

		&.\+fixed {
			table-layout: fixed;
			width: 100%;
		}
		&.tablesorter {
			th {
				color:color(link);
				cursor: pointer;
			}
		}
	}
	.\~anchor-inside & {
		table {
			@include margin(n n n 0, dir);
		}
	}


	// Animations

	&.js-anim {
		@include is-not-old-ie {
			opacity: 0;
			@media (prefers-reduced-motion) {
				opacity: 1;
			}
		}
	}
	&.is-in-view {
		animation: fadeIn $t2 linear;
		@media (prefers-reduced-motion) {
			// Disable the non-essential 5-presets.
			animation: none;
		}
	}
}




// Article Block
// ==========================================================================

.c-article__block {
	@include margin(n n $articleMainSpacing n);
	break-inside: avoid;
	overflow: hidden;
	@include screen-size(mw) {
		@if $articleMainSpacingLg != $articleMainSpacing {
			@include margin(n n $articleMainSpacingLg n);
		}
	}
	&:last-child {
		margin-bottom: 0;
		@include screen-size(mw) {
			margin-bottom: 0;
		}
	}
	&.\+text-lg {
		@include article-content-xlg;
	}
	&.\+padded {
		@include screen-size(lw) {
			h1, h2, h3,
			p, ol, ul, dl {
				@include margin(n n $verticalSpace n);
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		+ .c-article__block.\+padded {
			@include margin((-$unit) n n n);
			@include screen-size(mw) {
				@include margin((-$unit*1.5) n n n);
			}
		}
		+ hr.u-clear {
			@include margin((-$unit) n n n);
			@include screen-size(mw) {
				@include margin((-$unit*1.5) n n n);
			}
		}
	}
}


// Article Map
// ==========================================================================

.c-article__map {
	@include screen-size(mw) {
		@include padding($unit);
	}
	@include screen-size(lw) {
		@include padding($unit*2);
	}
}




// Article Footer
// ==========================================================================

.c-article__end {
	@include center-content;
	@include rem(max-width, $articleContentWidth);
	background-color: color(shade, $shadeAmount);
	height: 2px;
	clear: both;
	margin-bottom: 0;
}

.c-article__footer {
	@extend %credentials;
	@include center-content;
	@include rem(max-width, $articleContentWidth);
	@include screen-size(lw) {
		@include padding(n $unit*2);
	}
	p, address {
		text-align: center;
	}
}

//.c-article__bookmark {
//	border-bottom: 2px solid color(shade, $shadeAmount);
//}

.c-article__creds {
	@include center-content;
	align-items: center;
	border-bottom: 2px solid color(shade, $shadeAmount);
	display: flex;

	@include screen {
		@include rem(max-width, $articleContentWidth);
	}

	@include screen-size(lw) {
		@include padding(n $unit);
	}

	.c-article__post-header {
		flex: 1;
	}
}

.c-article__photo-creds {
	display: flex;
	width: $block/3;
}

.c-article__share-anchor {
	@include padding($unit);
	@include screen-size(lw) {
		@include padding(n $unit*2);
	}
}

// Article Formatting
// ==========================================================================

.\+heading-fill {
	@include padding($unit);
	clear: $mainEnd;
	&:first-child {
		margin-top: 0;
		@include rem(padding-top, $unit);
	}
	+ .c-article__block.\+padded {
		@include margin((-$unit) n n n);
	}
}

.\+dropcap {
	overflow: visible;
	p:first-child:first-letter {
		float: left;
		font-size: $dropcap;
		line-height: 0.8;
		margin-left: -0.09em;
		margin-top: -0.05em;
	}
	dl, ol, p, ul {
		&:nth-child(2) {
			clear: left;
		}
	}
}

.\+columns-2,
.\+columns-3 {
	@include screen-size(mw) {
		columns: 2;
		> h2 {
			break-after: avoid;
			padding-top:0;
		}
	}
}

.\+columns-3 {
	@include screen-size(lw) {
		clear:both;
		columns: 3;
		@include rem(margin-#{$mainStart}, -($block + $unit*2));
		@include rem(margin-#{$mainEnd}, -($block + $unit*2));
	}
}

// ==========================================================================
// SCREEN ONLY
// ==========================================================================

@include screen {
	.c-article__block {
		&.\+padded {
			@include padding($unit);
			@include screen-size(lw) {
				@include padding($unit*2);
			}
			@include screen-size(sw-) {
				@if $articleContentPadXMob != default {
					@include screen-size(sw-) {
						@include margin(n (-$articleContentPadXMob));
						@include padding(n $articleContentPadXMob);
					}
				}
			}
		}
	}
}

@media print {
	.c-article__header,
	.c-article__creds,
	.c-article__main {
		@include padding(n 0);
	}
	.c-article__share-anchor,
	.c-article__photo-creds {
		display: none;
	}
	.c-article__post-header {
		margin-top: 0;
	}
	.c-article__creds {
		@include padding($unitPrint/2 n);
		font-size: font-size(milli);
	}
	.c-article__end {
		background-color: transparent;
	}
}