// ==========================================================================
//
//	ARTICLE OVERVIEW
//
//  - This is useful for project pages.
//  - Provides a way to summarize a page.
//  - This is different from the info-table.
//
// ==========================================================================



.c-article-overview__container {
    @include padding(n $unit);
    @include margin(n n $unit n);
    @include screen-size(lw) {
        @include padding(n $unit*2);
    }
    &.\+image {
        @include screen-size(lw) {
            @include margin(n (-($block/2)));
        }
    }
}

.c-article-overview {
    @include screen-size(sw) {
        display: flex;
    }
}

.c-article-overview__track {
    @include margin(n n $unit n);
    background-color: color(shade, $shadeAmount);
    height: $unit/2;
    font-size: 0;
    position: relative;
    @include screen-size(mw-) {
        @include margin(n (-$unit));
    }
}

.c-article-overview__progress {
    @include position(absolute, 0px n 0px 0px);
    background-color: color(success);
}

.c-article-overview__image {
    font-size: 0;
    @include screen-size(sw) {
        flex: 1;
    }
    img {
        width: 100%;
    }
}

.c-article-overview__desc {
    @include article-content;
    @include article-content-lg;
    @include padding($unit);
    background-color: color(shade, $shadeAmount);
    @include screen-size(sw) {
        flex: 1;
    }
    @include screen-size(mw) {
        @include padding($unit*2);
    }
}

.c-article-overview__brief {
    @include screen-size(mw) {
        @include font-size(font-size(beta));
    }
    @include screen-size(mw-) {
        @include font-weight(bold);
    }
    + * {
        @include margin($unit n n n);
    }
}