// ==========================================================================
//
//	ASSET
//
//  - Article assets.
//
//	Utilises Mixins:
//		- article-pos-inset-start
//		- asset-pos-inset-end
//
// ==========================================================================


// SCREEN ONLY
// ==========================================================================

@include screen {

	// Article Asset

	.c-asset {
		@include base-font-size;
		break-inside: avoid;
		overflow: hidden;
		&:first-child {
			margin-top: 0;
		}
		.description + & {
			margin-top: 0;
		}
		.headingFill + & {
			margin-top: 0;
		}
		&:not(.\+audio):not(.\+table):not(.\+map) {
			@include screen-size(sw-) {
				@if $articleContentFigurePull != false {
					@if $articleContentPadXMob != default {
						@include margin(n (-$articleContentPadXMob));
					} @else {
						@include margin(n (-$unit));
					}
				}
			}
		}

		// Animations

		&.js-anim {
			background-color: color(shade, $shadeAmount);
			> * {
				opacity: 0;
				@media (prefers-reduced-motion) {
					opacity: 1;
				}
			}
		}

		&.is-in-view {
			animation: fadeZoomInQuick $t2 linear;
			@media (prefers-reduced-motion) {
				animation: none;
			}
		}

		// Map

		&.\+map {
			@include screen-size(sw-) {
				@include margin(n 0);
			}
		}

		// Positioning

		&.\+inset {
			@include asset-pos-inset-end;
			@include screen-size(sw) {
				max-width:50%;
				&.embed {
					width:50%;
				}
			}

			@include screen-size(lw) {
				@include rem(width, $block*2);
			}

		}
		&.\+margin {
			@include asset-pos-inset-end;
			@include margin(n n n $unit, dir);
			@include rem(max-width, $block);
			float: right;
			&:first-child {
				margin-top: 0;
			}
			@include rtl {
				float: left;
			}
			@include is-old-ie {
				width:33%;
			}
			@include is-not-old-ie {
				width:calc(33% - #{$unit});
			}
		}

		&.\+inside-margin {
			@include article-pos-inset-start;
			@include screen-size(mw) {
				@include rem(width, $block*.75);
			}
			@include screen-size(lw) {
				@include rem(width, $block);
			}
		}

		//&.\+inside-marginLap {
		//	@include screen-size(mw-lw) {
		//		@include margin(n n n 0, dir);
		//		float:none;
		//		max-width: none;
		//		@include screen-size(mw) {
		//			width:auto;
		//		}
		//	}
		//}
        //
		//&.\+inside-margin {
		//	+ .c-Article-main {
		//		@include screen-size(lw-) {
		//			overflow:hidden;
		//		}
		//		@include screen-size(mw-lw) {
		//			> h2, > h3,
		//			.c-Article-main-part > h2,
		//			.c-Article-main-part > h3 {
		//				text-align:left;
		//				text-align:start;
		//			}
		//		}
		//	}
		//}

		&.\+thumb {
			@include margin(n $unit $unit n, dir);
			@include rem(width, $block/2);
			clear: left;
			float: left;
			&:first-child {
				margin-top:0;
			}
			@include rtl {
				float: right;
			}
			@include screen-size(sw-) {
				@include rem(width, $block/3);
				@if $articleContentThumbPull == false {
					@include margin(n n n 0, dir);
				}
			}
			@include screen-size(mw) {
				@include margin(n $unit*2 n n, dir);
			}
		}

		&.\+outset {
			@include article-pos-outset;
		}

		&.\+wide {
			@include article-pos-wide;
			h1, h2 {
				@include screen-size(lw) {
					text-align: center;
				}
			}
		}

		&.\+embed {
			&.\+full {
				@include screen-size(lw-) {
					clear:right;
				}
			}
		}

		&.\+table {
			overflow: auto;
			@include margin(n n $unit n);
			@include screen-size(mw-mh) {
				@include margin(n n $unit*2 n);
			}
		}

		&.\+image {
			background-color:color(shade, $shadeAmount);
			font-size:0;

			.c-Band-panel & {
				background-color: transparent;
			}
		}
		&.\+padded {
			@include padding($unit);
			@include screen-size(lw) {
				@include padding($unit*2);
			}
		}

		.c-article__map & {
			margin-bottom: 0;
		}

		.\+heading-fill + & {
			@include margin((-$unit) n n n);
		}
	}

	.c-asset__image {
		margin: 0;
		width: 100%;
	}
	.c-asset__caption {
		@include padding($unit n $unit/2 n);
		@include caption;
		margin: 0;
		text-align: center;
		@if $articleFontFamily != inherit
		and $assetFontFamily != inherit {
			.c-article__main.\+article & > p {
				font-family: $assetFontFamily;
			}
		}
		.\+anchor-inside & {
			@include text-start;
		}
		.c-asset.\+padded & {
			@include padding(n n 0 n);
		}
		@include screen-size(sw-) {
			@include font-size(font-size(milli));
		}
		.c-asset:not(.\+padded) & {
			@include screen-size(sw-) {
				@if $articleContentFigurePull != false {
					@if $articleContentPadXMob != default {
						@include padding(n ($articleContentPadXMob));
					} @else {
						@include padding(n ($unit));
					}
				}
			}
		}
	}

	blockquote.c-asset.\+margin {
		@include is-old-ie {
			width:50%;
		}
		@include is-not-old-ie {
			@include screen-size(mw-) {
				width:calc(50% - #{$unit});
			}
		}
	}

	// 	Element Specifics
	// ==========================================================================

	// Blockquotes

	blockquote.c-asset {
		@include article-content-xlg;
		@include padding($unit);
		text-align:center;
		@if $assetBlockQuoteOpacity != 1 {
			opacity:$fade;
		}
		@include screen-size(mw) {
			@include padding($unit*2);
		}

		.\+anchor-inside &,
		&.\+inset,
		&.\+margin {
			@include text-start;
		}

		.\+anchor-inside & {
			@include padding(n 0);
		}

		&,
		.\+anchor-inside & {
			@include screen-size(sw-) {
				@if $articleContentFigurePull != false {
					@if $articleContentPadXMob != default {
						@include padding(n $articleContentPadXMob);
					} @else {
						@include padding(n $unit);
					}
				}
			}
		}

		p {
			@include margin(n n $unit n);
			@if $assetBlockQuoteFontFamily != inherit {
				font-family: font-family($assetBlockQuoteFontFamily);
			}
		}

		cite {
			@include base-font-size;
			@include caption;
			display: block;
		}
	}

	figure.c-asset {
		@include margin(n n $unit n);
		@include screen-size(lw) {
			@include margin(n n $unit*1.5 n);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// ==========================================================================
// PRINT ONLY
// ==========================================================================

@media print {

	.c-asset {
		overflow: hidden;
		font-size: 8pt;

		table {
			width: 100%;
			.Cell-tight {
				width: 1px;
				white-space: nowrap;
			}
			[align="right"] {
				text-align: right;
			}
			[align="right"] {
				text-align: right;
			}
		}
	}

	.\+margin-inside {
		float: left;
		margin-right: 1cm;
		max-width: 3cm;
		+ .c-Article-main {
			overflow: hidden;
		}
	}

	.\+margin {
		float: right;
		margin-left: 0.5cm;
		margin-bottom: 0.5cm;
		max-width: 3cm;
	}

	.\+thumb {
		clear: left;
		float: left;
		margin-right: 0.5cm;
		margin-bottom: 0.5cm;
		max-width: 3cm;
	}
}