//
// Boxer v3.3.0 - 2014-10-24
// A jQuery plugin for displaying images, videos or content in a modal overlay. Part of the Formstone Library.
// http://formstone.it/boxer/
// Copyright 2014 Ben Plum; MIT Licensed
//

@include screen {
	.boxer-lock {
		overflow: hidden !important;
	}
	#boxer-overlay {
		@include position(fixed, 0);
		@include size(100% 100%);
		background: color(primary);
		opacity: 0;
		transition: opacity $t1 linear;
		z-index: zindex(overlay);

		.boxer-open & {
			opacity: 0.75;
		}
	}

	#boxer {
		@include center-content;
		@include padding($unit);
		@include position(absolute, n 0);
		@include size(200px 200px);
		user-select: none;
		z-index: zindex(modal);
		background: color(site);
		opacity: 0;
		* {
			transition: none;
			user-select: none;
		}
		&.fixed {
			@include position(fixed, 0 n);
			margin: auto;
		}
		&.inline, &.iframe {
			.boxer-content {
				width: auto;
				height:100%;
			}
		}
		&.inline {
			@include padding($unit*2);
		}
		&.animating {
			transition:
				height $t1 ease,
				width $t1 ease,
				opacity $t1 linear,
				top $t1 ease;
			.boxer-container {
				transition: opacity $t1 linear;
			}
		}
		&.loading {
			.boxer-container {
				transition: opacity $t1 linear;
				opacity: 0;
			}
			.boxer-loading {
				opacity: 1;
			}
		}
		&.mobile {
			@include size(100% 100%);
			@include position(fixed, 0);
			background: color(primary);
			border-radius: 0;
			padding: 0;
			@include rem(padding-top, $unit*2);

			.boxer-close {
				top:0;
				right:0;
				&:before {
					color:color(site);
				}
			}

			.boxer-loading {
				&:before {
					border-color: rgba(153, 153, 153, 0.25);
				}
				&:after {
					border-top-color: #999999;
				}
			}
			.boxer-loading,
			.boxer-container,
			.boxer-content {
				background:transparent;
				color:color(site);
			}
			.boxer-control {
				width: 50px;
				height: 100%;
				background: color(primary);
				border-radius: 0;
				box-shadow: none;
				opacity: 1;
				&.previous {
					left: 0;
					&:before {
						border-right-color: color(shade, $shadeAmount);
						margin-left: 19px;
					}
				}
				&.next {
					right: 0;
					&:before {
						border-left-color: color(shade, $shadeAmount);
						margin-right: 19px;
					}
				}
			}
			.boxer-control,
			&:hover .boxer-control {
				.no-touch & {
					opacity: 1;
				}
				&.disabled {
					.no-touch & {
						opacity: 0;
						cursor: default !important;
					}
				}
			}
			.boxer-meta {
				width: 100% !important;
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				padding: $unit 0;
			}
			.boxer-position {
				color: #999999;
				font-size: 12px;
				margin: 0;
				padding: 0 15px 0 0;
			}
			.boxer-image {
				-webkit-transition: none !important;
				transition: none !important;
				-webkit-transform: translate(0, 0);
				-ms-transform: translate(0, 0);
				transform: translate(0, 0);
			}
			&.animated .boxer-image {
				-webkit-transition: -webkit-transform $t1 ease-out !important;
				transition: transform $t1 ease-out !important;
			}
			&.inline .boxer-content,
			&.iframe .boxer-content {
				overflow-x: hidden;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
			}
		}
		.boxer-open & {
			opacity: 1;
		}
		.boxer-close {
			width: 30px;
			height: 30px;
			position: absolute;
			top: -30px;
			right: -30px;
			z-index: 105;
			cursor: pointer;
			display: block;
			overflow: hidden;
			padding: 0;
			text-indent: 200%;
			white-space: nowrap;
			&:before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				color: color(site);
				content: "\00d7";
				display: block;
				font-size: 22px;
				font-weight: 700;
				line-height: 30px;
				margin: auto;
				text-align: center;
				text-indent: 0;
				-webkit-transition: color 0.15s linear;
				transition: color 0.15s linear;
			}
		}
		.boxer-container {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 103;
			background: color(site);
			overflow: hidden;
		}
		.boxer-content {
			width: 100%;
			background: color(site);
			opacity: 1;
			overflow: hidden;
			padding: 0;
		}
		.boxer-loading {
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 105;
			display: block;
			margin: auto;
			opacity: 0;
			-webkit-transition: opacity $t1 linear;
			transition: opacity $t1 linear;
			&:before, &:after {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 110%;
				content: '';
				display: block;
			}
			&:before {
				border: 5px solid rgba(51, 51, 51, 0.25);
			}
			&:after {
				-webkit-animation: boxer-loading-spin 0.75s linear infinite;
				animation: boxer-loading-spin 0.75s linear infinite;
				border: 5px solid transparent;
				border-top-color: #333333;
			}
		}
		.boxer-image {
			float: left;
		}
		.boxer-video {
			width: 100%;
			height: 100%;
		}
		.boxer-iframe {
			width: 100%;
			height: 100%;
			border: none;
			float: left;
			overflow: auto;
		}
		.boxer-meta {
			clear: both;
			padding: 10px 0 0 0;
		}
		.boxer-control {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0;
			background: #ffffff;
			border-radius: 100%;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
			cursor: pointer;
			display: block;
			margin-right: auto;
			margin-left: auto;
			opacity: 1;
			overflow: hidden;
			text-indent: 200%;
			-webkit-transition: opacity 0.15s linear;
			transition: opacity 0.15s linear;
			white-space: nowrap;
			&:before {
				width: 0;
				height: 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: '';
				margin: auto;
			}
			.previous {
				left: 20px;
				&:before {
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-right: 10.4px solid #333333;
					margin-left: 14px;
				}
			}
			.next {
				right: 20px;
				&:before {
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-left: 10.4px solid #333333;
					margin-right: 14px;
				}
			}
			.disabled {
				opacity: 0;
			}
		}
		.boxer-position {
			color: #999999;
			margin: 0;
			padding: 15px 15px 0 15px;
		}
		.boxer-caption {
			@include caption;
			text-align:center;
		}
		.boxer-error {
			width: 250px;
			p {
				color: color(error);
				font-size: 14px;
				margin: 0;
				padding: 25px;
				text-align: center;
				text-transform: uppercase;
			}
		}
		img {
			max-width:none;
		}
	}

	.no-opacity {
		#boxer {
			.boxer-control {
				text-indent: -999px;
			}
		}
	}

	.no-touch {
		#boxer {
			.boxer-control {
				opacity: 0;
			}
			&:hover {
				.boxer-control {
					opacity:1;
					&.disabled {
						opacity: 0;
						cursor: default !important;
					}
				}
			}
		}
	}
}


@-webkit-keyframes boxer-loading-spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes boxer-loading-spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}