// ==========================================================================
//
//	BUTTON
//
//  Site-wide button styles
//
//	Configuration:
//  	2-config/button
//
// ==========================================================================


.c-button {
    @include base-font-size($buttonFontSizeRatio);
    @include button(color(primary));
    @include font-weight($buttonFontWeight);
    @include no-underline;
    position: relative;
    @if $buttonTextTransform != none {
        text-transform: $buttonTextTransform;
    }
    @if $buttonLetterSpacing != 0 {
        letter-spacing: $buttonLetterSpacing;
    }
    .c-Poster--tape-title & {
        margin-bottom: 0;
    }
    &:hover {
        box-shadow: $buttonHoverShadow;
    }
    &:active {
        box-shadow: $buttonPressedShadow;
    }

    // Primary button (uses the brand's main accent color)
    &.\+1 {
        @include button-filled(color-link, var, white);
    }



    // Positive button (encourage click. Usually green)
    &.\+pos {
        @include button-filled(color(success));
    }



    // Negative button (caution when clicking. Usually red)
    &.\+neg {
        @include button-hollow(color(error));
    }



    // Quiet button (a non-primary action)
    &.\+quiet {
        @include button-color(color(tint));
        background-color: color(shade, $shadeAmount);
        border-color: color(shade, 0.01);

        // Hover State
        &:hover {
            box-shadow: $shadowDarken;
        }
    }



    // Reverse buttons. When buttons are on a dark background)
    &.\+rev {
        @include button-filled(color(tint));
        color: color(primary);
        &:hover {
            box-shadow: $buttonHoverShadowDark;
        }
    }

    // Disabled button
    &.\+disabled, [disabled] {
        background: none;
        color: color(primary);
        cursor: not-allowed;
        opacity: $fade;
        @if $buttonBorderWidth != 0 {
            border-color: color(primary);
        }
    }



    // Full width button
    &.\+fill {
        width:100%;
        margin-right:0;
    }

    // Hollow button
    &.\+hollow {
        &:not(:hover):not(:active) {
            box-shadow: inset 0 0 0 $borderWidth currentColor;
            background-color: transparent;
            color: color(primary);
            &.\+1 {
                color: color(link);
            }
            &.\+pos {
                color: color(success);
            }
            &.\+neg {
                color: color(error);
            }
            &.\+rev {
                color: color(white);
            }
        }
        &:hover,
        &.\+rev:hover {
            box-shadow: none;
        }
    }



    // Big button
    $big-button-ratio-sm: $ratioA;
    $big-button-ratio-md: $ratioB;

    &.\+big {
        @include screen-size(sw-mh) {
            @include base-font-size($big-button-ratio-sm);
            @include padding(n $unit * $big-button-ratio-sm);
            line-height: $touchTarget * $big-button-ratio-sm;
            min-height: $touchTarget * $big-button-ratio-sm;
        }
        @include screen-size(mw-mh) {
            @include base-font-size($big-button-ratio-md);
            @include padding(n $unit*$big-button-ratio-md);
            line-height: $touchTarget * $big-button-ratio-md;
            min-height: $touchTarget * $big-button-ratio-md;
        }
    }



    // Text-only button. Like links but with a button-size tap area
    &.\+text {
        background-color: transparent;
        border-color: transparent;
        color: color(text);
        &:hover {
            background-color: transparent;
            box-shadow: $textButtonShadow;
            color: color(text, 1, -5%);
        }
        &:active {
            background-color: transparent;
            color: color(text, 1, -10%);
        }

        &.\+link {
            color: color(link);
            &:hover {
                color: color(link, 1, -5%);
            }
            &:active {
                color: color(link, 1, -10%);
            }
        }
        &.\+pos {
            color: color(success);
            &:hover {
                color: color(success, 1, -5%);
            }
            &:active {
                color: color(success, 1, -10%);
            }
        }
        &.\+neg {
            color: color(error);
            &:hover {
                color: color(error, 1, -5%);
            }
            &:active {
                color: color(error, 1, -10%);
            }
        }
        &.\+hover {
            &:hover {
                background-color: color(shade, $shadeAmount);
                box-shadow: $textButtonHoverShadow;
            }
            &:active {
                background-color: color(shade, $shadeAmount*2);
                box-shadow: $textButtonPressedShadow;
            }
        }
        &.\+tight {
            @include padding(n 0);
        }
    }

    // Icon'ed button
    &.\+icon {
        display: inline-flex;
        align-items: center;
        vertical-align: top;
    }

    // Spacing in Hero
    .c-hero & {
        @include margin($unit/8 n);
    }
}

a.c-button {
    @include no-underline;
}


.c-button.\+rev,
a.c-button.\+rev,
a:visited.c-button.\+rev {
    .-fill1 & {
        color: color(primary); &:hover { color: color(primary); }
    }
    .-fill2 & {
        color: color(secondary); &:hover { color: color(secondary); }
    }
    .-fill3 & {
        color: color(tertiary); &:hover { color: color(tertiary); }
    }
    .-fill4 & {
        color: color(quaternary); &:hover { color: color(quaternary); }
    }
    .-fill5 & {
        color: color(quinary); &:hover { color: color(quinary); }
    }
    .-fill6 & {
        color: color(senary); &:hover { color: color(senary); }
    }
}

// Button Drop Down
.c-button-dropdown {
    @include base-font-size();
    @include padding($unit/2 0);
    @include text-start;
    background-color: color(tint);
    box-shadow: $shadowDepth2;
    color: color(link);
    letter-spacing: 0;
    line-height: $baseLineHeight;
    position: absolute;
    text-transform: none;
    z-index: 1;
    > * {
        @include padding($unit/3 $unit);
        cursor: pointer;
        display: block;
        &:hover {
            background-color: color(shade, $shadeAmount);
        }
    }
    em {
        @include font-weight(lighter);
        font-style: normal;
        opacity: $fade;
    }
}

.addeventatc_dropdown {
    @extend .c-button-dropdown;
}

// Button Group

.c-button-group {
    display: flex;
    > * {
        flex: 1;
        text-align: center;
    }
    .c-button {
        &,
        &.\+big {
            @include padding(n 0);
        }
    }
    &:not(.\+tight) {
        > * + * {
            @include margin(n n n $unit/2);
        }
    }
}