// ==========================================================================
//
//	CARD
//
//  SUPPORT ITEM TYPE
//   - Material-design inspired info card, that can contain an image.
//   - Comes in two flavours:
//   1. Single (Image and content are stacked)
//   2. Double  +dbl  (Image and content are side-by-side)
//
// ==========================================================================


// Card list
// ==========================================================================

.c-card-list {
    li {
        @include rem(width, $block*2);
        @include screen-size(sw) {
            max-width: 50%;
        }
    }
    &.c-support-list.\+blocks {
        li {
            @include screen-size(mw) {
                max-width: 50%;
            }
        }
    }
    // Animate in:
    // @include popInList("li", ".c-card");
}



// Card component
// ==========================================================================

.c-card {
    @extend %teaser;
    @include text-start();
    background-color: color(shade, $shadeAmount);
    box-shadow: $shadowDepth0;
    padding-bottom: 100%;
    transition: $t1;
    @include screen-size(watchOs-) {
        height: auto;
    }

    // +entry (How a Card appears as an Article Asset)
    &.\+entry {
        @include screen-size(mw) {
            padding-bottom: 66%;
        }
        ~ .c-card.\+entry {
            @include margin($unit n n n);
        }
    }

    // +dbl (Places the image to the left of the content)
    &.\+dbl {
        padding-bottom: 50%;
        &.\+entry {
            @include screen-size(mw) {
                padding-bottom: 33%;
            }
        }
    }

    &,
    &.\+dbl,
    &.\+dbl.\+entry {
        @include screen-size(watchOs-) {
            padding-bottom: 0;
        }
    }

    // +linked (If there is a link on the card. Adds appropriate feedback. Otherwise card remains flat)
    &.\+linked {
        &:hover {
            box-shadow: $teaserHoverShadow;
            z-index:1;
        }
        &:active {
            box-shadow: $teaserActiveShadow;
        }
    }
}

.c-card__thumb {
    display: block;
    padding-bottom: 50%;
    position: relative;
    .\+dbl & {
        width: 50%;
        @include screen-size(watchOs-) {
            width: auto;
        }
    }
    @include screen-size(mw) {
        .\+dbl.\+entry & {
            padding-bottom: 33%;
            width: 33%;
        }
    }
    img {
        object-fit: cover;
    }
}



// Card Title (headline or name)
// ==========================================================================

@mixin cardTitleSmall {
    @include font-size(font-size(alpha));
    line-height: $lineHeightRatio * 0.9;
}
.c-card__title {
    @extend %teaser-title;
    @include screen-size(mw-mh) {
        @include font-size(font-size(gamma));
    }
    b {
        display: block;
    }
    .\+dbl.\+thumb & {
        @include cardTitleSmall;
        @include screen-size(mw-mh) {
            @include font-size(font-size(beta));
            line-height: $lineHeightRatio * 0.85;
        }
    }
    @include screen-size(watchOs-) {
        @include cardTitleSmall;
    }
    .c-card.\+linked:hover & {
        a {
            text-decoration: underline;
        }
    }
    .c-card.\+linked:active & {
        a {
            text-decoration: none;
        }
    }
    .c-card & {
        @include rem(margin-bottom, $unit/2);
    }
}



// Card Content (Everything bar the thumbnail)
// ==========================================================================

@mixin cardContentSmall {
    @include screen-size(mw-) {
        p {
            @include font-size(font-size(milli));
        }
    }
}

.c-card__content {
    @extend %teaser-content;
    @include screen-size(lw-) {
        @include padding(n $unit $unit n, dir);
    }
    @include screen-size(mw-) {
        @include padding($unit);
    }
    @include screen-size(watchOs-) {
        @include cardContentSmall;
    }

    .\+dbl .c-tease__tag + & {
        @include screen-size(mw-) {
            @include padding($unit*1.5 n n n);
        }
    }
    .\+thumb & {
        @include position(absolute, 50% 0 0 0);
        line-height: $lineHeightRatio * 0.9;
    }

    .\+dbl.\+thumb & {
        @include cardContentSmall;
        @include inset(0 n n 50%, dir);
    }

    .\+dbl.\+thumb.\+entry & {
        @include inset(0 n n n, dir);
        top: 0;
        @include screen-size(mw) {
            @include inset(n n n 33%, dir);
        }
    }
    .\+thumb &,
    .\+dbl.\+thumb &,
    .\+dbl.\+thumb.\+entry & {
        @include screen-size(watchOs-) {
            position: static;
        }
    }
}



// Card stats (eg. on a Profile Card)
// ==========================================================================

.c-card__stats {
    b {
        @include font-weight(bold);
    }
}