// ==========================================================================
//
//	COMMENTS
//
// ==========================================================================

.c-comments {
    @include padding(n $unit);
    list-style: none;
    margin: 0 auto;
    max-width: $block*3;
    &:first-child {
        @include screen-size(lw) {
            @include padding(n $unit*2);
        }
    }
    .c-comments {
        @include margin($unit n n n);
        @include padding(n 0 n $unit);
        border-left: 2px solid color(shade, $shadeAmount);
        display: none;
        @include screen-size(mw) {
            @include margin(n n n $unit*2);
        }
    }
    .c-form {
        @include padding(n 0 n $unit*3);
        display: none;
        &.c-comment__edit {
            padding: 0;
        }
    }
}
.c-comment {
    @include margin(n n $unit n);
    .c-comments:first-child > & + .c-comment {
        border-top: 1px solid color(shade, $shadeAmount);
        @include padding($unit n n n);
    }
}

.c-comment__container {
    display: flex;
}

.c-comment__text {
    @include margin(n n n $unit);
    flex: 1;
    > * + * {
        @include margin($unit/2 n n n);
    }
}

.c-comment__avatar {
    width: $unit*2;
}

.c-comment__author {
    @include padding(n $unit*3 n n);
    font-size: font-size(milli);
    display: block;
    opacity: $fade;
    position: relative;
    .meta:before {
        content: " • ";
    }
}

.c-comment__meta {
    display: flex;
    font-size: font-size(milli);
    opacity: $fade;
    > * + * {
        @include margin(n n n $unit/2);
    }
}

.c-options__menu {
    display: none;
    list-style: none;
    margin: 0;
}

.c-options {
    @include padding($unit/2);
    @include position(absolute, (-$unit/2) (-$unit/2) n n);
    text-align: right;
    &:hover {
        @include var(background-color, color-1);
        @include var(color, color-white);
        .c-options__menu {
            display: block;
        }
        .c-options__toggle {
            opacity: 0.5;
        }
    }
    a {
        color: inherit;
    }
}