// ==========================================================================
//
//	PAGE CONTENTS
//
// ==========================================================================

.c-contents {
    @include margin(n n $unit n);
    border-bottom: 2px solid color(shade, $shadeAmount);
    color: color(text, $fade);
    ul {
        @include margin(n n $unit n);
        li {
            + li {
                @include margin($unit/2 n n n);
            }
        }
    }
    summary {
        @include font-size(font-size(beta));
        font-weight: normal;
    }
}

.c-contents__sub {
    @include margin(n n n $unit);
    list-style-type: circle;
}

.c-contents__anchor {
    @include base-font-size;
    @include margin(n n n $unit/2, dir);
    display: none;
    float: right;
    @include rtl {
        float: left;
    }
    summary:target &,
    h2:target &,
    h3:target & {
        display: block;
    }
}

// ==========================================================================
// PRINT ONLY
// ==========================================================================

@media print {
    .c-contents {
        display: none;
    }
}