// ==========================================================================
//
//	CURRENCY
//
// ==========================================================================

.c-currency {
    display: block;
    .c-card & {
        display: inline;
        opacity: $fade;
        &:before {
            content:" (";
        }
        &:after {
            content:")";
        }
    }
}