// ==========================================================================
//
//	EMBLEM
//
//  Page Emblem that appears in the Hero (.c-hero)
//
// ==========================================================================

@include screen {
    .c-emblem {
        @include position(relative);
        @include padding($unit*2);
        animation: fadeIn herotime(3)$ease-in-out-cubic;
        clear:both;
        z-index:2;
        @include screen-size(sh) {
            @include position(absolute, 50% 0 n 0);
            transform: translateY(-50%);
        }
        img {
            @include rem(max-width, $emblemMaxW);
            max-height:33%;
            max-height:33vh;
            width:auto;
            @include screen-size(mw-) {
                max-width:$emblemMaxWMdMx;
            }
        }
        &.\+large {
            img {
                @include rem(max-width, $emblemLgMaxW);
                @include screen-size(mw-) {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}