// ==========================================================================
//
//	EMBED BOX
//
//  Supports the following aspect ratios
//      - widescreen
//      - square
//
// ==========================================================================

@include screen {
    .c-embed-box {


        &.\+iframe {
            @include media-box(aspect-ratio(widescreen), "> *");
            font-size: 0;
            iframe {
                width: 100%;
            }
        }

        iframe {
            border:0;
            max-width:100%;
        }

        &.\+widescreen {
            padding-bottom: aspect-ratio(widescreen);
        }
        &.\+square {
            padding-bottom: aspect-ratio(square);
        }

        // Twitter Tweet
        .twitter-tweet {
            margin-left: auto;
            margin-right: auto;
        }
        .\~anchor-inside & {
            .twitter-tweet {
                @include margin(n n n 0, dir);
            }
        }
    }
}