// ==========================================================================
//
//	EMBLEM LINK
//
//  Support Item. Uses the Emblem as the Preview image.
//  Useful for logos
//
// ==========================================================================

.c-support-list.\+blocks.c-emblem-list,
.c-support-list.c-emblem-list,
.c-emblem-list {
    li {
        @include rem(width, $block);
        max-width: 50%;
        @include screen-size(sw) {
            max-width:33.33%;
        }
        @include screen-size(mw) {
            max-width:25%;
        }
        @include screen-size(watchOs-) {
            max-width: 100%;
        }
    }
}

.c-emblem-link__outer {
    display: block;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.c-emblem-link {
    @include position(absolute, 0);
    @include font-weight(bold);
    flex-direction: column;
    display:flex;
    &:hover {
        background-color:color(shade, $shadeAmount);
        text-decoration: none;
    }
    img {
        max-width: 80%;
        max-height: 80%;
        width:auto;
        height:auto;
        @include is-ie-gte-10 {
            &[src$=".svg"] {
                width: 80%;
            }
        }
    }
    .\+grey {
        img {
            filter: grayscale(100%);
        }
        &:hover img {
            filter: grayscale(0);
        }
    }
}

.c-emblem-link__inner {
    @include base-font-size;
    align-items: center;
    justify-content: center;
    display:flex;
    flex: 1;
}

.c-emblem-link__text {
    width:80%;
    @include screen-size(sw) {
        @include font-size(font-size(beta));
    }
}

.c-emblem-link__label {
    @include padding($unit/2 n);
    display: block;
    font-weight: normal;
}
