// ==========================================================================
//
//	ENHANCE
//
//  Like c-support, but uses horizontally-stacked blocks.
//  Can contain, images, content, links, emblems etc,
//  and uses 3 different widths:
//      - wide (fills the space, items spaced out)
//      - fill (fills the spcae, items touching)
//      - index ("index" width)
//
// ==========================================================================

.c-enhance__header {
    @include padding($unit);
    text-align: center;
    @include screen-size(lw) {
        @include padding($unit*2 n n n);
    }
    h1, h2 {
        @include section-header;
    }
}


.c-enhance-list {
    @include center-content;
    @include rem(max-width, $block*4);
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    text-align: center;
    &.\+wide,
    &.\+fill {
        max-width: none;
    }
    &.\+wide {
        display: block;
        @include padding($unit);
        @include screen-size(lw) {
            @include padding($unit*2);
            flex-wrap: nowrap;
        }
    }
    &.\+fill {
        @include screen-size(lw) {
            flex-wrap: nowrap;
        }
    }
    &.\+index {
        @include screen-size(mw) {
            flex-wrap: nowrap;
        }
    }
    &.\+nowrap {
        flex-wrap: nowrap;
    }
}

.c-enhance-item {
    @include base-font-size;
    @include padding($unit n);
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width:50%;

    &.\+align-text {
        @include text-start();
    }

    .\+fill & {
        @include screen-size(lw) {
            flex: 1;
        }
    }
    .\+nowrap &,
    .\+index &,
    .\+wide & {
        @include screen-size(mw) {
            @include rem(max-width, $block*2);
        }
    }
}

.c-enhance-item__header,
.c-enhance-item__body {
    @include padding($unit/4 $unit);
    @include screen-size(lw) {
        @include padding($unit/2 $unit*2);
    }
}

.c-enhance-item__body {
    @include article-content;
}

.c-enhance-item__icon {
    @include rem(height, $block/2);
    align-items: center;
    display: flex;
    justify-content: center;
    img {
        @include rem(max-width, $block/2 - $unit*2);
        @include rem(max-height, $block/2 - $unit*2);
        width: 100%;
        @include screen-size(sw-) {
            width: 60%;
        }
    }
}