// ==========================================================================
//
//	ENTRY LIST
//
//  Entry Index links that appear in-article
//
// ==========================================================================

.c-article__main ul.c-entries-list,
ul.c-entries-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;

    .\+link,
    .\+doc {
        .c-square__content {
            @include position(absolute, 0);
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: none;
        }
    }
}