// ==========================================================================
//
//	EXPLORER
//
//  Summary block containing a number of elements, including:
//      - Title
//      - Target bar (eg. for fundraising)
//      - Description (brief)
//      - Image or Video
//      - "Get involved" Action bar
//
// ==========================================================================

.c-explorer {
    @include center-content;
    @include rem(max-width, $block*4);
    grid-gap: $unit $unit;
    grid-template-areas:
    "tt tt tt tt tt tt"
    "pp pp pp pp pp pp"
    "cc cc cc cc cc cc"
    "mm mm mm mm mm mm"
    "aa aa aa aa aa aa";
    @include screen-size(mw) {
        grid-template-areas:
        "tt tt tt tt tt tt"
        "pp pp pp pp pp pp"
        "cc cc mm mm mm mm"
        "aa aa aa aa aa aa";
    }

}

.c-explorer__title {
    grid-area: tt;
}

.c-explorer__progress {
    grid-area: pp;
}

.c-explorer__reached {
    @include margin($unit/2 n n n);
    display: flex;
    justify-content: space-between;
}

.c-explorer__content {
    @include article-content;
    @include article-content-lg;
    @include padding($unit n);
    border-top: $borderWidth solid color(shade, $shadeAmount);
    grid-area: cc;
}

.c-explorer__media {
    align-items: center;
    background-color: color(primary);
    display: flex;
    font-size: 0;
    grid-area: mm;
}

.c-explorer__action {
    @include padding($unit n);
    border-top: $borderWidth solid color(shade, $shadeAmount);
    display: flex;
    grid-area: aa;
}

.c-explorer__action-text {
    @include margin(n $unit n n);
    @include article-content;
    @include article-content-lg;
    flex: 1;
}

.c-explorer__action-buttons {
    @include margin((-$unit/2));
    @include screen-size(mw) {
        display: flex;
        flex-direction: row-reverse;
    }
    @include screen-size(mw-) {
        flex: 1;
    }
    li {
        @include margin($unit/2);

    }
}
