.fc {
	&[data-fc-sidecart], &[data-fc-sidecart] #fc-cart, &[data-fc-sidecart] .fc-sidecart-only-fixed, &[data-fc-with-sidecart], &[data-fc-store-page], &[data-fc-ui-block] {
		backface-visibility:visible;
	}
}
[data-fc-with-sidecart] [data-fc-sidecart] {
	@include background-color($white);
	#fc {
		// Reset Colors
		.fc-cart__items .fc-cart__item__remove a,
		.fc-sidecart-button,
		.fc-cart__item__total p,
		.fc-cart__item__name,
		.fc-transaction,
		.fc-transaction__total .fc-subtotal__label,
		.fc-transaction__total .fc-subtotal__value {
			color:inherit;
		}


		h2, h3 {
			@include font-weight($hWeight);
			font-family: inherit;
			color: inherit;
			text-shadow: none;
		}
		p, input, button, span, a, table, table *, div, address, li, ul {
			font-family: inherit;
		}

		// Align left headers 

		.fc-cart__title__header,
		.fc-order-quantity,
		.fc-transaction__header {
			@include text-start;
		}

		// Cart items 
		.fc-cart__item {
			@include padding($unit);
			background-color:color(shade, $shadeAmount/2);
			margin-top:2px;
			&:first-child {
				margin-top:0;
			}
			.fc-cart__item__quantity .fc-form-control {
				@include field(auto);
				@include padding(0px $unit/2);
				@include text-end;
				border:0;
				box-shadow:none;
				line-height:$baseLineHeight;
				min-height:$baseLineHeight;
			}
			.fc-cart__item__options {
				margin-left:0;
			}
		}
		.fc-sidecart-only-fixed,
		#fc-cart {
			animation: fadeInSlow 1s;
		}
		.fc-sidebar,
		#fc-cart {
			background-color:transparent;
		}

		.fc-sidebar {
			&--cart {
				.fc-transaction {
					border-bottom:0;
				}
				.fc-actions--payment {
					border-top:1px solid color(shade, $shadeAmount);
				}
			}
		}

		// item image 

		.fc-cart__item__image {
			span {
				border:1px solid color(tint, $tintAmount);
			}
			&__img {
				border-radius:0;
			}
		}

		// Button 

		.fc-btn-action {
			padding:0;
			line-height:rem($siteHeaderHeight);
			min-height:rem($siteHeaderHeight);
		}

		.fc-action--checkout--button {
			@include button(color(secondary));
			font-weight:bold;
			letter-spacing: 1px;
			width:100%;
			text-shadow:none;
			text-transform: uppercase;
			svg {
				display: none;
			}
		}
		// Nav buttons 
		.fc-fixed-button-right .fc-btn-action {
			background:color(secondary);
		}
		.fc-fixed-button-left .fc-btn-action {
			background:color(shade, $shadeAmount);
		}
	}
}