// ==========================================================================
//
//	FEATURE ITEM
//
//  Large, attention-grabbing Support item.
//
// ==========================================================================

.c-feature__poster {
    @include background-color(color-dark, $brand1text, var);
    background: no-repeat center;
    background-size: cover;
    position: relative;
    @include screen-size(mw) {
        background-attachment: fixed;
        min-height: 50vh;
        @media (prefers-reduced-motion) {
            background-attachment: scroll;
        }
    }
    &:hover {
        a {
            text-decoration: underline;
        }
    }
}

.c-feature__content {
    @include center-content;
    @include rem(max-width, ($block*4));
    @include text-start;
    animation: fadeInSlow 1.5s linear;
    @media (prefers-reduced-motion) {
        animation: 1;
    }

    @media only screen and (min-width:screen-size(article)) {
        font-size: 1.1em;
    }

    @include screen-size(mw) {
        @include padding($unit*2 n);
    }

}

.c-feature__item {
    @include padding($unit n);
    @include rem(max-width, $block * 2);
    position: relative;
    width: calc(50% + (#{$unit} * 2));
    z-index: 2;
    @include screen-size(mw) {
        @include padding($unit*2 n);
    }
    @include screen-size(xsw-) {
        width: auto;
    }
    &.\+img {
        @include padding(n $unit);
        background-color: color(shade, 0.5);
        @include screen-size(mw) {
            @include padding(n $unit*2);
        }
    }
    * + * {
        @include margin($unit n n n);
    }
}

.c-feature__link {
    @include position(absolute, 0);
    background: color(shade, 0.25);
    display: block;
    opacity: 0;
    z-index: 1;
    &:active {
        opacity:0.5;
    }
}