// ==========================================================================
//
//	FIELD
//
//  Container for inputs
//
// ==========================================================================

.c-field {
    label {
        display: block;
        input {
            @include rem(margin-right, $unit/4);
        }
        :checked ~ span {
            @include font-weight(bold);
        }
    }
    .datewrapper,
    .timewrapper {
        display: block;
        width: auto;
        &:before {
            @include rem(left, $unit/2);
            transform: translateY(-50%);
            top:50%;
        }
        input {
            @include rem(padding-left, $unit*2);
        }
    }
    @include rtl {
        label input {
            @include rem(margin-left, $unit/4);
            margin-right: 0;
        }
        .datewrapper,
        .timewrapper {
            &:before {
                @include rem(right, $unit/2);
                left: auto;
            }
            input {
                @include rem(padding-right, $unit*2);
                padding-left: 0;
            }
        }
    }
}



// Help text
// ==========================================================================

.c-field__help {
    @include margin($unit/2 n);
    display: block;
    opacity: $fade;
}



// Warning text
// ==========================================================================

.c-field__warning {
    @include margin($unit/2 n);
    display: block;
    color: color(warning);
}



// Error text
// ==========================================================================

.c-field__error {
    color:color(error);
}


// "Other" field. Appears when an adjacent checkbox is checked
// ==========================================================================

.c-field__other {
    @include margin($unit/2 n n n);
}

.c-form input[type="text"].c-field__other {
    display: none;
}

input:checked ~ input[type="text"].c-field__other {
    display: block;
}