// ==========================================================================
//
//	FORM
//
// ==========================================================================



%form-title {
    @include screen-size(sw) {
        clear:left;
        float:left;
        width:45%;
        @include rtl {
            clear: right;
            float: right;
        }
        &.c-form__title--nofloat {
            float:none;
            width:auto;
            @include rtl {
                float: none;
            }
        }
    }
}

.c-form {
    @include article-main;
    @include center-content;
	@include clear();
    text-align: left;
    text-align: start;
    @include screen {
        @include rem(max-width, $articleContentWidth);
    }
    @include screen-size(mw-) {
        @include rem(max-width, $articleContentWidthMdMx);
    }

    // Animations
    &.js-anim {
        @include is-not-old-ie {
            opacity: 0;
        }
    }
    &.is-in-view {
        animation: fadeIn $t2 linear;
    }
}



//  Form Reveal.
//  Label that activates a checkbox which hides itself and reveals
//  a section next to it
// ==========================================================================

.c-form__reveal {
    .-pv2 & {
        @include margin(n n $unit n);
        @include screen-size(mw) {
            @include margin(n n $unit*2 n);
        }
    }

    + .c-form--hidden {
        display: none;
    }
}

.c-form__reveal-check:checked {
    + .c-form__reveal {
        display: none;
        + .c-form--hidden {
            animation: fadeIn $t2 linear;
            display: block;
        }
    }
}



// Table Form (formatting of the Form component to contain a table)
// ==========================================================================

.c-form--table {
    @include screen-size(mw-) {
        @include padding(n $unit);
    }
    form {
        + * {
            @include margin($unit n n n);
        }
    }
}



// Table Row [RARE CASE] (Used to contain a number of items in one row)
// ==========================================================================

.c-form__row {
    display:flex;

    .c-form__title + & {
        @include margin($unit n n n);
    }
}

.c-form__col {
    align-items: center;
    display:flex;
    &.\+1 {
        @include media-query(orig s m-) {
            flex: 1;
        }
    }
    input {
        margin: 0;
        width: 100%;
    }
}

.c-form--tabs {
    @include margin($unit n);
    fieldset {
        @include margin(n n $unit*2 n);
    }
    @include screen-size(mw) {
        @include margin(n (-$unit*1.5));
        display:flex;
        flex-wrap: wrap;
        fieldset {
            flex: 1 0 50%;
            @include rem(max-width, $block*1.5);
            @include padding(n ($unit*1.5));
            &:only-child {
                max-width: none;
            }
        }
    }
}



// Form Title
// ==========================================================================

.c-form__title {
    @extend %form-title;
    @include font-size(font-size(gamma));
    @include screen-size(mw-) {
        @include font-size(font-size(beta));
        @include margin(n n $unit/2 n);
    }

    .has-required-fields & {
        &:after {
            @include font-size(font-size(alpha), absolute);
            content:"* Required Fields";
            display:block;
            font-weight:normal;
            line-height: $lineHeightRatio;
            opacity:0.6;
        }
    }

    &.\+switcher {
        display: flex;
        flex-wrap: wrap;

        strong {
            @include margin(n $unit $unit n);
            flex: 1;
            @include screen-size(sw) {
                flex: 0 0 100%;
                width: 100%;
            }
        }
    }


    + .c-form__item {
        @include screen-size(sw-) {
            @include margin($unit n n n);
        }
    }
}

.c-form__switcher {
    > a,
    > span {
        border: 2px solid transparent;
        @include padding($unit/6 $unit/3);
        @include base-font-size();
        @include screen-size(mw) {
            @include base-font-size(1.2);
        }
    }

    > span {
        border-color: currentColor;
    }

    > a {
        @include no-underline;
        &:hover {
            border-color: currentColor;
        }
    }
}



// Form Subtitle (usually below the title)
// ==========================================================================

.c-form__subtitle {
    @extend %form-title;
    @include font-size(font-size(beta));
    @include screen-size(sw-) {
        @include font-size(font-size(alpha));
    }
    + .c-form__item {
        @include screen-size(sw-) {
            @include margin($unit n n n);
        }
    }
}



// Form Help (Hint/help text for the form itself)
// For fields, go to .c-field__help
// ==========================================================================

.c-form__help {
    @extend %form-title;
    opacity: $fade;
    @include screen-size(sw-) {
        @include font-size(font-size(milli));
    }
    + .c-form__item {
        @include screen-size(sw-) {
            @include margin($unit n n n);
        }
    }
}



// Form Actions (Contains the buttons, such as Submit)
// ==========================================================================

.c-form__actions {
    @include padding($unit n);
    @include screen-size(sw) {
        @include padding($unit*2 n n n);
        clear:right;
        float:right;
        width:50%;
        @include rtl {
            clear: left;
            float: left;
        }
        .c-form--alt &,
        .c-form--tabs &,
        .c-form--tabbed &,
        .c-form--table & {
            &,
            html[dir="rtl"] & {
                clear:none;
                float:none;
                width:auto;
            }
        }
    }
    .c-form--table & {
        padding:0;
    }
}




// Form Item (typically contains a Label / Input pair)
// ==========================================================================

.c-form__item {
    + .c-form__item {
        @include margin($unit n n n);
    }
    &.is-optional,
    &.is-required {
        label {
            &:after {
                font-weight:normal;
                margin-left:2px;
                opacity:$fade;
            }
        }
    }
    &.is-optional {
        label {
            &:after {
                content:" (Optional)";
            }
        }
    }
    &.is-required {
        label {
            &:after {
                content:"*";
            }
        }
        .error-placeholder {
            display:none;
            &.failed {
                display:block;
            }
        }
    }
    .field-help {
        display: block;
        font-size:font-size(milli);
        opacity:0.6;
    }
    .c-form__item {
        @include margin($unit n n n);
    }
    @include screen-size(sw) {
        clear:right;
        float:right;
        width:50%;
        @include rtl {
            clear: left;
            float: left;
        }
        .c-form--alt &,
        .c-form--tabs &,
        .c-form--table & {
            &,
            html[dir="rtl"] & {
                clear:none;
                float:none;
                max-width:100%;
                width:auto;
            }
        }
        .c-form__item {
            clear:none;
            float:none;
            max-width:100%;
            width:auto;
        }
    }
    &.\+flow-out {
        @include screen-size(sw) {
            clear:left;
            float:left;
            width:50%;
            @include rtl {
                clear: right;
                float: right;
            }
        }
    }
    &.\+notes {
        @include screen-size(sw) {
            @include padding(n $unit*4 n n, dir);
        }
    }
}



// Form Set.
// Contains a number of Form Items in a row
// Example: [Forename] [Surname]
// ==========================================================================

.c-form__set {
    @include media-query(orig s) {
        display: flex;
        .c-form__item {
            @include margin(0 n n n);
            clear: none;
            flex:1;
            float: none;
            width: auto;
            ~ .c-form__actions,
            ~ .c-form__item {
                @include margin(0 n n $unit/2);
                @include screen-size(mw) {
                    @include margin(n n n $unit);
                }
            }
        }
        .c-form__actions {
            @include padding(0 n);
            flex: 0;
        }
        &.\+tight {
            .c-form__item {
                ~ .c-form__actions,
                ~ .c-form__item {
                    margin-left: 0;
                    @include screen-size(mw) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}