// ==========================================================================
//
//	HERO
//
// ==========================================================================

$topNav: rem($siteHeaderHeight);
$topNavMd: rem($siteHeaderHeightMd);
$topNavDeep: rem($siteHeaderHeightLg);

// ==========================================================================
// SCREEN ONLY
// ==========================================================================

@include screen {
    .c-hero {
        align-items: center;
        background: center repeat-x;
        background-size: cover;
        display: flex;
        font-size: 0;
        justify-content: center;
        position: relative;
        text-align: center;

        // + Background image treatment
        &.\+fixed,
        &.\+fixed .c-hero__panel.\+image {
            @media only screen and (min-width: 80em ) {
                @supports not (-webkit-overflow-scrolling: touch) {
                    background-attachment: fixed;
                }
                @media (prefers-reduced-motion: reduce) {
                    background-attachment: scroll;
                }
            }
        }

        &.\+dim,
        &.\+tint,
        &.\+pattern {
            &:before {
                @include position(absolute, 0);
                content:'';
                display: block;
                z-index:1;
            }
        }

        &.\+dim,
        &.\+tint {
            &:before {
                transition: $t2;
                animation: fadeIn herotime(2) $ease-in-out-cubic;
                @media (prefers-reduced-motion) {
                    // Disable the non-essential 5-presets.
                    animation: none;
                }
            }
        }

        &.\+dim {
            &:before {
                background-color:rgba(0, 0, 0, 0.5);
            }
        }
        &.\+tint {
            &:before {
                background-color:rgba(255, 255, 255, 0.5);
            }
        }
       &.\+pattern {
            &:before {
                background-repeat:repeat;
                background-size: auto $unit*4;
            }
           &.\+fixed:before {
               @media only screen and (min-width: 80em ) {
                   background-attachment: fixed;
               }
               @media (prefers-reduced-motion: reduce) {
                   background-attachment: scroll;
               }
           }
        }

        // + hero height
        &.\+shallow {
            // 1 third
            @include is-old-ie {
                min-height:33%;
            }
            @include is-not-old-ie {
                @include var-fallback {
                    min-height:calc(33vh - #{$siteHeaderHeight});
                }
                min-height:calc(33vh - var(--site-header-h));
            }
            .\~no-bar & {
                min-height: 33vh;
            }
            @if $siteHeaderTPadInsideNav == 0 {
                .\~nav-inside & {
                    @include screen-size(insidenav) {
                        min-height: 33vh;
                    }
                }
            }
        }

        &.\+half {
            // 1 half
            @include is-old-ie {
                min-height:50%;
            }
            @include is-not-old-ie {
                @include var-fallback {
                    min-height:calc(50vh - #{$siteHeaderHeight});
                }
                min-height:calc(50vh - var(--site-header-h));
            }
            .\~no-bar & {
                min-height: 50vh;
            }
            @if $siteHeaderTPadInsideNav == 0 {
                .\~nav-inside & {
                    @include screen-size(insidenav) {
                        min-height: 50vh;
                    }
                }
            }
        }

        &.\+deep {
            // 2 thirds
            @include is-old-ie {
                min-height:66%;
            }
            @include is-not-old-ie {
                @include var-fallback {
                    min-height:calc(66vh - #{$siteHeaderHeight});
                }
                min-height:calc(66vh - var(--site-header-h));
            }
            .\~no-bar & {
                min-height: 66vh;
            }
            @if $siteHeaderTPadInsideNav == 0 {
                .\~nav-inside & {
                    @include screen-size(insidenav) {
                        min-height: 66vh;
                    }
                }
            }
        }

        &.\+full {
            // full height
            @include is-old-ie {
                min-height:100%;
            }
            @include is-not-old-ie {
                @include var-fallback {
                    min-height:calc(100vh - #{$siteHeaderHeight});
                }
                min-height:calc(100vh - var(--site-header-h));
            }
            .\~no-bar & {
                min-height: 100vh;
            }
            @if $siteHeaderTPadInsideNav == 0 {
                .\~nav-inside & {
                    @include screen-size(insidenav) {
                        min-height: 100vh;
                    }
                }
            }
        }

        &.\+grid {
            align-items: stretch;
            display: grid;
            grid-template-areas:
                'i'
                'c';
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: stretch;
            @include screen-size(mw) {
                grid-template-areas: 'c i';
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }
        }

        // Map
        &.\+map {
            padding-top: 0;
            @include screen-size(lw) {
                padding-top:0;
            }
        }

        // Alt treatments
        &.\+content {
            @include padding($unit n);
            .\~no-bar & {
                @include padding(($unit + $siteHeaderHeight) n n n);
            }
            @include screen-size(mw) {
                @include padding($unit*2 n);
                .\~no-bar & {
                    @include padding(($unit*4 + $siteHeaderHeight) n n n);
                }
            }
        }

        &.\+emblem {
            @include base-font-size;
            display: block;
        }

        &.\+roundel {
            @include padding($unit);
            @include screen-size(mw) {
                @include padding($unit*2);
            }
            img {
                border-radius:50%;
                max-height:50%;
                max-height:calc(50vh - (16px * 2));

                @include screen-size(mw) {
                    max-height:calc(66vh - (16px * 4));
                }
            }
        }
        .\~no-bar &.\+roundel {
            img {
                @include screen-size(sw-) {
                    @include margin($unit n n n);
                }
            }
        }

        // Inner elements
        > img {
            max-height:66%;
            max-height:66vh;
        }
    }


    // Hero Title
    // Contains title, subtitle and brief
    .c-hero__title {
        //animation: fadeZoomIn herotime(1) $ease-in-out-cubic;
        @include screen-size(mw-mh) {
            @if $articleH1SizeMd != inherit {
                font-size: font-size($articleH1SizeMd)
            }
            @if $articleH1LineHeightMd != inherit {
                line-height: $articleH1LineHeightMd
            }
        }
        .\+large-title & {
            @include big-header(4.5, gamma, gamma, delta, 1);
        }

        .\+large-x-title & {
            @include big-header(8, delta, delta, epsilon, 1);
        }

        .\+large-xx-title & {
            @include big-header(13, delta, delta, zeta, 0.85);
        }

        &.\+nav {
            align-items: center;
            display: flex;
            > * {
                flex-grow: 1;
                &:first-child,
                &:last-child {
                    flex-grow: 0;
                    height: 1em;
                    line-height: 1em;
                    position: relative;
                    &:after {
                        @include base-font-size();
                        @include padding($unit/2);
                        @include position(absolute, 50% n n n);
                        @include var(background-color, color-text);
                        @include var(color, color-white);
                        border: $borderWidth solid var(--color-white);
                        content: attr(title);
                        line-height: $lineHeightRatio;
                        opacity: 0;
                        pointer-events: none;
                        transition: $t1;
                        white-space: nowrap;
                    }
                    &:hover:after {
                        @include screen-size(mw) {
                            opacity: 1;
                        }
                    }
                }
                &:first-child:after {
                    right: 0;
                    transform: translate(100%, -50%);
                }
                &:last-child:after {
                    left: 0;
                    transform: translate(-100%, -50%);
                }
            }
        }
    }

    // Hero Subtitle
    .c-hero__subtitle {
        @include font-size(font-size(beta));
        animation: fadeIn herotime(5) $ease-in-out-cubic;
        @if $heroSubtitleWeight != inherit {
            font-weight: $heroSubtitleWeight;
        }
        margin:0;
        position: relative;
        width:100%;
        z-index:2;
        @media (prefers-reduced-motion) {
            // Disable the non-essential 5-presets.
            animation: none;
        }
        @include screen-size(sw-mh) {
            @include font-size(font-size(gamma));
            @include padding($unit);
        }
        @include screen-size(mw-mh) {
            @include font-size(font-size(delta));
        }
        @include screen-size(sh) {
            @include var(bottom, site-header-h);
            position:absolute;

        }
    }

    // Hero Breadcrumb
    .c-hero__breadcrumb {
        @include margin(n n $unit n);
        display: block;
        @include screen-size(mw) {
            @include font-size(font-size(beta));
        }
        .c-svgicon {
            vertical-align: middle;
            margin-top: -0.1em;
        }
    }

    .c-hero__audio {
        width: 100%;
        * + & {
            @include margin($unit n n n);
            @include screen-size(lw) {
                @include margin($unit*2 n n n);
            }
        }
    }

    .c-hero__panel {
        &.\+content {
            align-items: center;
            display: grid;
            grid-area: c;
            @include screen-size(mw) {
                @include padding($unit*2);
                .\~no-bar & {
                    @include padding(($unit + $siteHeaderHeight) n n n);
                }
            }
        }
        &.\+image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            grid-area: i;
        }
    }

    .c-hero__content {
        @include center-content;
        @include base-font-size;
        @include rem(width, $articleWidth);
        animation: fadeIn herotime(1) $ease-in-out-cubic;
        position: relative;
        z-index: 2;
        max-width: 100%;
        @media (prefers-reduced-motion) {
            // Disable the non-essential 5-presets.
            animation: none;
        }
        @include screen-size(mw-) {
            @include rem(width, $block*2.5);
        }
        .c-article.\+side-by-side & {
            @include screen-size(lw-) {
                width: auto;
            }
        }
        .c-hero__panel & {
            @include screen-size(lw-) {
                width: 100%;
            }
        }

        .\~anchor-inside & {
            @include text-start;
        }
        &.\+anchor-bottom {
            @include margin(n n (-$unit) n);
            align-self: flex-end;
            &:not(.\+fill) {
                background-color: color(shade, $tintAmount);
            }
            .\+tint &:not(.\+fill) {
                background-color: color(tint, $tintAmount);
            }
            @include screen-size(mw) {
                @include margin(n n (-$unit*2) n);
            }
            @include screen-size(mw-) {
                .\~anchor-inside & {
                    @include margin(n n n 0, dir);
                }
            }
        }
        &.\+content {
            @include center-content;
            @include position(relative, 0 n n 0);
            transform: none;
            @include screen-size(sw) {
                max-width: 100%;
            }
            .c-article {
                @include rem(max-width, $block * 2);
                animation: fadeZoomIn herotime(4) $ease-in-out-cubic;
                margin-left: auto;
                margin-right: auto;
            }
            .\~anchor-inside & {
                .c-article {
                    @include margin(n n n 0, dir);
                }
            }
        }
        &.\+large-title {
            @include screen-size(lw) {
                @include rem(width, $block * 4);
                .c-article.\+side-by-side &,
                .c-hero__panel & {
                    @include rem(width, $block * 3);
                }
            }
            @include screen-size(xxlw) {
                @include rem(width, $block * 6);
                .c-article.\+side-by-side &,
                .c-hero__panel & {
                    @include rem(width, $block * 3.6);
                }
            }
        }

        &.\+large-title,
        &.\+large-x-title,
        &.\+large-xx-title {
            > p {
                @include screen-size(lw-mh) {
                    @include margin($unit*2 n n n);
                    font-size: font-size(gamma);
                }
                @include screen-size(xxlw-mh) {
                    font-size: font-size(delta);
                }
            }
        }

        &.\+large-x-title,
        &.\+large-xx-title {
            max-width: none;
            width: 100%;
            .\~anchor-inside & {
                text-align: center;
            }
            .c-hero__title {
                line-height: 1;
            }
        }

        &.\+fill {
            animation: fadeIn $t4 $ease-in-out-cubic;
            max-width: calc(100% - #{$unit}*2);
            .c-hero__title {
                animation: fadeIn herotime(3) $ease-in-out-cubic;
            }
            > p {
                animation: fadeIn herotime(4) $ease-in-out-cubic;
            }
        }
        > p {
            @include article-content-xlg(p);
            @include font-weight($hWeight);
            @include margin($unit n n n);
            animation: fadeZoomIn herotime(2) $ease-in-out-cubic;
            @include screen-size(mw-mh) {
                @if $articleSubtitleSizeMd != inherit {
                    font-size: font-size($articleSubtitleSizeMd)
                }
                @if $articleSubtitleLineHeightMd != inherit {
                    line-height: $articleSubtitleLineHeightMd;
                }
            }
            &.c-hero__date {
                line-height: 1.2;
            }
        }
        .c-article {
            @include margin($unit n n n);
            @include screen-size(mw) {
                @include margin($unit*2 n n n);
            }
        }
    }
}

// ==========================================================================
// PRINT ONLY
// ==========================================================================

@media print {
    .\+bgImg {
        background-image: none !important;
    }
}