// ==========================================================================
//
//	SVG ICON
//
//	Use a SVG icon with confidence.
//	Uses the font-sizing, coloring etc. of the container
//
// ==========================================================================

.c-svgicon {
	color:inherit;
	display:inline-block;
	width:1em;
	height:1em;
	fill:currentColor;
}
