// ==========================================================================
//
//	IMAGE-BOX
//
//  Image container for Content-mode Support block
//  Often used with .c-image component
//
// ==========================================================================

.c-image-box {
    @include middle-content;
    &.\+tight {
        padding: 0;
    }
}

.c-image-box__inner {
    &.\+slides {
        width: 100%;
    }
    &.\+u-3 {
        max-width: $block*3;
        &.\+slides {
            width: $block*3;
            max-width: 100%;
        }
    }
    &.\+u-4 {
        max-width: $block*4;
        &.\+slides {
            width: $block*4;
            max-width: 100%;
        }
    }
    &.js-anim {
        @include is-not-old-ie {
            opacity: 0;
            @media (prefers-reduced-motion) {
                opacity: 1;
            }
        }
    }
    &.is-in-view {
        animation: fadeIn $t2 linear;
        @media (prefers-reduced-motion) {
            animation: none;
        }
    }
}