// ==========================================================================
//
//	IMAGE
//
//  Behaviour of images in various modes:
//      - Singles
//      - Grids
//      - Slideshows
//
// ==========================================================================

@mixin slides(
    $num:5,
    $dur:20s
) {

    a {
        width: 100%/$num;
    }
    @for $n from 1 through $num {
        img:nth-of-type(#{$n}) {
            animation: fade#{$num} $dur ($n*($dur/$num) - $dur/$num) infinite;
        }
        a:nth-of-type(#{$n}) {
            left:$n*100%/$num - 100%/$num;
            &:hover, &:active, &:focus {
                ~ img:nth-of-type(#{$n}) { visibility: visible; opacity:1; }
                ~ img {
                    animation: none;
                }
            }
        }
    }
}

@mixin slidesfade($num:5) {
    $fadein: 100%/$num - 100/$num/2;
    $keyframe: 100%/$num;
    $fadeout: 100%/$num + 100/$num/2;
    0%   			{ opacity: 0; }
    #{$fadein} 		{ opacity: 1; }
    #{$keyframe}	{ opacity: 1; }
    #{$fadeout}		{ opacity: 0; }
    100% 			{ opacity: 0; }
}

// ==========================================================================
// SCREEN ONLY
// ==========================================================================

@include screen {
    .c-image {
        font-size: 0;
        margin-bottom: 0;

        // Slideshow
        &.\+slides {
            @include media-box(aspect-ratio(widescreen), img);
            background-color:color(text);
            overflow: hidden;
            &:after {
                @include position(absolute, n n $unit n);
                color:white;
                content:attr(data-hint);
                text-align: center;
                width:100%;
            }
            &:hover:after {
                content:"";
            }
            img {
                position:absolute;
                top:0;
                left:0;
                opacity:0;
                min-height:100%;
                min-width:100%;
                width:auto;
                height:auto;
                z-index:0;
                &:hover {
                    animation-delay: 0;
                    animation: none;
                    opacity:1;
                    visibility: hidden;
                }
            }
            a {
                @include position(absolute, 0 n);
                z-index: 1;
                &:after {
                    @include position(absolute, $unit n n 50%);
                    @include size($unit/2);
                    border:1px solid white;
                    border-radius: 50%;
                    margin-left:-($unit/4);
                    content:"";
                    opacity:0.5;
                }
                &:hover, &:active, &:focus {
                    &:after {
                        background:white;
                        opacity:1;
                    }
                }
            }
            @for $n from 1 through $gallerySlidesMax {
                &.x#{$n} { @include slides($n, $gallerySlidesTime * $n); }
            }
        }

        // Grid of thumbnails
        &.\+thumbs {
            @include clear;
            background:color(shade, $shadeAmount);
            line-height:0;
            padding:0;
            position:relative;
            &.x2 a,
            &.x3 a {
                float:left;
                margin:0;
                img {
                    width:100%;
                }
            }
            &.x2 a {
                @include fraction(1, 2);
                .c-support & {
                    @include screen-size(sw-) {
                        float: none;
                        width: auto;
                    }
                }
            }
            &.x3 a {
                @include fraction(1, 3);
            }
            &:hover {
                img {
                    filter: brightness(0.6);
                    &:hover {
                        filter: brightness(1);
                        &:after {
                            content:attr(data-image, url);
                            @include position(absolute, 50% n n 0);
                            max-width:80%;
                            max-height:80%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}

@for $n from 1 through $gallerySlidesMax {
    @keyframes fade#{$n} { @include slidesfade($n); }
}

// ==========================================================================
// PRINT ONLY
// ==========================================================================

@media print {
    .\+slides {
        overflow: hidden;
        * + * {
            margin-top: 0;
        }
        img {
            float: left;
            max-width: 6cm;
            margin: 0.5cm 3% 0.5cm 0;
            width: 45%;
        }
    }

    .\+thumbs {
        li {
            display: inline-block;
            max-width: 30%;
            margin: 0.5cm 2% 0.5cm 0;
        }
    }
    .\+thumbs img {
        width:100%;
    }
}