// ==========================================================================
//
//	INFO BOX
//
//	Box of information (event info, profile data etc)
//	Can be arranged in:
// 		- left-hand column
//		- along the top, with icons
//
// ==========================================================================


// ==========================================================================
// SCREEN ONLY
// ==========================================================================

@include screen {
	.c-info-box {
		@include base-font-size;
		@include margin(n n $unit*2 n);
		dl {
			+ * {
				@include margin($unit n n n);
			}
			span + dt {
				margin-top:0;
			}
			@include screen-size(mw-) {
				~ dl {
					@include margin($unit n n n);
				}
			}
			@include screen-size(sw-) {
				~ dl {
					@include margin($unit n n n);
				}
			}
		}
		dt {
			@include caption;
			@include margin($unit n n n);
			break-after: avoid;
			opacity:$fade/1.4;
			@include screen-size(lw) {
				@include margin($unit*1.5 n n n);
			}
			&:first-child {
				margin-top:0;
			}
			&:empty {
				display:none;
				+ dd.img {
					padding-top:0;
				}
			}
		}
		dd {
			break-before: avoid;
			margin-left: 0;
			white-space: pre-wrap;
			&.u-pre-0,
			.u-pre-0 {
				white-space: normal;
			}
			time {
				display: block;
				white-space: pre-wrap;
				b {
					display: block;
				}
			}
			&.\+img {
				@include rem(padding-top, $unit/2);
				opacity:1;
				margin-left:0;
				&:first-child {
					padding-top: 0;
				}
				&.\+logo {
					img {
						max-height:$unit*8;
						width:auto;
					}
				}
			}
			//&.-d0\@p {
			//	position:absolute;
			//}
			img {
				max-width: 100%;
				width: $block;
				@include screen-size(sw-) {
					width: 100%;
				}
			}
		}

		.c-svgicon {
			display:none;
		}

		.Button {
			@include rem(margin-top, $unit);
		}

		&.\+profile {
			@include margin(n n 0 n);
			@include article-pos-inset-start;
			@include padding($unit);
			@include screen-size(sw-mw) {
				@include info-box-sbs;
			}
			@include screen-size(mw) {
				max-width: $block;
				width: 25%;
			}
			@include screen-size(lw) {
				@include rem(width, $block);
				@include padding($unit*2 0);
				@if $articleMainPadVLg != default {
					@include padding($articleMainPadVLg n);
				}
			}
			@include screen-size(mw-) {
				background-color: color(shade, $shadeAmount);
			}
		}
		&.\+icons{
			@include margin($unit n 0 n);
			@include padding(n $unit/2);
			border-bottom: 2px solid color(shade, $shadeAmount);
			text-align:center;


			@include screen-size(mw) {
				@include margin(0 n n n);
			}
			@include screen-size(lw) {
				@include padding(n $unit*2);
			}
			@include screen-size(lw-) {
				@include center-content;
				@include rem(max-width, $articleWidth);
				overflow: hidden;
			}

			
			dl + *,
			dl ~ dl {
				@include margin(0 n n n);
			}
			dl {
				display: inline-block;
				vertical-align: top;
				@supports(display: contents)
				{
					display: contents;
				}
				dt, dd {
					&.img {
						display: none;
					}
				}
			}
			dt {
				display:none;
			}
			dd {
				@include margin($unit/2);
				@include padding($unit*2 n $unit/2 n);
				display: inline-block;
				position:relative;
				text-align:center;
				white-space:normal;
				z-index:0;
				@include screen-size(mw) {
					@include padding(n $unit/2);
				}
				&:after {
					@include caption;
					content:attr(data-label);
					text-align:center;
					z-index:0;
				}

				a:only-of-type {
					@include margin((-$unit*2) n n n);
					@include padding($unit*2 $unit/2 n $unit/2);
					display:block;
					position:relative;
					z-index:1;
				}

				&:hover {
					.c-svgicon {
						color: color(link);
					}
				}
			}
			.c-svgicon {
				@include position(absolute, 0 n n 50%);
				content:attr(data-icon);
				display:block;
				height: 1.6em;
				opacity:$fade;
				text-align:center;
				transform: translateX(-50%);
				width: 1.6em;
				z-index:0;
			}
			.\~anchor-h-inside &,
			.\~anchor-inside & {
				@include text-start;
				.c-svgicon {
					left:0;
					transform: none;
				}

				dl {
					@include text-start;
				}

				dd {
					@include text-start;
					@include screen-size(mw) {
						@include padding(n $unit n 0);
					}
					&:after {
						@include text-start;
					}
					a:only-of-type {
						@include padding(n n n 0, dir);
					}
				}
			}
			&.\+mini {
				overflow: visible;
				dd {
					a:only-of-type {
						@include rem(width, $unit*3);
						@include text-hide;
						white-space:nowrap;
					}

					&:after {
						@include padding(n $unit/2);
						@include position(absolute, n n 0px 50%);
						@include var(background-color, color-1);
						@include font-size(font-size(milli));
						color: color(white);
						display: none;
						transform: translate(-50%, 100%);
					}
					@include screen-size(mw) {
						&:hover:after {
							display: block;
						}
					}
				}
				.\~anchor-h-inside &,
				.\~anchor-inside & {
					dd:after {
						@include inset(n n n 0px);
						transform: translate(0, 100%);
					}
				}
			}
		}
		header {
			h1 {
				margin:0;
			}
			p {
				@include rem(margin-top, $unit/2);
				opacity:$fade;
			}
		}
		h1 {
			@include font-size(font-size(gamma));

		}
		h2 {
			@include font-size(font-size(beta));
		}
		&.\+outside-margin{
			h1 {
				@include font-size(font-size(beta));
			}
		}
	}
}

.c-address {
	display: block;
}

.c-address__part {
	display: block;
}

@media print {
	.c-info-box {
		float:right;
		max-width: 25%;
		margin-left: 2cm;
		.c-svgicon {
			display: none;
		}
		dl {
			+ dl {
				margin-top: 1cm;
			}
			dt {
				@include font-weight(lighter);
				margin-top: 1cm;
				opacity: 0.6;
				&:first-child {
					margin-top: 0;
				}
				&.img {
					display: none;
				}
			}
			dd {
				&.img {
					display: inline-block;
					img {
						max-height: 5cm;
						width: auto;
					}
				}
			}
		}
	}
	.c-info-box__link {
		&:after {
			content: attr(href);
			display: block;
			opacity: 0.6;
		}
	}
}