// ==========================================================================
//  MOVE NOTICE: SOME ITEMS SHOULD BE MOVED INTO .c-form
// --------------------------------------------------------------------------
//	INPUT
//  Input box styling
//
// ==========================================================================

%big-input {
    @include screen-size(mw) {
        @include padding(n nth($fieldPadding, 2)*2);
        font-size: font-size(beta);
        line-height: $touchTarget*1.5;
        min-height: $touchTarget*1.5;
    }
}

.c-form {
    input[type="date"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        @include field(100%);

        &.c-field-input {
            &.\+big {
                @extend %big-input;
            }
            &.\+1 {
                flex: 1;
            }
        }
    }

    textarea {
        @include padding($unit/2 n);
        line-height: $baseLineHeight;
        min-height: $unit*6;
    }

    select {
        color: color(link);
    }
}

.c-input {
    @include field(100%);
    display: flex;
    input[type="text"] {
        @include padding(n 0 n n, dir);
        background-color: transparent;
        border:0;
        flex: 1;
        padding-right: 0;
    }
    &.\+big {
        @extend %big-input;
    }
    &.\+tight-end {
        @include padding(n 0 n n, dir);
    }
}

// Read-only input (faded)
// ==========================================================================

.c-input--readonly {
    background-color: color(shade, $shadeAmount);
    border-color: color(shade, 0);
}