// ==========================================================================
//
//	LABEL
//
//  Standard label component
//
// ==========================================================================

.c-label {
    @include font-weight(bold);
    @include rem(margin-bottom, $unit/4);
    cursor:default;
    display:block;
    position: relative;
}

$checkSize : $touchTarget/2;

.c-label--check {
    cursor:pointer;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    justify-content: center;
    min-height: $checkSize * 1.5;
    span {
        @include padding(n n n ($checkSize + $unit));
        display: block;
        position: relative;
        &:before {
            @include position(absolute, 50% n n n);
            @include inset(n n n 0px, dir);
            @include size($checkSize);
            border: $checkBoxBorderWidth solid $checkBoxColor;
            content:"";
            transform: translateY(-50%);
            @if $checkBoxFill != transparent {
                background-color: $checkBoxFill;
            }
        }
    }
    &:hover {
        span:before {
            opacity: 1;
        }
    }
    input[type="checkbox"],
    input[type="radio"] {
        @include visually-hide;
        &:checked {
            ~ span:before {
                background-color: $checkBoxColor;
            }
        }
    }
    input[type="radio"] {
        ~ span:before {
            border-radius: $checkSize;
        }
    }
}

.c-label--help {
    @include rem(margin-bottom, $unit/2);
    cursor: text;
    font-size: font-size(milli);
    font-weight: normal;
    opacity: $fade;
}