// ==========================================================================
//
//	LINES
//
//  Product Lines in a Buy Form
//
// ==========================================================================

%line-font-big {
    @include font-size(font-size(beta));
    @include screen-size(sw-) {
        font-size: 1.2em;
    }
}

.c-lines {
    @include padding($unit n);
    border-top: 2px solid color(shade, $shadeAmount);
    + * {
        @include margin($unit n n n);
    }

    @include screen-size(sw-) {
        flex-wrap: wrap;
    }
}

.c-line {
    @include screen-size(sw-) {
        padding-bottom:$unit/2;
    }
}

.c-line__price {
    @extend %line-font-big;
    white-space: nowrap;
}

.c-line__title {
    @extend %line-font-big;
}