// ==========================================================================
//
//	MAP
//
//  Display maps in .c-hero or .c-embed-box
//
// ==========================================================================

@include screen {
    .c-map__inner {
        @include media-box(aspect-ratio(third), ".oh-google-map-canvas");
        //display: none;
        .oh-google-map-canvas {
            position: absolute !important;
            width: 100% !important;
            height: 100% !important;
        }
        img {
            max-width: none;
            min-width: 0;
            width: auto;
        }
        .c-embed-box & {
            padding-bottom: aspect-ratio(widescreen);
        }
        @include screen-size(sw-) {
            padding-bottom: 75%;
        }

        //@include screen-size(mw) {
        //    display: block;
        //}
    }
    //.c-map__static {
    //    display: block;
    //    font-size: 0;
    //    position: relative;
    //
    //    img {
    //        width: 100%;
    //    }
    //    @include screen-size(mw) {
    //        display: none;
    //    }
    //}
    //
    //.c-map__static-link {
    //    @include base-font-size;
    //    @include position(absolute, n n 0 n);
    //    @include background-color(color(primary));
    //    @include padding($unit/2 n);
    //    opacity: $fade/2;
    //    width: 50%;
    //    text-align: center;
    //    z-index: 1;
    //    &:hover, &:target, &:active {
    //        opacity: $fade;
    //        text-decoration: none;
    //    }
    //}
    //.c-map__static-link-a {
    //    left:0px;
    //}
    //.c-map__static-link-b {
    //    right:0px;
    //}
}