// ==========================================================================
//
//	MEDIA LIST
//
//  Support type. Creates Tease-style blocks with interact-able media
//
// ==========================================================================

.c-media-list {
    @extend %teaser-list;
    li {
        @include screen-size(mw) {
            @include rem(max-width, $block*2);
            width: 50%;
        }
        @include is-old-ie {
            max-width:$block*2;
        }
    }
    &.with-gutters {
        @extend %teaser-gutter;
    }
}

.c-media-item {
    @extend %teaser;
    @include base-font-size;
    background: no-repeat center color(shade, $shadeAmount);
    padding-bottom: aspect-ratio(widescreen);
    background-size: cover;

    iframe {
        width:100%;
    }
    &.\+auto-height {
        padding-bottom: 0;
        height: auto;

        iframe {
            position: relative;
            top: auto;
            left: auto;
        }
    }
    &.\+fixed-height {
        iframe {
            @include position(absolute, 0 n n 0);
            height: 100%;
        }
    }
}

.c-media-item__text {
    @include font-weight(bold);
    @include padding($unit/2);
    @include position(absolute, 50% n n 50%);
    display: block;
    line-height: 1.6;
    max-width:80%;
    transform: translate(-50%, -50%);
    @include screen-size(mw) {
        @include font-size(font-size(beta));
    }
}

a.c-media-item__text {
    color: white;
    &:visited {
        color: white;
    }
    &:hover {
        text-decoration: underline;
    }
}