// ==========================================================================
//
//	MODAL
//
//  - Dialog object defined in 7-ui/objects/dialog
//  - Configuration: 2-config/modal
//
// ==========================================================================

.c-modal {
    animation: popDialog $t1/2 $ease-out-quad;
    background-color: $modalBoxBg;
    border-radius: $modalBoxRadius;
    box-shadow: $modalBoxShadow;
    width: $modalBoxWidth;

    @media (prefers-reduced-motion) {
        animation: none;
    }
}

.c-modal__inner {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    height: inherit;
    overflow: auto;
}

.c-modal__header {
    display: flex;
    position: relative;
}

.c-modal__title {
    @include font-size(font-size(alpha));
    @include padding($unit);
    flex: 1;
    font-size: 1.2em;
    @include screen-size(mw) {
        @include font-size(font-size(beta));
        @include padding($unit*1.5);
    }
}

.c-modal__close {
    font-size: 1.2em;
    opacity: $fade/2;
    width: $unit*3.5;
    &:hover, &:active {
        opacity: 1;
    }
    @include screen-size(mw) {
        @include font-size(font-size(beta));
    }
}

.c-modal__close-icon {
    @include position(absolute, $unit $unit n n);
    @include screen-size(mw) {
        right: $unit*1.5;
        top: $unit*1.5;
    }
}

.c-modal__body {
    @include padding(n $unit $unit/2 $unit);
    flex: 1;
    overflow: auto;
    @include screen-size(mw) {
        @include padding(n $unit*1.5 $unit*1.5 $unit*1.5);
    }
}

.c-modal__ctrls {
    @include padding($unit/2);
    display: flex;
    @include screen-size(mw) {
        @include padding($unit);
    }
    .c-button + .c-button {
        @include margin(n n n $unit/2, dir);
    }
}
