// ==========================================================================
//
//	NAV
//
//	Navigation items. Supports child items
//	Can be arranged horizontally or vertically
//
//	Attaches the start-side of the site when body tag has
//		~nav-inside
//
// ==========================================================================

.c-nav {
	clear: both;
	list-style: none;
	@include screen-size(sw) {
		@include padding($unit n);
	}
	@include screen-size(mw) {
		@include padding($unit*2);
		text-align: center;
	}
	@include screen-size(tnav) {
		@include var-fallback {
			@include inset(
				(($siteHeaderHeight - $siteNavHeight)/2)
				(($siteHeaderHeight - $siteNavHeight)/2)
				n
				(($siteHeaderHeight - $siteNavHeight)/2)
			);
		}
		@include inset(
			calc((var(--site-header-h) - #{$siteNavHeight})/2)
			calc((var(--site-header-h) - #{$siteNavHeight})/2)
			n
			calc((var(--site-header-h) - #{$siteNavHeight})/2)
		);
		clear: none;
		padding: 0;
		position: absolute;
		z-index: 2;
		li {
			display: inline-block;
			@include var-fallback {
				@include rem(padding-bottom, ($siteHeaderHeightMd - $siteHeaderHeight)/2);
			}
			padding-bottom: calc((var(--site-header-h) - #{$siteNavHeight})/2);
			&:hover, &:focus, &:focus-within {
				.c-nav__children {
					display:block;
				}
			}
		}
		.\~no-bar.\~poster-grid & {
			display: none;
		}
	}
	.\~nav-inside & {
		@include screen-size(insidenav) {
			@include inset($unit*5 auto n n, dir);
			@include padding($unit n n n);
			@include rem(width, ($block - $unit*2));
			@include text-start;
			max-height: calc(100vh - #{$unit}*6);
			overflow: auto;
			position: fixed;
			@if $siteHeaderBorder != none {
				border-top: $siteHeaderBorder;
			}
			li {
				display: block;
				padding-bottom: 0;
				&:hover .c-nav__children {
					display: none;
				}
				&:hover .c-nav__item.active + .c-nav__children,
				.c-nav__item.active + .c-nav__children {
					display: block;
				}
			}
		}
	}
}


.c-nav__children {
	display: block;
	list-style: none;
	@include screen-size(tnav) {
		@include rem(top, ($siteHeaderHeightMd/2 + $unit));
		@include var(background-color, color-nav-hover);
		animation: fadeIn $t2;
		display: none;
		position: absolute;
		@include var-fallback {
			@include rem(left, -(($siteHeaderHeight - $siteNavHeight)/2));
			@include rem(right, -(($siteHeaderHeight - $siteNavHeight)/2));
			@include rem(top, ($siteHeaderHeight/2 + $unit));
		}
		left: calc((var(--site-header-h) - #{$siteNavHeight})/2 * -1);
		right: calc((var(--site-header-h) - #{$siteNavHeight})/2 * -1);
		top: calc((var(--site-header-h))/2 + #{$unit});
		&:hover {
			display: block;
		}
		li {
			display: block;
			padding-bottom:0;
			a {
				@include padding($unit/2 n);
				&.active {
					@include var(background-color, color-nav-active);
				}
			}
		}
	}
	.\~nav-inside & {
		@include screen-size(insidenav) {
			left: auto;
			right: auto;
			position: static;
			top: auto;
		}
	}
	.c-nav__item {
		@include padding($unit/2 $unit);
		background-color: transparent;
		margin:0;
		font-weight: normal;
		opacity:$fade;
		@include screen-size(sw) {
			@include padding(0 n);
		}
		@include screen-size(tnav) {
			@include font-weight($navItemWeight);
		}
		@include screen-size(tnav-) {
			text-transform: none;
		}
		&.active, &.active:visited {
			background-color: color(shade, $shadeAmount);
			opacity:1;
		}
	}
}

.c-nav__item {
	@include font-weight($navItemWeight);
	@include padding($unit);
	display: block;
	&:hover {
		background-color: color(shade, $shadeAmount*2);
		text-decoration: none;
	}
	&:active {
		background-color: color(shade, $shadeAmount*4);
	}
	&.active, &.active:visited {
		@include var(background-color, color-nav-light);
	}
	&.child {
		&:before {
			content:"▻";
			margin-right:$unit/2;
			font-family:font-family(icons);
			opacity:0.5;
		}
	}
	&.parent {
		&:before {
			content:"▻";
			float:right;
			font-family:font-family(icons);
			opacity:0.5;
		}
	}
	&.\+hi {
		@include var(color, color-nav);
		background-color: color(white);
		.c-nav li:hover & {
			@include var(color, color-nav-light);
			background-color: color(white);
		}
		&.active {
			color: color(white);
		}
	}

	@include screen-size(sw) {
		@include padding(0 n);
		@include rem(line-height, $siteHeaderHeight);
	}
	@include screen-size(tnav-) {
		text-transform: uppercase;
	}
}

.c-nav--user {
	@include padding($unit);
	@include font-size(font-size(alpha));
	font-weight:normal;
	margin:2px 0;
}

.c-nav--bar {
	@include padding($unit n n n);
	@include margin(n $unit);
	list-style: none;
	opacity:$fade;
	@include screen-size(tnav-) {
		border-top: 2px solid color(tint, $tintAmount);
	}
	@include screen-size(mw) {
		@include rem(max-width, $navWidth);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.c-nav__item {
		display: inline-block;
		font-weight: normal;
		line-height: $lineHeightRatio;
		padding:0;
		@include screen-size(tnav-) {
			text-transform: none;
		}
		&:hover {
			background-color: transparent;
			text-decoration: underline;
		}
	}
	>* {
		display: inline-block;
		+ * {
			&:before {
				@include margin(n $unit/2);
				content: "•";
			}
		}
	}
	a {
		background-color: transparent;
		margin-left:2px;
	}
}