// ==========================================================================
//
//	PAGER
//
// ==========================================================================


%InPageNav {
	border-style:solid;
	border-color:color(shade, $shadeAmount);
	border-width:0px;
	opacity: $fade;
	overflow: hidden;
	white-space: nowrap;
	&:hover {
		opacity: 1;
	}
	li {
		@include rem(margin-#{$mainEnd}, $unit);
		display:inline-block;
		margin:0;
		a {
			@include padding($unit/4 $unit);
			display:inline-block;
			&:hover {
				color:color(tertiary);
			}
			&:hover, &:active, &:focus {
				text-decoration: none;
			}
		}
		span {
			@include padding($unit/4 $unit);
			@include font-weight(bold);
			cursor:default;
			display:inline-block;
		}
	}
}

.c-pager {
	@extend %InPageNav;
	@include margin($unit n n n);
	text-align:center;
	li {
		&.c-pager__page {
			@include screen-size(mw-) {
				display:none;
			}
		}

		.c-svgicon {
			@include rem(margin-top, -$unit/8);
			vertical-align: middle;
		}
	}
}


//.c-Tabs {
//	@extend %InPageNav;
//	@include margin(n n $unit n);
//	border-bottom-width:2px;
//	text-align:center;
//}
