.c-PageNav {
	@extend %site-header !optional;
	@include rem(padding-right, $unit);
	background-color:transparent;
	text-align:right;
	@include screen-size(sw) {
		@include position(fixed, 0px 0px n n);
		transition: none;
	}
	li {
		display:inline-block;
		a {
			@include padding(n $unit/2);
			opacity:0.6;
			&:hover {
				opacity:1;
				text-decoration:none;
			}
		}
	}
}

