// ==========================================================================
//
//	PILL
//
//  Puts a box around text
//
// ==========================================================================




.c-pill {
    @include padding(n $unit);
    border: $pillBorderWidth solid currentColor;
    color: inherit;
    text-transform: uppercase;
}