// ==========================================================================
//
//	PREVIEW
//
//  Support list item type
//  A short or full preview of an entry
//
// ==========================================================================

.c-preview {
    @include padding($unit);
    display: block;
    overflow: hidden;
    &:hover {
        background-color:color(shade, $shadeAmount);
    }
    b {
        @include margin(n n $unit/2 n);
        @include font-size(font-size(beta));
        display: block;
        line-height: 1.3;
        @include screen-size(mw-) {
            font-size: 1.2em;
        }
        span {
            font-weight:normal;
        }
    }
}

.c-preview__img {
    @include margin(n n n $unit, dir);
    @include rem(width, $unit*6);
    background-color: color(shade, $shadeAmount);
    float: right;
    max-width: 33%;
    font-size: 0;
    .c-preview__full & {
        @include margin(n n $unit 0, dir);
        float: none;
        max-width: 100%;
        width: auto;
        @include rtl {
            float:none;
        }
        &:last-child {
            @include margin(n n $unit n);
        }
    }
    img {
        &[height],
        &[width] {

        }
    }
}

.c-preview__content,
.c-preview__full {
    @include article-content;
    @include article-content-lg;
    @include article-main;
    @include screen-size(mw-) {
        @include padding(n 0);
    }
}

.c-preview__content {
	.\^anchor-inside & {
        @include screen-size(sw-) {
            @include text-start;
        }
    }
}

.c-preview__full {
	@include text-start;
    &.\+align {
        text-align: center;

        ul, ol,
        &.\+anchor-inside {
            @include text-start;
        }
    }

    h2 {
        @include h(font-size(beta));
        @include screen-size(sw-) {
            font-size:1.2em;
        }
    }

    h3 {
        font-size:1.2em;
        @include screen-size(sw-) {
            @include h(font-size(alpha));
        }
    }
}

.c-preview__desc {
    strong {
        display: block;
    }
}

.c-preview__url {
    @extend %ext-url;
    @include margin(n n $unit/4 n);
    display: block;

    .c-svgicon {
        opacity: $fade/2;
        vertical-align: middle;
        &.c-svgicon--right {
            transform: rotate(-45deg);
        }
    }
}

h1.c-preview__title {
    @include font-size(font-size(gamma));
    text-align:center;
    @include screen-size(mw-) {
        @include font-size(font-size(beta));
    }
    .\~anchor-inside .\+align & {
        @include text-start;
    }
}

p.c-preview__subtitle {
    @include font-weight($hWeight);
    @include margin((-$unit/2) n n n);
    @include font-size(font-size(beta));
    text-align: center;
    @include screen-size(mw-) {
        @include font-size(font-size(alpha));
    }
    .\~anchor-inside .\+align & {
        @include text-start;
    }
}

a.c-preview {
    color:inherit;
    text-decoration:none;
    b {
        @include link;
    }
}