// ==========================================================================
//
//	PROGRESS
//
//  Style a <progress class="c-progress"> element
//
// ==========================================================================

$progressHeight: $unit;
$progressBarColor: color(shade, $shadeAmount);
$progressValueColor: color(success);

.c-progress {
    &:not(value) {
        // Add your styles here. As part of this walkthrough we will focus only on determinate progress bars.
    }
    &[value] {
        position: relative;
        // Get rid of the default appearance
        -webkit-appearance: none;
        appearance: none;

        // This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none.
        border: none;

        // Add dimensions
        width: 100%; height: $progressHeight;

        // Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container.
        background-color: $progressBarColor;

        // Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute.
        color: $progressValueColor;

        &::-webkit-progress-bar {
            background-color: $progressBarColor;
        }
        &::-webkit-progress-value{
            background-color: $progressValueColor;
        }
    }
}

// Fallback technique styles
.c-progress--fallback {
    background-color: $progressBarColor;

    // Dimensions should be similar to the parent progress element.
    width: 100%; height:$progressHeight;

    span {
        background-color: $progressValueColor;
        display: block;
        font-size: 0;
        height: 100%;
        text-indent: -9999px;
    }
}