// ==========================================================================
//
//	RADIO GROUP
//
//  Blocky Radio Group that makes the entire label interactive,
//  and hides the inputs themselves.
//
// ==========================================================================


.c-radio-group {
    @include margin(n (-$unit/4));
    display: flex;
    flex-wrap: wrap;
}

.c-radio-item__inner {
    @include padding(n $unit);
    background-color: color(shade, $shadeAmount);
    display: block;
    line-height: $touchTarget + 4px;
    pointer-events: none;
    @if $buttonRadius != 0 {
        border-radius: $buttonRadius;
    }
}

.c-radio-item {
    @include margin($unit/4);
    flex-grow: 1;
    min-width: calc(25% - #{$unit}/2);
    input {
        @include position(absolute, n n n -9999px);
        &:checked + .c-radio-item__inner {
            @include background-color(color(primary));
        }
    }
    label {
        display: block;
    }
}

.c-check {
    @include margin(n $unit/2 n n);
    display: inline-block;
    vertical-align: middle;
}


.c-check__label {
    display: inline-block;
    vertical-align: middle;
    :checked + & {
        @include font-weight(bold);
    }
}

.c-form__item--checkboxes .c-field > *,
.c-check-set {
    align-items: center;
    display: flex;
    label {
        @include margin(n n n $unit/2);
        flex: 1;
    }
    + * {
        @include margin($unit/2 n n n);
    }
}