// ==========================================================================
//
//	RADIO GROUP
//
//  Blocky Radio Group that makes the entire label interactive,
//  and hides the inputs themselves.
//
// ==========================================================================

.c-Related {
	@include background-color(color(footer));
	@include color-scheme(dark, $classDark) {
		background-color: transparent;
	}
}
