// ==========================================================================
//
//	ROUNDEL
//
//  Circular image or container.
//  Used in Support Items or in Credentials
//
// ==========================================================================

.c-support-list.\+blocks.c-roundel-list,
.c-support-list.c-roundel-list,
.c-roundel-list {
    li {
        @include rem(width, $block);
        max-width: 50%;
    }
}

.c-roundel-list {
    //@include popInList("li", ".c-roundel__container");
}

.c-roundel {
    @include media-box(aspect-ratio(square), ".c-roundel__inner");
    border-radius: 50%;
    overflow: hidden;
	.\+grey & {
        filter: grayscale(100%);
	}
	@supports (mix-blend-mode: color) {
		.\+grey & {
			filter: none;
			&:after {
				@include position(absolute, 0);
                background: color(primary);
                content: '';
                mix-blend-mode: color;
			}
		}
	}
	
    &:hover {
		.\+noImg {
			transform: scale(1.2);
		}
		.\+grey & {
			filter: grayscale(0);
			@supports (mix-blend-mode: color) {
				&:after {
					display: none;
                	filter: none;
				}
			}
		}
	}
	
    &:active {
		.\+noImg {
			transform: scale(0.9);
		}
    }
}

.c-roundel__container {
    @include padding($unit/2);
    @include screen-size(mw) {
        @include padding($unit);
    }
    &:hover .c-roundel__inner img + .c-roundel__article {
        opacity:1;
        .c-article__photo-creds & {
            opacity: 0;
        }
    }
    .c-article__photo-creds & {
        @include padding($unit/2);
        width: 100%;
    }
}

.c-roundel__inner {
    border-radius: 50%;
    img {
        @include position(absolute, 0);
        border-radius: 50%;
        height: 100%;
        width:100%;
        z-index:0;
        + .c-roundel__article {
            background-color:rgba(0, 0, 0, 0.66);
            opacity:0;
        }
    }
}

.c-roundel__article {
    @include padding($unit);
    @include position(absolute, 0);
    border-radius: 50%;
    transition: $t1;
    z-index: 1;
}

.c-roundel__title {
    @include position(absolute, 50% n n 50%);
    color:$white;
    max-width:100%;
    transform: translate(-50%, -50%);
    @include screen-size(sw) {
        @include font-size(font-size(beta));
    }
    a, a:visited {
        color:$white;
    }
}

.c-roundel__label {
    @include margin($unit n);
    @include screen-size(sw) {
        @include font-size(font-size(beta));
    }
}


.c-roundel__link {
    @include position(absolute, 0);
    z-index: 2;
}