// ==========================================================================
//
//	SOCIAL
//
//  Article Social block
//
// ==========================================================================

$shareDisc: $touchTarget - 1px;
$shareIcon: $unit*1.5 - 1px;

.c-share {
    position: relative;
    @include is-old-ie {
        display:none;
    }
    @include is-not-old-ie {
        @include padding($unit*3 $unit*2);
        clear:both;
        text-align:center;
        position: relative;


    }
    &:after {
        content: attr(title);
        @include position(absolute, $unit n n 0);
        @include font-features("smcp" "c2sc");
        @include base-font-size;
        opacity: 0;
        text-align: center;
        width: 100%;
    }
    &:target:after {
        opacity: $fade/1.5;
    }
    &.\+fixed {
        @include screen-size(xxlw) {
            @include padding($unit*2);
            @include position(fixed, 0 n 0 0);
            @include rem(width, $block);
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: auto;
            z-index: 1;
            &:target:after {
                display: none;
            }
        }
    }
}

.c-share--bookmark {
    @include padding($unit);
    @include text-end;
    width: 100%;
    @include screen-size(lw) {
        @include padding(n $unit*2);
    }
    &:after {
        @include padding(n $unit);
        @include text-start;
        opacity: $fade/1.5;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        z-index: -1;
        @include screen-size(lw) {
            @include padding(n $unit*2);
        }
    }
}

$sharePlusOpen : $t2;

.c-share__plus {
    display: none;
    transition: $sharePlusOpen;
    :checked ~ & {
        display: block;
        .c-share.\+fixed & {
            @include screen-size(xxlw) {
                display: contents;
            }
        }
    }
    // "Pop-in" animation
    @include animInItem(".c-share__link", "", popIn);
    .c-share__link {
        @include animInSequence(5, $sharePlusOpen)
    }
}

// The Article Social Links

button.c-share__link,
label.c-share__link,
a.c-share__link {
    @include is-not-old-ie {
        @include margin($unit/4);
        @include size($shareDisc);
        align-items: center;
        color:color(shade, $articleShareAlpha);
        border:2px solid color(shade, $articleShareAlpha);
        border-radius: 50%;
        display: inline-flex;
        font-size:$shareIcon;
        justify-content: center;
        position: static;
        transition: 0s;
        vertical-align: top;
        &:before {
            @include position(absolute, n n n 0);
            @include font-features("smcp" "c2sc");
            @include base-font-size;
            @include rem(bottom, $unit);
            color:color(text);
            content: "";
            //font-family: inherit;
            line-height:1;
            opacity: $fade/1.5;
            text-align: center;
            width: 100%;
        }
        input:focus + &,
        &:hover, &:visited:hover {
            background-color: color(secondary);
            border-color: transparent;
            color: $white;
        }
        &:hover:before {
            content: attr(title);
        }
        &:active {
            box-shadow: $shadowDarken;
        }

        .c-share.\+fixed & {
            @include screen-size(xxlw) {
                flex-shrink: 0;
                position: relative;
                &:before {
                    @include breaker;
                    @include text-start;
                    @include position(absolute, 50% n n ($touchTarget + $unit));
                    @include rem(width, ($block - $touchTarget - $unit*4));
                    bottom: auto;
                    transform: translateY(-50%);
                }
            }
        }


        // A lighter variation for dark mode
        @include color-scheme(dark, $classDark, "#{$classDark} .p-main") {
            color:color(tint, $tintAmount/3);
            border-color:color(tint, $tintAmount/3);
            &:hover, &:visited:hover {
                color:white;
                border-color:transparent;
            }
            &:before {
                color:color(white);
            }
        }
    }
    .c-share--bookmark & {
        @include size($shareDisc*0.8);
        font-size:$shareIcon*0.8;
        @include margin(0 n);
        &:before {
            display: none;
        }
    }
    .c-svgicon {
        pointer-events: none;
    }
}

label.c-share__link {
    .c-svgicon {
        transition: $t1;
    }
    :checked ~ & {
        &:hover:before {
            content: "Less options";
        }
        .c-svgicon {
            transform: rotate(45deg);
        }
    }
}


a.c-share__link {

    @include is-not-old-ie {
        &.facebook {
            &:hover, &:focus {
                @include var(background-color, color-facebook);
            }
        }
        &.flipboard {
            &:hover, &:focus {
                @include var(background-color, color-flipboard);
            }
        }
        &.google {
            &:hover, &:focus {
                @include var(background-color, color-google);
            }
        }
        &.googleplus {
            &:hover, &:focus {
                @include var(background-color, color-googleplus);
            }
        }
        &.hackernews {
            &:hover, &:focus {
                @include var(background-color, color-hackernews);
            }
        }
        &.instagram {
            &:hover, &:focus {
                @include var(background-color, color-instagram);
            }
        }
        &.instapaper {
            &:hover, &:focus {
                @include var(background-color, color-instapaper);
            }
        }
        &.linkedin {
            &:hover, &:focus {
                @include var(background-color, color-linkedin);
            }
        }
        &.messenger {
            &:hover, &:focus {
                @include var(background-color, color-messenger);
            }
            display:none;
            @include screen-size(mw-) {
                display:inline-flex;
            }
        }
        &.mixit {
            &:hover, &:focus {
                @include var(background-color, color-mixit);
            }
        }
        &.ok {
            &:hover, &:focus {
                @include var(background-color, color-ok);
            }
        }
        &.pinterest {
            &:hover, &:focus {
                @include var(background-color, color-pinterest);
            }
        }
        &.pocket {
            &:hover, &:focus {
                @include var(background-color, color-pocket);
            }
        }
        &.reddit {
            &:hover, &:focus {
                @include var(background-color, color-reddit);
            }
        }
        &.sms {
            &:hover, &:focus {
                @include var(background-color, color-link);
            }
            display:none;
            @include screen-size(mw-) {
                display:inline-flex;
            }
        }
        //&.stumbleupon {
        //    &:hover, &:focus {
        //        @include var(background-color, color-stumbleupon);
        //    }
        //}
        &.twitter {
            &:hover, &:focus {
                @include var(background-color, color-twitter);
            }
        }
        &.tumblr {
            &:hover, &:focus {
                @include var(background-color, color-tumblr);
            }
        }
        &.vk {
            &:hover, &:focus {
                @include var(background-color, color-vk);
            }
        }
        &.whatsapp {
            &:hover, &:focus {
                @include var(background-color, color-whatsapp);
            }
            display:none;
            @include screen-size(mw-) {
                display:inline-flex;
            }
        }
    }
    &:focus, input:focus + & {
        background-color: color(secondary);
        border-color: transparent;
        color: $white;
        &:before {
            content: attr(title);
        }
    }
}