// ==========================================================================
//
//	SPINNER
//
// ==========================================================================

@keyframes spinner-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
// :not(:required) hides this rule from IE9 and below
.spinner-loader:not(:required) {
    animation: spinner-loader 1500ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 8px;
    width: 0.7em;
    height: 0.7em;
    margin: 1.5em;
    overflow: hidden;
    text-indent: 100%;
}