// ==========================================================================
//
//	SQUARES
//
//  Square Support List items
//
// ==========================================================================

.c-square-list {
    li {
        @include is-old-ie {
            width: 25%;
        }
        @include is-not-old-ie {
            width: 50%;
        }
        @include screen-size(sw) {
            width: 33.333%;
        }
        @include screen-size(mw) {
            width: 25%;
        }
        @include screen-size(tnav) {
            width: 16.6665%;
        }
        @include screen-size(xxlw) {
            width: 12.5%;
        }
    }
    &.\+big-square {
        li {
            @include screen-size(sw) {
                width: 50%;
            }
            @include screen-size(tnav) {
                width: 50%;
            }
            @include screen-size(lw) {
                width: 25%;
            }
            @include screen-size(xxlw) {
                width: 25%;
            }
        }
    }
    //@include popInList("li", ".c-square");
}

.c-entries-list {
    li {
        @include rem(max-width, $block);
    }
}

.c-square {
    //@include rem(margin-bottom, $unit/4);
    @extend %teaser;
    background-color: color(shade, $shadeAmount);
    padding-bottom: 100%;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
    &.\+dbl {
        padding-bottom: 50%;
    }
    &.\+linked {
        @include screen-size(sw) {
            &:hover {
                box-shadow: $teaserHoverShadow;
                z-index:1;
            }
            &:active {
                box-shadow: $teaserActiveShadow;
            }
        }
    }

    // with THUMB
    &.\+thumb {
        @include background-color(color-dark, $brand1text, var);
        @include is-old-ie {
            background-color:color(primary, 1, -20%);
            opacity:0.8;
        }
        &:hover {
            img {
                @include is-not-old-ie {
                    transition: 0.2s;
                }
            }
        }
    }

    &.\+rollover {
        img {
            display: none;
        }
        &:hover {
            img {
                display: block;
            }
            .c-square__content {
                display: none;
            }
        }
    }

    &.\+doc {
        @include background-color(color(tertiary));
    }
    &.\+link {
        @include background-color(color(quaternary));
    }
    &.\+entry {
        @include background-color(color(quinary));
    }
    &.\+grey {
        filter: grayscale(100%);

    }

    img {
        width:100%;
    }
}

.c-square--dbl {
    padding-bottom:50%;
}



.c-square__title {
    @extend %teaser-title;
    margin-bottom: 0;
    @include screen-size(sw-) {
        @include font-size(font-size(alpha));
    }
    .\+thumb & {
        color: $white;
    }
    .\+entry & {
        @include screen-size(sw-) {
            @include font-size(font-size(milli));
        }
    }
}

.c-square__title-link {
    position: relative;
    z-index:0;
}

.c-square__link {
    @include position(absolute, 0);
    font-size:0;
    opacity:0;
}

.c-square__tag {
    @include font-size(font-size(milli));
    @include font-weight(bold);
    @include padding($unit*.75);
    @include position(absolute, 0 n n 50%);
    text-transform:uppercase;
    white-space: nowrap;
    transform: translateX(-50%);
    z-index:10;

    .c-svgicon {
        margin-bottom: -2px;
    }

    .c-svgicon--right {
        transform: rotate(-45deg);
    }

    .\+thumb:hover & {
        @include is-not-old-ie {
            display: none;
        }
    }
}

.c-square__content {
    @extend %teaser-content;
    @include padding($unit $unit/2);
    @include position(absolute, 50% $unit n $unit);
    transform: translateY(-50%);

    // with THUMB

    .c-square.\+big-square.\+thumb & {
        background-color:rgba(0, 0, 0, 0);
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        display: flex;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        transform: none;
    }

    .\+entry & {
        left: 0;
        right: 0;
    }

    .\+thumb & {
        background-color:rgba(0, 0, 0, 0.33);
        transition: 0.2s;
    }
    .c-square.\+big-square.\+thumb:hover &,
    .\+thumb:hover & {
        @include is-not-old-ie {
            background-color:rgba(0, 0, 0, 0.66);
        }
    }
    .c-square.\+big-square.\+thumb:active &,
    .\+thumb:active & {
        @include is-not-old-ie {
            background-color: rgba(0, 0, 0, 0.99);
        }
    }
}