// ==========================================================================
//
//	SUPPORT
//
//  The bands of content that appear below the article and enhance blocks
//  Can contain a range of different types of content.
//
// ==========================================================================

.c-support {
    break-inside: avoid;
    position: relative;
    text-align: center;
    @if $supportPadding != default {
        @include padding($supportPadding)
    }
    @if $supportPaddingMd != default {
        @include screen-size(mw-mh) {
            @include padding($supportPaddingMd)
        }
    }

    &.\+tight {
        padding: 0;
        @include screen-size(lw) {
            padding: 0;
        }
    }

    &.\+tight-x {
        @include screen-size(sw-) {
            @include padding(n 0);
        }
    }
    &.\+tight-y {
        @include padding(0 n);
    }

    &.\+middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.\+inside {
            align-items: flex-start;
        }
        &.\+outside {
            align-items: flex-end;
        }
    }

    &.\+halves, &.\+halves.\+middle {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        &.\+content-width {
            justify-content: center;
        }
        &.\+outside {
            flex-direction: row-reverse;
        }
    }

    &.\+full {
        // full height
        @include is-old-ie {
            min-height:100%;
        }
        @include is-not-old-ie {
            align-items: center;
            display: flex;
            min-height:100vh;
        }
    }

    &.\+anchor-top {
        align-items: flex-start;
    }

    &.\+img {
        background: color(primary) center no-repeat;
        background-size: cover;
    }

    &.\+fixed {
        @media only screen and (min-width: 80em ) {
            position: static;
            @supports not (-webkit-overflow-scrolling: touch) {
                background-attachment: fixed;
                @media (prefers-reduced-motion: reduce) {
                    background-attachment: scroll;
                }
            }
            .c-support__link {
                display: none;
            }
        }
    }

    &.\+patterned {
        background-size: auto auto;
        background-repeat: repeat;
    }

    &.\+inside,
    &.\+outside {
        overflow: hidden;
    }

    &.\+top-border {
        border-top: 2px solid color(shade, $shadeAmount);
    }

    // Tabs 
    &.\+tab {
        @include is-not-old-ie {
            display: none;
            input[type="radio"]:checked + & {
                display: block;
            }
        }
        &.\+middle {
            @include is-not-old-ie {
                input[type="radio"]:checked + & {
                    display: flex;
                }
            }
        }
    }

    // Animations 
    &.js-anim {
        @include is-not-old-ie {
            opacity: 0;
        }
    }
    &.is-in-view {
        animation: fadeIn $t2 linear;
    }

    input:focus + & {
        outline: auto 5px -webkit-focus-ring-color;
    }
}

.c-support__body {
    @include center-content;
    text-align: center;
    width: 100%;

    header + & {
        @include margin($unit n n n);
    }
	&.\+u-4 {
        @include rem(max-width, $block*4);
	}
	&.\+u-3 {
        @include rem(max-width, $block*3);
	}
	&.\+u-2 {
        @include rem(max-width, $block*2);
	}
    &.\+padded {
        @include padding($unit);
        @include screen-size(mw) {
            @include padding($unit*2);
        }
        @include screen-size(lw) {
            @include padding($unit*4);
        }
    }
    &.\+dim {
        background-color: color(shade, $fade/2);
    }
    .\+inside &,
    .\+outside & {
        @include rem(width, $block * 3);
        max-width: calc(50% + (#{$unit} * 2));

        &.\+u-2 {
            @include rem(max-width, $block*2);
        }
    }
    .\+inside & {
        @include margin(n n n 0, dir);
        @include text-end;
    }
    .\+outside & {
        @include margin(n 0 n n, dir);
        @include text-start;
    }
    .\+halves & {
        align-items: center;
        display: flex;
        width: 50%;
        @include screen-size(watchOs-) {
            width: auto;
        }
         &.\+u-3 {
        	max-width: none;
        }
   }
    .\+content-width.\+halves & {
        margin: 0;
    }
    .\+linked & {
        z-index: 1;
    }
    // Animations 
    &.js-anim {
        @include is-not-old-ie {
            opacity: 0;
            @media (prefers-reduced-motion) {
                opacity: 1;
            }
            .\+inside &,
            .\+outside & {
                opacity: 1;
            }
            .\+inside & {
                transform: translateX(-100%);
                @include rtl {
                    transform: translateX(100%);
                }
            }
            .\+outside & {
                transform: translateX(100%);
                @include rtl {
                    transform: translateX(-100%);
                }
            }
        }
    }
    &.is-in-view {
        animation: fadeIn $t2 linear;
        @media (prefers-reduced-motion) {
            animation: none;
        }
        .\+inside & {
            animation: slideRight $t2 $ease-out-quad;
            @include rtl {
                animation: slideLeft $t2 $ease-out-quad;
            }
        }
        .\+outside & {
            animation: slideLeft $t2 $ease-out-quad;
            @include rtl {
                animation: slideRight $t2 $ease-out-quad;
            }
        }
    }
}

.c-support__content {
    @include center-content;
    @include article-content;
    @include article-content-lg;
    @include screen-size(sw) {
        @include padding($unit);
    }
    &.\+text-lg {
        @include article-content-xlg;
        @include screen-size(lw) {
            font-size: 2em;
        }
        h1, h2 {
            @include h(font-size(beta));
            @include screen-size(sw-) {
                font-size:1.2em;
            }
            @include screen-size(xsw-) {
                @include h(font-size(alpha));
            }
        }
    }
    &.\+tabs {
        @include padding(0 n);
    }
    .\+inside &,
    .\+outside & {
        @include rem(max-width, $block*2);
    }
    .\+content-width & {
        @include padding($unit);
        flex: 1;
        @include screen-size(mw) {
            @include padding($unit*2);
        }
    }
    header {
        + * {
            @include margin($unit n n n);
        }
    }
}

.c-support__article {
    overflow: visible;;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;

    .\~anchor-inside & {
        @include screen-size(sw-) {
            @include text-start;
        }
    }
}

.c-support__graphic {
    max-width: $articleWidth;
    .\+halves & {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
     }
    &.is-in-view {
        animation: fadeIn $t2 linear;
        @media (prefers-reduced-motion) {
            animation: none;
        }
        .\+inside.\+halves & {
            animation: slideLeft $t2 $ease-out-quad;
            @include rtl {
                animation: slideRight $t2 $ease-out-quad;
            }
            @media (prefers-reduced-motion) {
                animation: none;
            }
        }
        .\+outside.\+halves & {
            animation: slideRight $t2 $ease-out-quad;
            @include rtl {
                animation: slideLeft $t2 $ease-out-quad;
            }
            @media (prefers-reduced-motion) {
                animation: none;
            }
        }
    }
    .\+content-width & {
        @include rem(max-width, $block*2);
    }
}

.c-support__graphic-inner {
    font-size: 0;
    height: 100%;
    margin: 0;
    max-width: $articleWidth;
	
	img {
        max-height: 100%;
    }
	
    &.\+padded {
        @include padding($unit);
        @include screen-size(mw) {
            @include padding($unit*2);
        }
    }
	.\+content-width & {
        @include rem(max-height, $block*1.25);
	}
	.\+content-width .\+orig-imag & {
		height: auto;
		max-height: none;
		
		img {
			max-height: none;
		}
	}
}

.c-support__header {
    @if $supportHPadding != none {
        @include screen-size(mw) {
            @include padding($supportHPadding);
        }
    }
    .\+title-lg & {
        h1, h2 {
            @include big-header(8, gamma, gamma, delta, 0.8);
            @if $supportHLgFFamily != default {
                font-family: $supportHLgFFamily;
            }
            @if $supportHLgFWeight != default {
                font-weight: $supportHLgFWeight;
            }
            @if $supportHLgFFSettings != default {
                font-feature-settings: $supportHLgFFSettings;
            }
            @if $supportHLgLSpacing != 0 {
                letter-spacing: $supportHLgLSpacing;
            }
            @if $supportHLgTTransform != none {
                text-transform: $supportHLgTTransform;
            }
        }
    }
    .\+inside .\+title-lg &,
    .\+outside .\+title-lg &,
    .\+halves .\+title-lg & {
        h1, h2 {
            @include big-header(4, beta, beta, gamma, 1);
        }
    }
    &.\+tabs {
        @include base-font-size();
        @include margin(n n (-$unit) n);
    }
    //.\~anchor-inside & {
    //    @include screen-size(sw-) {
    //        @include text-start;
    //    }
    //}
    .c-support.\+embed & {
        @include margin(n n $unit n);
    }
    .c-image-box & {
        @include padding($unit);
    }
    .c-image-box.\+tight & {
        @include padding($unit*2 $unit);
    }
    h1, h2 {
        @include section-header;
    }
    label {
        cursor: pointer;
        display: inline-block;
        opacity: $fade/2;
        &:before, &:after {
            @include size($unit/4);
            @include margin(n $unit/2);
            background-color: currentColor;
            border-radius: $unit;
            opacity: $fade;
            display: inline-block;
            font-size: 0;
            line-height: 0;
            vertical-align: middle;
        }
        @include ltr {
            &:before {
                content:'';
            }
            &:first-child:before {
                display: none;
            }
        }
        @include rtl {
            &:after {
                content:'';
            }
            &:last-child:after {
                display: none;
            }
        }
        &:hover {
            opacity: $fade;
            &:before {
                opacity: $fade/2;
            }
        }
    }

    input[type="radio"]:nth-of-type(1) + .c-support & label:nth-child(1) { opacity: 1; &:before { opacity: $fade/2/2; } }
    input[type="radio"]:nth-of-type(2) + .c-support & label:nth-child(2) { opacity: 1; &:before { opacity: $fade/2/2; } }
    input[type="radio"]:nth-of-type(3) + .c-support & label:nth-child(3) { opacity: 1; &:before { opacity: $fade/2/2; } }
    input[type="radio"]:nth-of-type(4) + .c-support & label:nth-child(4) { opacity: 1; &:before { opacity: $fade/2/2; } }
    input[type="radio"]:nth-of-type(5) + .c-support & label:nth-child(5) { opacity: 1; &:before { opacity: $fade/2/2; } }
    input[type="radio"]:nth-of-type(6) + .c-support & label:nth-child(6) { opacity: 1; &:before { opacity: $fade/2/2; } }
}

.c-support__tabs {
    @include font-weight($supportHWeight);
    @include padding(n n $unit n);
    overflow: auto;
    white-space: nowrap;
    @if $supportHFontFamily != inherit {
        font-family: $supportHFontFamily;
    }
    @if $supportHLineHeight != inherit {
        line-height:$supportHLineHeight;
    }
    @include screen-size(sw) {
        @include font-size(font-size(beta));
    }
    @include screen-size(mw-mh) {
        @include font-size(font-size(gamma));
    }
}

.c-support__more {
    @include font-weight($hWeight);
    @include padding($unit/2 n);
    margin:0;
    @include screen-size(mw) {
        @include font-size(font-size(beta));
    }
    a {
        @include font-features("smcp" "c2sc");
        @include padding($unit/2 n);
        display: block;
    }
}

.c-support__container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.c-support__container-inner {
    max-width:100%;
    &.\+u-3 {
        max-width: $articleWidth;
    }
}

.c-support__link {
    @include position(absolute, 0);
    opacity: 0;
}


.c-support-list {

    header + & {
        @include margin($unit n n n);
    }

    // Inline 
    &.\+blocks {
        font-size: 0;
        li {
            @include base-font-size;
            display: inline-block;
            max-width: 100%;
            vertical-align: top;
            @if $supportListSpacing != 0 {
                padding: $supportListSpacing;
            }
            @include screen-size(mw) {
                max-width: 50%;
            }
        }
    }
    &.\+gutters {
        @include margin((-$unit/2));
        .c-support.\+tight-x & {
            @include margin(n 0);
        }

        header + & {
            @include margin($unit/2 n n n);
        }

        li {
            @include padding($unit/2);
        }
    }

    // Columns 
    &.\+cols {
        @include text-start;
        @include screen-size(sw) {
            @include margin(n (-$unit/2));
            columns: 2;

            li {
                break-inside: avoid;
            }
        }
        @include screen-size(mw) {
            @include margin(n (-$unit));
            columns: 3;
        }
    }

    &.\+matrix {
        @include text-start;
        @include screen-size(sw) {
            @include margin(n (-$unit/2));
            display: flex;
            flex-wrap: wrap;
        }
        @include screen-size(mw) {
            @include margin(n (-$unit));
        }
        li {
            border-bottom: 2px solid color(shade, $shadeAmount);
            > a:hover {
                background-color: color(shade, $shadeAmount);
            }
            @include screen-size(sw) {
                display: flex;
                width: 50%;
                > * {
                    flex: 1;
                }
            }
            @include screen-size(mw) {
                width: (100% / 3);
            }
        }
    }
}

@media print {
    .c-support {
        display: none;
    }
}