// ==========================================================================
//
//	TABLE
//
// ==========================================================================

td, th {
	text-align:left;
	&.\+numeric {
		text-align:right;
	}
	&.\+tight {
		width:1px;
		white-space: nowrap;
	}
	&.lose-small {
		@include screen-size(sw-) {
			display:none;
		}
	}
	&.lose-medium {
		@include screen-size(mw-) {
			display:none;
		}
	}
	&[align="center"] {
		text-align:center;
	}
}

th[align="right"] {
	text-align: right;
}

td[align="right"] {
	text-align: end;
}

th[align="left"] {
	text-align: left;
}

td[align="left"] {
	text-align: start;
}

// Tables

.c-table {
	@include table;
}

.c-table__caption {
	@include margin(n n $unit n);
	@include font-weight(bold);
	@include screen-size(mw) {
		@include font-size(font-size(beta));
	}
	.\+anchor-inside & {
		@include text-start;
	}
}