// ==========================================================================
//
//	TEASE
//
//  SUPPORT ITEM TYPE
//   - Info card. Text overlays image,
//   - Comes in two flavours:
//   1. Regular (Half the height of the width)
//   2. Square  +square  (erm.. square)
//
// ==========================================================================



// Tease list
// ==========================================================================

.c-tease-list {
    li {
        @include rem(width, $block*2);
        @include screen-size(mw) {
            max-width: 50%;
        }
    }
	&.\+square {
		li {
    		@include screen-size(sw) {
                @include rem(width, $block);
            }
			@include screen-size(mw) {
                @include rem(min-width, $block*.75);
                max-width: 25%;
			}
        }
    }
    // Animate in:
    // @include popInList("li", ".c-tease");
}



// Tease Items
// ==========================================================================

.c-tease {
    //@include rem(margin-bottom, $unit/4);
    @extend %teaser;
    background-color: color(shade, $shadeAmount);
    padding-bottom: 50%;
    text-align: center;
    &:hover {
        text-decoration: none;
    }

    // +square (Makes the height 100% of the width)
    &.\+square {
        @include screen-size(sw) {
            padding-bottom:100%;
        }
    }

    // +linked (The Tease raises up on hover if it links somewhere)
    &.\+linked {
        @include screen-size(sw) {
            &:hover {
                box-shadow: $teaserHoverShadow;
                z-index:1;
            }
            &:active {
                box-shadow: $teaserActiveShadow;
            }
        }
    }

    // +thumb (Overlays text on top of a full-bleed image)
    &.\+thumb {
        @include background-color(color-dark, $brand1text, var);
        @include is-old-ie {
            background-color:color(primary);
            color: $brand1text;
            opacity:0.8;
        }
        &:hover {
            img {
                @include is-not-old-ie {
                    transition: 0.2s;
                }
            }
        }
    }

    // +rollover (Replaces image with text on hover)
    &.\+rollover {
        .c-tease__content {
            @include position(absolute, 0);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        img {
            display: none;
        }
        &.\+thumb {
            .c-tease__content {
                top: 0;
                background-color: transparent;
                p {
                    opacity: 1;
                }
            }
        }
        &:hover {
            img {
                display: block;
            }
            .c-tease__content {
                display: none;
            }
        }
        &.\+rev {
            .c-tease__content {
                display: none;
            }
            img {
                display: block;
            }
            &:hover {
                .c-tease__content {
                    display: flex;
                }
                img {
                    display: none;
                }
            }
        }
    }

    // +grey (Makes the image greyscale)
    &.\+grey {
        filter: grayscale(100%);

        .c-Roundel:hover &,
        &:hover {
            filter: grayscale(0);
        }
        @supports (mix-blend-mode: color) {
            filter: none;

            &:after {
                @include position(absolute, 0);
                background: color(primary);
                content: '';
                mix-blend-mode: color;
            }

            .c-Roundel:hover &:after,
            &:hover:after {
                display: none;
                filter: none;
            }
        }
    }

    img {
        transition: 0.2s;
        width:100%;
    }
}


// Tease Title
// ==========================================================================

.c-tease__title {
    @extend %teaser-title;
    .\+thumb & {
        color: $white;
    }
    .c-Grid-panel & {
        margin-bottom: 0;
    }
}



// Tease Title Link (hyperlink within the title)
// ==========================================================================

.c-tease__title-link {
    position: relative;
    z-index:0;
}



// Tease Link (Overlays the entire Tease)
// ==========================================================================
.c-tease__link {
    @include position(absolute, 0);
    font-size:0;
    opacity:0;
}



// Tease Tag (Extra information about the Tease, eg. if it's a new entry)
// ==========================================================================

.c-tease__tag {
    @include font-size(font-size(milli));
    @include font-weight(bold);
    @include padding(n $unit*.75);
    @include position(absolute, 0 n n 50%);
    line-height: $unit*1.25;
    text-transform:uppercase;
    white-space: nowrap;
    transform: translateX(-50%);
    z-index:10;

    .c-svgicon {
        margin-bottom: -2px;
    }

    .c-svgicon--right {
        transform: rotate(-45deg);
    }

    .\+thumb:hover & {
        @include is-not-old-ie {
            display: none;
        }
    }
}



// Tease Content (where the text goes)
// ==========================================================================

.c-tease__content {
    @extend %teaser-content;

    // with THUMB

    .\+thumb & {
        @include position(absolute, 50% 0 0 0);
        background-color:rgba(0, 0, 0, 0.33);
        @include screen-size(mw-) {
            top: auto;
            max-height: 100%;
            max-height: calc(100% - 26px);
        }
        p {
            opacity:0;
            @include screen-size(sw-) {
                opacity:1;
            }
            @include screen-size(sw-mw) {
                display: none;
            }
            @include is-old-ie {
                display:none;
            }
        }
    }

    .\+thumb:active &,
    .\+thumb:hover & {
        @include is-not-old-ie {
            top:0px;
            @include screen-size(mw-) {
                max-height: 100%;
            }
            p {
                opacity: 1;
            }
        }
    }
    .\+thumb:hover & {
        @include is-not-old-ie {
            background-color:rgba(0, 0, 0, 0.66);
        }
    }
    .\+thumb:active & {
        @include is-not-old-ie {
            background-color: rgba(0, 0, 0, 0.99);
        }
    }
}