// ==========================================================================
//
//	TWEET ITEM
//
// ==========================================================================

.c-tweet-item__list {
    @include text-start;
    @include screen-size(mw) {
        @include padding($unit $unit/2);
    }
}

.c-tweet-item {
    @include rem(margin-top, $unit);
    @include rem(padding-top, $unit);
    border-top: 2px solid color(shade, $shadeAmount);
    position: relative;
    @include screen-size(mw-) {
        @include rem(margin-top, $unit/2);
        @include rem(padding-top, $unit/2);
    }
    &:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
        @include screen-size(mw) {
            .c-svgicon {
                @include rem(top, $unit/4);
            }
        }
    }
    .c-svgicon {
        @include margin(n $unit/2 -2px n, dir);
        @include rem(margin-bottom, -2px);
        @include screen-size(lw) {
            @include inset(($unit/4 + $unit) 0 n (-($unit*2)), dir);
            @include rem(top, ($unit/4 + $unit));
            position: absolute;
        }
    }
}

.c-tweet-item__text {
    a {
        text-decoration: underline;
    }
}