// ==========================================================================
//
//	VIDEO
//
// ==========================================================================

.c-video {
    @include position(absolute, 0);
    display:block;
    width:100%;
    height:100%;
    overflow:hidden;
    video {
        animation: fadeIn $t8 * 4 linear;
        animation-delay: $t8;
        animation-fill-mode: backwards;
        display:block;
        max-width: none;
        min-width: 100%;
        min-height: 100%;
        @supports (object-fit: cover) {
            height:100%;
            min-height:0;
            min-width:0;
            object-fit: cover;
            object-position: 50% 50%;
            width:100%;
        }
        @media (prefers-reduced-motion) {
            // Disable the non-essential 5-presets.
            animation: none;
        }
    }
}