{% macro day(id, name, value, day) %}
{% from "_includes/forms" import time %}
<tr>
    <th>
        {{ craft.i18n.getLocaleData().getWeekDayName(day) }}
    </th>
    <td>
        {{ time({
        id: id~'-'~day~'-open',
        name: name~'['~day~'][open]',
        value: value ? value[day].open
        }) }}
    </td>
    <td>
        {{ time({
        id: id~'-'~day~'-close',
        name: name~'['~day~'][close]',
        value: value ? value[day].close
        }) }}
    </td>
</tr>
{% endmacro %}

{% from _self import day %}

{% set localeData = craft.i18n.getLocaleData() %}
{% set startDay = currentUser.weekStartDay %}
{% set days = (startDay..6) %}

{% if startDay != 0 %}
    {% set days = days|merge(0..(startDay - 1)) %}
{% endif %}

<table class="data">
    <thead>
    <tr>
        <td></td>
        <th>Opening Time</th>
        <th>Closing Time</th>
    </tr>
    </thead>
    <tbody>
    {% for i in days %}
        {{ day(id, name, value, i) }}
    {% endfor %}
    </tbody>
</table>
